In [1]:
import pandas as pd
import numpy as np
import abydos
#from abydos import distance

In [2]:
def dep_input_output_col(prev_df,now_df,desc):
    new_col = set(now_df.columns) - set(prev_df.columns)
    old_col = set(list(prev_df.columns))
    sort_old_cols = sorted(old_col,key=lambda x:len(x))[::-1]
    sort_new_cols = sorted(new_col,key=lambda x:len(x))[::-1]
    desc = ops["description"]

    import re
    out_cols = []
    in_cols = []
    for x in sort_new_cols:
        sx = r'\b{}\b'.format(x)
        #print(sx,desc)
        xx = re.findall(sx,desc)
        #print(xx)
        for yy in xx:
            desc = desc.replace(yy,"")
        out_cols = out_cols + xx
    for x in sort_old_cols:
        sx = r'\b{}\b'.format(x)
        #print(sx,desc)
        xx = re.findall(sx,desc)
        #print(xx)
        for yy in xx:
            desc = desc.replace(yy,"")
        in_cols = in_cols + xx
    
    out_cols = list(set(out_cols+list(new_col)))
        
    return in_cols,out_cols
    #ops["description"]

#dep_input_output_col(prev_df,now_df,ops["description"])

# General Instruction

- Cleanup dataset based on the information that is given:
You need to clean the dataset according to the information that is given to you. This means that there are problems with the dataset that need to be fixed, and you should use the information given to you to determine what those problems are and how to fix them.

- Each case has different data quality problems, there will be hint and additional information that can help you understand the problem:
Each row in the dataset may have different data quality problems. There will be hints and additional information provided to help you understand what the specific problem is with each row.

- You can do any approach on cleaning the data, but you should clean the instructed column only:
You have the freedom to use any approach to clean the data, but you should only clean the instructed column. This means that you should not modify any other columns in the dataset, or add or remove any rows.

- Do not create new column or remove any column. Also do not create new row, or remove any row:-
You are not allowed to create new columns or remove any columns from the dataset. You are also not allowed to add or remove any rows.

- Each column will have a flag column something equivalent to <column\_name>\_flag. This column can be used to flag the row if you want to not include it to the downstream task. 0: safe_flag, 1: delete_flag, 2: null_flag (if you want to still include the row with null treatment). You can also add a new category but please add justification and explanation of the new category, there are three categories you can use:
safe_flag (0): this row is safe to use in downstream tasks
delete_flag (1): this row should be deleted and not used in downstream tasks
null_flag (2): this row can be included in downstream tasks but with null treatment.
You can also add a new category, but you need to provide a justification and an explanation for the new category. It is worth to note that the completeness of the dataset is also matter, so try not to flag to many things, and do your best to clean the values.

- For each data cleaning task, we have provided a function that represents the goal of the cleaning. For example, clean_duplicate_id(df) is the function for removing duplicate ID values. These functions take a DataFrame as input and return the cleaned version of the DataFrame.

    In each chunk of data cleaning task, you will see the following three parts:

    1. The clean_<name> function that performs the specific cleaning task.
    2. The execution of the cleaning function on the DataFrame.
    3. A checking part to help you evaluate the effectiveness of the cleaning.
    
  While you can create new cells and add additional code, the cleaning must be performed through the provided cleaning functions. You can adjust the order of the cleaning steps, but please try to move the whole chunks of code to avoid any errors.

The cleaning task will be considered complete if this notebook can be run sequentially by executing "restart and runall"

# Purpose
The purpose of this dataset is to conduct exploratory analysis of the listings and create a prediction model for listing price using some columns from the dataset. This means that the dataset is intended to be used to explore the characteristics and features of the listings, and to build a model that can predict the price of a listing based on certain variables in the dataset. The goal is to gain insights into the factors that influence the price of a listing and to develop a model that can accurately predict listing prices based on those factors.

# Columns and Dataset Description
- id: a unique identifier for each listing.
- name: the name or title of the listing, as provided by the host.
- host_id: a unique identifier for each host.
- host_name: the name of the host who listed the property.
- neighbourhood_group: the larger geographic area in which the listing is located (e.g. a borough or group of neighborhoods).
- neighbourhood: the specific neighborhood in which the listing is located.
- latitude: the latitude coordinate of the listing.
- longitude: the longitude coordinate of the listing.
- room_type: the type of space that is being listed (e.g. an entire apartment, a private room, a shared room).
- price: the nightly price of the listing, in the currency specified in the dataset.
- minimum_nights: the minimum number of nights that a guest must book the listing for.
- number_of_reviews: the total number of reviews that the listing has received.
- last_review: the date of the most recent review of the listing.
- reviews_per_month: the average number of reviews per month that the listing has received.
- calculated_host_listings_count: the total number of listings that the host has on Airbnb.
- availability_365: the number of days per year that the listing is available for booking.
- number_of_reviews_ltm: the total number of reviews that the listing has received in the last 12 months.
- license: a license number for the listing, if applicable (this column may not be present in all versions of the dataset).

Besides the columns above, there are columns pre-defined for flagging the rows based on particular data cleaning context:
- id_flag: a flag column indicating whether a given row should be included in downstream analysis or not based on data quality issues related to the id column (duplicate).
- host_id_flag: a flag column indicating whether a given row should be included in downstream analysis or not based on data quality issues related to the host_id column.
- neighbourhood_flag: a flag column indicating whether a given row should be included in downstream analysis or not based on data quality issues related to the neighbourhood column.
- latitude_flag: a flag column indicating whether a given row should be included in downstream analysis or not based on data quality issues related to the latitude column.
- longitude_flag: a flag column indicating whether a given row should be included in downstream analysis or not based on data quality issues related to the longitude column.
- minimum_nights_flag: a flag column indicating whether a given row should be included in downstream analysis or not based on data quality issues related to the minimum_nights column.
- number_of_reviews_flag: a flag column indicating whether a given row should be included in downstream analysis or not based on data quality issues related to the number_of_reviews column.
- last_review_flag: a flag column indicating whether a given row should be included in downstream analysis or not based on data quality issues related to the last_review column.
- room_type_flag: a flag column indicating whether a given row should be included in downstream analysis or not based on data quality issues related to the room_type column.

In [3]:
# transform dcm
import logging 
import pandas as pd

logging.basicConfig(level=logging.DEBUG)
#logging.basicConfig(level=logging.INFO)

class TransformDCM():
    def __init__(self,trace):
        self.trace = trace
        self.source = []
        self.dataset = []
        self.state = []
        self.array = []
        self.column = []
        self.row = []
        self.cell = []
        self.cell_values = []
        self.column_position = []
        self.row_position = []
        self.user = {None: -1}
        
        self.value_derived_from = []        
        self.col_derived_from = []
        self.state_derived_from = []
        self.col_dependency = []
        self.state_detail = []
        
        self.pd_index = None
        
        self.source_id = 0
        self.dataset_id = 0
        self.array_id = 0
        self.col_id = 0
        self.row_id = 0
        self.cell_id = 0
        self.value_id = 0
        self.state_id = -1
        self.col_pos_id = 0
        self.row_pos_id = 0
        self.user_id = 0
        self.execution_id = 0
        self.prev_state_id = -2        
        
        self.col_names_coll = set()
        
        
        self.curr_df = None
        self.curr_col = None
        self.curr_row = None
        self.curr_index = None
        
        self.curr_row_pos = {}
        self.curr_col_pos = {}
        self.curr_col_schema = []
        self.curr_row_list = []
        
        self.curr_state = 0            
        
    
    def render_curr_df(self):
        pass
    
    def render_col(self):
        pass
    
    def render_row(self):
        pass
        
    
    def init_df(self,df):
        self.pd_index = pd.DataFrame(np.empty(df.shape),dtype=object)    
        self.col_names = df.columns
        
        for i,x in enumerate(df.to_records()):
            jj = 0
            #print(i)
            for j,y in enumerate(x):
                #print(j)
                if j==0:
                    continue
                
                self.cell.append((self.cell_id,jj,self.row_id))
                #print(y)
                #self.cell_values.append((self.value_id,self.cell_id,self.state_id,y[0],-1))
                self.cell_values.append((self.value_id,self.cell_id,self.state_id,y,-1))
                #print(self.pd_index.loc[i,jj])
                self.pd_index.loc[i,jj] = (self.cell_id,self.value_id,i,jj) 
                
                self.value_derived_from.append((self.cell_id,self.state_id,-1))

                self.cell_id+=1
                self.value_id+=1
                if i == 0:
                    if jj == 0:
                        prev_j = -1
                    
                    
                    self.column.append((self.col_id,self.array_id))                    
                    self.column_position.append((self.col_pos_id,self.col_id,self.state_id,self.col_names[jj],prev_j,-1))
                    self.col_names_coll.add(self.col_names[jj])
                    self.curr_col_schema.append((self.col_names[jj],jj,self.col_id,prev_j))
                    self.curr_col_pos[self.col_id] = (self.col_pos_id,prev_j)
                    prev_j = jj
                    self.col_pos_id+=1                    
                    self.col_id+=1    
                jj+=1
            if i == 0:
                prev_i = -1
                
            self.row.append((self.row_id,self.array_id))            
            self.row_position.append((self.row_pos_id,self.row_id,self.state_id,prev_i,-1))
            self.curr_row_pos[self.row_id] = (self.row_pos_id,prev_i)
            self.curr_row_list.append(self.row_pos_id)
            prev_i = self.row_id
            self.row_id+=1       
            self.row_pos_id+=1            
        
        """            
        col_id = np.where(df.columns==col.name)[0][0]
        columns.append((col_id,self.array_id))
        #temp_col = []
        for i,x in enumerate(col):
            if not row_processed:
                rows.append((i,array_id))
            #temp_col.append((cell_id,col_id,i))
            cells.append((cell_id,col_id,i))
            cell_values.append((value_id,cell_id,state_id,x,-1))
            pd_index.loc[i,col_id] = (cell_id,value_id,col_id,i)        
            cell_id+=1
            value_id+=1
            #print(i,col_id)
        row_processed = True        
        """
    
    def init_dataset(self,tt):
        logging.debug("init dataset")
        # get filename from trace        
        df = tt[5]
        code = tt[6]
        self.source.append((self.source_id,code,"dataframe"))
        self.dataset.append((self.dataset_id,self.source_id))
        self.array.append((self.array_id,self.dataset_id))
        # state creation
        
        prev_state_id = self.state_id
        self.state_id+=1        
        self.state.append((self.state_id,prev_state_id))            
        
        # generate column, row, cell
        self.init_df(df)
        self.state_id+=1        

        
        #self.state_id+=1
        #self.array_id+=1
        #self.dataset_id+=1
        #self.source_id+=1
        
    def init_dataset_df(self,df,state_ss={'op':"initial"},fname=None):
        logging.debug("init dataset")
        self.source.append((self.source_id,fname,"dataframe"))
        self.dataset.append((self.dataset_id,self.source_id))
        self.array.append((self.array_id,self.dataset_id))
        # state creation
                
        # generate column, row, cell
        self.init_df(df)       


        self.state.append((self.state_id,self.prev_state_id))
        #self.state_detail.append((prev_state_id,state_ss))
        self.state_detail.append((self.state_id,state_ss,self.execution_id,self.prev_state_id,None))      
        
        self.prev_state_id = self.state_id
        self.state_id+=1

    
    def change_column_schema(self,prev_df,now_df):
        #old_col = list(self.curr_col)  
        old_col = list(prev_df.columns)
        now_col = list(now_df.columns)
        #logging.debug(now_df)
        #logging.debug(("old new col",old_col,self.curr_col_schema,now_col))
        new_col = set(now_col)-set(old_col)
        ocol = set(old_col) - set(now_col)
        
        logging.debug(("change_col_schema old_col",old_col,self.curr_col_schema,now_col))
        logging.debug(("change_col_schema new_col",new_col,ocol))
        
        old_schema = [x[0] for x in self.curr_col_schema]
        
        temp_new_col = []
        
        temp_prev = None
        
        logging.debug(("change_col_schema old_schema:",old_schema))
                
        for n_idx,x in enumerate(now_col):
            logging.debug("change_col_schema now_col:")
            try:
                idx_schema = old_schema.index(x)
            except:
                # check the potential column
                for y in ocol:                    
                    test = self.curr_df.loc[:,y].fillna(0) == now_df.loc[:,x].fillna(0)
                    logging.debug(("test",test.sum(),self.curr_df.shape[0],self.curr_df,now_df))
                    if test.sum() == self.curr_df.shape[0]:
                        idx = old_col.index(y)
                        prev_idx = (-1,None)
                        logging.debug(("idx_test",idx))
                        if idx > 0:
                            prev_idx = old_col[idx-1]
                            idx_n = now_col.index(x)
                            now_idx = self.curr_col_schema[idx_n]
                            prev_col_schema = (None,None,-1,None)
                            if idx_n > 0:
                                prev_col_schema = self.curr_col_schema[idx_n-1]
                            logging.debug(("change_col_schema now_idx:",now_idx,prev_idx))
                            self.column_position.append((self.col_pos_id,now_idx[-2],self.state_id,x,prev_col_schema[2],now_idx[1]))
                            logging.debug(("change_col_schema adding_col_pos1:",(self.col_pos_id,now_idx[-2],self.state_id,x,n_idx-1,now_idx[2])))
                            temp_new_col.append((x,self.col_pos_id,now_idx[2],now_idx[3]))
                            #temp_new_col.append((x,self.col_pos_id,now_idx[2]))
                            #temp_new_col.append((x,self.col_pos_id,-1))
                            self.col_pos_id+=1  
                            
                            logging.debug(("change_col_schema now_idx",now_idx))
                            self.col_dependency.append((self.state_id,now_idx[-2] if len(now_idx)==4 else now_idx[-1],now_idx[-2] if len(now_idx)==4 else now_idx[-1]))                                                                      
                            break
                continue
                                        
            old_schema_idx = self.curr_col_schema[idx_schema]
            idx = idx_schema
            #idx = old_col.index(x)
            #prev_idx = (-1,None)
            prev_idx = -1
            prev_old_schema = (None,None,None,None)
            if idx > 0:
                prev_idx = idx - 1
                prev_old_schema = self.curr_col_schema[prev_idx]            

            prev_nidx = -1
            prev_new_schema = (None,None,None,None)
            if n_idx > 0:     
                prev_nidx = n_idx - 1
                prev_new_schema = temp_new_col[-1]
                
            #logging.debug(("change_col_schema old",n_idx,x,idx,prev_idx,self.curr_col_schema[idx_schema]))
            #logging.debug(("change_col_schema cur_col_schema:",self.curr_col_schema[n_idx][0],x))
            logging.debug(("change_col_schema prev next:",prev_old_schema,prev_new_schema))
            
            #if self.curr_col_schema[n_idx][0] != x:
            if prev_old_schema[2] != prev_new_schema[2]:
                #if prev_idx[1] != prev_nidx[1]: 
                #if prev_idx[0] != prev_nidx[1]:         
                #logging.debug(("tempnewcol:",temp_new_col[n_idx-1], now_idx))
                #if temp_new_col[n_idx-1][2] != now_idx[2]:
                """
                if temp_new_col[n_idx-1][2] != now_idx[2]:
                    idx_n = now_col.index(x)
                    self.column_position.append((self.col_pos_id,now_idx[-2],self.state_id,x,temp_new_col[n_idx-1][2],now_idx[2]))
                    logging.debug(("adding_col_pos2:",(self.col_pos_id,now_idx[-2],self.state_id,x,temp_new_col[n_idx-1][2],now_idx[2])))                            
                    #temp_new_col.append((x,self.col_pos_id,now_idx[1],now_idx[2],temp_prev))
                    temp_new_col.append((x,self.col_pos_id,now_idx[2],temp_prev))
                    self.col_pos_id+=1
                """
                self.column_position.append((self.col_pos_id,old_schema_idx[1],self.state_id,x,prev_new_schema[1],old_schema_idx[1]))
                #logging.debug(("adding_col_pos2:",(self.col_pos_id,now_idx[-2],self.state_id,x,temp_new_col[n_idx-1][2],now_idx[2])))                            
                #temp_new_col.append((x,self.col_pos_id,now_idx[1],now_idx[2],temp_prev))
                temp_new_col.append((x,self.col_pos_id,old_schema_idx[1],prev_new_schema[1]))
                self.col_pos_id+=1
                #aaa
            else:
                 #temp_new_col.append((x,now_idx[1],now_idx[2],now_idx[3]))
                temp_new_col.append(self.curr_col_schema[idx_schema])
        
        
        logging.debug(("change_col_schema temp_new_col:",temp_new_col))
        
        self.curr_col_schema = temp_new_col
                
        return None
        
        for n_idx,x in enumerate(now_col):
            try:
                idx_schema = old_schema.index(x)
            except:
                # check the potential column
                for y in ocol:                    
                    test = self.curr_df.loc[:,y].fillna(0) == now_df.loc[:,x].fillna(0)
                    logging.debug(("test",test.sum(),self.curr_df.shape[0],self.curr_df,now_df))
                    if test.sum() == self.curr_df.shape[0]:
                        idx = old_col.index(y)
                        prev_idx = (-1,None)
                        logging.debug(("idx_test",idx))
                        if idx > 0:
                            prev_idx = old_col[idx-1]
                            idx_n = now_col.index(x)
                            now_idx = self.curr_col_schema[idx_n]  
                            logging.debug(("now_idx:",now_idx,prev_idx))
                            self.column_position.append((self.col_pos_id,now_idx[-2],self.state_id,x,n_idx-1,now_idx[2]))
                            logging.debug(("adding_col_pos1:",(self.col_pos_id,now_idx[-2],self.state_id,x,n_idx-1,now_idx[2])))
                            temp_new_col.append((x,self.col_pos_id,now_idx[2],now_idx[3]))
                            #temp_new_col.append((x,self.col_pos_id,now_idx[2]))
                            #temp_new_col.append((x,self.col_pos_id,-1))
                            self.col_pos_id+=1  
                            
                            logging.debug(("now_idx",now_idx))
                            self.col_dependency.append((self.state_id,now_idx[-2] if len(now_idx)==4 else now_idx[-1],now_idx[-2] if len(now_idx)==4 else now_idx[-1]))                              
                continue
            
            old_schema_idx = self.curr_col_schema[idx_schema]
            
            idx = old_col.index(x)
            prev_idx = (-1,None)
            next_idx = None
            if idx > 0:
                prev_idx = old_col[idx-1]
            #if idx < len(old_col)-1:
            #    next_idx = old_col[idx+1]

            logging.debug(("change_schema",n_idx,x,idx,prev_idx,self.curr_col_schema[idx_schema]))
                        
            now_idx = self.curr_col_schema[idx_schema]    
            
            prev_nidx = (-1,None)
            if n_idx > 0:                
                prev_nidx = (n_idx-1,now_col[n_idx-1])                        
                prev_idx = self.curr_col_schema[n_idx-1]
            
            #logging.debug((self.curr_col_pos[old_schema_idx[2]],now_idx))
            
            
            if temp_prev == None:
                temp_prev = -1
            else:
                temp_prev = now_idx[-1]
                
            #if self.curr_col_pos[old_schema_idx[2]][1] != now_idx[3]:
            #print(now_idx,temp_new_col[n_idx-1])
            logging.debug(("prev_idx,nidx:",prev_idx,prev_nidx,temp_new_col,n_idx))
            if prev_idx[1] != prev_nidx[1]:         
                #if prev_idx[0] != prev_nidx[1]:         
                logging.debug(("tempnewcol:",temp_new_col[n_idx-1], now_idx))
                #if temp_new_col[n_idx-1][2] != now_idx[2]:
                if temp_new_col[n_idx-1][2] != now_idx[2]:
                    idx_n = now_col.index(x)
                    self.column_position.append((self.col_pos_id,now_idx[-2],self.state_id,x,temp_new_col[n_idx-1][2],now_idx[2]))
                    logging.debug(("adding_col_pos2:",(self.col_pos_id,now_idx[-2],self.state_id,x,temp_new_col[n_idx-1][2],now_idx[2])))                            
                    #temp_new_col.append((x,self.col_pos_id,now_idx[1],now_idx[2],temp_prev))
                    temp_new_col.append((x,self.col_pos_id,now_idx[2],temp_prev))
                    self.col_pos_id+=1
            else:
                 temp_new_col.append((x,now_idx[1],now_idx[2],now_idx[3]))
            
                                
            """
            #if idx_n > 0:
            prev_idx_n = -1
            try:
                prev_idx_n = now_col[idx_n-1]
            except:
                pass
            logging.debug(("test column",prev_idx,prev_idx_n))

            if prev_idx is not None and prev_idx[0]!=prev_idx_n:
                self.column_position.append((self.col_pos_id,prev_idx[0],self.state_id,x,prev_idx_n,prev_idx[1]))
                self.col_pos_id+=1        
            #self.curr_col_schema.insert(idx,(x,self.col_id))            
            self.col_names_coll.add(x)
            """
            
        self.curr_col_schema = temp_new_col
            
        pass
    
    def change_row_position(self,prev_df,now_df):
        old_row = list(self.curr_row)
        now_row = list(now_df.index)
        #new_row = set(now_row)-set(old_row)
        
        temp_cur_row_pos = []
        for x in now_row:
            #logging.debug((x))
            temp_cur_row_pos.append(self.curr_row_pos[x])            
        
        logging.debug(temp_cur_row_pos)
        pass
    
    def add_column(self,prev_df,df,state_ss=None):   
        #old_col = self.curr_col
        old_col = prev_df.columns
        now_col = df.columns
        new_col = set(now_col)-set(old_col)
        logging.debug(("new_col:",new_col,self.curr_col_schema))
        
        # sort new_col by the index
        new_col = list(filter(lambda x:x in new_col,now_col))

        in_col,out_col = dep_input_output_col(prev_df,df,state_ss["operation"]["description"])
        #print("in_col,out_col",in_col,out_col)
        
        old_col_schema = self.curr_col_schema.copy()
        
        for j,x in enumerate(new_col):
            last_col = self.curr_col_schema[-1][1]
            new_col_val = df.loc[:,[x]]
            logging.debug(new_col_val.values.tolist())
            idx = list(now_col).index(x)
                
            logging.debug(idx)
            if idx > 0:
                prev_idx = self.curr_col_schema[idx-1]
            
            self.column_position.append((self.col_pos_id,self.col_id,self.state_id,x,prev_idx[2],-1))       
            logging.debug(("curr_col_schema",self.curr_col_schema))
            #self.curr_col_schema.insert(idx,(x,self.col_pos_id,self.col_id,self.curr_col_schema[-1][3] if len(self.curr_col_schema[-1])==4 else self.curr_col_schema[-1][-1]))
            self.curr_col_schema.insert(idx,(x,self.col_pos_id,self.col_id,self.curr_col_schema[-1][2]))
            self.curr_col_pos[self.col_id] = (self.col_pos_id,last_col)
            self.col_names_coll.add(x)            
            
            # add values
            self.column.append((self.col_id,self.array_id))
            #self.cell_values.append()
            temp_idx = []
            for y,i in zip(new_col_val.values.tolist(),self.curr_row):
            #for y,i in zip(new_col_val.values.tolist(),self.curr_row):
                self.cell.append((self.cell_id,self.col_id,i))
                self.cell_values.append((self.value_id,self.cell_id,self.state_id,y[0][0] if y[0]!=None else y[0],-1))
                #print(self.pd_index.loc[i,jj])
                #self.pd_index.loc[i,jj] = (self.cell_id,self.value_id,i,jj) 
                temp_idx.append([(self.cell_id,self.value_id,i,self.col_id)])
                
                # add linkage to the derived by cell
                # lookup value id for input col_value
                logging.debug(("in_col:",in_col,self.curr_col_schema))
                for z in in_col:                    
                    zzl = [x[-2] if len(x)==4 else x[-1] for x in list(filter(lambda x:(x[0]==z),self.curr_col_schema))]
                    logging.debug(("zzl:",zzl))
                    for zz in zzl:                        
                        op_cid = list(filter(lambda x:(x[1]==zz)&(x[2]==i),self.cell))
                        logging.debug(("op_cid:",op_cid))
                        for zzz in op_cid:
                            op_val = list(filter(lambda x:x[1]==zzz[0],sorted(self.cell_values,key=lambda x:x[0])))[::-1]
                            logging.debug(("op_val:",op_val))
                            for v in op_val:
                                self.value_derived_from.append((self.value_id,self.state_id,v[0]))
                                break
                                            
                #filter(lambda x:,self.cell_values)
                
                self.value_id+=1
                self.cell_id+=1
            
            #self.pd_index[self.col_id] = pd.DataFrame(temp_idx)
            self.pd_index.insert(loc=idx,column=self.col_id,value=pd.DataFrame(temp_idx)[0].tolist())
            
            #self.curr_col_pos[self.col_id] = (self.col_pos_id,prev_j)

            for z in in_col:
                zzl = [x[-2] for x in list(filter(lambda x:(x[0]==z),self.curr_col_schema))]
                for zz in zzl:                        
                    self.col_dependency.append((self.state_id,self.col_id,zz))                                            
            
            #prev_j = j
            self.col_pos_id+=1                    
            self.col_id+=1
        
        # normalize column position
        temp_new_col = []
        for n_idx,x in enumerate(self.curr_col_schema):
            filtered_col = list(filter(lambda y: y[2] == x[2],old_col_schema))
            if len(filtered_col)>0:
                idx = [y[2] for y in old_col_schema].index(x[2])
                prev_idx = -1
                prev_old_schema = (None,None,None,None)
                if idx > 0:
                    prev_idx = idx - 1
                    prev_old_schema = old_col_schema[prev_idx]
                old_schema_idx = old_col_schema[idx]
                
                prev_nidx = -1
                prev_new_schema = (None,None,None,None)
                if n_idx > 0:     
                    prev_nidx = n_idx - 1
                    prev_new_schema = self.curr_col_schema[prev_nidx]

                if prev_old_schema[2] != prev_new_schema[2]:                
                    self.column_position.append((self.col_pos_id,old_schema_idx[1],self.state_id,x[0],prev_new_schema[1],old_schema_idx[1]))
                    
                    temp_new_col.append((x[0],self.col_pos_id,old_schema_idx[1],prev_new_schema[1]))
                    self.col_pos_id+=1                
                else:
                    temp_new_col.append(old_col_schema[idx])
            else:
                temp_new_col.append(self.curr_col_schema[n_idx])
        
        logging.debug(("add column",temp_new_col))
        
        self.curr_col_schema = temp_new_col
                        
        #len(now_col)>len(prev_col)
        pass
    
    def remove_column(self,prev_df,df):
        #old_col = self.curr_col
        old_col = prev_df.columns
        curr_col = self.curr_col_schema
        now_col = df.columns
        
        removed = set(old_col) - set(now_col)
        logging.debug(("remove_column: ",removed))
        for x in removed:
            idx = list(old_col).index(x)

            #logging.debug(idx)
            prev_idx = None
            next_idx = None
            if idx > 0:
                prev_idx = self.curr_col_schema[idx-1]
            if idx < len(old_col)-1:
                next_idx = self.curr_col_schema[idx+1]
            
            self.column_position.append((self.col_pos_id,self.curr_col_schema[idx][1],self.state_id,x,-2,self.curr_col_schema[idx][1]))
            self.curr_col_pos[idx] = (self.col_pos_id,-2)
            old_col = self.curr_col_schema.pop(idx)
            
            
            self.col_pos_id+=1          
            if next_idx is not None:
                self.column_position.append((self.col_pos_id,next_idx[1],self.state_id,x,prev_idx[1],next_idx[0]))                
                self.col_pos_id+=1                                        
        pass
    
    def add_row(self,df):
        old_row = list(self.curr_row)
        now_row = list(df.index)
        new_row = set(now_row)-set(old_row)           
        logging.debug((old_row,now_row,new_row))
        
        
        for x in new_row:
            new_row_val = df.loc[[x],:]
            logging.debug(("new row",new_row_val.values.tolist(),self.curr_col_schema))
        
            for y,i in zip(new_row_val.values.tolist()[0],self.curr_col_schema):
                #print(i)
                self.cell.append((self.cell_id,i[1],self.row_id))
                self.cell_values.append((self.value_id,self.cell_id,self.state_id,y[0],-1))
                self.cell_id+=1
                self.value_id+=1
            
            self.row.append((self.row_id,self.array_id))            
            
            if self.curr_row_pos[self.row_id-1][1]!=-2:
                self.curr_row_pos[self.row_id] = (self.row_pos_id,self.row_id-1)
                self.row_position.append((self.row_pos_id,self.row_id,self.state_id,self.row_id-1,-1))
            else:
                temp_prev_row = list(filter(lambda x:(x[1]==self.row_id-1)&(x[3]!=-2),self.row_position))
                if len(temp_prev_row)>0:
                    self.curr_row_pos[self.row_id] = (self.row_pos_id,temp_prev_row[-1][3])
                    self.row_position.append((self.row_pos_id,self.row_id,temp_prev_row[-1][3],-1))

                else: 
                    self.curr_row_pos[self.row_id] = (self.row_pos_id,self.row_id-1)
            
            self.row_id+=1    
            self.row_pos_id+=1
                
            """
            idx = list(now_col).index(x)
                
            logging.debug(idx)
            if idx > 0:
                prev_idx = self.curr_col_schema[idx-1]
            
            self.column_position.append((self.col_pos_id,self.col_id,self.state_id,x,prev_idx[1],-1))
            
            self.curr_col_schema.insert(idx,(x,self.col_id))
            
            self.col_names_coll.add(x)
            
            
            # add values
            self.column.append((self.col_id,self.array_id))
            #self.cell_values.append()
            temp_idx = []
            for y,i in zip(new_col_val.values.tolist(),self.curr_row):
                self.cell.append((self.cell_id,self.col_id,i))
                self.cell_values.append((self.value_id,self.cell_id,self.state_id,y[0],-1))
                #print(self.pd_index.loc[i,jj])
                #self.pd_index.loc[i,jj] = (self.cell_id,self.value_id,i,jj) 
                temp_idx.append([(self.cell_id,self.value_id,i,self.col_id)])
                self.value_id+=1
                self.cell_id+=1
            
            self.pd_index[self.col_id] = pd.DataFrame(temp_idx)

            #prev_j = j
            self.col_pos_id+=1                    
            self.col_id+=1             
            """
        
        
        pass

    def remove_row(self,df):
        old_row = list(self.curr_row)
        now_row = list(df.index)
        removed_row = set(old_row)-set(now_row)           
        logging.debug((old_row,now_row,removed_row))
        
        
        for x in removed_row:
            temp_row_pos = self.curr_row_pos[x]

            self.row_position.append((self.row_pos_id,x,self.state_id,-2,temp_row_pos[0]))
            self.curr_row_pos[x] = (self.row_pos_id,-2)
            self.row_pos_id+=1
            # next pos

            # filter with previous row_pos_id
            next_row = list(filter(lambda x:x[1][1]==x,self.curr_row_pos.items()))
            if len(next_row)>0:
                next_row = next_row[0]
                self.row_position.append((self.row_pos_id,next_row[0],self.state_id,temp_row_pos[1],next_row[1][0]))
                self.curr_row_pos[next_row[0]] = (self.row_pos_id,temp_row_pos[1])

                self.row_pos_id+=1        
        pass
    
    def change_values(self,df,change):
        #self.curr_index = self.pd_index[change]
        
        #change.columns = df.columns
        #change.index = df.index                
        
        #l_idx = self.pd_index[change]
                
        tt = np.where(np.matrix(change.to_numpy())==True)
        #print(tt)
        tt = list(zip(tt[0],tt[1]))
        #logging.debug((list(zip(tt[0],tt[1]))))
        #if tt[0].shape[0] == 1:
        #    tt = [(tt[0][0],tt[1][0])]
        #logging.debug((np.where(np.matrix(change.to_numpy())==True)))
        #logging.debug(("tt",tt))
        logging.debug(("change_values pd_index:",self.pd_index,change.to_numpy()))
        idx = self.pd_index.to_numpy()[change.to_numpy()].flatten()        
        val = df.fillna("").to_numpy()[change.to_numpy()].flatten()
        logging.debug(("idx:",idx,val))
        #list(idx)
        idx_list = list(filter(lambda x:pd.isna(x)!=True,idx))
        val_list = list(filter(lambda x:pd.isna(x)!=True,val))
        
        logging.debug(("change_values idxlist:",idx_list,val_list))
        
        #?filter
        
        #print(idx_list,val_list)
        
        set_temp_col = set()

        for x in zip(idx_list,val_list,tt):
            logging.debug(("change_values idxlist:",x))
            self.cell_values.append((self.value_id,x[0][0],self.state_id,x[1],x[0][1]))   
            #logging.debug(("x2",x[2]))
            ttx = list(self.pd_index.loc[x[2][0],x[2][1]])
            ttx[1] = self.value_id
            #logging.debug((ttx))
            self.pd_index.loc[x[2][0],x[2][1]] = tuple(ttx)
            #x[0] = self.value_id            
            
            
            self.value_derived_from.append((self.value_id,self.state_id,x[0][1]))
                        
            temp_col = list(filter(lambda y: y[0]==x[0][0],self.cell))[0][1]   
            if temp_col not in set_temp_col:
                self.col_dependency.append((self.state_id,temp_col,temp_col))  
                set_temp_col.add(temp_col)
                #aaa
            
            """            
            logging.debug(("in_col",in_col))
            for z in in_col:
                zzl = [x[-1] for x in list(filter(lambda x:(x[0]==z),self.curr_col_schema))]
                logging.debug(("zzl",zzl))
                for zz in zzl:                        
                    op_cid = list(filter(lambda x:(x[1]==zz)&(x[2]==i),self.cell))
                    logging.debug(("op_cid",op_cid))
                    for zzz in op_cid:
                        op_val = list(filter(lambda x:x[1]==zzz[0],self.cell_values))
                        logging.debug(("op_val",op_val))
                        for v in op_val:
                            self.value_derived_from.append((self.value_id,v[0]))
            """
            
            self.value_id+=1
            #print(x)

        #prev_state_id = state_id
        #state_id+=1
        #state.append((state_id,prev_state_id))
        
        pass
                    
    
    def change_df(self,prev_df,now_df,state_ss,user=None,prev_ss=None):  
        try:
            in_col,out_col = dep_input_output_col(prev_df,now_df,state_ss["operation"]["description"])
        
            # add linkage to the derived by cell
            # lookup value id for input col_value
            if len(out_col)==0:
                logging.debug(("in_col:",in_col,self.curr_col_schema))
                for z in in_col:
                    zzl = [x[-2] if len(x)==4 else x[-1] for x in list(filter(lambda x:(x[0]==z),self.curr_col_schema))]
                    logging.debug(("zzl",zzl))
                    for zzy in zzl:
                        self.col_dependency.append((self.state_id,zzy,zzy))                                
        except:
            pass
        
        #prev_col = np.array(self.curr_col)
        prev_col = prev_df.columns
        now_col = now_df.columns
        
        #print(prev_col,now_col)
        
        
        # condition for add and remove columns
        if len(now_col)>len(prev_col):
            # condition for add_columns:
            logging.debug("add column")
            self.add_column(prev_df,now_df,state_ss)            
        elif len(prev_col)>len(now_col):
            # condition for remove_columns:
            logging.debug("remove_column")
            self.remove_column(prev_df,now_df)
            
        # condition for change of schema:
        if len(prev_col)==len(now_col) and np.sum(prev_col!=now_col)>0:
            logging.debug("change column schema")
            self.change_column_schema(prev_df,now_df)
        
        #prev_row = np.array(self.curr_row)
        prev_row = np.array(list(prev_df.index))
        now_row = np.array(list(now_df.index))
        
        # condition for add and remove rows        
        if len(now_row)>len(prev_row):
            # condition for add_columns:
            logging.debug("add row")
            self.add_row(now_df)            
        elif len(prev_row)>len(now_row):
            # condition for remove_columns:
            logging.debug("remove row")
            self.remove_row(now_df)
            
        # condition for change of schema:
        if len(prev_row)==len(now_row) and np.sum(prev_row!=now_row)>1:
            logging.debug("change row position")
            self.change_row_position(prev_df,now_df)
            
        
        # condition for change of values
        try:
            change_val = now_df.fillna("")!=prev_df.fillna("")
            if change_val.to_numpy().sum()>0:
                logging.debug("change values")
                self.change_values(now_df,change_val)
            else:
                logging.debug("nothing change")
        except BaseException as ex:
            logging.debug(ex)
            pass
        
                
        #prev_state_id = self.state_id
        #prev_state_id = self.state_id
        #self.state_id+=1   
        try:
            self.user[user]
        except:
            self.user[user]=self.user_id
            self.user_id+=1
        
        if prev_ss == None:
            self.state_detail.append((self.state_id,state_ss,self.execution_id,self.prev_state_id,self.user[user]))       
            self.state.append((self.state_id,self.prev_state_id))    
            self.prev_state_id = self.state_id
            self.state_id+=1   
        else:             
            self.state_detail.append((self.state_id,state_ss,self.execution_id,prev_ss,self.user[user]))       
            self.state.append((self.state_id,prev_ss))       
            self.prev_state_id = self.state_id
            self.state_id+=1
            
        self.execution_id+=1
        
        return True
        
        """
        
        col_id = np.where(prev_df.columns==col.name)[0][0]
        columns.append((col_id,array_id))
        #temp_col = []
        for i,x in enumerate(col):
            if not row_processed:
                rows.append((i,array_id))
            #temp_col.append((cell_id,col_id,i))
            cells.append((cell_id,col_id,i))
            cell_values.append((value_id,cell_id,state_id,x,-1))
            cell_id+=1
            value_id+=1
            #print(i,col_id)
            pd_index.loc[i,col_id] = (cell_id,col_id,i)            
        row_processed = True
        state_id+=1
        """
        
    def transform(self):
        prev_df = None
        now_df = None
        for i,x in enumerate(self.trace):
            now_df = x[5]
            #print(now_df)
            if i == 0:
                #init dataset
                self.init_dataset(x)
            else:
                self.change_df(prev_df,now_df)
                pass
            
            
            self.curr_col = now_df.columns
            #self.curr_col_schema = [for x in self.curr_col]
            self.curr_row = list(now_df.index)        
            self.curr_df = now_df                        
            prev_df = now_df

# Load Data

In [4]:
original_pd = pd.read_csv("../case_1/chicago_vert_dataset.csv",dtype=str).append(pd.read_csv("../case_2/chicago_vert_dataset.csv",dtype=str))
original_pd = original_pd.fillna("").reset_index(drop=True)
for x in list(filter(lambda x:x.endswith("flag"),original_pd.columns)):
    original_pd.loc[:,x] = original_pd.loc[:,x].astype(int) 
original_pd_before = original_pd.copy()

/tmp/ipykernel_19422/1439863274.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  original_pd = pd.read_csv("../case_1/chicago_vert_dataset.csv",dtype=str).append(pd.read_csv("../case_2/chicago_vert_dataset.csv",dtype=str))
/tmp/ipykernel_19422/1439863274.py:4: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  original_pd.loc[:,x] = original_pd.loc[:,x].astype(int)

In [5]:
group1_index = pd.read_csv("../case_1/chicago_vert_dataset.csv",dtype=str).index
group1_index
group2_index = pd.Index(range(group1_index.stop,original_pd.shape[0]))

In [6]:
group1_index,group2_index

(RangeIndex(start=0, stop=1486, step=1),
 RangeIndex(start=1486, stop=3201, step=1))

In [7]:
original_pd.tail(50)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag,room_type_flag
3151,764622652958240880,Group book 3 Penthouse by Cloud9,248760412,Cloud9,,Near West Side,4188764,-87.64578,Entire home/apt,1488,...,R22000092079,0,0,0,0,0,0,0,0,0
3152,764669447707306735,South Loop Chicago-5 min to DT,448589644,Andrea,,Near South Side,41.86006,-87.62485,Entire home/apt,120,...,,0,0,0,0,0,0,0,0,0
3153,765003851418902674,"Bucktown 1br w/ roof & bbq, nr blue line",107434423,Blueground,,WeDstYC Town,41.91152789999999,-87.67875529999998,Entire home/apt,145,...,,0,0,0,0,0,0,0,0,0
3154,765213311537655730,Classic Hp 1 Br with Fast Transit to UChicago Dt,47172572,Zencity,,KgenRwoood,41.80302,-87.59742,Apartment,70,...,R22000092864,0,0,0,0,0,0,0,0,0
3155,765213311537655730,Classic Hp 1 Br with Fast Transit to UChicago Dt,47172572,Zencity,,KgenRwoood,41.80302,-87.59742,Apartment,70,...,R22000092864,0,0,0,0,0,0,0,0,0
3156,766069261296774780,Old-World Unit 3 Downtown!,170785489,Dmd,,Near North Side,41.90117,-87.6257,Entire home/apt,137,...,2210122,0,0,0,0,0,0,0,0,0
3157,766499608228095208,"Clean modern apt w/ parking, laundry",36989519,Mushky,,West Ridge,41.99345,-87.70609,Entire home/apt,91,...,R22000091827,0,0,0,0,0,0,0,0,0
3158,766657991814572268,Smoke n Stay - 2BR 10min from DT,468900645,Dana,,SoutHhtk Chicago,41.75017,-87.55126,Entire home/apt,99,...,R22000088337,0,0,0,0,0,0,0,0,0
3159,767226985954458283,"W. Loop 2br w/ gym & coworking, nr UIC",107434423,Blueground,,Near West Side,41.8763,-87.65371999999999,Entire home/apt,118,...,,0,0,0,0,0,0,0,0,0
3160,767434780399355268,100 home away from home,70728663,Shelby,,Bridgeport,41.82881576674946,-87.64687367897614,Private room,68,...,,0,0,0,0,0,0,0,0,0
3161,767555849085171400,Rockwell by the River,485079256,Michael,,Avondale,41.9341476729531,-87.69311081534426,Entire home/apt,150,...,R22000092715,0,0,0,0,0,0,0,0,0
3162,767856155947185246,"West Loop studio w/ w/d, gym & lounge, nr L",107434423,Blueground,,Near West Side,41.8806434,-87.6487655,Apartment,131,...,,0,0,0,0,0,0,0,0,0
3163,769472376343581241,Fast WiFi/Room with TV/Free Pkng/94 Walk Score...,186115134,Djamila,,West Town,41.89171,-87.67887,Private room,45,...,R19000044487,0,0,0,0,0,0,0,0,0
3164,769772164833360464,No1 Location Single Room - Pretty/Cozy/Affordable,352627300,Azhar,,Near North Side,41.896965078749446,-87.62852489948273,Private room,69,...,R21000063283,0,0,0,0,0,0,0,0,0
3165,769796183313187675,Renovated apt in River North,9387345,Mathew,,Neacro NorPth Side,41.89156,-87.6358,Entire home/apt,68,...,,0,0,0,0,0,0,0,0,0
3166,771838717940576502,Contemporary Cragin 1BR Apartment,488113016,AlvLis,,Belmont Cragin,41.9308084,-87.7586628,Entire home/apt,46,...,R22000093816,0,0,0,0,0,0,0,0,0
3167,771860062577897747,Comfy & Artistic 2BR Home in Francisco Ave,488113016,Alexis,,West Ridge,41.9967,-87.7017,Entire home/apt,72,...,R21000062411,0,0,0,0,0,0,0,0,0
3168,771880753874742770,Spacious 2BR Stylish Apartment in Francisco Ave,488113016,Alexis,,West Ridge,41.99533,-87.70164,Entire home/apt,66,...,R18000023286,0,0,0,0,0,0,0,0,0
3169,772277282855834703,"River North 1br w/ gym, lounge & roof nr River...",107434423,Blueground,,Near North Side,41.8945286,-87.63340520000003,Apartment,90,...,,0,0,0,0,0,0,0,0,0
3170,772375066568014177,Cozy West Town 2 Br with Full Kitchen by Zencity,47172572,Zencity,,West Town,41.90375,-87.69292,Entire home/apt,80,...,R18000026590,0,0,0,0,0,0,0,0,0
3171,772497844115621501,3BR Homey w/ Comfy Living Room Apt in Bell Ave,488124046,Garrie,,West Ridge,42.01833,-87.68678,Entire home/apt,112,...,R22000090501,0,0,0,0,0,0,0,0,0
3172,772898943258080242,"River North 1br w/ gym, lounge & roof nr River...",107434423,Blueground,,Near North Side,41.8945286,-87.63340520000003,Entire home/apt,152,...,,0,0,0,0,0,0,0,0,0
3173,773290379901211109,Granville Appartment,4115325,Sunny,,West Ridge,41.9942325,-87.7011167,Entire home/apt,100,...,R22000094496,0,0,0,0,0,0,0,0,0
3174,773402912713516629,8M1 Cozy Private Bedroom near Chicago,22094147,Emma And Jim,,East Garfield Park,41.87997,-87.69577,Private room,35,...,,0,0,0,0,0,0,0,0,0
3175,774738745556276734,New Combined 4 Apts 7 Rms by C9,248760412,Cloud9,,LNeaEr West aSide,41.87587,-87.65583,Entire home/apt,1845,...,2872277,0,0,0,0,0,0,0,0,0
3176,774738745556276734,New Combined 4 Apts 7 Rms by C9,248760412,Cloud9,,LNeaEr West aSide,41.87587,-87.65583,Entire home/apt,1845,...,2872277,0,0,0,0,0,0,0,0,0
3177,775377001213681695,Spacious & Modern Chi-town Home,452122854,Seven Properties,,Fuller Park,418167,-8763165,Entire home/apt,140,...,R12243567123,0,0,0,0,0,0,0,0,0
3178,775753206755914101,NEW! Eclectic Chicago Apartment w/ Spacious Deck!,121719854,Evolve,,Roseland,41.73446,-87.63367,Apartment,141,...,R22000084810,0,0,0,0,0,0,0,0,0
3179,776148930155227757,Modern Luxe West Loop 1BR Apt w/ In unit Laundry,488124046,Garrie,,Near West Side,41.88489,-87.64429,Entire home/apt,57,...,R22000092447,0,0,0,0,0,0,0,0,0
3180,776656124260814802,"River W. 1BR w/ Rooftop & Gym, nr Blue Line",107434423,Blueground,,West Town,41.8952397,-87.6551692,Entire home/apt,91,...,,0,0,0,0,0,0,0,0,0
3181,776658665444678276,"River North 1br w/ gym, lounge & roof nr River...",107434423,Blueground,,Near North Side,418945286,-87.63340520000003,Entire home/apt,90,...,,0,0,0,0,0,0,0,0,0
3182,776735078750935278,The Elston Casita,13751434,Christopher,,huAvongdale,41.93343093277115,-87.68988844047546,Apartment,,...,R22000078197,0,0,0,0,0,0,0,0,0
3183,776735078750935278,The Elston Casita,13751434,Christopher,,huAvongdale,41.93343093277115,-87.68988844047546,Apartment,79,...,R22000078197,0,0,0,0,0,0,0,0,0
3184,777015289279898471,Gold Coast 1-Bedroom Loft,209611929,Seun,,Near North Side,4190362,-87.62928,Apartment,64,...,,0,0,0,0,0,0,0,0,0
3185,778024630376031823,"Near North 1br w/ doorman, w/d & gym nr I-90",107434423,Blueground,,Near North Side,41.9029299,-87.6441632,Entire home/apt,82,...,,0,0,0,0,0,0,0,0,0
3186,778890163024553328,Fast WiFi/Room with TV/Free Pkng/94 Walk Score...,186115134,Djamila,,WestwV QTown,41.8928,-87.68032,Private room,45,...,R19000074628,0,0,0,0,0,0,0,0,0
3187,779793471889537254,River North Downtown Gem,48186690,Kavia,,Near North Side,41.89404,-87.6336,Entire home/apt,72,...,,0,0,0,0,0,0,0,0,0
3188,779793471889537254,River North Downtown Gem,48186690,Kavia,,Near North Side,41.89404,-87.6336,Entire home/apt,72,...,,0,0,0,0,0,0,0,0,0
3189,779992322133479260,Apartment in Gold Coast,490950442,Oguzhan,,Near North Side,41.9046,-87.63103,Entire home/apt,33,...,,0,0,0,0,0,0,0,0,0
3190,780422673728726777,Old Town Gem,298862365,Patricia,,Near North Side,41.9105181,-87.6431621,Entire home/apt,195,...,R22000094260,0,0,0,0,0,0,0,0,0
3191,781165491924774915,Spacious 1BR Apt in West Loop w/ In-Unit Laundry,435770634,Nico And Dyan,,West Town,41.88985,-87.65409,Entire home/apt,67,...,R21000068870,0,0,0,0,0,0,0,0,0
3192,781899699941657666,Amazing one bedroom plus den room space by Zen...,47172572,Zencity,,West Town,4190271,-87.69363,Entire home/apt,65,...,R22000093871,0,0,0,0,0,0,0,0,0
3193,781914893885673817,Spacious Master Bedroom,118714865,Jabari,,West Town,41.8940452,-87.6645188,Private room,48,...,R21000061257,0,0,0,0,0,0,0,0,0
3194,782097918539684046,Downtown Luxury Condo,345565701,Kay,,NearC Northf wSide,41.89173,-87.62324,Apartment,250,...,R22000094234,0,0,0,0,0,0,0,0,0
3195,782137041139805370,UIC / Little Italy - Charming 2 Bed 1 Bath Apt.,215444392,Jenna,,Near West Side,41.8704687,-87.6625794,Apartment,97,...,R22000094368,0,0,0,0,0,0,0,0,0
3196,782628636832878491,"Steps to Shop, Eat, Train | Easy Access | Zencity",47172572,Zencity,,West Town,41.8955,-87.66124,Entire home/apt,50,...,R19000043484,0,0,0,0,0,0,0,0,0
3197,782643895516370805,Old Town Oasis,169297663,William,,Near North Side,41.90105,-87.63716,Apartment,120,...,R22000093645,0,0,0,0,0,0,0,0,0
3198,784994899201350568,Lovely 1 bed Apt in River North,52827024,Yakir,,Near West Side,41.88822006416301,-87.64145321718578,Entire home/apt,84,...,,0,0,0,0,0,0,0,0,0
3199,785423932330914663,"River North 1br w/ gym, pool & roof, nr Riverwalk",107434423,Blueground,,Near North Side,41.890516,-87.635955,Apartment,169,...,,0,0,0,0,0,0,0,0,0
3200,785426440046865418,"River North 1br w/ gym, lounge & roof nr River...",107434423,Blueground,,Near North Side,418945286,-87.63340520000003,Entire home/apt,115,...,,0,0,0,0,0,0,0,0,0

In [8]:
super_ori_pd = pd.read_csv("../../../collaboration_simulation/airbnb_test_case/chicago_listings.csv",dtype=str)
super_ori_pd = super_ori_pd.fillna("")
for x in list(filter(lambda x:x.endswith("flag"),original_pd.columns)):
    super_ori_pd.loc[:,x] = 0
#super_ori_pd = super_ori_pd.loc[super_ori_pd.id.isin(original_pd.id),original_pd.columns]
#super_ori_pd
super_ori_pd = original_pd.merge(super_ori_pd,left_on="id",right_on="id",suffixes=("_x",""))
super_ori_pd = super_ori_pd.loc[:,original_pd.columns].reset_index(drop=True)

In [9]:
original_pd.describe()

,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag,room_type_flag
count,3201.0,3201.0,3201.0,3201.0,3201.0,3201.0,3201.0,3201.0,3201.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
super_ori_pd.describe()

,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag,room_type_flag
count,3201.0,3201.0,3201.0,3201.0,3201.0,3201.0,3201.0,3201.0,3201.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
original_pd

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag,room_type_flag
0,25879,2/1 One Block to Fullerton L Red Line Deck & ...,101521,Red,,Lincoln Park,41.92693,-87.65753,Entire home/apt,94,...,City registration pending,0,0,0,0,0,0,0,0,0
1,37738,Andersonville - Perfect location!,162364,Mat And Randy,,Uptown,41.9729,-87.66538,Private room,110,...,R20000059426,0,0,0,0,0,0,0,0,0
2,189821,"Best in Chicago, private, amazing garden space",899757,Meighan,,Logan Square,41.92918,-87.70219,Entire home/apt,236,...,R21000062936,0,0,0,0,0,0,0,0,0
3,207218,Historic Pullman Artist Flat - Artists & Explo...,1019125,Jb,,Pullman,41.6883,-87.60892,Entire home,100,...,R21000073121,0,0,0,0,0,0,0,0,0
4,220333,Pullman School House Apartment - monthly rental,1019125,Jb,,Pullman,41.68815,-87.60918,Entire home/apt,100,...,,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,782628636832878491,"Steps to Shop, Eat, Train | Easy Access | Zencity",47172572,Zencity,,West Town,41.8955,-87.66124,Entire home/apt,50,...,R19000043484,0,0,0,0,0,0,0,0,0
3197,782643895516370805,Old Town Oasis,169297663,William,,Near North Side,41.90105,-87.63716,Apartment,120,...,R22000093645,0,0,0,0,0,0,0,0,0
3198,784994899201350568,Lovely 1 bed Apt in River North,52827024,Yakir,,Near West Side,41.88822006416301,-87.64145321718578,Entire home/apt,84,...,,0,0,0,0,0,0,0,0,0
3199,785423932330914663,"River North 1br w/ gym, pool & roof, nr Riverwalk",107434423,Blueground,,Near North Side,41.890516,-87.635955,Apartment,169,...,,0,0,0,0,0,0,0,0,0
3200,785426440046865418,"River North 1br w/ gym, lounge & roof nr River...",107434423,Blueground,,Near North Side,418945286,-87.63340520000003,Entire home/apt,115,...,,0,0,0,0,0,0,0,0,0

In [12]:
original_pd.shape,super_ori_pd.shape

((3201, 27), (3201, 27))

In [13]:
import numpy as np
import json
import pandas as pd
import pickle

#dcm1 = TransformDCM(None)
with open("dcm_collab.pickle","rb") as file:
    dcm1 = pickle.load(file)

In [14]:
#dcm1.init_dataset_df(super_ori_pd)

In [15]:
#dcm1.curr_col = super_ori_pd.columns
#dcm1.curr_row = list(super_ori_pd.index) 
#dcm1.curr_df = super_ori_pd

In [16]:
#dcm1.change_df(super_ori_pd,original_pd,"perturbed_dataset","s1")

In [17]:
xx = pd.DataFrame(dcm1.cell_values)
xx[xx[2]==0].merge(xx,left_on=4,right_on=0)

,4,0_x,1_x,2_x,3_x,4_x,0_y,1_y,2_y,3_y,4_y
0,66,86427,66,0,"November 28, 2022",66,66,66,-1,2022-11-28,-1
1,89,86428,89,0,Entire home,89,89,89,-1,Entire home/apt,-1
2,167,86429,167,0,Lhke eieu,167,167,167,-1,Lake View,-1
3,170,86430,170,0,Entire home,170,170,170,-1,Entire home/apt,-1
4,224,86431,224,0,Entire home,224,224,224,-1,Entire home/apt,-1
...,...,...,...,...,...,...,...,...,...,...,...
2286,86246,88713,86246,0,Apartment,86246,86246,86246,-1,Entire home/apt,-1
2287,86273,88714,86273,0,Apartment,86273,86273,86273,-1,Entire home/apt,-1
2288,86327,88715,86327,0,Apartment,86327,86327,86327,-1,Entire home/apt,-1
2289,86381,88716,86381,0,Apartment,86381,86381,86381,-1,Entire home/apt,-1
2290,86406,88717,86406,0,418945286,86406,86406,86406,-1,41.8945286,-1

In [18]:
dcm1.state_detail

[(-1, {'op': 'initial'}, 0, -2, None),
 (0, 'perturbed_dataset', 0, -1, 0),
 (1, 'clean_duplicate_id_c1', 1, 0, 1),
 (2, 'clean_inconsistent_host_id_c1', 2, 1, 1),
 (3, 'clean_neighbourhood_c1', 3, 2, 1),
 (4, 'clean_latitude_c1', 4, 3, 1),
 (5, 'clean_longitude_c1', 5, 4, 1),
 (6, 'clean_room_type_c1', 6, 5, 1),
 (7, 'clean_minimum_nights_c1', 7, 6, 1),
 (8, 'clean_number_of_reviews_c1', 8, 7, 1),
 (9, 'clean_last_review_c1', 9, 8, 1)]

In [19]:
#dcm1.curr_col = original_pd.columns
#dcm1.curr_row = list(original_pd.index) 
#dcm1.curr_df = original_pd

In [20]:
#for i,c in enumerate(change_index.columns):
#    dcm1.pd_index.loc[change_index.loc[:,c].values,i]

In [21]:
def assign_to_original(original_pd,workset_pd):
    original_pd.loc[original_pd.id.isin(workset_pd.id),:] = workset_pd
    return original_pd

In [22]:
airbnb_pd = pd.read_csv("../../../collaboration_simulation/airbnb_test_case/chicago_vert_2_a.csv",dtype=str)
for x in list(filter(lambda x:x.endswith("flag"),airbnb_pd.columns)):
    airbnb_pd.loc[:,x] = airbnb_pd.loc[:,x].astype(int) 
airbnb_pd.index = group2_index

/tmp/ipykernel_19422/3739463790.py:3: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  airbnb_pd.loc[:,x] = airbnb_pd.loc[:,x].astype(int)

In [23]:
airbnb_pd.latitude.sort_values(ascending=False)

3171    42.01833
1767    42.01653
1759    42.01653
1502    42.01653
1766    42.01653
          ...
2543         NaN
2557         NaN
2657         NaN
3014         NaN
3136         NaN
Name: latitude, Length: 1715, dtype: object

In [24]:
airbnb_pd.shape,original_pd.shape

((1715, 27), (3201, 27))

In [25]:
# take part of airbnb_pd from original_pd
# using data frame imutability, any changes will be 
# directed toward those subset of original_pd
#airbnb_pd = original_pd[original_pd.id.isin(airbnb_pd.id)]

# cleanup duplicate id
The ID column must contain unique values. If there are any duplicate values in this column, you will need to take action to ensure that each ID is unique. You can do this by either fixing the duplicates (if you want to keep them) or by flagging them for removal (1) using the id_flag column.

In [26]:
def clean_duplicate_id(df):
    dup_ids = df[df.id_flag==0]
    dup_ids = dup_ids.groupby("id").count()[["name"]].reset_index()
    dup_ids = dup_ids[dup_ids.name>1]
    
    for id_ in list(dup_ids["id"]):
        temp_df=df[df["id"]==id_]
        
        try:
            id_=list(temp_df[temp_df.duplicated()].index)[0]  ## two rows are completely the same
            df.loc[id_,"id_flag"]=1
        except:
            index_ls=list(temp_df.index)   ## one row combine with another row equals to one of the original row
            temp_row_1=temp_df.loc[index_ls[0]]
            temp_row_2=temp_df.loc[index_ls[1]]
            row_comb=temp_df.loc[index_ls[0]].combine_first(temp_df.loc[index_ls[1]])
            try:
                comp_result_1=list(set(list(temp_row_1.fillna(0)==row_comb.fillna(0))))[0]
                comp_result_2=list(set(list(temp_row_2.fillna(0)==row_comb.fillna(0))))[0]
                if comp_result_1==True:
                    df.loc[index_ls[1],"id_flag"]=1
                elif comp_result_2==True:
                    df.loc[index_ls[0],"id_flag"]=1
                else:
                    df.loc[index_ls[0],"id_flag"]=2
                    df.loc[index_ls[1],"id_flag"]=2  ##mark types which not belongs to the types mentioned above
            except:
                print(id_)
    return df

In [27]:
dup_ids = airbnb_pd[airbnb_pd.id_flag==0]
dup_ids = dup_ids.groupby("id").count()[["name"]].reset_index()
dup_ids = dup_ids[dup_ids.name>1]

problem_n = dup_ids.shape[0]
dq_problem = problem_n/problem_n
problem_n,dq_problem

(69, 1.0)

In [28]:
airbnb_pd = clean_duplicate_id(airbnb_pd)
airbnb_pd

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag,room_type_flag
1486,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,85,...,R21000075737,0,0,0,0,0,0,0,0,0
1487,84042,The Explorer Room,334241,Michael And Veronica,NaN,West Town,4189615,-87.67934,Private room,75,...,R17000013986,0,0,0,0,0,0,0,0,0
1488,84042,The Explorer Room,334241,Michael And Veronica,NaN,West Town,4189615,-87.67934,Private room,75,...,R17000013986,1,0,0,0,0,0,0,0,0
1489,145659,Trendy Roscoe Village 3BR/2BR walk to shops,683529,Joe,NaN,North Center,41.94342,-87.68121,Entire home/apt,205,...,2209272,0,0,0,0,0,0,0,0,0
1490,264547,Steps From the Best Chicago Offers,1387948,Dominic,NaN,Near West Side,41.88467,-87.64487,Entire home/apt,204,...,City registration pending,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,782628636832878491,"Steps to Shop, Eat, Train | Easy Access | Zencity",47172572,Zencity,NaN,West Town,41.8955,-87.66124,Entire home/apt,50,...,R19000043484,0,0,0,0,0,0,0,0,0
3197,782643895516370805,Old Town Oasis,169297663,William,NaN,Near North Side,41.90105,-87.63716,Apartment,120,...,R22000093645,0,0,0,0,0,0,0,0,0
3198,784994899201350568,Lovely 1 bed Apt in River North,52827024,Yakir,NaN,Near West Side,41.88822006416301,-87.64145321718578,Entire home/apt,84,...,NaN,0,0,0,0,0,0,0,0,0
3199,785423932330914663,"River North 1br w/ gym, pool & roof, nr Riverwalk",107434423,Blueground,NaN,Near North Side,41.890516,-87.635955,Apartment,169,...,NaN,0,0,0,0,0,0,0,0,0
3200,785426440046865418,"River North 1br w/ gym, lounge & roof nr River...",107434423,Blueground,NaN,Near North Side,418945286,-87.63340520000003,Entire home/apt,115,...,NaN,0,0,0,0,0,0,0,0,0

# Duplicate IDS checking 
To ensure that all ID values in the dataset are unique, you should check for duplicate IDs. When you run the query to check for duplicates, there should be no rows returned, indicating that there are no duplicate ID values present in the dataset.

In [29]:
dup_ids = airbnb_pd
dup_ids = dup_ids.groupby("id").count()[["name"]].reset_index()
dup_ids = dup_ids[dup_ids.name>1]
removal_flag = (airbnb_pd.id_flag!=0).sum()
corrected = dup_ids.shape[0]

In [30]:
removal_flag

69

In [31]:
completeness = (problem_n-corrected) / problem_n
flagged = removal_flag / problem_n
completeness,flagged

(0.0, 1.0)

In [32]:
dup_ids = airbnb_pd[airbnb_pd.id_flag==0]
dup_ids = dup_ids.groupby("id").count()[["name"]].reset_index()
dup_ids = dup_ids[dup_ids.name>1]
dup_ids

Empty DataFrame
Columns: [id, name]
Index: []

In [33]:
dq_post = dup_ids.shape[0]/problem_n
dq_post

0.0

In [34]:
workset_before = original_pd.copy()
workset_after = original_pd.copy()

In [35]:
workset_after = assign_to_original(workset_after,airbnb_pd)

In [36]:
(workset_after.fillna("")!=workset_before.fillna("")).sum()

id                                 0
name                               0
host_id                            0
host_name                          0
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
number_of_reviews_ltm              0
license                            0
id_flag                           69
host_id_flag                       0
neighbourhood_flag                 0
latitude_flag                      0
longitude_flag                     0
minimum_nights_flag                0
number_of_reviews_flag             0
last_review_flag                   0
room_type_flag                     0
dtype: int64

In [37]:
dcm1.change_df(workset_before,workset_after,"clean_duplicate_id_c2","c2",0)

DEBUG:root:change values
DEBUG:root:('change_values pd_index:',                            0                        1   \
0                (0, 0, 0, 0)             (1, 1, 0, 1)
1              (27, 27, 1, 0)           (28, 28, 1, 1)
2              (54, 54, 2, 0)           (55, 55, 2, 1)
3              (81, 81, 3, 0)           (82, 82, 3, 1)
4            (108, 108, 4, 0)         (109, 109, 4, 1)
...                       ...                      ...
3196  (86292, 86292, 3196, 0)  (86293, 86293, 3196, 1)
3197  (86319, 86319, 3197, 0)  (86320, 86320, 3197, 1)
3198  (86346, 86346, 3198, 0)  (86347, 86347, 3198, 1)
3199  (86373, 86373, 3199, 0)  (86374, 86374, 3199, 1)
3200  (86400, 86400, 3200, 0)  (86401, 86401, 3200, 1)

                           2                        3   \
0                (2, 2, 0, 2)             (3, 3, 0, 3)
1              (29, 29, 1, 2)           (30, 30, 1, 3)
2              (56, 56, 2, 2)           (57, 57, 2, 3)
3              (83, 83, 3, 2)           (84, 84, 3, 3)
4            (110, 110, 4, 2)         (111, 111, 4, 3)
...                       ...                      ...
3196  (86294, 86294, 3196, 2)  (86295, 86295, 3196, 3)
3197  (86321, 86321, 3197, 2)  (86322, 86322, 3197, 3)
3198  (86348, 86348, 3198, 2)  (86349, 86349, 3198, 3)
3199  (86375, 86375, 3199, 2)  (86376, 86376, 3199, 3)
3200  (86402, 86402, 3200, 2)  (86403, 86403, 3200, 3)

                           4                        5   \
0                (4, 4, 0, 4)             (5, 5, 0, 5)
1              (31, 31, 1, 4)           (32, 32, 1, 5)
2              (58, 58, 2, 4)           (59, 59, 2, 5)
3              (85, 85, 3, 4)           (86, 86, 3, 5)
4            (112, 112, 4, 4)         (113, 113, 4, 5)
...                       ...                      ...
3196  (86296, 86296, 3196, 4)  (86297, 86297, 3196, 5)
3197  (86323, 86323, 3197, 4)  (86324, 86324, 3197, 5)
3198  (86350, 86350, 3198, 4)  (86351, 86351, 3198, 5)
3199  (86377, 86377, 3199, 4)  (86378, 86378, 3199, 5)
3200  (86404, 86404, 3200, 4)  (86405, 86405, 3200, 5)

                           6                        7   \
0                (6, 6, 0, 6)             (7, 7, 0, 7)
1              (33, 33, 1, 6)           (34, 34, 1, 7)
2              (60, 60, 2, 6)           (61, 61, 2, 7)
3              (87, 87, 3, 6)           (88, 88, 3, 7)
4            (114, 114, 4, 6)         (115, 115, 4, 7)
...                       ...                      ...
3196  (86298, 86298, 3196, 6)  (86299, 86299, 3196, 7)
3197  (86325, 86325, 3197, 6)  (86326, 86326, 3197, 7)
3198  (86352, 86352, 3198, 6)  (86353, 86353, 3198, 7)
3199  (86379, 86379, 3199, 6)  (86380, 86380, 3199, 7)
3200  (86406, 88717, 3200, 6)  (86407, 86407, 3200, 7)

                           8                        9   ...  \
0                (8, 8, 0, 8)             (9, 9, 0, 9)  ...
1              (35, 35, 1, 8)           (36, 36, 1, 9)  ...
2              (62, 62, 2, 8)           (63, 63, 2, 9)  ...
3           (89, 89638, 3, 8)           (90, 90, 3, 9)  ...
4            (116, 116, 4, 8)         (117, 117, 4, 9)  ...
...                       ...                      ...  ...
3196  (86300, 86300, 3196, 8)  (86301, 86301, 3196, 9)  ...
3197  (86327, 88715, 3197, 8)  (86328, 86328, 3197, 9)  ...
3198  (86354, 86354, 3198, 8)  (86355, 86355, 3198, 9)  ...
3199  (86381, 88716, 3199, 8)  (86382, 86382, 3199, 9)  ...
3200  (86408, 86408, 3200, 8)  (86409, 86409, 3200, 9)  ...

                            17                        18  \
0              (17, 17, 0, 17)           (18, 18, 0, 18)
1              (44, 44, 1, 17)           (45, 45, 1, 18)
2              (71, 71, 2, 17)           (72, 72, 2, 18)
3              (98, 98, 3, 17)           (99, 99, 3, 18)
4            (125, 125, 4, 17)         (126, 126, 4, 18)
...                        ...                       ...
3196  (86309, 86309, 3196, 17)  (86310, 86310, 3196, 18)
3197  (86336, 86336, 3197, 17)  (86337, 86337, 3197, 18)
3198  (86363, 86363, 3198, 17)  (86364, 86364, 3198, 18)
3199  (86390, 86390, 3199, 17)  (86391, 86391, 3199, 18)
3200  (86417, 86417, 3200, 17)  (86418, 86418, 3200, 18)

                            19                        20  \
0              (19, 19, 0, 19)           (20, 20, 0, 20)
1              (46, 46, 1, 19)           (47, 47, 1, 20)
2              (73, 73, 2, 19)           (74, 74, 2, 20)
3            (100, 100, 3, 19)         (101, 101, 3, 20)
4            (127, 127, 4, 19)         (128, 128, 4, 20)
...                        ...                       ...
3196  (86311, 86311, 3196, 19)  (86312, 86312, 3196, 20)
3197  (86338, 86338, 3197, 19)  (86339, 86339, 3197, 20)
3198  (86365, 86365, 3198, 19)  (86366, 86366, 3198, 20)
3199  (86392, 86392, 3199, 19)  (86393, 86393, 3199, 20)
3200  (86419, 86419, 3200, 19)  (86420, 86420, 3200, 20)

                            21                        22  \
0              (21, 21, 0, 21)           (22, 22, 0, 22)
1              (48, 48, 1, 21)           (49, 49, 1, 22)
2              (75, 75, 2, 21)           (76, 76, 2, 22)
3            (102, 102, 3, 21)         (103, 103, 3, 22)
4            (129, 129, 4, 21)         (130, 130, 4, 22)
...                        ...                       ...
3196  (86313, 86313, 3196, 21)  (86314, 86314, 3196, 22)
3197  (86340, 86340, 3197, 21)  (86341, 86341, 3197, 22)
3198  (86367, 86367, 3198, 21)  (86368, 86368, 3198, 22)
3199  (86394, 86394, 3199, 21)  (86395, 86395, 3199, 22)
3200  (86421, 86421, 3200, 21)  (86422, 86422, 3200, 22)

                            23                        24  \
0              (23, 23, 0, 23)           (24, 24, 0, 24)
1              (50, 50, 1, 23)           (51, 51, 1, 24)
2              (77, 77, 2, 23)           (78, 78, 2, 24)
3            (104, 104, 3, 23)         (105, 105, 3, 24)
4            (131, 131, 4, 23)         (132, 132, 4, 24)
...                        ...                       ...
3196  (86315, 86315, 3196, 23)  (86316, 86316, 3196, 24)
3197  (86342, 86342, 3197, 23)  (86343, 86343, 3197, 24)
3198  (86369, 86369, 3198, 23)  (86370, 86370, 3198, 24)
3199  (86396, 86396, 3199, 23)  (86397, 86397, 3199, 24)
3200  (86423, 86423, 3200, 23)  (86424, 86424, 3200, 24)

                            25                        26
0              (25, 25, 0, 25)           (26, 26, 0, 26)
1              (52, 52, 1, 25)           (53, 53, 1, 26)
2           (79, 89912, 2, 25)           (80, 80, 2, 26)
3            (106, 106, 3, 25)         (107, 107, 3, 26)
4            (133, 133, 4, 25)         (134, 134, 4, 26)
...                        ...                       ...
3196  (86317, 86317, 3196, 25)  (86318, 86318, 3196, 26)
3197  (86344, 86344, 3197, 25)  (86345, 86345, 3197, 26)
3198  (86371, 86371, 3198, 25)  (86372, 86372, 3198, 26)
3199  (86398, 86398, 3199, 25)  (86399, 86399, 3199, 26)
3200  (86425, 86425, 3200, 25)  (86426, 86426, 3200, 26)

[3201 rows x 27 columns], array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]]))
DEBUG:root:('idx:', array([(40194, 40194, 1488, 18), (42003, 42003, 1555, 18),
       (43542, 43542, 1612, 18), (43893, 43893, 1625, 18),
       (44055, 44055, 1631, 18), (44595, 44595, 1651, 18),
       (44838, 44838, 1660, 18), (45270, 45270, 1676, 18),
       (45324, 45324, 1678, 18), (45405, 45405, 1681, 18),
       (45918, 45918, 1700, 18), (46242, 46242, 1712, 18),
       (47025, 47025, 1741, 18), (47295, 47295, 1751, 18),
       (47997, 47997, 1777, 18), (50535, 50535, 1871, 18),
       (50778, 50778, 1880, 18), (51048, 51048, 1890, 18),
       (51399, 51399, 1903, 18), (51588, 51588, 1910, 18),
       (52344, 52344, 1938, 18), (52398, 52398, 1940, 18),
       (52560, 52560, 1946, 18), (52965, 52965, 1961, 18),
       (53100, 53100, 1966, 18), (53856, 53856, 1994, 18),
       (53964, 53964, 1998, 18), (54693, 54693, 2025, 18),
       (54801, 54801, 2029, 18), (56313, 56313, 2085, 18),
       (57069, 57069, 2113, 18), (59337, 59337, 2197, 18),
       (59472, 59472, 2202, 18), (59580, 59580, 2206, 18),
       (60903, 60903, 2255, 18), (62739, 62739, 2323, 18),
       (63279, 63279, 2343, 18), (65277, 65277, 2417, 18),
       (67221, 67221, 2489, 18), (67491, 67491, 2499, 18),
       (68031, 68031, 2519, 18), (68679, 68679, 2543, 18),
       (69057, 69057, 2557, 18), (69948, 69948, 2590, 18),
       (70758, 70758, 2620, 18), (70920, 70920, 2626, 18),
       (71082, 71082, 2632, 18), (71352, 71352, 2642, 18),
       (71703, 71703, 2655, 18), (71757, 71757, 2657, 18),
       (72162, 72162, 2672, 18), (72837, 72837, 2697, 18),
       (72918, 72918, 2700, 18), (73431, 73431, 2719, 18),
       (73836, 73836, 2734, 18), (74835, 74835, 2771, 18),
       (75753, 75753, 2805, 18), (76995, 76995, 2851, 18),
       (78966, 78966, 2924, 18), (80181, 80181, 2969, 18),
       (81396, 81396, 3014, 18), (82584, 82584, 3058, 18),
       (83313, 83313, 3085, 18), (83529, 83529, 3093, 18),
       (84906, 84906, 3144, 18), (85203, 85203, 3155, 18),
       (85770, 85770, 3176, 18), (85932, 85932, 3182, 18),
       (86094, 86094, 3188, 18)], dtype=object), array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1], dtype=object))

DEBUG:root:('change_values idxlist:', [(40194, 40194, 1488, 18), (42003, 42003, 1555, 18), (43542, 43542, 1612, 18), (43893, 43893, 1625, 18), (44055, 44055, 1631, 18), (44595, 44595, 1651, 18), (44838, 44838, 1660, 18), (45270, 45270, 1676, 18), (45324, 45324, 1678, 18), (45405, 45405, 1681, 18), (45918, 45918, 1700, 18), (46242, 46242, 1712, 18), (47025, 47025, 1741, 18), (47295, 47295, 1751, 18), (47997, 47997, 1777, 18), (50535, 50535, 1871, 18), (50778, 50778, 1880, 18), (51048, 51048, 1890, 18), (51399, 51399, 1903, 18), (51588, 51588, 1910, 18), (52344, 52344, 1938, 18), (52398, 52398, 1940, 18), (52560, 52560, 1946, 18), (52965, 52965, 1961, 18), (53100, 53100, 1966, 18), (53856, 53856, 1994, 18), (53964, 53964, 1998, 18), (54693, 54693, 2025, 18), (54801, 54801, 2029, 18), (56313, 56313, 2085, 18), (57069, 57069, 2113, 18), (59337, 59337, 2197, 18), (59472, 59472, 2202, 18), (59580, 59580, 2206, 18), (60903, 60903, 2255, 18), (62739, 62739, 2323, 18), (63279, 63279, 2343, 18), (65277, 65277, 2417, 18), (67221, 67221, 2489, 18), (67491, 67491, 2499, 18), (68031, 68031, 2519, 18), (68679, 68679, 2543, 18), (69057, 69057, 2557, 18), (69948, 69948, 2590, 18), (70758, 70758, 2620, 18), (70920, 70920, 2626, 18), (71082, 71082, 2632, 18), (71352, 71352, 2642, 18), (71703, 71703, 2655, 18), (71757, 71757, 2657, 18), (72162, 72162, 2672, 18), (72837, 72837, 2697, 18), (72918, 72918, 2700, 18), (73431, 73431, 2719, 18), (73836, 73836, 2734, 18), (74835, 74835, 2771, 18), (75753, 75753, 2805, 18), (76995, 76995, 2851, 18), (78966, 78966, 2924, 18), (80181, 80181, 2969, 18), (81396, 81396, 3014, 18), (82584, 82584, 3058, 18), (83313, 83313, 3085, 18), (83529, 83529, 3093, 18), (84906, 84906, 3144, 18), (85203, 85203, 3155, 18), (85770, 85770, 3176, 18), (85932, 85932, 3182, 18), (86094, 86094, 3188, 18)], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
DEBUG:root:('change_values idxlist:', ((40194, 40194, 1488, 18), 1, (1488, 18)))
DEBUG:root:('change_values idxlist:', ((42003, 42003, 1555, 18), 1, (1555, 18)))
DEBUG:root:('change_values idxlist:', ((43542, 43542, 1612, 18), 1, (1612, 18)))
DEBUG:root:('change_values idxlist:', ((43893, 43893, 1625, 18), 1, (1625, 18)))
DEBUG:root:('change_values idxlist:', ((44055, 44055, 1631, 18), 1, (1631, 18)))
DEBUG:root:('change_values idxlist:', ((44595, 44595, 1651, 18), 1, (1651, 18)))
DEBUG:root:('change_values idxlist:', ((44838, 44838, 1660, 18), 1, (1660, 18)))
DEBUG:root:('change_values idxlist:', ((45270, 45270, 1676, 18), 1, (1676, 18)))
DEBUG:root:('change_values idxlist:', ((45324, 45324, 1678, 18), 1, (1678, 18)))
DEBUG:root:('change_values idxlist:', ((45405, 45405, 1681, 18), 1, (1681, 18)))
DEBUG:root:('change_values idxlist:', ((45918, 45918, 1700, 18), 1, (1700, 18)))
DEBUG:root:('change_values idxlist:', ((46242, 46242, 1712, 18), 1, (1712, 18)))
DEBUG:root:('change_values idxlist:', ((47025, 47025, 1741, 18), 1, (1741, 18)))
DEBUG:root:('change_values idxlist:', ((47295, 47295, 1751, 18), 1, (1751, 18)))
DEBUG:root:('change_values idxlist:', ((47997, 47997, 1777, 18), 1, (1777, 18)))
DEBUG:root:('change_values idxlist:', ((50535, 50535, 1871, 18), 1, (1871, 18)))
DEBUG:root:('change_values idxlist:', ((50778, 50778, 1880, 18), 1, (1880, 18)))
DEBUG:root:('change_values idxlist:', ((51048, 51048, 1890, 18), 1, (1890, 18)))
DEBUG:root:('change_values idxlist:', ((51399, 51399, 1903, 18), 1, (1903, 18)))
DEBUG:root:('change_values idxlist:', ((51588, 51588, 1910, 18), 1, (1910, 18)))
DEBUG:root:('change_values idxlist:', ((52344, 52344, 1938, 18), 1, (1938, 18)))
DEBUG:root:('change_values idxlist:', ((52398, 52398, 1940, 18), 1, (1940, 18)))
DEBUG:root:('change_values idxlist:', ((52560, 52560, 1946, 18), 1, (1946, 18)))
DEBUG:root:('change_values idxlist:', ((52965, 52965, 1961, 18), 1, (1961, 18)))
DEBUG:root:('change_values idxlist:', ((53100, 53100, 1966, 18), 1, (1966, 18)))
DEBUG:root:('change_values idxlist:', ((53856, 53856, 1994, 18), 1, (1994, 18)))
DEBUG:root:('change_values idxlist:', ((53964, 53964, 1998, 18), 1, (1998, 18)))
DEBUG:root:('change_values idxlist:', ((54693, 54693, 2025, 18), 1, (2025, 18)))
DEBUG:root:('change_values idxlist:', ((54801, 54801, 2029, 18), 1, (2029, 18)))
DEBUG:root:('change_values idxlist:', ((56313, 56313, 2085, 18), 1, (2085, 18)))
DEBUG:root:('change_values idxlist:', ((57069, 57069, 2113, 18), 1, (2113, 18)))
DEBUG:root:('change_values idxlist:', ((59337, 59337, 2197, 18), 1, (2197, 18)))
DEBUG:root:('change_values idxlist:', ((59472, 59472, 2202, 18), 1, (2202, 18)))
DEBUG:root:('change_values idxlist:', ((59580, 59580, 2206, 18), 1, (2206, 18)))
DEBUG:root:('change_values idxlist:', ((60903, 60903, 2255, 18), 1, (2255, 18)))
DEBUG:root:('change_values idxlist:', ((62739, 62739, 2323, 18), 1, (2323, 18)))
DEBUG:root:('change_values idxlist:', ((63279, 63279, 2343, 18), 1, (2343, 18)))
DEBUG:root:('change_values idxlist:', ((65277, 65277, 2417, 18), 1, (2417, 18)))
DEBUG:root:('change_values idxlist:', ((67221, 67221, 2489, 18), 1, (2489, 18)))
DEBUG:root:('change_values idxlist:', ((67491, 67491, 2499, 18), 1, (2499, 18)))
DEBUG:root:('change_values idxlist:', ((68031, 68031, 2519, 18), 1, (2519, 18)))
DEBUG:root:('change_values idxlist:', ((68679, 68679, 2543, 18), 1, (2543, 18)))
DEBUG:root:('change_values idxlist:', ((69057, 69057, 2557, 18), 1, (2557, 18)))
DEBUG:root:('change_values idxlist:', ((69948, 69948, 2590, 18), 1, (2590, 18)))
DEBUG:root:('change_values idxlist:', ((70758, 70758, 2620, 18), 1, (2620, 18)))
DEBUG:root:('change_values idxlist:', ((70920, 70920, 2626, 18), 1, (2626, 18)))
DEBUG:root:('change_values idxlist:', ((71082, 71082, 2632, 18), 1, (2632, 18)))
DEBUG:root:('change_values idxlist:', ((71352, 71352, 2642, 18), 1, (2642, 18)))
DEBUG:root:('change_values idxlist:', ((71703, 71703, 2655, 18), 1, (2655, 18)))
DEBUG:root:('change_values idxlist:', ((71757, 71757, 2657, 18), 1, (2657, 18)))
DEBUG:root:('change_values idxlist:', ((72162, 72162, 2672, 18), 1, (2672, 18)))
DEBUG:root:('change_values idxlist:', ((72837, 72837, 2697, 18), 1, (2697, 18)))
DEBUG:root:('change_values idxlist:', ((72918, 72918, 2700, 18), 1, (2700, 18)))
DEBUG:root:('change_values idxlist:', ((73431, 73431, 2719, 18), 1, (2719, 18)))
DEBUG:root:('change_values idxlist:', ((73836, 73836, 2734, 18), 1, (2734, 18)))
DEBUG:root:('change_values idxlist:', ((74835, 74835, 2771, 18), 1, (2771, 18)))
DEBUG:root:('change_values idxlist:', ((75753, 75753, 2805, 18), 1, (2805, 18)))
DEBUG:root:('change_values idxlist:', ((76995, 76995, 2851, 18), 1, (2851, 18)))
DEBUG:root:('change_values idxlist:', ((78966, 78966, 2924, 18), 1, (2924, 18)))
DEBUG:root:('change_values idxlist:', ((80181, 80181, 2969, 18), 1, (2969, 18)))
DEBUG:root:('change_values idxlist:', ((81396, 81396, 3014, 18), 1, (3014, 18)))
DEBUG:root:('change_values idxlist:', ((82584, 82584, 3058, 18), 1, (3058, 18)))
DEBUG:root:('change_values idxlist:', ((83313, 83313, 3085, 18), 1, (3085, 18)))
DEBUG:root:('change_values idxlist:', ((83529, 83529, 3093, 18), 1, (3093, 18)))
DEBUG:root:('change_values idxlist:', ((84906, 84906, 3144, 18), 1, (3144, 18)))
DEBUG:root:('change_values idxlist:', ((85203, 85203, 3155, 18), 1, (3155, 18)))
DEBUG:root:('change_values idxlist:', ((85770, 85770, 3176, 18), 1, (3176, 18)))
DEBUG:root:('change_values idxlist:', ((85932, 85932, 3182, 18), 1, (3182, 18)))
DEBUG:root:('change_values idxlist:', ((86094, 86094, 3188, 18), 1, (3188, 18)))

True

In [38]:
dcm1.state,dcm1.user,dcm1.state_detail

([(-1, -2),
  (0, -1),
  (1, 0),
  (2, 1),
  (3, 2),
  (4, 3),
  (5, 4),
  (6, 5),
  (7, 6),
  (8, 7),
  (9, 8),
  (10, 0)],
 {None: -1, 's1': 0, 'c1': 1, 'c2': 2},
 [(-1, {'op': 'initial'}, 0, -2, None),
  (0, 'perturbed_dataset', 0, -1, 0),
  (1, 'clean_duplicate_id_c1', 1, 0, 1),
  (2, 'clean_inconsistent_host_id_c1', 2, 1, 1),
  (3, 'clean_neighbourhood_c1', 3, 2, 1),
  (4, 'clean_latitude_c1', 4, 3, 1),
  (5, 'clean_longitude_c1', 5, 4, 1),
  (6, 'clean_room_type_c1', 6, 5, 1),
  (7, 'clean_minimum_nights_c1', 7, 6, 1),
  (8, 'clean_number_of_reviews_c1', 8, 7, 1),
  (9, 'clean_last_review_c1', 9, 8, 1),
  (10, 'clean_duplicate_id_c2', 10, 0, 2)])

In [39]:
#dcm1.change_df(workset_before,workset_after,"clean_duplicate_id_c2","c2",1)

In [40]:
workset_before = workset_after.copy()

In [41]:
check_pd = pd.DataFrame(dcm1.cell_values)
check_pd[check_pd[2]==0]

           0      1  2                  3      4
86427  86427     66  0  November 28, 2022     66
86428  86428     89  0        Entire home     89
86429  86429    167  0          Lhke eieu    167
86430  86430    170  0        Entire home    170
86431  86431    224  0        Entire home    224
...      ...    ... ..                ...    ...
88713  88713  86246  0          Apartment  86246
88714  88714  86273  0          Apartment  86273
88715  88715  86327  0          Apartment  86327
88716  88716  86381  0          Apartment  86381
88717  88717  86406  0          418945286  86406

[2291 rows x 5 columns]

# cleanup inconsistent host id
Each host_id value in the dataset should be associated with only one host_name. However, there may be inconsistencies in the dataset where a host_id is associated with different host_name values.

To clean this up, you can either change the host_name value to a consistent value based on information in the dataset, or flag the host_id_flag column to indicate that the row should be removed from downstream tasks.

For example, if you find that a host_id is associated with multiple host_name values, you may want to investigate further to determine which host_name is correct. If one of the host_name values is clearly incorrect (e.g., a misspelling or a name that does not match the owner of the property), you could update the host_name value to the correct value.

Alternatively, if you cannot determine the correct host_name value, or if you want to exclude the row from downstream tasks for other reasons, you can flag the host_id_flag column with a value of 1 to indicate that the row should be removed.

In [42]:
dup_host_id = airbnb_pd[airbnb_pd.host_id_flag==0]
dup_host_id = dup_host_id.groupby(["host_id","host_name"]).count()[["id"]].reset_index()
dup_host_id = dup_host_id.groupby("host_id").count()["id"].reset_index()

problem_n = dup_host_id.shape[0]
dq_problem = problem_n/problem_n
problem_n,dq_problem

(931, 1.0)

In [43]:
import re

def clean_host_id(df):
    dup_host_id = df[df.host_id_flag==0]
    dup_host_id = dup_host_id.groupby(["host_id","host_name"]).count()[["id"]].reset_index()
    dup_host_id = dup_host_id.groupby("host_id").count()["id"].reset_index()
    dup_host_id_df=dup_host_id[dup_host_id["id"]>1]
    dup_host_id_ls=list(dup_host_id_df["host_id"])
    for dup_host_id in dup_host_id_ls:
        temp_df=df[df["host_id"]==dup_host_id]
        temp_id_ls=list(temp_df.index)
        
        temp_match_ls=[]
        for id_ in temp_id_ls:
            string=temp_df.loc[id_,"host_name"]
            pattern = r"^[A-Z][a-z0-9_-]{3,19}$"  # here is only a simple way to clean the host_id
            match=re.match(pattern, string)
            if match:
                temp_match_ls.append(string)
            else:
                df.loc[id_,"host_id_flag"]=1  # while this method is also not perfect, since under same host_id, the host_name could be all wrong
        
        if len(set(temp_match_ls))!=1:
            for id_ in temp_id_ls:
                 df.loc[id_,"host_id_flag"]=2
    return df

In [44]:
airbnb_pd = clean_host_id(airbnb_pd)

# Inconsistent Host ID checking 

This query should return zero rows once you implement the cleaning process

In [45]:
dup_host_id = airbnb_pd
dup_host_id = dup_host_id.groupby(["host_id","host_name"]).count()[["id"]].reset_index()
dup_host_id = dup_host_id.groupby("host_id").count()["id"].reset_index()
dup_host_id[dup_host_id["id"]>1]
removal_flag = (airbnb_pd.host_id_flag!=0).sum()
corrected = dup_host_id.shape[0]


completeness = (problem_n-corrected) / problem_n
flagged = removal_flag / (problem_n/2)
completeness,flagged

(0.0, 0.4597207303974221)

In [46]:
dup_host_id = airbnb_pd[airbnb_pd.host_id_flag==0]
dup_host_id = dup_host_id.groupby(["host_id","host_name"]).count()[["id"]].reset_index()
dup_host_id = dup_host_id.groupby("host_id").count()["id"].reset_index()
dup_host_id[dup_host_id["id"]>1]

Empty DataFrame
Columns: [host_id, id]
Index: []

In [47]:
workset_after = assign_to_original(workset_after,airbnb_pd)

In [48]:
(workset_after.fillna("")!=workset_before.fillna("")).sum()

id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood_group                 0
neighbourhood                       0
latitude                            0
longitude                           0
room_type                           0
price                               0
minimum_nights                      0
number_of_reviews                   0
last_review                         0
reviews_per_month                   0
calculated_host_listings_count      0
availability_365                    0
number_of_reviews_ltm               0
license                             0
id_flag                             0
host_id_flag                      214
neighbourhood_flag                  0
latitude_flag                       0
longitude_flag                      0
minimum_nights_flag                 0
number_of_reviews_flag              0
last_review_flag                    0
room_type_flag                      0
dtype: int64

In [49]:
dcm1.change_df(workset_before,workset_after,"clean_inconsistent_host_id_c2","c2")

DEBUG:root:change values
DEBUG:root:('change_values pd_index:',                            0                        1   \
0                (0, 0, 0, 0)             (1, 1, 0, 1)
1              (27, 27, 1, 0)           (28, 28, 1, 1)
2              (54, 54, 2, 0)           (55, 55, 2, 1)
3              (81, 81, 3, 0)           (82, 82, 3, 1)
4            (108, 108, 4, 0)         (109, 109, 4, 1)
...                       ...                      ...
3196  (86292, 86292, 3196, 0)  (86293, 86293, 3196, 1)
3197  (86319, 86319, 3197, 0)  (86320, 86320, 3197, 1)
3198  (86346, 86346, 3198, 0)  (86347, 86347, 3198, 1)
3199  (86373, 86373, 3199, 0)  (86374, 86374, 3199, 1)
3200  (86400, 86400, 3200, 0)  (86401, 86401, 3200, 1)

                           2                        3   \
0                (2, 2, 0, 2)             (3, 3, 0, 3)
1              (29, 29, 1, 2)           (30, 30, 1, 3)
2              (56, 56, 2, 2)           (57, 57, 2, 3)
3              (83, 83, 3, 2)           (84, 84, 3, 3)
4            (110, 110, 4, 2)         (111, 111, 4, 3)
...                       ...                      ...
3196  (86294, 86294, 3196, 2)  (86295, 86295, 3196, 3)
3197  (86321, 86321, 3197, 2)  (86322, 86322, 3197, 3)
3198  (86348, 86348, 3198, 2)  (86349, 86349, 3198, 3)
3199  (86375, 86375, 3199, 2)  (86376, 86376, 3199, 3)
3200  (86402, 86402, 3200, 2)  (86403, 86403, 3200, 3)

                           4                        5   \
0                (4, 4, 0, 4)             (5, 5, 0, 5)
1              (31, 31, 1, 4)           (32, 32, 1, 5)
2              (58, 58, 2, 4)           (59, 59, 2, 5)
3              (85, 85, 3, 4)           (86, 86, 3, 5)
4            (112, 112, 4, 4)         (113, 113, 4, 5)
...                       ...                      ...
3196  (86296, 86296, 3196, 4)  (86297, 86297, 3196, 5)
3197  (86323, 86323, 3197, 4)  (86324, 86324, 3197, 5)
3198  (86350, 86350, 3198, 4)  (86351, 86351, 3198, 5)
3199  (86377, 86377, 3199, 4)  (86378, 86378, 3199, 5)
3200  (86404, 86404, 3200, 4)  (86405, 86405, 3200, 5)

                           6                        7   \
0                (6, 6, 0, 6)             (7, 7, 0, 7)
1              (33, 33, 1, 6)           (34, 34, 1, 7)
2              (60, 60, 2, 6)           (61, 61, 2, 7)
3              (87, 87, 3, 6)           (88, 88, 3, 7)
4            (114, 114, 4, 6)         (115, 115, 4, 7)
...                       ...                      ...
3196  (86298, 86298, 3196, 6)  (86299, 86299, 3196, 7)
3197  (86325, 86325, 3197, 6)  (86326, 86326, 3197, 7)
3198  (86352, 86352, 3198, 6)  (86353, 86353, 3198, 7)
3199  (86379, 86379, 3199, 6)  (86380, 86380, 3199, 7)
3200  (86406, 88717, 3200, 6)  (86407, 86407, 3200, 7)

                           8                        9   ...  \
0                (8, 8, 0, 8)             (9, 9, 0, 9)  ...
1              (35, 35, 1, 8)           (36, 36, 1, 9)  ...
2              (62, 62, 2, 8)           (63, 63, 2, 9)  ...
3           (89, 89638, 3, 8)           (90, 90, 3, 9)  ...
4            (116, 116, 4, 8)         (117, 117, 4, 9)  ...
...                       ...                      ...  ...
3196  (86300, 86300, 3196, 8)  (86301, 86301, 3196, 9)  ...
3197  (86327, 88715, 3197, 8)  (86328, 86328, 3197, 9)  ...
3198  (86354, 86354, 3198, 8)  (86355, 86355, 3198, 9)  ...
3199  (86381, 88716, 3199, 8)  (86382, 86382, 3199, 9)  ...
3200  (86408, 86408, 3200, 8)  (86409, 86409, 3200, 9)  ...

                            17                        18  \
0              (17, 17, 0, 17)           (18, 18, 0, 18)
1              (44, 44, 1, 17)           (45, 45, 1, 18)
2              (71, 71, 2, 17)           (72, 72, 2, 18)
3              (98, 98, 3, 17)           (99, 99, 3, 18)
4            (125, 125, 4, 17)         (126, 126, 4, 18)
...                        ...                       ...
3196  (86309, 86309, 3196, 17)  (86310, 86310, 3196, 18)
3197  (86336, 86336, 3197, 17)  (86337, 86337, 3197, 18)
3198  (86363, 86363, 3198, 17)  (86364, 86364, 3198, 18)
3199  (86390, 86390, 3199, 17)  (86391, 86391, 3199, 18)
3200  (86417, 86417, 3200, 17)  (86418, 86418, 3200, 18)

                            19                        20  \
0              (19, 19, 0, 19)           (20, 20, 0, 20)
1              (46, 46, 1, 19)           (47, 47, 1, 20)
2              (73, 73, 2, 19)           (74, 74, 2, 20)
3            (100, 100, 3, 19)         (101, 101, 3, 20)
4            (127, 127, 4, 19)         (128, 128, 4, 20)
...                        ...                       ...
3196  (86311, 86311, 3196, 19)  (86312, 86312, 3196, 20)
3197  (86338, 86338, 3197, 19)  (86339, 86339, 3197, 20)
3198  (86365, 86365, 3198, 19)  (86366, 86366, 3198, 20)
3199  (86392, 86392, 3199, 19)  (86393, 86393, 3199, 20)
3200  (86419, 86419, 3200, 19)  (86420, 86420, 3200, 20)

                            21                        22  \
0              (21, 21, 0, 21)           (22, 22, 0, 22)
1              (48, 48, 1, 21)           (49, 49, 1, 22)
2              (75, 75, 2, 21)           (76, 76, 2, 22)
3            (102, 102, 3, 21)         (103, 103, 3, 22)
4            (129, 129, 4, 21)         (130, 130, 4, 22)
...                        ...                       ...
3196  (86313, 86313, 3196, 21)  (86314, 86314, 3196, 22)
3197  (86340, 86340, 3197, 21)  (86341, 86341, 3197, 22)
3198  (86367, 86367, 3198, 21)  (86368, 86368, 3198, 22)
3199  (86394, 86394, 3199, 21)  (86395, 86395, 3199, 22)
3200  (86421, 86421, 3200, 21)  (86422, 86422, 3200, 22)

                            23                        24  \
0              (23, 23, 0, 23)           (24, 24, 0, 24)
1              (50, 50, 1, 23)           (51, 51, 1, 24)
2              (77, 77, 2, 23)           (78, 78, 2, 24)
3            (104, 104, 3, 23)         (105, 105, 3, 24)
4            (131, 131, 4, 23)         (132, 132, 4, 24)
...                        ...                       ...
3196  (86315, 86315, 3196, 23)  (86316, 86316, 3196, 24)
3197  (86342, 86342, 3197, 23)  (86343, 86343, 3197, 24)
3198  (86369, 86369, 3198, 23)  (86370, 86370, 3198, 24)
3199  (86396, 86396, 3199, 23)  (86397, 86397, 3199, 24)
3200  (86423, 86423, 3200, 23)  (86424, 86424, 3200, 24)

                            25                        26
0              (25, 25, 0, 25)           (26, 26, 0, 26)
1              (52, 52, 1, 25)           (53, 53, 1, 26)
2           (79, 89912, 2, 25)           (80, 80, 2, 26)
3            (106, 106, 3, 25)         (107, 107, 3, 26)
4            (133, 133, 4, 25)         (134, 134, 4, 26)
...                        ...                       ...
3196  (86317, 86317, 3196, 25)  (86318, 86318, 3196, 26)
3197  (86344, 86344, 3197, 25)  (86345, 86345, 3197, 26)
3198  (86371, 86371, 3198, 25)  (86372, 86372, 3198, 26)
3199  (86398, 86398, 3199, 25)  (86399, 86399, 3199, 26)
3200  (86425, 86425, 3200, 25)  (86426, 86426, 3200, 26)

[3201 rows x 27 columns], array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]]))
DEBUG:root:('idx:', array([(40573, 40573, 1502, 19), (41356, 41356, 1531, 19),
       (41653, 41653, 1542, 19), (41842, 41842, 1549, 19),
       (41869, 41869, 1550, 19), (41977, 41977, 1554, 19),
       (42004, 42004, 1555, 19), (42058, 42058, 1557, 19),
       (42517, 42517, 1574, 19), (42625, 42625, 1578, 19),
       (42652, 42652, 1579, 19), (42679, 42679, 1580, 19),
       (42733, 42733, 1582, 19), (43057, 43057, 1594, 19),
       (43246, 43246, 1601, 19), (43354, 43354, 1605, 19),
       (43381, 43381, 1606, 19), (43624, 43624, 1615, 19),
       (43786, 43786, 1621, 19), (43948, 43948, 1627, 19),
       (43975, 43975, 1628, 19), (44272, 44272, 1639, 19),
       (44569, 44569, 1650, 19), (44596, 44596, 1651, 19),
       (45082, 45082, 1669, 19), (45244, 45244, 1675, 19),
       (45271, 45271, 1676, 19), (45514, 45514, 1685, 19),
       (45595, 45595, 1688, 19), (45703, 45703, 1692, 19),
       (45865, 45865, 1698, 19), (46216, 46216, 1711, 19),
       (46243, 46243, 1712, 19), (46297, 46297, 1714, 19),
       (46486, 46486, 1721, 19), (46891, 46891, 1736, 19),
       (46918, 46918, 1737, 19), (46945, 46945, 1738, 19),
       (47512, 47512, 1759, 19), (47701, 47701, 1766, 19),
       (47728, 47728, 1767, 19), (48025, 48025, 1778, 19),
       (49726, 49726, 1841, 19), (49969, 49969, 1850, 19),
       (50266, 50266, 1861, 19), (50644, 50644, 1875, 19),
       (51346, 51346, 1901, 19), (51724, 51724, 1915, 19),
       (51778, 51778, 1917, 19), (51805, 51805, 1918, 19),
       (51832, 51832, 1919, 19), (52291, 52291, 1936, 19),
       (52588, 52588, 1947, 19), (52615, 52615, 1948, 19),
       (52777, 52777, 1954, 19), (52804, 52804, 1955, 19),
       (53047, 53047, 1964, 19), (53425, 53425, 1978, 19),
       (53668, 53668, 1987, 19), (54667, 54667, 2024, 19),
       (54694, 54694, 2025, 19), (54721, 54721, 2026, 19),
       (55072, 55072, 2039, 19), (55531, 55531, 2056, 19),
       (55720, 55720, 2063, 19), (56557, 56557, 2094, 19),
       (56773, 56773, 2102, 19), (57151, 57151, 2116, 19),
       (57529, 57529, 2130, 19), (57772, 57772, 2139, 19),
       (58069, 58069, 2150, 19), (58744, 58744, 2175, 19),
       (58852, 58852, 2179, 19), (59365, 59365, 2198, 19),
       (59392, 59392, 2199, 19), (59419, 59419, 2200, 19),
       (59608, 59608, 2207, 19), (59986, 59986, 2221, 19),
       (60013, 60013, 2222, 19), (60256, 60256, 2231, 19),
       (60445, 60445, 2238, 19), (60661, 60661, 2246, 19),
       (60958, 60958, 2257, 19), (61768, 61768, 2287, 19),
       (61822, 61822, 2289, 19), (62065, 62065, 2298, 19),
       (62389, 62389, 2310, 19), (63010, 63010, 2333, 19),
       (63226, 63226, 2341, 19), (63253, 63253, 2342, 19),
       (63280, 63280, 2343, 19), (63415, 63415, 2348, 19),
       (63469, 63469, 2350, 19), (63793, 63793, 2362, 19),
       (63820, 63820, 2363, 19), (63874, 63874, 2365, 19),
       (63928, 63928, 2367, 19), (64036, 64036, 2371, 19),
       (64198, 64198, 2377, 19), (64279, 64279, 2380, 19),
       (64306, 64306, 2381, 19), (64333, 64333, 2382, 19),
       (64360, 64360, 2383, 19), (64468, 64468, 2387, 19),
       (64657, 64657, 2394, 19), (64846, 64846, 2401, 19),
       (64873, 64873, 2402, 19), (64900, 64900, 2403, 19),
       (65143, 65143, 2412, 19), (65791, 65791, 2436, 19),
       (65845, 65845, 2438, 19), (65872, 65872, 2439, 19),
       (65980, 65980, 2443, 19), (66385, 66385, 2458, 19),
       (66439, 66439, 2460, 19), (66682, 66682, 2469, 19),
       (66709, 66709, 2470, 19), (67114, 67114, 2485, 19),
       (67924, 67924, 2515, 19), (68626, 68626, 2541, 19),
       (68869, 68869, 2550, 19), (68896, 68896, 2551, 19),
       (69517, 69517, 2574, 19), (69922, 69922, 2589, 19),
       (69949, 69949, 2590, 19), (70786, 70786, 2621, 19),
       (70813, 70813, 2622, 19), (70840, 70840, 2623, 19),
       (70867, 70867, 2624, 19), (71002, 71002, 2629, 19),
       (71812, 71812, 2659, 19), (71920, 71920, 2663, 19),
       (72028, 72028, 2667, 19), (72244, 72244, 2675, 19),
       (72406, 72406, 2681, 19), (72514, 72514, 2685, 19),
       (72946, 72946, 2701, 19), (73189, 73189, 2710, 19),
       (73648, 73648, 2727, 19), (74026, 74026, 2741, 19),
       (74080, 74080, 2743, 19), (74134, 74134, 2745, 19),
       (74377, 74377, 2754, 19), (74404, 74404, 2755, 19),
       (74539, 74539, 2760, 19), (74647, 74647, 2764, 19),
       (74674, 74674, 2765, 19), (74701, 74701, 2766, 19),
       (74728, 74728, 2767, 19), (74755, 74755, 2768, 19),
       (74782, 74782, 2769, 19), (74809, 74809, 2770, 19),
       (74836, 74836, 2771, 19), (74863, 74863, 2772, 19),
       (74890, 74890, 2773, 19), (74944, 74944, 2775, 19),
       (74971, 74971, 2776, 19), (75808, 75808, 2807, 19),
       (75889, 75889, 2810, 19), (76159, 76159, 2820, 19),
       (76186, 76186, 2821, 19), (76267, 76267, 2824, 19),
       (76294, 76294, 2825, 19), (77185, 77185, 2858, 19),
       (77212, 77212, 2859, 19), (77833, 77833, 2882, 19),
       (77914, 77914, 2885, 19), (77941, 77941, 2886, 19),
       (77995, 77995, 2888, 19), (78022, 78022, 2889, 19),
       (78184, 78184, 2895, 19), (78346, 78346, 2901, 19),
       (78373, 78373, 2902, 19), (78616, 78616, 2911, 19),
       (78886, 78886, 2921, 19), (78994, 78994, 2925, 19),
       (79075, 79075, 2928, 19), (79453, 79453, 2942, 19),
       (79480, 79480, 2943, 19), (79507, 79507, 2944, 19),
       (79750, 79750, 2953, 19), (79777, 79777, 2954, 19),
       (80209, 80209, 2970, 19), (80749, 80749, 2990, 19),
       (80776, 80776, 2991, 19), (80803, 80803, 2992, 19),
       (80857, 80857, 2994, 19), (80884, 80884, 2995, 19),
       (81019, 81019, 3000, 19), (81100, 81100, 3003, 19),
       (81127, 81127, 3004, 19), (81154, 81154, 3005, 19),
       (81370, 81370, 3013, 19), (81397, 81397, 3014, 19),
       (81505, 81505, 3018, 19), (81721, 81721, 3026, 19),
       (81775, 81775, 3028, 19), (81910, 81910, 3033, 19),
       (82072, 82072, 3039, 19), (82099, 82099, 3040, 19),
       (82369, 82369, 3050, 19), (82423, 82423, 3052, 19),
       (82612, 82612, 3059, 19), (83422, 83422, 3089, 19),
       (83611, 83611, 3096, 19), (83638, 83638, 3097, 19),
       (83719, 83719, 3100, 19), (83746, 83746, 3101, 19),
       (83773, 83773, 3102, 19), (84286, 84286, 3121, 19),
       (84583, 84583, 3132, 19), (84610, 84610, 3133, 19),
       (85501, 85501, 3166, 19), (85717, 85717, 3174, 19)], dtype=object), array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1,
       1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2,
       1, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2,
       2, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 1, 2,
       2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2], dtype=object))

DEBUG:root:('change_values idxlist:', [(40573, 40573, 1502, 19), (41356, 41356, 1531, 19), (41653, 41653, 1542, 19), (41842, 41842, 1549, 19), (41869, 41869, 1550, 19), (41977, 41977, 1554, 19), (42004, 42004, 1555, 19), (42058, 42058, 1557, 19), (42517, 42517, 1574, 19), (42625, 42625, 1578, 19), (42652, 42652, 1579, 19), (42679, 42679, 1580, 19), (42733, 42733, 1582, 19), (43057, 43057, 1594, 19), (43246, 43246, 1601, 19), (43354, 43354, 1605, 19), (43381, 43381, 1606, 19), (43624, 43624, 1615, 19), (43786, 43786, 1621, 19), (43948, 43948, 1627, 19), (43975, 43975, 1628, 19), (44272, 44272, 1639, 19), (44569, 44569, 1650, 19), (44596, 44596, 1651, 19), (45082, 45082, 1669, 19), (45244, 45244, 1675, 19), (45271, 45271, 1676, 19), (45514, 45514, 1685, 19), (45595, 45595, 1688, 19), (45703, 45703, 1692, 19), (45865, 45865, 1698, 19), (46216, 46216, 1711, 19), (46243, 46243, 1712, 19), (46297, 46297, 1714, 19), (46486, 46486, 1721, 19), (46891, 46891, 1736, 19), (46918, 46918, 1737, 19), (46945, 46945, 1738, 19), (47512, 47512, 1759, 19), (47701, 47701, 1766, 19), (47728, 47728, 1767, 19), (48025, 48025, 1778, 19), (49726, 49726, 1841, 19), (49969, 49969, 1850, 19), (50266, 50266, 1861, 19), (50644, 50644, 1875, 19), (51346, 51346, 1901, 19), (51724, 51724, 1915, 19), (51778, 51778, 1917, 19), (51805, 51805, 1918, 19), (51832, 51832, 1919, 19), (52291, 52291, 1936, 19), (52588, 52588, 1947, 19), (52615, 52615, 1948, 19), (52777, 52777, 1954, 19), (52804, 52804, 1955, 19), (53047, 53047, 1964, 19), (53425, 53425, 1978, 19), (53668, 53668, 1987, 19), (54667, 54667, 2024, 19), (54694, 54694, 2025, 19), (54721, 54721, 2026, 19), (55072, 55072, 2039, 19), (55531, 55531, 2056, 19), (55720, 55720, 2063, 19), (56557, 56557, 2094, 19), (56773, 56773, 2102, 19), (57151, 57151, 2116, 19), (57529, 57529, 2130, 19), (57772, 57772, 2139, 19), (58069, 58069, 2150, 19), (58744, 58744, 2175, 19), (58852, 58852, 2179, 19), (59365, 59365, 2198, 19), (59392, 59392, 2199, 19), (59419, 59419, 2200, 19), (59608, 59608, 2207, 19), (59986, 59986, 2221, 19), (60013, 60013, 2222, 19), (60256, 60256, 2231, 19), (60445, 60445, 2238, 19), (60661, 60661, 2246, 19), (60958, 60958, 2257, 19), (61768, 61768, 2287, 19), (61822, 61822, 2289, 19), (62065, 62065, 2298, 19), (62389, 62389, 2310, 19), (63010, 63010, 2333, 19), (63226, 63226, 2341, 19), (63253, 63253, 2342, 19), (63280, 63280, 2343, 19), (63415, 63415, 2348, 19), (63469, 63469, 2350, 19), (63793, 63793, 2362, 19), (63820, 63820, 2363, 19), (63874, 63874, 2365, 19), (63928, 63928, 2367, 19), (64036, 64036, 2371, 19), (64198, 64198, 2377, 19), (64279, 64279, 2380, 19), (64306, 64306, 2381, 19), (64333, 64333, 2382, 19), (64360, 64360, 2383, 19), (64468, 64468, 2387, 19), (64657, 64657, 2394, 19), (64846, 64846, 2401, 19), (64873, 64873, 2402, 19), (64900, 64900, 2403, 19), (65143, 65143, 2412, 19), (65791, 65791, 2436, 19), (65845, 65845, 2438, 19), (65872, 65872, 2439, 19), (65980, 65980, 2443, 19), (66385, 66385, 2458, 19), (66439, 66439, 2460, 19), (66682, 66682, 2469, 19), (66709, 66709, 2470, 19), (67114, 67114, 2485, 19), (67924, 67924, 2515, 19), (68626, 68626, 2541, 19), (68869, 68869, 2550, 19), (68896, 68896, 2551, 19), (69517, 69517, 2574, 19), (69922, 69922, 2589, 19), (69949, 69949, 2590, 19), (70786, 70786, 2621, 19), (70813, 70813, 2622, 19), (70840, 70840, 2623, 19), (70867, 70867, 2624, 19), (71002, 71002, 2629, 19), (71812, 71812, 2659, 19), (71920, 71920, 2663, 19), (72028, 72028, 2667, 19), (72244, 72244, 2675, 19), (72406, 72406, 2681, 19), (72514, 72514, 2685, 19), (72946, 72946, 2701, 19), (73189, 73189, 2710, 19), (73648, 73648, 2727, 19), (74026, 74026, 2741, 19), (74080, 74080, 2743, 19), (74134, 74134, 2745, 19), (74377, 74377, 2754, 19), (74404, 74404, 2755, 19), (74539, 74539, 2760, 19), (74647, 74647, 2764, 19), (74674, 74674, 2765, 19), (74701, 74701, 2766, 19), (74728, 74728, 2767, 19), (74755, 74755, 2768, 19), (74782, 74782, 2769, 19), (74809, 74809, 2770, 19), (74836, 74836, 2771, 19), (74863, 74863, 2772, 19), (74890, 74890, 2773, 19), (74944, 74944, 2775, 19), (74971, 74971, 2776, 19), (75808, 75808, 2807, 19), (75889, 75889, 2810, 19), (76159, 76159, 2820, 19), (76186, 76186, 2821, 19), (76267, 76267, 2824, 19), (76294, 76294, 2825, 19), (77185, 77185, 2858, 19), (77212, 77212, 2859, 19), (77833, 77833, 2882, 19), (77914, 77914, 2885, 19), (77941, 77941, 2886, 19), (77995, 77995, 2888, 19), (78022, 78022, 2889, 19), (78184, 78184, 2895, 19), (78346, 78346, 2901, 19), (78373, 78373, 2902, 19), (78616, 78616, 2911, 19), (78886, 78886, 2921, 19), (78994, 78994, 2925, 19), (79075, 79075, 2928, 19), (79453, 79453, 2942, 19), (79480, 79480, 2943, 19), (79507, 79507, 2944, 19), (79750, 79750, 2953, 19), (79777, 79777, 2954, 19), (80209, 80209, 2970, 19), (80749, 80749, 2990, 19), (80776, 80776, 2991, 19), (80803, 80803, 2992, 19), (80857, 80857, 2994, 19), (80884, 80884, 2995, 19), (81019, 81019, 3000, 19), (81100, 81100, 3003, 19), (81127, 81127, 3004, 19), (81154, 81154, 3005, 19), (81370, 81370, 3013, 19), (81397, 81397, 3014, 19), (81505, 81505, 3018, 19), (81721, 81721, 3026, 19), (81775, 81775, 3028, 19), (81910, 81910, 3033, 19), (82072, 82072, 3039, 19), (82099, 82099, 3040, 19), (82369, 82369, 3050, 19), (82423, 82423, 3052, 19), (82612, 82612, 3059, 19), (83422, 83422, 3089, 19), (83611, 83611, 3096, 19), (83638, 83638, 3097, 19), (83719, 83719, 3100, 19), (83746, 83746, 3101, 19), (83773, 83773, 3102, 19), (84286, 84286, 3121, 19), (84583, 84583, 3132, 19), (84610, 84610, 3133, 19), (85501, 85501, 3166, 19), (85717, 85717, 3174, 19)], [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2])
DEBUG:root:('change_values idxlist:', ((40573, 40573, 1502, 19), 2, (1502, 19)))
DEBUG:root:('change_values idxlist:', ((41356, 41356, 1531, 19), 2, (1531, 19)))
DEBUG:root:('change_values idxlist:', ((41653, 41653, 1542, 19), 2, (1542, 19)))
DEBUG:root:('change_values idxlist:', ((41842, 41842, 1549, 19), 2, (1549, 19)))
DEBUG:root:('change_values idxlist:', ((41869, 41869, 1550, 19), 2, (1550, 19)))
DEBUG:root:('change_values idxlist:', ((41977, 41977, 1554, 19), 2, (1554, 19)))
DEBUG:root:('change_values idxlist:', ((42004, 42004, 1555, 19), 2, (1555, 19)))
DEBUG:root:('change_values idxlist:', ((42058, 42058, 1557, 19), 2, (1557, 19)))
DEBUG:root:('change_values idxlist:', ((42517, 42517, 1574, 19), 2, (1574, 19)))
DEBUG:root:('change_values idxlist:', ((42625, 42625, 1578, 19), 2, (1578, 19)))
DEBUG:root:('change_values idxlist:', ((42652, 42652, 1579, 19), 2, (1579, 19)))
DEBUG:root:('change_values idxlist:', ((42679, 42679, 1580, 19), 2, (1580, 19)))
DEBUG:root:('change_values idxlist:', ((42733, 42733, 1582, 19), 2, (1582, 19)))
DEBUG:root:('change_values idxlist:', ((43057, 43057, 1594, 19), 2, (1594, 19)))
DEBUG:root:('change_values idxlist:', ((43246, 43246, 1601, 19), 2, (1601, 19)))
DEBUG:root:('change_values idxlist:', ((43354, 43354, 1605, 19), 2, (1605, 19)))
DEBUG:root:('change_values idxlist:', ((43381, 43381, 1606, 19), 2, (1606, 19)))
DEBUG:root:('change_values idxlist:', ((43624, 43624, 1615, 19), 2, (1615, 19)))
DEBUG:root:('change_values idxlist:', ((43786, 43786, 1621, 19), 2, (1621, 19)))
DEBUG:root:('change_values idxlist:', ((43948, 43948, 1627, 19), 2, (1627, 19)))
DEBUG:root:('change_values idxlist:', ((43975, 43975, 1628, 19), 2, (1628, 19)))
DEBUG:root:('change_values idxlist:', ((44272, 44272, 1639, 19), 2, (1639, 19)))
DEBUG:root:('change_values idxlist:', ((44569, 44569, 1650, 19), 2, (1650, 19)))
DEBUG:root:('change_values idxlist:', ((44596, 44596, 1651, 19), 2, (1651, 19)))
DEBUG:root:('change_values idxlist:', ((45082, 45082, 1669, 19), 1, (1669, 19)))

DEBUG:root:('change_values idxlist:', ((45244, 45244, 1675, 19), 2, (1675, 19)))
DEBUG:root:('change_values idxlist:', ((45271, 45271, 1676, 19), 2, (1676, 19)))
DEBUG:root:('change_values idxlist:', ((45514, 45514, 1685, 19), 2, (1685, 19)))
DEBUG:root:('change_values idxlist:', ((45595, 45595, 1688, 19), 2, (1688, 19)))
DEBUG:root:('change_values idxlist:', ((45703, 45703, 1692, 19), 2, (1692, 19)))
DEBUG:root:('change_values idxlist:', ((45865, 45865, 1698, 19), 2, (1698, 19)))
DEBUG:root:('change_values idxlist:', ((46216, 46216, 1711, 19), 2, (1711, 19)))
DEBUG:root:('change_values idxlist:', ((46243, 46243, 1712, 19), 2, (1712, 19)))
DEBUG:root:('change_values idxlist:', ((46297, 46297, 1714, 19), 1, (1714, 19)))
DEBUG:root:('change_values idxlist:', ((46486, 46486, 1721, 19), 2, (1721, 19)))
DEBUG:root:('change_values idxlist:', ((46891, 46891, 1736, 19), 2, (1736, 19)))
DEBUG:root:('change_values idxlist:', ((46918, 46918, 1737, 19), 2, (1737, 19)))
DEBUG:root:('change_values idxlist:', ((46945, 46945, 1738, 19), 2, (1738, 19)))
DEBUG:root:('change_values idxlist:', ((47512, 47512, 1759, 19), 2, (1759, 19)))
DEBUG:root:('change_values idxlist:', ((47701, 47701, 1766, 19), 2, (1766, 19)))
DEBUG:root:('change_values idxlist:', ((47728, 47728, 1767, 19), 2, (1767, 19)))
DEBUG:root:('change_values idxlist:', ((48025, 48025, 1778, 19), 2, (1778, 19)))
DEBUG:root:('change_values idxlist:', ((49726, 49726, 1841, 19), 2, (1841, 19)))
DEBUG:root:('change_values idxlist:', ((49969, 49969, 1850, 19), 2, (1850, 19)))
DEBUG:root:('change_values idxlist:', ((50266, 50266, 1861, 19), 2, (1861, 19)))
DEBUG:root:('change_values idxlist:', ((50644, 50644, 1875, 19), 2, (1875, 19)))
DEBUG:root:('change_values idxlist:', ((51346, 51346, 1901, 19), 2, (1901, 19)))
DEBUG:root:('change_values idxlist:', ((51724, 51724, 1915, 19), 2, (1915, 19)))
DEBUG:root:('change_values idxlist:', ((51778, 51778, 1917, 19), 2, (1917, 19)))
DEBUG:root:('change_values idxlist:', ((51805, 51805, 1918, 19), 2, (1918, 19)))
DEBUG:root:('change_values idxlist:', ((51832, 51832, 1919, 19), 2, (1919, 19)))
DEBUG:root:('change_values idxlist:', ((52291, 52291, 1936, 19), 2, (1936, 19)))
DEBUG:root:('change_values idxlist:', ((52588, 52588, 1947, 19), 1, (1947, 19)))
DEBUG:root:('change_values idxlist:', ((52615, 52615, 1948, 19), 2, (1948, 19)))
DEBUG:root:('change_values idxlist:', ((52777, 52777, 1954, 19), 2, (1954, 19)))
DEBUG:root:('change_values idxlist:', ((52804, 52804, 1955, 19), 2, (1955, 19)))
DEBUG:root:('change_values idxlist:', ((53047, 53047, 1964, 19), 2, (1964, 19)))
DEBUG:root:('change_values idxlist:', ((53425, 53425, 1978, 19), 2, (1978, 19)))
DEBUG:root:('change_values idxlist:', ((53668, 53668, 1987, 19), 2, (1987, 19)))
DEBUG:root:('change_values idxlist:', ((54667, 54667, 2024, 19), 2, (2024, 19)))
DEBUG:root:('change_values idxlist:', ((54694, 54694, 2025, 19), 2, (2025, 19)))
DEBUG:root:('change_values idxlist:', ((54721, 54721, 2026, 19), 2, (2026, 19)))
DEBUG:root:('change_values idxlist:', ((55072, 55072, 2039, 19), 2, (2039, 19)))
DEBUG:root:('change_values idxlist:', ((55531, 55531, 2056, 19), 1, (2056, 19)))
DEBUG:root:('change_values idxlist:', ((55720, 55720, 2063, 19), 2, (2063, 19)))
DEBUG:root:('change_values idxlist:', ((56557, 56557, 2094, 19), 1, (2094, 19)))
DEBUG:root:('change_values idxlist:', ((56773, 56773, 2102, 19), 1, (2102, 19)))
DEBUG:root:('change_values idxlist:', ((57151, 57151, 2116, 19), 2, (2116, 19)))
DEBUG:root:('change_values idxlist:', ((57529, 57529, 2130, 19), 2, (2130, 19)))
DEBUG:root:('change_values idxlist:', ((57772, 57772, 2139, 19), 2, (2139, 19)))
DEBUG:root:('change_values idxlist:', ((58069, 58069, 2150, 19), 2, (2150, 19)))
DEBUG:root:('change_values idxlist:', ((58744, 58744, 2175, 19), 2, (2175, 19)))
DEBUG:root:('change_values idxlist:', ((58852, 58852, 2179, 19), 1, (2179, 19)))
DEBUG:root:('change_values idxlist:', ((59365, 59365, 2198, 19), 2, (2198, 19)))
DEBUG:root:('change_values idxlist:', ((59392, 59392, 2199, 19), 2, (2199, 19)))
DEBUG:root:('change_values idxlist:', ((59419, 59419, 2200, 19), 2, (2200, 19)))
DEBUG:root:('change_values idxlist:', ((59608, 59608, 2207, 19), 2, (2207, 19)))
DEBUG:root:('change_values idxlist:', ((59986, 59986, 2221, 19), 2, (2221, 19)))
DEBUG:root:('change_values idxlist:', ((60013, 60013, 2222, 19), 2, (2222, 19)))
DEBUG:root:('change_values idxlist:', ((60256, 60256, 2231, 19), 2, (2231, 19)))
DEBUG:root:('change_values idxlist:', ((60445, 60445, 2238, 19), 2, (2238, 19)))
DEBUG:root:('change_values idxlist:', ((60661, 60661, 2246, 19), 2, (2246, 19)))
DEBUG:root:('change_values idxlist:', ((60958, 60958, 2257, 19), 2, (2257, 19)))
DEBUG:root:('change_values idxlist:', ((61768, 61768, 2287, 19), 2, (2287, 19)))
DEBUG:root:('change_values idxlist:', ((61822, 61822, 2289, 19), 1, (2289, 19)))
DEBUG:root:('change_values idxlist:', ((62065, 62065, 2298, 19), 1, (2298, 19)))
DEBUG:root:('change_values idxlist:', ((62389, 62389, 2310, 19), 2, (2310, 19)))
DEBUG:root:('change_values idxlist:', ((63010, 63010, 2333, 19), 2, (2333, 19)))
DEBUG:root:('change_values idxlist:', ((63226, 63226, 2341, 19), 1, (2341, 19)))
DEBUG:root:('change_values idxlist:', ((63253, 63253, 2342, 19), 2, (2342, 19)))
DEBUG:root:('change_values idxlist:', ((63280, 63280, 2343, 19), 2, (2343, 19)))
DEBUG:root:('change_values idxlist:', ((63415, 63415, 2348, 19), 1, (2348, 19)))
DEBUG:root:('change_values idxlist:', ((63469, 63469, 2350, 19), 2, (2350, 19)))
DEBUG:root:('change_values idxlist:', ((63793, 63793, 2362, 19), 2, (2362, 19)))
DEBUG:root:('change_values idxlist:', ((63820, 63820, 2363, 19), 2, (2363, 19)))
DEBUG:root:('change_values idxlist:', ((63874, 63874, 2365, 19), 2, (2365, 19)))
DEBUG:root:('change_values idxlist:', ((63928, 63928, 2367, 19), 2, (2367, 19)))
DEBUG:root:('change_values idxlist:', ((64036, 64036, 2371, 19), 1, (2371, 19)))
DEBUG:root:('change_values idxlist:', ((64198, 64198, 2377, 19), 2, (2377, 19)))
DEBUG:root:('change_values idxlist:', ((64279, 64279, 2380, 19), 2, (2380, 19)))
DEBUG:root:('change_values idxlist:', ((64306, 64306, 2381, 19), 2, (2381, 19)))
DEBUG:root:('change_values idxlist:', ((64333, 64333, 2382, 19), 2, (2382, 19)))
DEBUG:root:('change_values idxlist:', ((64360, 64360, 2383, 19), 2, (2383, 19)))
DEBUG:root:('change_values idxlist:', ((64468, 64468, 2387, 19), 1, (2387, 19)))
DEBUG:root:('change_values idxlist:', ((64657, 64657, 2394, 19), 2, (2394, 19)))
DEBUG:root:('change_values idxlist:', ((64846, 64846, 2401, 19), 2, (2401, 19)))
DEBUG:root:('change_values idxlist:', ((64873, 64873, 2402, 19), 2, (2402, 19)))
DEBUG:root:('change_values idxlist:', ((64900, 64900, 2403, 19), 2, (2403, 19)))
DEBUG:root:('change_values idxlist:', ((65143, 65143, 2412, 19), 1, (2412, 19)))
DEBUG:root:('change_values idxlist:', ((65791, 65791, 2436, 19), 2, (2436, 19)))
DEBUG:root:('change_values idxlist:', ((65845, 65845, 2438, 19), 2, (2438, 19)))
DEBUG:root:('change_values idxlist:', ((65872, 65872, 2439, 19), 2, (2439, 19)))
DEBUG:root:('change_values idxlist:', ((65980, 65980, 2443, 19), 2, (2443, 19)))
DEBUG:root:('change_values idxlist:', ((66385, 66385, 2458, 19), 2, (2458, 19)))
DEBUG:root:('change_values idxlist:', ((66439, 66439, 2460, 19), 1, (2460, 19)))
DEBUG:root:('change_values idxlist:', ((66682, 66682, 2469, 19), 2, (2469, 19)))
DEBUG:root:('change_values idxlist:', ((66709, 66709, 2470, 19), 1, (2470, 19)))
DEBUG:root:('change_values idxlist:', ((67114, 67114, 2485, 19), 2, (2485, 19)))
DEBUG:root:('change_values idxlist:', ((67924, 67924, 2515, 19), 1, (2515, 19)))
DEBUG:root:('change_values idxlist:', ((68626, 68626, 2541, 19), 2, (2541, 19)))
DEBUG:root:('change_values idxlist:', ((68869, 68869, 2550, 19), 2, (2550, 19)))
DEBUG:root:('change_values idxlist:', ((68896, 68896, 2551, 19), 2, (2551, 19)))
DEBUG:root:('change_values idxlist:', ((69517, 69517, 2574, 19), 2, (2574, 19)))
DEBUG:root:('change_values idxlist:', ((69922, 69922, 2589, 19), 1, (2589, 19)))
DEBUG:root:('change_values idxlist:', ((69949, 69949, 2590, 19), 1, (2590, 19)))
DEBUG:root:('change_values idxlist:', ((70786, 70786, 2621, 19), 1, (2621, 19)))
DEBUG:root:('change_values idxlist:', ((70813, 70813, 2622, 19), 2, (2622, 19)))

DEBUG:root:('change_values idxlist:', ((70840, 70840, 2623, 19), 2, (2623, 19)))
DEBUG:root:('change_values idxlist:', ((70867, 70867, 2624, 19), 2, (2624, 19)))
DEBUG:root:('change_values idxlist:', ((71002, 71002, 2629, 19), 2, (2629, 19)))
DEBUG:root:('change_values idxlist:', ((71812, 71812, 2659, 19), 2, (2659, 19)))
DEBUG:root:('change_values idxlist:', ((71920, 71920, 2663, 19), 2, (2663, 19)))
DEBUG:root:('change_values idxlist:', ((72028, 72028, 2667, 19), 2, (2667, 19)))
DEBUG:root:('change_values idxlist:', ((72244, 72244, 2675, 19), 2, (2675, 19)))
DEBUG:root:('change_values idxlist:', ((72406, 72406, 2681, 19), 2, (2681, 19)))
DEBUG:root:('change_values idxlist:', ((72514, 72514, 2685, 19), 1, (2685, 19)))
DEBUG:root:('change_values idxlist:', ((72946, 72946, 2701, 19), 2, (2701, 19)))
DEBUG:root:('change_values idxlist:', ((73189, 73189, 2710, 19), 1, (2710, 19)))
DEBUG:root:('change_values idxlist:', ((73648, 73648, 2727, 19), 1, (2727, 19)))
DEBUG:root:('change_values idxlist:', ((74026, 74026, 2741, 19), 2, (2741, 19)))
DEBUG:root:('change_values idxlist:', ((74080, 74080, 2743, 19), 2, (2743, 19)))
DEBUG:root:('change_values idxlist:', ((74134, 74134, 2745, 19), 2, (2745, 19)))
DEBUG:root:('change_values idxlist:', ((74377, 74377, 2754, 19), 2, (2754, 19)))
DEBUG:root:('change_values idxlist:', ((74404, 74404, 2755, 19), 2, (2755, 19)))
DEBUG:root:('change_values idxlist:', ((74539, 74539, 2760, 19), 2, (2760, 19)))
DEBUG:root:('change_values idxlist:', ((74647, 74647, 2764, 19), 2, (2764, 19)))
DEBUG:root:('change_values idxlist:', ((74674, 74674, 2765, 19), 2, (2765, 19)))
DEBUG:root:('change_values idxlist:', ((74701, 74701, 2766, 19), 2, (2766, 19)))
DEBUG:root:('change_values idxlist:', ((74728, 74728, 2767, 19), 2, (2767, 19)))
DEBUG:root:('change_values idxlist:', ((74755, 74755, 2768, 19), 2, (2768, 19)))
DEBUG:root:('change_values idxlist:', ((74782, 74782, 2769, 19), 2, (2769, 19)))
DEBUG:root:('change_values idxlist:', ((74809, 74809, 2770, 19), 2, (2770, 19)))
DEBUG:root:('change_values idxlist:', ((74836, 74836, 2771, 19), 2, (2771, 19)))
DEBUG:root:('change_values idxlist:', ((74863, 74863, 2772, 19), 2, (2772, 19)))
DEBUG:root:('change_values idxlist:', ((74890, 74890, 2773, 19), 2, (2773, 19)))
DEBUG:root:('change_values idxlist:', ((74944, 74944, 2775, 19), 2, (2775, 19)))
DEBUG:root:('change_values idxlist:', ((74971, 74971, 2776, 19), 2, (2776, 19)))
DEBUG:root:('change_values idxlist:', ((75808, 75808, 2807, 19), 2, (2807, 19)))
DEBUG:root:('change_values idxlist:', ((75889, 75889, 2810, 19), 2, (2810, 19)))
DEBUG:root:('change_values idxlist:', ((76159, 76159, 2820, 19), 2, (2820, 19)))
DEBUG:root:('change_values idxlist:', ((76186, 76186, 2821, 19), 2, (2821, 19)))
DEBUG:root:('change_values idxlist:', ((76267, 76267, 2824, 19), 2, (2824, 19)))
DEBUG:root:('change_values idxlist:', ((76294, 76294, 2825, 19), 1, (2825, 19)))
DEBUG:root:('change_values idxlist:', ((77185, 77185, 2858, 19), 2, (2858, 19)))
DEBUG:root:('change_values idxlist:', ((77212, 77212, 2859, 19), 1, (2859, 19)))
DEBUG:root:('change_values idxlist:', ((77833, 77833, 2882, 19), 2, (2882, 19)))
DEBUG:root:('change_values idxlist:', ((77914, 77914, 2885, 19), 2, (2885, 19)))
DEBUG:root:('change_values idxlist:', ((77941, 77941, 2886, 19), 2, (2886, 19)))
DEBUG:root:('change_values idxlist:', ((77995, 77995, 2888, 19), 2, (2888, 19)))
DEBUG:root:('change_values idxlist:', ((78022, 78022, 2889, 19), 2, (2889, 19)))
DEBUG:root:('change_values idxlist:', ((78184, 78184, 2895, 19), 2, (2895, 19)))
DEBUG:root:('change_values idxlist:', ((78346, 78346, 2901, 19), 2, (2901, 19)))
DEBUG:root:('change_values idxlist:', ((78373, 78373, 2902, 19), 2, (2902, 19)))
DEBUG:root:('change_values idxlist:', ((78616, 78616, 2911, 19), 2, (2911, 19)))
DEBUG:root:('change_values idxlist:', ((78886, 78886, 2921, 19), 2, (2921, 19)))
DEBUG:root:('change_values idxlist:', ((78994, 78994, 2925, 19), 2, (2925, 19)))
DEBUG:root:('change_values idxlist:', ((79075, 79075, 2928, 19), 1, (2928, 19)))
DEBUG:root:('change_values idxlist:', ((79453, 79453, 2942, 19), 2, (2942, 19)))
DEBUG:root:('change_values idxlist:', ((79480, 79480, 2943, 19), 2, (2943, 19)))
DEBUG:root:('change_values idxlist:', ((79507, 79507, 2944, 19), 2, (2944, 19)))
DEBUG:root:('change_values idxlist:', ((79750, 79750, 2953, 19), 2, (2953, 19)))
DEBUG:root:('change_values idxlist:', ((79777, 79777, 2954, 19), 2, (2954, 19)))
DEBUG:root:('change_values idxlist:', ((80209, 80209, 2970, 19), 2, (2970, 19)))
DEBUG:root:('change_values idxlist:', ((80749, 80749, 2990, 19), 2, (2990, 19)))
DEBUG:root:('change_values idxlist:', ((80776, 80776, 2991, 19), 2, (2991, 19)))
DEBUG:root:('change_values idxlist:', ((80803, 80803, 2992, 19), 2, (2992, 19)))
DEBUG:root:('change_values idxlist:', ((80857, 80857, 2994, 19), 2, (2994, 19)))
DEBUG:root:('change_values idxlist:', ((80884, 80884, 2995, 19), 2, (2995, 19)))
DEBUG:root:('change_values idxlist:', ((81019, 81019, 3000, 19), 2, (3000, 19)))
DEBUG:root:('change_values idxlist:', ((81100, 81100, 3003, 19), 2, (3003, 19)))
DEBUG:root:('change_values idxlist:', ((81127, 81127, 3004, 19), 1, (3004, 19)))
DEBUG:root:('change_values idxlist:', ((81154, 81154, 3005, 19), 1, (3005, 19)))
DEBUG:root:('change_values idxlist:', ((81370, 81370, 3013, 19), 2, (3013, 19)))
DEBUG:root:('change_values idxlist:', ((81397, 81397, 3014, 19), 2, (3014, 19)))
DEBUG:root:('change_values idxlist:', ((81505, 81505, 3018, 19), 1, (3018, 19)))
DEBUG:root:('change_values idxlist:', ((81721, 81721, 3026, 19), 2, (3026, 19)))
DEBUG:root:('change_values idxlist:', ((81775, 81775, 3028, 19), 1, (3028, 19)))
DEBUG:root:('change_values idxlist:', ((81910, 81910, 3033, 19), 2, (3033, 19)))
DEBUG:root:('change_values idxlist:', ((82072, 82072, 3039, 19), 2, (3039, 19)))
DEBUG:root:('change_values idxlist:', ((82099, 82099, 3040, 19), 2, (3040, 19)))
DEBUG:root:('change_values idxlist:', ((82369, 82369, 3050, 19), 2, (3050, 19)))
DEBUG:root:('change_values idxlist:', ((82423, 82423, 3052, 19), 1, (3052, 19)))
DEBUG:root:('change_values idxlist:', ((82612, 82612, 3059, 19), 1, (3059, 19)))
DEBUG:root:('change_values idxlist:', ((83422, 83422, 3089, 19), 1, (3089, 19)))
DEBUG:root:('change_values idxlist:', ((83611, 83611, 3096, 19), 2, (3096, 19)))
DEBUG:root:('change_values idxlist:', ((83638, 83638, 3097, 19), 2, (3097, 19)))
DEBUG:root:('change_values idxlist:', ((83719, 83719, 3100, 19), 2, (3100, 19)))
DEBUG:root:('change_values idxlist:', ((83746, 83746, 3101, 19), 2, (3101, 19)))
DEBUG:root:('change_values idxlist:', ((83773, 83773, 3102, 19), 2, (3102, 19)))
DEBUG:root:('change_values idxlist:', ((84286, 84286, 3121, 19), 2, (3121, 19)))
DEBUG:root:('change_values idxlist:', ((84583, 84583, 3132, 19), 2, (3132, 19)))
DEBUG:root:('change_values idxlist:', ((84610, 84610, 3133, 19), 2, (3133, 19)))
DEBUG:root:('change_values idxlist:', ((85501, 85501, 3166, 19), 1, (3166, 19)))
DEBUG:root:('change_values idxlist:', ((85717, 85717, 3174, 19), 2, (3174, 19)))

True

In [50]:
dcm1.state_detail

[(-1, {'op': 'initial'}, 0, -2, None),
 (0, 'perturbed_dataset', 0, -1, 0),
 (1, 'clean_duplicate_id_c1', 1, 0, 1),
 (2, 'clean_inconsistent_host_id_c1', 2, 1, 1),
 (3, 'clean_neighbourhood_c1', 3, 2, 1),
 (4, 'clean_latitude_c1', 4, 3, 1),
 (5, 'clean_longitude_c1', 5, 4, 1),
 (6, 'clean_room_type_c1', 6, 5, 1),
 (7, 'clean_minimum_nights_c1', 7, 6, 1),
 (8, 'clean_number_of_reviews_c1', 8, 7, 1),
 (9, 'clean_last_review_c1', 9, 8, 1),
 (10, 'clean_duplicate_id_c2', 10, 0, 2),
 (11, 'clean_inconsistent_host_id_c2', 11, 10, 2)]

In [51]:
workset_before = workset_after.copy()

In [52]:
check_pd = pd.DataFrame(dcm1.cell_values)
check_pd[check_pd[2]==1]

           0      1  2  3      4
88718  88718    423  1  1    423
88719  88719   2313  1  1   2313
88720  88720   3420  1  1   3420
88721  88721   4122  1  1   4122
88722  88722   4392  1  1   4392
...      ...    ... .. ..    ...
88783  88783  35037  1  1  35037
88784  88784  35280  1  1  35280
88785  88785  36522  1  1  36522
88786  88786  36630  1  1  36630
88787  88787  38466  1  1  38466

[70 rows x 5 columns]

# cleanup neighbourhood
The neighbourhood column in the dataset should contain values that match the neighbourhoods defined in the official neighbourhood_list. However, there may be some values in the neighbourhood column that are incorrect due to errors or noise in the data.

To clean up the neighbourhood column, you can try to match each value in the column to a valid neighbourhood in the neighbourhood_list using a string distance function such as abydos. If you can successfully match a value in the neighbourhood column to a neighbourhood in the neighbourhood_list, you can replace the value in the dataset with the correct neighbourhood name.

However, if you are unsure about how to clean up a particular value in the neighbourhood column, or if you cannot match the value to a valid neighbourhood in the neighbourhood_list, you can flag the row for deletion by setting the neighbourhood_flag column to a value of 1. If the value in the neighbourhood column is null and you cannot make a determination based on other information in the dataset, you can set the neighbourhood_flag column to a value of 2 to indicate that the row should be included but the neighbourhood value is null.

You can also use the latitude and longitude columns in the dataset to help match values in the neighbourhood column to valid neighbourhoods in the neighbourhood_list. However, you should be aware that the latitude and longitude values may also contain errors or noise, so you should exercise caution when using these columns to clean up the neighbourhood column.

In [53]:
neighbourhood_list = [ 'Hyde Park', 'West Town', 'Lincoln Park', 'Near West Side', 'Lake View',    'Dunning', 'Rogers Park', 'Logan Square', 'Uptown', 'Edgewater',    'North Center', 'Albany Park', 'West Ridge', 'Pullman', 'Irving Park',    'Beverly', 'Lower West Side', 'Near South Side', 'Near North Side',    'Grand Boulevard', 'Bridgeport', 'Humboldt Park', 'Chatham', 'Kenwood',    'Loop', 'West Lawn', 'Lincoln Square', 'Woodlawn', 'Avondale',    'Forest Glen', 'Portage Park', 'East Garfield Park', 'Washington Park',    'North Lawndale', 'Armour Square', 'South Lawndale', 'South Shore',    'Morgan Park', 'South Deering', 'West Garfield Park', 'Hermosa',    'Mckinley Park', 'Douglas', 'Hegewisch', 'West Elsdon', 'Norwood Park',    'Garfield Ridge', 'Austin', 'Belmont Cragin', 'Jefferson Park', 'Ashburn',    'Greater Grand Crossing', 'North Park', 'Oakland', 'Archer Heights',    'Edison Park', 'Englewood', 'Ohare', 'Brighton Park', 'Chicago Lawn',    'New City', 'South Chicago', 'Mount Greenwood', 'Montclare', 'Roseland',    'West Englewood', 'Calumet Heights', 'Auburn Gresham', 'Fuller Park',    'Avalon Park', 'Burnside', 'Clearing', 'Gage Park', 'West Pullman',    'Washington Heights', 'East Side']
print(neighbourhood_list)

['Hyde Park', 'West Town', 'Lincoln Park', 'Near West Side', 'Lake View', 'Dunning', 'Rogers Park', 'Logan Square', 'Uptown', 'Edgewater', 'North Center', 'Albany Park', 'West Ridge', 'Pullman', 'Irving Park', 'Beverly', 'Lower West Side', 'Near South Side', 'Near North Side', 'Grand Boulevard', 'Bridgeport', 'Humboldt Park', 'Chatham', 'Kenwood', 'Loop', 'West Lawn', 'Lincoln Square', 'Woodlawn', 'Avondale', 'Forest Glen', 'Portage Park', 'East Garfield Park', 'Washington Park', 'North Lawndale', 'Armour Square', 'South Lawndale', 'South Shore', 'Morgan Park', 'South Deering', 'West Garfield Park', 'Hermosa', 'Mckinley Park', 'Douglas', 'Hegewisch', 'West Elsdon', 'Norwood Park', 'Garfield Ridge', 'Austin', 'Belmont Cragin', 'Jefferson Park', 'Ashburn', 'Greater Grand Crossing', 'North Park', 'Oakland', 'Archer Heights', 'Edison Park', 'Englewood', 'Ohare', 'Brighton Park', 'Chicago Lawn', 'New City', 'South Chicago', 'Mount Greenwood', 'Montclare', 'Roseland', 'West Englewood', 'Calumet Heights', 'Auburn Gresham', 'Fuller Park', 'Avalon Park', 'Burnside', 'Clearing', 'Gage Park', 'West Pullman', 'Washington Heights', 'East Side']

In [54]:
from abydos import distance

In [55]:
#distance

In [56]:
airbnb_pd

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag,room_type_flag
1486,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,85,...,R21000075737,0,0,0,0,0,0,0,0,0
1487,84042,The Explorer Room,334241,Michael And Veronica,NaN,West Town,4189615,-87.67934,Private room,75,...,R17000013986,0,0,0,0,0,0,0,0,0
1488,84042,The Explorer Room,334241,Michael And Veronica,NaN,West Town,4189615,-87.67934,Private room,75,...,R17000013986,1,0,0,0,0,0,0,0,0
1489,145659,Trendy Roscoe Village 3BR/2BR walk to shops,683529,Joe,NaN,North Center,41.94342,-87.68121,Entire home/apt,205,...,2209272,0,0,0,0,0,0,0,0,0
1490,264547,Steps From the Best Chicago Offers,1387948,Dominic,NaN,Near West Side,41.88467,-87.64487,Entire home/apt,204,...,City registration pending,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,782628636832878491,"Steps to Shop, Eat, Train | Easy Access | Zencity",47172572,Zencity,NaN,West Town,41.8955,-87.66124,Entire home/apt,50,...,R19000043484,0,0,0,0,0,0,0,0,0
3197,782643895516370805,Old Town Oasis,169297663,William,NaN,Near North Side,41.90105,-87.63716,Apartment,120,...,R22000093645,0,0,0,0,0,0,0,0,0
3198,784994899201350568,Lovely 1 bed Apt in River North,52827024,Yakir,NaN,Near West Side,41.88822006416301,-87.64145321718578,Entire home/apt,84,...,NaN,0,0,0,0,0,0,0,0,0
3199,785423932330914663,"River North 1br w/ gym, pool & roof, nr Riverwalk",107434423,Blueground,NaN,Near North Side,41.890516,-87.635955,Apartment,169,...,NaN,0,0,0,0,0,0,0,0,0
3200,785426440046865418,"River North 1br w/ gym, lounge & roof nr River...",107434423,Blueground,NaN,Near North Side,418945286,-87.63340520000003,Entire home/apt,115,...,NaN,0,0,0,0,0,0,0,0,0

In [57]:
def clean_neighbourhood(df):
    neighbourhood_check = df[df.neighbourhood_flag==0]
    neighbourhood_check = neighbourhood_check[neighbourhood_check.neighbourhood.apply(lambda x:x not in neighbourhood_list)]
    neigh_id_df=neighbourhood_check[["id","neighbourhood"]]
    neigh_ind_ls=list(neigh_id_df.index)
    
    for neigh_ind in neigh_ind_ls:
        sus_neigh_ipt=df.loc[neigh_ind,"neighbourhood"]

        try:
            
            temp_ls=[]
            for neighbour in neighbourhood_list:
                temp_ls.append(distance.sim(sus_neigh_ipt, neighbour))
            if max(temp_ls)>0.5:
                df.loc[neigh_ind,"neighbourhood"]=neighbourhood_list[temp_ls.index(max(temp_ls))]
            else:
                df.loc[neigh_ind,"neighbourhood_flag"]=1
        except BaseException as ex:
            print(ex)
            df.loc[neigh_ind,"neighbourhood_flag"]=2
        
    return df

In [58]:
neighbourhood_check = airbnb_pd[airbnb_pd.neighbourhood_flag==0]
neighbourhood_check = neighbourhood_check[neighbourhood_check.neighbourhood.apply(lambda x:x not in neighbourhood_list)]
neighbourhood_check[["id","neighbourhood"]]

problem_n = neighbourhood_check.shape[0]
dq_problem = problem_n/problem_n
problem_n,dq_problem

(373, 1.0)

In [59]:
airbnb_pd = clean_neighbourhood(airbnb_pd)

object of type 'float' has no len()
object of type 'float' has no len()
object of type 'float' has no len()
object of type 'float' has no len()
object of type 'float' has no len()
object of type 'float' has no len()

In [60]:
airbnb_pd[airbnb_pd['neighbourhood_flag']==2]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag,room_type_flag
1712,20053035,Modern Chicago Loft with a Complimentary Garag...,117498144,Kashao& Owen,NaN,NaN,41.94139,-87.73096,Apartment,45,...,“City registration pending”,1,2,2,0,0,0,0,0,0
2054,37198925,NaN,22580828,Derek,NaN,NaN,41.88663,-87.64395,Apartment,64,...,City registration pending,0,0,2,0,0,0,0,0,0
2747,604136671933317555,NaN,47172572,Zencity,NaN,NaN,41.90278,-87.69213,Entire home/apt,NaN,...,R18000031772,0,0,2,0,0,0,0,0,0
2994,711841142491970819,NaN,395498979,Milan,NaN,NaN,41.85525,-87.62515,Entire home/apt,136,...,2792126,0,2,2,0,0,0,0,0,0
3014,717673204137659686,Pilsen Paradise| 3 miles to DT | Sleeps 8,431261724,AW Luxe,NaN,NaN,NaN,-87.66591,Entire home/apt,114,...,R21000071936,1,2,2,0,0,0,0,0,0
3136,760221018437590687,NaN,427604956,Abdullah,NaN,NaN,NaN,-87.62651,Entire home/apt,140,...,2882270,0,0,2,0,0,0,0,0,0

# Neighbourhood checking

This query should return zero rows once you implement the cleaning process

In [61]:
neighbourhood_check = airbnb_pd
neighbourhood_check = neighbourhood_check[neighbourhood_check.neighbourhood.apply(lambda x:x not in neighbourhood_list)]
neighbourhood_check[["id","neighbourhood"]]

removal_flag = (airbnb_pd.neighbourhood_flag!=0).sum()
corrected = neighbourhood_check.shape[0]

completeness = (problem_n-corrected) / problem_n
flagged = removal_flag / (problem_n/2)
completeness,flagged

(0.9839142091152815, 0.032171581769437)

In [62]:
neighbourhood_check = airbnb_pd[airbnb_pd.neighbourhood_flag==0]
neighbourhood_check = neighbourhood_check[neighbourhood_check.neighbourhood.apply(lambda x:x not in neighbourhood_list)]
neighbourhood_check[["id","neighbourhood"]]

Empty DataFrame
Columns: [id, neighbourhood]
Index: []

In [63]:
workset_before = workset_after.copy()

In [64]:
workset_after = assign_to_original(workset_after,airbnb_pd)

In [65]:
(workset_after.fillna("")!=workset_before.fillna("")).sum()

id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood_group                 0
neighbourhood                     367
latitude                            0
longitude                           0
room_type                           0
price                               0
minimum_nights                      0
number_of_reviews                   0
last_review                         0
reviews_per_month                   0
calculated_host_listings_count      0
availability_365                    0
number_of_reviews_ltm               0
license                             0
id_flag                             0
host_id_flag                        0
neighbourhood_flag                  6
latitude_flag                       0
longitude_flag                      0
minimum_nights_flag                 0
number_of_reviews_flag              0
last_review_flag                    0
room_type_flag                      0
dtype: int64

In [66]:
dcm1.change_df(workset_before,workset_after,"clean_neighbourhood_c2","c2")

DEBUG:root:change values
DEBUG:root:('change_values pd_index:',                            0                        1   \
0                (0, 0, 0, 0)             (1, 1, 0, 1)
1              (27, 27, 1, 0)           (28, 28, 1, 1)
2              (54, 54, 2, 0)           (55, 55, 2, 1)
3              (81, 81, 3, 0)           (82, 82, 3, 1)
4            (108, 108, 4, 0)         (109, 109, 4, 1)
...                       ...                      ...
3196  (86292, 86292, 3196, 0)  (86293, 86293, 3196, 1)
3197  (86319, 86319, 3197, 0)  (86320, 86320, 3197, 1)
3198  (86346, 86346, 3198, 0)  (86347, 86347, 3198, 1)
3199  (86373, 86373, 3199, 0)  (86374, 86374, 3199, 1)
3200  (86400, 86400, 3200, 0)  (86401, 86401, 3200, 1)

                           2                        3   \
0                (2, 2, 0, 2)             (3, 3, 0, 3)
1              (29, 29, 1, 2)           (30, 30, 1, 3)
2              (56, 56, 2, 2)           (57, 57, 2, 3)
3              (83, 83, 3, 2)           (84, 84, 3, 3)
4            (110, 110, 4, 2)         (111, 111, 4, 3)
...                       ...                      ...
3196  (86294, 86294, 3196, 2)  (86295, 86295, 3196, 3)
3197  (86321, 86321, 3197, 2)  (86322, 86322, 3197, 3)
3198  (86348, 86348, 3198, 2)  (86349, 86349, 3198, 3)
3199  (86375, 86375, 3199, 2)  (86376, 86376, 3199, 3)
3200  (86402, 86402, 3200, 2)  (86403, 86403, 3200, 3)

                           4                        5   \
0                (4, 4, 0, 4)             (5, 5, 0, 5)
1              (31, 31, 1, 4)           (32, 32, 1, 5)
2              (58, 58, 2, 4)           (59, 59, 2, 5)
3              (85, 85, 3, 4)           (86, 86, 3, 5)
4            (112, 112, 4, 4)         (113, 113, 4, 5)
...                       ...                      ...
3196  (86296, 86296, 3196, 4)  (86297, 86297, 3196, 5)
3197  (86323, 86323, 3197, 4)  (86324, 86324, 3197, 5)
3198  (86350, 86350, 3198, 4)  (86351, 86351, 3198, 5)
3199  (86377, 86377, 3199, 4)  (86378, 86378, 3199, 5)
3200  (86404, 86404, 3200, 4)  (86405, 86405, 3200, 5)

                           6                        7   \
0                (6, 6, 0, 6)             (7, 7, 0, 7)
1              (33, 33, 1, 6)           (34, 34, 1, 7)
2              (60, 60, 2, 6)           (61, 61, 2, 7)
3              (87, 87, 3, 6)           (88, 88, 3, 7)
4            (114, 114, 4, 6)         (115, 115, 4, 7)
...                       ...                      ...
3196  (86298, 86298, 3196, 6)  (86299, 86299, 3196, 7)
3197  (86325, 86325, 3197, 6)  (86326, 86326, 3197, 7)
3198  (86352, 86352, 3198, 6)  (86353, 86353, 3198, 7)
3199  (86379, 86379, 3199, 6)  (86380, 86380, 3199, 7)
3200  (86406, 88717, 3200, 6)  (86407, 86407, 3200, 7)

                           8                        9   ...  \
0                (8, 8, 0, 8)             (9, 9, 0, 9)  ...
1              (35, 35, 1, 8)           (36, 36, 1, 9)  ...
2              (62, 62, 2, 8)           (63, 63, 2, 9)  ...
3           (89, 89638, 3, 8)           (90, 90, 3, 9)  ...
4            (116, 116, 4, 8)         (117, 117, 4, 9)  ...
...                       ...                      ...  ...
3196  (86300, 86300, 3196, 8)  (86301, 86301, 3196, 9)  ...
3197  (86327, 88715, 3197, 8)  (86328, 86328, 3197, 9)  ...
3198  (86354, 86354, 3198, 8)  (86355, 86355, 3198, 9)  ...
3199  (86381, 88716, 3199, 8)  (86382, 86382, 3199, 9)  ...
3200  (86408, 86408, 3200, 8)  (86409, 86409, 3200, 9)  ...

                            17                        18  \
0              (17, 17, 0, 17)           (18, 18, 0, 18)
1              (44, 44, 1, 17)           (45, 45, 1, 18)
2              (71, 71, 2, 17)           (72, 72, 2, 18)
3              (98, 98, 3, 17)           (99, 99, 3, 18)
4            (125, 125, 4, 17)         (126, 126, 4, 18)
...                        ...                       ...
3196  (86309, 86309, 3196, 17)  (86310, 86310, 3196, 18)
3197  (86336, 86336, 3197, 17)  (86337, 86337, 3197, 18)
3198  (86363, 86363, 3198, 17)  (86364, 86364, 3198, 18)
3199  (86390, 86390, 3199, 17)  (86391, 86391, 3199, 18)
3200  (86417, 86417, 3200, 17)  (86418, 86418, 3200, 18)

                            19                        20  \
0              (19, 19, 0, 19)           (20, 20, 0, 20)
1              (46, 46, 1, 19)           (47, 47, 1, 20)
2              (73, 73, 2, 19)           (74, 74, 2, 20)
3            (100, 100, 3, 19)         (101, 101, 3, 20)
4            (127, 127, 4, 19)         (128, 128, 4, 20)
...                        ...                       ...
3196  (86311, 86311, 3196, 19)  (86312, 86312, 3196, 20)
3197  (86338, 86338, 3197, 19)  (86339, 86339, 3197, 20)
3198  (86365, 86365, 3198, 19)  (86366, 86366, 3198, 20)
3199  (86392, 86392, 3199, 19)  (86393, 86393, 3199, 20)
3200  (86419, 86419, 3200, 19)  (86420, 86420, 3200, 20)

                            21                        22  \
0              (21, 21, 0, 21)           (22, 22, 0, 22)
1              (48, 48, 1, 21)           (49, 49, 1, 22)
2              (75, 75, 2, 21)           (76, 76, 2, 22)
3            (102, 102, 3, 21)         (103, 103, 3, 22)
4            (129, 129, 4, 21)         (130, 130, 4, 22)
...                        ...                       ...
3196  (86313, 86313, 3196, 21)  (86314, 86314, 3196, 22)
3197  (86340, 86340, 3197, 21)  (86341, 86341, 3197, 22)
3198  (86367, 86367, 3198, 21)  (86368, 86368, 3198, 22)
3199  (86394, 86394, 3199, 21)  (86395, 86395, 3199, 22)
3200  (86421, 86421, 3200, 21)  (86422, 86422, 3200, 22)

                            23                        24  \
0              (23, 23, 0, 23)           (24, 24, 0, 24)
1              (50, 50, 1, 23)           (51, 51, 1, 24)
2              (77, 77, 2, 23)           (78, 78, 2, 24)
3            (104, 104, 3, 23)         (105, 105, 3, 24)
4            (131, 131, 4, 23)         (132, 132, 4, 24)
...                        ...                       ...
3196  (86315, 86315, 3196, 23)  (86316, 86316, 3196, 24)
3197  (86342, 86342, 3197, 23)  (86343, 86343, 3197, 24)
3198  (86369, 86369, 3198, 23)  (86370, 86370, 3198, 24)
3199  (86396, 86396, 3199, 23)  (86397, 86397, 3199, 24)
3200  (86423, 86423, 3200, 23)  (86424, 86424, 3200, 24)

                            25                        26
0              (25, 25, 0, 25)           (26, 26, 0, 26)
1              (52, 52, 1, 25)           (53, 53, 1, 26)
2           (79, 89912, 2, 25)           (80, 80, 2, 26)
3            (106, 106, 3, 25)         (107, 107, 3, 26)
4            (133, 133, 4, 25)         (134, 134, 4, 26)
...                        ...                       ...
3196  (86317, 86317, 3196, 25)  (86318, 86318, 3196, 26)
3197  (86344, 86344, 3197, 25)  (86345, 86345, 3197, 26)
3198  (86371, 86371, 3198, 25)  (86372, 86372, 3198, 26)
3199  (86398, 86398, 3199, 25)  (86399, 86399, 3199, 26)
3200  (86425, 86425, 3200, 25)  (86426, 86426, 3200, 26)

[3201 rows x 27 columns], array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]]))
DEBUG:root:('idx:', array([(40343, 87489, 1494, 5), (40397, 87491, 1496, 5),
       (40505, 87494, 1500, 5), (40613, 87495, 1504, 5),
       (40775, 87499, 1510, 5), (40802, 87500, 1511, 5),
       (40910, 87503, 1515, 5), (40937, 87504, 1516, 5),
       (41153, 87509, 1524, 5), (41342, 87513, 1531, 5),
       (41396, 87514, 1533, 5), (41423, 87515, 1534, 5),
       (41477, 87516, 1536, 5), (41666, 87524, 1543, 5),
       (41693, 87525, 1544, 5), (41747, 87526, 1546, 5),
       (41774, 87527, 1547, 5), (41963, 87533, 1554, 5),
       (41990, 87535, 1555, 5), (42125, 87539, 1560, 5),
       (42233, 87542, 1564, 5), (42449, 87547, 1572, 5),
       (42557, 87548, 1576, 5), (42584, 87550, 1577, 5),
       (42908, 87553, 1589, 5), (42962, 87554, 1591, 5),
       (42989, 87556, 1592, 5), (43043, 87559, 1594, 5),
       (43097, 87560, 1596, 5), (43205, 87561, 1600, 5),
       (43367, 87567, 1606, 5), (43610, 87572, 1615, 5),
       (43745, 87574, 1620, 5), (43961, 87582, 1628, 5),
       (44177, 87587, 1636, 5), (44312, 87590, 1641, 5),
       (44663, 87596, 1654, 5), (44798, 87597, 1659, 5),
       (44825, 87600, 1660, 5), (45230, 87605, 1675, 5),
       (45257, 87608, 1676, 5), (45284, 87611, 1677, 5),
       (45311, 87612, 1678, 5), (45365, 87614, 1680, 5),
       (45500, 87623, 1685, 5), (45770, 87632, 1695, 5),
       (45797, 87633, 1696, 5), (45986, 87636, 1703, 5),
       (46013, 87637, 1704, 5), (46067, 87639, 1706, 5),
       (46094, 87640, 1707, 5), (46175, 87643, 1710, 5),
       (46244, 46244, 1712, 20), (46337, 87653, 1716, 5),
       (46418, 87655, 1719, 5), (46472, 87658, 1721, 5),
       (46607, 87660, 1726, 5), (46634, 87661, 1727, 5),
       (46877, 87667, 1736, 5), (46985, 87671, 1740, 5),
       (47012, 87673, 1741, 5), (47093, 87675, 1744, 5),
       (47255, 87679, 1750, 5), (47282, 87680, 1751, 5),
       (47498, 87682, 1759, 5), (47525, 87683, 1760, 5),
       (47579, 87685, 1762, 5), (47687, 87686, 1766, 5),
       (47930, 87691, 1775, 5), (48281, 87695, 1788, 5),
       (48659, 87699, 1802, 5), (48821, 87702, 1808, 5),
       (49010, 87704, 1815, 5), (49037, 87705, 1816, 5),
       (49172, 87710, 1821, 5), (49388, 87718, 1829, 5),
       (49442, 87721, 1831, 5), (49523, 87722, 1834, 5),
       (49577, 87725, 1836, 5), (49712, 87726, 1841, 5),
       (49739, 87727, 1842, 5), (49793, 87728, 1844, 5),
       (49820, 87730, 1845, 5), (49955, 87731, 1850, 5),
       (49982, 87733, 1851, 5), (50009, 87735, 1852, 5),
       (50036, 87736, 1853, 5), (50117, 87738, 1856, 5),
       (50144, 87739, 1857, 5), (50252, 87741, 1861, 5),
       (50279, 87742, 1862, 5), (50576, 87748, 1873, 5),
       (50603, 87750, 1874, 5), (50738, 87754, 1879, 5),
       (50765, 87755, 1880, 5), (50954, 87757, 1887, 5),
       (51089, 87758, 1892, 5), (51224, 87761, 1897, 5),
       (51386, 87767, 1903, 5), (51413, 87770, 1904, 5),
       (51548, 87771, 1909, 5), (51575, 87772, 1910, 5),
       (51629, 87773, 1912, 5), (51656, 87778, 1913, 5),
       (51872, 87786, 1921, 5), (52115, 87787, 1930, 5),
       (52250, 87790, 1935, 5), (52601, 87801, 1948, 5),
       (52979, 87810, 1962, 5), (53006, 87811, 1963, 5),
       (53195, 87812, 1970, 5), (53222, 87814, 1971, 5),
       (53303, 87815, 1974, 5), (53573, 87819, 1984, 5),
       (53600, 87820, 1985, 5), (53627, 87821, 1986, 5),
       (53654, 87822, 1987, 5), (53762, 87825, 1991, 5),
       (53924, 87832, 1997, 5), (53951, 87833, 1998, 5),
       (54113, 87836, 2004, 5), (54815, 87851, 2030, 5),
       (55247, 87857, 2046, 5), (55355, 87860, 2050, 5),
       (55478, 55478, 2054, 20), (55733, 87872, 2064, 5),
       (55787, 87874, 2066, 5), (56138, 87888, 2079, 5),
       (56246, 87893, 2083, 5), (56300, 87894, 2085, 5),
       (56327, 87900, 2086, 5), (56408, 87906, 2089, 5),
       (56651, 87910, 2098, 5), (57191, 87920, 2118, 5),
       (57299, 87923, 2122, 5), (57326, 87924, 2123, 5),
       (57353, 87928, 2124, 5), (57461, 87934, 2128, 5),
       (57515, 87937, 2130, 5), (57542, 87938, 2131, 5),
       (57677, 87941, 2136, 5), (58163, 87951, 2154, 5),
       (58244, 87952, 2157, 5), (58271, 87953, 2158, 5),
       (58379, 87954, 2162, 5), (58595, 87958, 2170, 5),
       (58919, 87966, 2182, 5), (59000, 87968, 2185, 5),
       (59135, 87969, 2190, 5), (59432, 87975, 2201, 5),
       (59459, 87976, 2202, 5), (59513, 87979, 2204, 5),
       (59540, 87981, 2205, 5), (59567, 87983, 2206, 5),
       (59594, 87985, 2207, 5), (59621, 87986, 2208, 5),
       (59702, 87988, 2211, 5), (59837, 87990, 2216, 5),
       (59864, 87991, 2217, 5), (60080, 87995, 2225, 5),
       (60215, 87996, 2230, 5), (60404, 87999, 2237, 5),
       (60512, 88003, 2241, 5), (60620, 88004, 2245, 5),
       (60917, 88015, 2256, 5), (60944, 88016, 2257, 5),
       (61214, 88018, 2267, 5), (61322, 88021, 2271, 5),
       (61457, 88028, 2276, 5), (61484, 88029, 2277, 5),
       (61511, 88031, 2278, 5), (61538, 88032, 2279, 5),
       (61754, 88041, 2287, 5), (61835, 88043, 2290, 5),
       (61970, 88047, 2295, 5), (62051, 88049, 2298, 5),
       (62186, 88053, 2303, 5), (62267, 88055, 2306, 5),
       (62348, 88057, 2309, 5), (62429, 88060, 2312, 5),
       (62510, 88061, 2315, 5), (62672, 88065, 2321, 5),
       (62753, 88070, 2324, 5), (62888, 88073, 2329, 5),
       (62969, 88077, 2332, 5), (63212, 88084, 2341, 5),
       (63590, 88087, 2355, 5), (63671, 88089, 2358, 5),
       (63887, 88092, 2366, 5), (63941, 88095, 2368, 5),
       (64184, 88102, 2377, 5), (64454, 88112, 2387, 5),
       (64535, 88113, 2390, 5), (64589, 88115, 2392, 5),
       (64886, 88123, 2403, 5), (64913, 88125, 2404, 5),
       (65048, 88132, 2409, 5), (65210, 88137, 2415, 5),
       (65345, 88142, 2420, 5), (65426, 88145, 2423, 5),
       (65534, 88149, 2427, 5), (65615, 88151, 2430, 5),
       (65696, 88153, 2433, 5), (65723, 88154, 2434, 5),
       (65750, 88155, 2435, 5), (66101, 88163, 2448, 5),
       (66560, 88173, 2465, 5), (66776, 88177, 2473, 5),
       (66803, 88178, 2474, 5), (67019, 88181, 2482, 5),
       (67127, 88183, 2486, 5), (67181, 88185, 2488, 5),
       (67208, 88187, 2489, 5), (67262, 88189, 2491, 5),
       (67316, 88191, 2493, 5), (67559, 88199, 2502, 5),
       (67586, 88200, 2503, 5), (67613, 88201, 2504, 5),
       (67667, 88204, 2506, 5), (67721, 88205, 2508, 5),
       (67802, 88206, 2511, 5), (67829, 88207, 2512, 5),
       (67991, 88211, 2518, 5), (68018, 88213, 2519, 5),
       (68126, 88216, 2523, 5), (68288, 88219, 2529, 5),
       (68342, 88221, 2531, 5), (68504, 88224, 2537, 5),
       (68612, 88228, 2541, 5), (68747, 88231, 2546, 5),
       (68909, 88236, 2552, 5), (69071, 88240, 2558, 5),
       (69368, 88245, 2569, 5), (69395, 88246, 2570, 5),
       (69476, 88247, 2573, 5), (69638, 88252, 2579, 5),
       (69692, 88254, 2581, 5), (69746, 88255, 2583, 5),
       (69773, 88256, 2584, 5), (70016, 88262, 2593, 5),
       (70151, 88265, 2598, 5), (70340, 88268, 2605, 5),
       (70367, 88269, 2606, 5), (70502, 88274, 2611, 5),
       (70691, 88276, 2618, 5), (70826, 88281, 2623, 5),
       (70853, 88283, 2624, 5), (71015, 88286, 2630, 5),
       (71096, 88289, 2633, 5), (71204, 88292, 2637, 5),
       (71393, 88298, 2644, 5), (71474, 88299, 2647, 5),
       (71582, 88301, 2651, 5), (71663, 88303, 2654, 5),
       (71690, 88304, 2655, 5), (71717, 88305, 2656, 5),
       (71744, 88307, 2657, 5), (72068, 88316, 2669, 5),
       (72122, 88317, 2671, 5), (72149, 88318, 2672, 5),
       (72203, 88320, 2674, 5), (72311, 88322, 2678, 5),
       (72338, 88323, 2679, 5), (72635, 88331, 2690, 5),
       (72743, 88334, 2694, 5), (72959, 88340, 2702, 5),
       (73040, 88344, 2705, 5), (73067, 88346, 2706, 5),
       (73121, 88348, 2708, 5), (73310, 88353, 2715, 5),
       (73364, 88355, 2717, 5), (73499, 88359, 2722, 5),
       (73580, 88360, 2725, 5), (73715, 88364, 2730, 5),
       (73742, 88365, 2731, 5), (73796, 88368, 2733, 5),
       (73823, 88369, 2734, 5), (74066, 88375, 2743, 5),
       (74120, 88377, 2745, 5), (74147, 88378, 2746, 5),
       (74189, 74189, 2747, 20), (74282, 88384, 2751, 5),
       (74498, 88387, 2759, 5), (74687, 88391, 2766, 5),
       (74741, 88392, 2768, 5), (74768, 88393, 2769, 5),
       (74903, 88396, 2774, 5), (74984, 88399, 2777, 5),
       (75119, 88403, 2782, 5), (75254, 88410, 2787, 5),
       (75308, 88412, 2789, 5), (76037, 88432, 2816, 5),
       (76145, 88436, 2820, 5), (76172, 88438, 2821, 5),
       (76226, 88440, 2823, 5), (76442, 88445, 2831, 5),
       (76550, 88446, 2835, 5), (76820, 88451, 2845, 5),
       (76928, 88453, 2849, 5), (77090, 88455, 2855, 5),
       (77171, 88458, 2858, 5), (77225, 88460, 2860, 5),
       (77360, 88465, 2865, 5), (77387, 88466, 2866, 5),
       (77414, 88468, 2867, 5), (77576, 88472, 2873, 5),
       (77630, 88473, 2875, 5), (77819, 88477, 2882, 5),
       (77981, 88481, 2888, 5), (78116, 88484, 2893, 5),
       (78575, 88491, 2910, 5), (78602, 88493, 2911, 5),
       (78656, 88496, 2913, 5), (78818, 88498, 2919, 5),
       (78899, 88501, 2922, 5), (78926, 88503, 2923, 5),
       (78953, 88504, 2924, 5), (78980, 88506, 2925, 5),
       (79142, 88508, 2931, 5), (79196, 88510, 2933, 5),
       (79250, 88511, 2935, 5), (79547, 88518, 2946, 5),
       (79628, 88523, 2949, 5), (79682, 88524, 2951, 5),
       (79763, 88528, 2954, 5), (79925, 88532, 2960, 5),
       (80006, 88534, 2963, 5), (80033, 88535, 2964, 5),
       (80087, 88538, 2966, 5), (80141, 88539, 2968, 5),
       (80168, 88541, 2969, 5), (80276, 88544, 2973, 5),
       (80816, 88553, 2993, 5), (80858, 80858, 2994, 20),
       (81221, 88565, 3008, 5), (81275, 88566, 3010, 5),
       (81398, 81398, 3014, 20), (81734, 88573, 3027, 5),
       (81788, 88576, 3029, 5), (81977, 88582, 3036, 5),
       (82004, 88583, 3037, 5), (82274, 88589, 3047, 5),
       (82517, 88599, 3056, 5), (82625, 88602, 3060, 5),
       (82733, 88603, 3064, 5), (82760, 88604, 3065, 5),
       (82787, 88605, 3066, 5), (82814, 88606, 3067, 5),
       (82976, 88610, 3073, 5), (83192, 88615, 3081, 5),
       (83219, 88616, 3082, 5), (83327, 88620, 3086, 5),
       (83462, 88624, 3091, 5), (84164, 88643, 3117, 5),
       (84272, 88647, 3121, 5), (84353, 88649, 3124, 5),
       (84380, 88650, 3125, 5), (84461, 88653, 3128, 5),
       (84623, 88658, 3134, 5), (84692, 84692, 3136, 20),
       (84920, 88669, 3145, 5), (85055, 88673, 3150, 5),
       (85136, 88675, 3153, 5), (85163, 88676, 3154, 5),
       (85190, 88679, 3155, 5), (85271, 88683, 3158, 5),
       (85460, 88689, 3165, 5), (85730, 88693, 3175, 5),
       (85757, 88694, 3176, 5), (85919, 88700, 3182, 5),
       (85946, 88705, 3183, 5), (86027, 88710, 3186, 5),
       (86243, 88712, 3194, 5)], dtype=object), array(['West Town', 'Edgewater', 'West Town', 'West Town',
       'Near South Side', 'Morgan Park', 'Near South Side', 'West Town',
       'Armour Square', 'West Town', 'West Town', 'Hermosa',
       'North Center', 'Avondale', 'West Town', 'Near North Side',
       'North Center', 'East Garfield Park', 'East Garfield Park',
       'West Town', 'Irving Park', 'Bridgeport', 'North Lawndale',
       'Washington Park', 'Near North Side', 'Near North Side',
       'Near West Side', 'Near West Side', 'Dunning',
       'East Garfield Park', 'Near North Side', 'Edgewater',
       'Near South Side', 'East Garfield Park', 'Belmont Cragin',
       'Near North Side', 'Near North Side', 'Austin', 'Austin',
       'Irving Park', 'Irving Park', 'Avondale', 'Avondale', 'West Town',
       'Near West Side', 'Near West Side', 'West Town', 'Oakland',
       'Edgewater', 'Mckinley Park', 'Bridgeport', 'Near West Side', 2,
       'Near North Side', 'West Town', 'Humboldt Park', 'North Center',
       'North Center', 'Kenwood', 'West Town', 'West Town',
       'North Center', 'West Town', 'West Town', 'West Ridge',
       'West Town', 'Near West Side', 'West Ridge', 'Near North Side',
       'Calumet Heights', 'East Garfield Park', 'Near North Side',
       'West Town', 'Near West Side', 'Armour Square', 'Near North Side',
       'Calumet Heights', 'Near North Side', 'Near North Side',
       'Near North Side', 'West Town', 'Near West Side', 'Near West Side',
       'Auburn Gresham', 'Near South Side', 'West Town', 'Near West Side',
       'Irving Park', 'West Town', 'Auburn Gresham', 'Near West Side',
       'Near North Side', 'Humboldt Park', 'Near North Side',
       'Near North Side', 'Near North Side', 'North Lawndale',
       'Near North Side', 'Near South Side', 'Near South Side',
       'Near North Side', 'Near North Side', 'Irving Park', 'Irving Park',
       'West Town', 'Avondale', 'Irving Park', 'Avondale',
       'Near West Side', 'Near West Side', 'Armour Square',
       'Armour Square', 'Armour Square', 'Kenwood', 'Irving Park',

DEBUG:root:('change_values idxlist:', [(40343, 87489, 1494, 5), (40397, 87491, 1496, 5), (40505, 87494, 1500, 5), (40613, 87495, 1504, 5), (40775, 87499, 1510, 5), (40802, 87500, 1511, 5), (40910, 87503, 1515, 5), (40937, 87504, 1516, 5), (41153, 87509, 1524, 5), (41342, 87513, 1531, 5), (41396, 87514, 1533, 5), (41423, 87515, 1534, 5), (41477, 87516, 1536, 5), (41666, 87524, 1543, 5), (41693, 87525, 1544, 5), (41747, 87526, 1546, 5), (41774, 87527, 1547, 5), (41963, 87533, 1554, 5), (41990, 87535, 1555, 5), (42125, 87539, 1560, 5), (42233, 87542, 1564, 5), (42449, 87547, 1572, 5), (42557, 87548, 1576, 5), (42584, 87550, 1577, 5), (42908, 87553, 1589, 5), (42962, 87554, 1591, 5), (42989, 87556, 1592, 5), (43043, 87559, 1594, 5), (43097, 87560, 1596, 5), (43205, 87561, 1600, 5), (43367, 87567, 1606, 5), (43610, 87572, 1615, 5), (43745, 87574, 1620, 5), (43961, 87582, 1628, 5), (44177, 87587, 1636, 5), (44312, 87590, 1641, 5), (44663, 87596, 1654, 5), (44798, 87597, 1659, 5), (44825, 87600, 1660, 5), (45230, 87605, 1675, 5), (45257, 87608, 1676, 5), (45284, 87611, 1677, 5), (45311, 87612, 1678, 5), (45365, 87614, 1680, 5), (45500, 87623, 1685, 5), (45770, 87632, 1695, 5), (45797, 87633, 1696, 5), (45986, 87636, 1703, 5), (46013, 87637, 1704, 5), (46067, 87639, 1706, 5), (46094, 87640, 1707, 5), (46175, 87643, 1710, 5), (46244, 46244, 1712, 20), (46337, 87653, 1716, 5), (46418, 87655, 1719, 5), (46472, 87658, 1721, 5), (46607, 87660, 1726, 5), (46634, 87661, 1727, 5), (46877, 87667, 1736, 5), (46985, 87671, 1740, 5), (47012, 87673, 1741, 5), (47093, 87675, 1744, 5), (47255, 87679, 1750, 5), (47282, 87680, 1751, 5), (47498, 87682, 1759, 5), (47525, 87683, 1760, 5), (47579, 87685, 1762, 5), (47687, 87686, 1766, 5), (47930, 87691, 1775, 5), (48281, 87695, 1788, 5), (48659, 87699, 1802, 5), (48821, 87702, 1808, 5), (49010, 87704, 1815, 5), (49037, 87705, 1816, 5), (49172, 87710, 1821, 5), (49388, 87718, 1829, 5), (49442, 87721, 1831, 5), (49523, 87722, 1834, 5), (49577, 87725, 1836, 5), (49712, 87726, 1841, 5), (49739, 87727, 1842, 5), (49793, 87728, 1844, 5), (49820, 87730, 1845, 5), (49955, 87731, 1850, 5), (49982, 87733, 1851, 5), (50009, 87735, 1852, 5), (50036, 87736, 1853, 5), (50117, 87738, 1856, 5), (50144, 87739, 1857, 5), (50252, 87741, 1861, 5), (50279, 87742, 1862, 5), (50576, 87748, 1873, 5), (50603, 87750, 1874, 5), (50738, 87754, 1879, 5), (50765, 87755, 1880, 5), (50954, 87757, 1887, 5), (51089, 87758, 1892, 5), (51224, 87761, 1897, 5), (51386, 87767, 1903, 5), (51413, 87770, 1904, 5), (51548, 87771, 1909, 5), (51575, 87772, 1910, 5), (51629, 87773, 1912, 5), (51656, 87778, 1913, 5), (51872, 87786, 1921, 5), (52115, 87787, 1930, 5), (52250, 87790, 1935, 5), (52601, 87801, 1948, 5), (52979, 87810, 1962, 5), (53006, 87811, 1963, 5), (53195, 87812, 1970, 5), (53222, 87814, 1971, 5), (53303, 87815, 1974, 5), (53573, 87819, 1984, 5), (53600, 87820, 1985, 5), (53627, 87821, 1986, 5), (53654, 87822, 1987, 5), (53762, 87825, 1991, 5), (53924, 87832, 1997, 5), (53951, 87833, 1998, 5), (54113, 87836, 2004, 5), (54815, 87851, 2030, 5), (55247, 87857, 2046, 5), (55355, 87860, 2050, 5), (55478, 55478, 2054, 20), (55733, 87872, 2064, 5), (55787, 87874, 2066, 5), (56138, 87888, 2079, 5), (56246, 87893, 2083, 5), (56300, 87894, 2085, 5), (56327, 87900, 2086, 5), (56408, 87906, 2089, 5), (56651, 87910, 2098, 5), (57191, 87920, 2118, 5), (57299, 87923, 2122, 5), (57326, 87924, 2123, 5), (57353, 87928, 2124, 5), (57461, 87934, 2128, 5), (57515, 87937, 2130, 5), (57542, 87938, 2131, 5), (57677, 87941, 2136, 5), (58163, 87951, 2154, 5), (58244, 87952, 2157, 5), (58271, 87953, 2158, 5), (58379, 87954, 2162, 5), (58595, 87958, 2170, 5), (58919, 87966, 2182, 5), (59000, 87968, 2185, 5), (59135, 87969, 2190, 5), (59432, 87975, 2201, 5), (59459, 87976, 2202, 5), (59513, 87979, 2204, 5), (59540, 87981, 2205, 5), (59567, 87983, 2206, 5), (59594, 87985, 2207, 5), (59621, 87986, 2208, 5), (59702, 87988, 2211, 5), (59837, 87990, 2216, 5), (59864, 87991, 2217, 5), (60080, 87995, 2225, 5), (60215, 87996, 2230, 5), (60404, 87999, 2237, 5), (60512, 88003, 2241, 5), (60620, 88004, 2245, 5), (60917, 88015, 2256, 5), (60944, 88016, 2257, 5), (61214, 88018, 2267, 5), (61322, 88021, 2271, 5), (61457, 88028, 2276, 5), (61484, 88029, 2277, 5), (61511, 88031, 2278, 5), (61538, 88032, 2279, 5), (61754, 88041, 2287, 5), (61835, 88043, 2290, 5), (61970, 88047, 2295, 5), (62051, 88049, 2298, 5), (62186, 88053, 2303, 5), (62267, 88055, 2306, 5), (62348, 88057, 2309, 5), (62429, 88060, 2312, 5), (62510, 88061, 2315, 5), (62672, 88065, 2321, 5), (62753, 88070, 2324, 5), (62888, 88073, 2329, 5), (62969, 88077, 2332, 5), (63212, 88084, 2341, 5), (63590, 88087, 2355, 5), (63671, 88089, 2358, 5), (63887, 88092, 2366, 5), (63941, 88095, 2368, 5), (64184, 88102, 2377, 5), (64454, 88112, 2387, 5), (64535, 88113, 2390, 5), (64589, 88115, 2392, 5), (64886, 88123, 2403, 5), (64913, 88125, 2404, 5), (65048, 88132, 2409, 5), (65210, 88137, 2415, 5), (65345, 88142, 2420, 5), (65426, 88145, 2423, 5), (65534, 88149, 2427, 5), (65615, 88151, 2430, 5), (65696, 88153, 2433, 5), (65723, 88154, 2434, 5), (65750, 88155, 2435, 5), (66101, 88163, 2448, 5), (66560, 88173, 2465, 5), (66776, 88177, 2473, 5), (66803, 88178, 2474, 5), (67019, 88181, 2482, 5), (67127, 88183, 2486, 5), (67181, 88185, 2488, 5), (67208, 88187, 2489, 5), (67262, 88189, 2491, 5), (67316, 88191, 2493, 5), (67559, 88199, 2502, 5), (67586, 88200, 2503, 5), (67613, 88201, 2504, 5), (67667, 88204, 2506, 5), (67721, 88205, 2508, 5), (67802, 88206, 2511, 5), (67829, 88207, 2512, 5), (67991, 88211, 2518, 5), (68018, 88213, 2519, 5), (68126, 88216, 2523, 5), (68288, 88219, 2529, 5), (68342, 88221, 2531, 5), (68504, 88224, 2537, 5), (68612, 88228, 2541, 5), (68747, 88231, 2546, 5), (68909, 88236, 2552, 5), (69071, 88240, 2558, 5), (69368, 88245, 2569, 5), (69395, 88246, 2570, 5), (69476, 88247, 2573, 5), (69638, 88252, 2579, 5), (69692, 88254, 2581, 5), (69746, 88255, 2583, 5), (69773, 88256, 2584, 5), (70016, 88262, 2593, 5), (70151, 88265, 2598, 5), (70340, 88268, 2605, 5), (70367, 88269, 2606, 5), (70502, 88274, 2611, 5), (70691, 88276, 2618, 5), (70826, 88281, 2623, 5), (70853, 88283, 2624, 5), (71015, 88286, 2630, 5), (71096, 88289, 2633, 5), (71204, 88292, 2637, 5), (71393, 88298, 2644, 5), (71474, 88299, 2647, 5), (71582, 88301, 2651, 5), (71663, 88303, 2654, 5), (71690, 88304, 2655, 5), (71717, 88305, 2656, 5), (71744, 88307, 2657, 5), (72068, 88316, 2669, 5), (72122, 88317, 2671, 5), (72149, 88318, 2672, 5), (72203, 88320, 2674, 5), (72311, 88322, 2678, 5), (72338, 88323, 2679, 5), (72635, 88331, 2690, 5), (72743, 88334, 2694, 5), (72959, 88340, 2702, 5), (73040, 88344, 2705, 5), (73067, 88346, 2706, 5), (73121, 88348, 2708, 5), (73310, 88353, 2715, 5), (73364, 88355, 2717, 5), (73499, 88359, 2722, 5), (73580, 88360, 2725, 5), (73715, 88364, 2730, 5), (73742, 88365, 2731, 5), (73796, 88368, 2733, 5), (73823, 88369, 2734, 5), (74066, 88375, 2743, 5), (74120, 88377, 2745, 5), (74147, 88378, 2746, 5), (74189, 74189, 2747, 20), (74282, 88384, 2751, 5), (74498, 88387, 2759, 5), (74687, 88391, 2766, 5), (74741, 88392, 2768, 5), (74768, 88393, 2769, 5), (74903, 88396, 2774, 5), (74984, 88399, 2777, 5), (75119, 88403, 2782, 5), (75254, 88410, 2787, 5), (75308, 88412, 2789, 5), (76037, 88432, 2816, 5), (76145, 88436, 2820, 5), (76172, 88438, 2821, 5), (76226, 88440, 2823, 5), (76442, 88445, 2831, 5), (76550, 88446, 2835, 5), (76820, 88451, 2845, 5), (76928, 88453, 2849, 5), (77090, 88455, 2855, 5), (77171, 88458, 2858, 5), (77225, 88460, 2860, 5), (77360, 88465, 2865, 5), (77387, 88466, 2866, 5), (77414, 88468, 2867, 5), (77576, 88472, 2873, 5), (77630, 88473, 2875, 5), (77819, 88477, 2882, 5), (77981, 88481, 2888, 5), (78116, 88484, 2893, 5), (78575, 88491, 2910, 5), (78602, 88493, 2911, 5), (78656, 88496, 2913, 5), (78818, 88498, 2919, 5), (78899, 88501, 2922, 5), (78926, 88503, 2923, 5), (78953, 88504, 2924, 5), (78980, 88506, 2925, 5), (79142, 88508, 2931, 5), (79196, 88510, 2933, 5), (79250, 88511, 2935, 5), (79547, 88518, 2946, 5), (79628, 88523, 2949, 5), (79682, 88524, 2951, 5), (79763, 88528, 2954, 5), (79925, 88532, 2960, 5), (80006, 88534, 2963, 5), (80033, 88535, 2964, 5), (80087, 88538, 2966, 5), (80141, 88539, 2968, 5), (80168, 88541, 2969, 5), (80276, 88544, 2973, 5), (80816, 88553, 2993, 5), (80858, 80858, 2994, 20), (81221, 88565, 3008, 5), (81275, 88566, 3010, 5), (81398, 81398, 3014, 20), (81734, 88573, 3027, 5), (81788, 88576, 3029, 5), (81977, 88582, 3036, 5), (82004, 88583, 3037, 5), (82274, 88589, 3047, 5), (82517, 88599, 3056, 5), (82625, 88602, 3060, 5), (82733, 88603, 3064, 5), (82760, 88604, 3065, 5), (82787, 88605, 3066, 5), (82814, 88606, 3067, 5), (82976, 88610, 3073, 5), (83192, 88615, 3081, 5), (83219, 88616, 3082, 5), (83327, 88620, 3086, 5), (83462, 88624, 3091, 5), (84164, 88643, 3117, 5), (84272, 88647, 3121, 5), (84353, 88649, 3124, 5), (84380, 88650, 3125, 5), (84461, 88653, 3128, 5), (84623, 88658, 3134, 5), (84692, 84692, 3136, 20), (84920, 88669, 3145, 5), (85055, 88673, 3150, 5), (85136, 88675, 3153, 5), (85163, 88676, 3154, 5), (85190, 88679, 3155, 5), (85271, 88683, 3158, 5), (85460, 88689, 3165, 5), (85730, 88693, 3175, 5), (85757, 88694, 3176, 5), (85919, 88700, 3182, 5), (85946, 88705, 3183, 5), (86027, 88710, 3186, 5), (86243, 88712, 3194, 5)], ['West Town', 'Edgewater', 'West Town', 'West Town', 'Near South Side', 'Morgan Park', 'Near South Side', 'West Town', 'Armour Square', 'West Town', 'West Town', 'Hermosa', 'North Center', 'Avondale', 'West Town', 'Near North Side', 'North Center', 'East Garfield Park', 'East Garfield Park', 'West Town', 'Irving Park', 'Bridgeport', 'North Lawndale', 'Washington Park', 'Near North Side', 'Near North Side', 'Near West Side', 'Near West Side', 'Dunning', 'East Garfield Park', 'Near North Side', 'Edgewater', 'Near South Side', 'East Garfield Park', 'Belmont Cragin', 'Near North Side', 'Near North Side', 'Austin', 'Austin', 'Irving Park', 'Irving Park', 'Avondale', 'Avondale', 'West Town', 'Near West Side', 'Near West Side', 'West Town', 'Oakland', 'Edgewater', 'Mckinley Park', 'Bridgeport', 'Near West Side', 2, 'Near North Side', 'West Town', 'Humboldt Park', 'North Center', 'North Center', 'Kenwood', 'West Town', 'West Town', 'North Center', 'West Town', 'West Town', 'West Ridge', 'West Town', 'Near West Side', 'West Ridge', 'Near North Side', 'Calumet Heights', 'East Garfield Park', 'Near North Side', 'West Town', 'Near West Side', 'Armour Square', 'Near North Side', 'Calumet Heights', 'Near North Side', 'Near North Side', 'Near North Side', 'West Town', 'Near West Side', 'Near West Side', 'Auburn Gresham', 'Near South Side', 'West Town', 'Near West Side', 'Irving Park', 'West Town', 'Auburn Gresham', 'Near West Side', 'Near North Side', 'Humboldt Park', 'Near North Side', 'Near North Side', 'Near North Side', 'North Lawndale', 'Near North Side', 'Near South Side', 'Near South Side', 'Near North Side', 'Near North Side', 'Irving Park', 'Irving Park', 'West Town', 'Avondale', 'Irving Park', 'Avondale', 'Near West Side', 'Near West Side', 'Armour Square', 'Armour Square', 'Armour Square', 'Kenwood', 'Irving Park', 'Near North Side', 'Near North Side', 'Near North Side', 'Edgewater', 'Edgewater', 'Irving Park', 'Near West Side', 'Near North Side', 'Near North Side', 2, 'Near West Side', 'West Town', 'New City', 'Near North Side', 'Near North Side', 'Near North Side', 'Bridgeport', 'Edgewater', 'Near West Side', 'Near North Side', 'East Garfield Park', 'Near North Side', 'South Deering', 'Near North Side', 'Morgan Park', 'Near North Side', 'West Town', 'Near West Side', 'West Town', 'Bridgeport', 'Near West Side', 'West Town', 'North Center', 'Kenwood', 'Near West Side', 'Near West Side', 'North Lawndale', 'North Center', 'North Center', 'Near North Side', 'Washington Park', 'East Garfield Park', 'Irving Park', 'Near North Side', 'Near North Side', 'Near North Side', 'Near North Side', 'Near West Side', 'Dunning', 'West Town', 'Near North Side', 'Near West Side', 'Near North Side', 'Near West Side', 'Roseland', 'Near West Side', 'Near North Side', 'Near North Side', 'West Town', 'Humboldt Park', 'Near North Side', 'Avondale', 'Dunning', 'North Center', 'Near South Side', 'Hermosa', 'Edgewater', 'Near North Side', 'Near North Side', 'Near North Side', 'Near North Side', 'Near West Side', 'West Ridge', 'Near North Side', 'Humboldt Park', 'Near West Side', 'West Pullman', 'Bridgeport', 'West Ridge', 'West Town', 'West Town', 'East Garfield Park', 'North Center', 'Near North Side', 'West Town', 'Near North Side', 'Bridgeport', 'Bridgeport', 'Belmont Cragin', 'Near North Side', 'Near North Side', 'Belmont Cragin', 'North Lawndale', 'West Town', 'West Town', 'East Garfield Park', 'Near North Side', 'Near North Side', 'Near North Side', 'West Town', 'West Town', 'East Garfield Park', 'Roseland', 'Irving Park', 'Edgewater', 'Near North Side', 'Avondale', 'Near North Side', 'Near North Side', 'West Town', 'Near North Side', 'Near West Side', 'Near West Side', 'Near North Side', 'Humboldt Park', 'West Town', 'West Town', 'Austin', 'Beverly', 'Humboldt Park', 'Near South Side', 'Near West Side', 'Near West Side', 'East Garfield Park', 'Washington Park', 'Near North Side', 'Near North Side', 'Near West Side', 'East Side', 'West Town', 'East Garfield Park', 'East Garfield Park', 'West Town', 'Near West Side', 'Near West Side', 'Near West Side', 'Armour Square', 'Mckinley Park', 'Near North Side', 'Near North Side', 'Armour Square', 'Armour Square', 'Near North Side', 'Near North Side', 'Near North Side', 'Near North Side', 'Bridgeport', 'Bridgeport', 'Near West Side', 'Near West Side', 'Belmont Cragin', 'West Town', 'Bridgeport', 'Irving Park', 'Hermosa', 'Mckinley Park', 'Near West Side', 'Near North Side', 'Oakland', 'Near West Side', 'Bridgeport', 'Bridgeport', 'Irving Park', 'North Center', 'East Garfield Park', 2, 'Dunning', 'Armour Square', 'Near South Side', 'West Ridge', 'Near South Side', 'Bridgeport', 'West Town', 'Armour Square', 'Bridgeport', 'Avondale', 'East Garfield Park', 'Near South Side', 'Near South Side', 'West Ridge', 'New City', 'Avondale', 'West Town', 'Near West Side', 'Near North Side', 'Near South Side', 'Near North Side', 'Near North Side', 'Humboldt Park', 'North Lawndale', 'Edgewater', 'Near South Side', 'Near North Side', 'East Garfield Park', 'West Town', 'Bridgeport', 'Near South Side', 'Edgewater', 'Washington Park', 'Near North Side', 'Near South Side', 'Near South Side', 'Avondale', 'Near South Side', 'Near North Side', 'Bridgeport', 'West Town', 'West Town', 'Near South Side', 'Humboldt Park', 'Near West Side', 'Near South Side', 'Near South Side', 'Irving Park', 'Near West Side', 'Near West Side', 'South Deering', 'West Town', 2, 'West Town', 'Near West Side', 2, 'Near South Side', 'Near North Side', 'West Town', 'Near South Side', 'Irving Park', 'West Town', 'Bridgeport', 'Near South Side', 'Avondale', 'Bridgeport', 'South Chicago', 'Bridgeport', 'Near North Side', 'Near North Side', 'Near North Side', 'West Town', 'South Chicago', 'Near South Side', 'Austin', 'Near North Side', 'West Town', 'Near West Side', 2, 'Near West Side', 'West Town', 'West Town', 'Kenwood', 'Kenwood', 'South Chicago', 'Near North Side', 'Near West Side', 'Near West Side', 'Avondale', 'Avondale', 'West Town', 'Near North Side'])

DEBUG:root:('change_values idxlist:', ((40343, 87489, 1494, 5), 'West Town', (1494, 5)))
DEBUG:root:('change_values idxlist:', ((40397, 87491, 1496, 5), 'Edgewater', (1496, 5)))
DEBUG:root:('change_values idxlist:', ((40505, 87494, 1500, 5), 'West Town', (1500, 5)))
DEBUG:root:('change_values idxlist:', ((40613, 87495, 1504, 5), 'West Town', (1504, 5)))
DEBUG:root:('change_values idxlist:', ((40775, 87499, 1510, 5), 'Near South Side', (1510, 5)))
DEBUG:root:('change_values idxlist:', ((40802, 87500, 1511, 5), 'Morgan Park', (1511, 5)))
DEBUG:root:('change_values idxlist:', ((40910, 87503, 1515, 5), 'Near South Side', (1515, 5)))
DEBUG:root:('change_values idxlist:', ((40937, 87504, 1516, 5), 'West Town', (1516, 5)))
DEBUG:root:('change_values idxlist:', ((41153, 87509, 1524, 5), 'Armour Square', (1524, 5)))
DEBUG:root:('change_values idxlist:', ((41342, 87513, 1531, 5), 'West Town', (1531, 5)))
DEBUG:root:('change_values idxlist:', ((41396, 87514, 1533, 5), 'West Town', (1533, 5)))
DEBUG:root:('change_values idxlist:', ((41423, 87515, 1534, 5), 'Hermosa', (1534, 5)))
DEBUG:root:('change_values idxlist:', ((41477, 87516, 1536, 5), 'North Center', (1536, 5)))
DEBUG:root:('change_values idxlist:', ((41666, 87524, 1543, 5), 'Avondale', (1543, 5)))
DEBUG:root:('change_values idxlist:', ((41693, 87525, 1544, 5), 'West Town', (1544, 5)))
DEBUG:root:('change_values idxlist:', ((41747, 87526, 1546, 5), 'Near North Side', (1546, 5)))
DEBUG:root:('change_values idxlist:', ((41774, 87527, 1547, 5), 'North Center', (1547, 5)))
DEBUG:root:('change_values idxlist:', ((41963, 87533, 1554, 5), 'East Garfield Park', (1554, 5)))
DEBUG:root:('change_values idxlist:', ((41990, 87535, 1555, 5), 'East Garfield Park', (1555, 5)))
DEBUG:root:('change_values idxlist:', ((42125, 87539, 1560, 5), 'West Town', (1560, 5)))
DEBUG:root:('change_values idxlist:', ((42233, 87542, 1564, 5), 'Irving Park', (1564, 5)))
DEBUG:root:('change_values idxlist:', ((42449, 87547, 1572, 5), 'Bridgeport', (1572, 5)))
DEBUG:root:('change_values idxlist:', ((42557, 87548, 1576, 5), 'North Lawndale', (1576, 5)))
DEBUG:root:('change_values idxlist:', ((42584, 87550, 1577, 5), 'Washington Park', (1577, 5)))
DEBUG:root:('change_values idxlist:', ((42908, 87553, 1589, 5), 'Near North Side', (1589, 5)))
DEBUG:root:('change_values idxlist:', ((42962, 87554, 1591, 5), 'Near North Side', (1591, 5)))
DEBUG:root:('change_values idxlist:', ((42989, 87556, 1592, 5), 'Near West Side', (1592, 5)))
DEBUG:root:('change_values idxlist:', ((43043, 87559, 1594, 5), 'Near West Side', (1594, 5)))
DEBUG:root:('change_values idxlist:', ((43097, 87560, 1596, 5), 'Dunning', (1596, 5)))
DEBUG:root:('change_values idxlist:', ((43205, 87561, 1600, 5), 'East Garfield Park', (1600, 5)))
DEBUG:root:('change_values idxlist:', ((43367, 87567, 1606, 5), 'Near North Side', (1606, 5)))
DEBUG:root:('change_values idxlist:', ((43610, 87572, 1615, 5), 'Edgewater', (1615, 5)))
DEBUG:root:('change_values idxlist:', ((43745, 87574, 1620, 5), 'Near South Side', (1620, 5)))
DEBUG:root:('change_values idxlist:', ((43961, 87582, 1628, 5), 'East Garfield Park', (1628, 5)))
DEBUG:root:('change_values idxlist:', ((44177, 87587, 1636, 5), 'Belmont Cragin', (1636, 5)))
DEBUG:root:('change_values idxlist:', ((44312, 87590, 1641, 5), 'Near North Side', (1641, 5)))
DEBUG:root:('change_values idxlist:', ((44663, 87596, 1654, 5), 'Near North Side', (1654, 5)))
DEBUG:root:('change_values idxlist:', ((44798, 87597, 1659, 5), 'Austin', (1659, 5)))
DEBUG:root:('change_values idxlist:', ((44825, 87600, 1660, 5), 'Austin', (1660, 5)))
DEBUG:root:('change_values idxlist:', ((45230, 87605, 1675, 5), 'Irving Park', (1675, 5)))
DEBUG:root:('change_values idxlist:', ((45257, 87608, 1676, 5), 'Irving Park', (1676, 5)))
DEBUG:root:('change_values idxlist:', ((45284, 87611, 1677, 5), 'Avondale', (1677, 5)))
DEBUG:root:('change_values idxlist:', ((45311, 87612, 1678, 5), 'Avondale', (1678, 5)))
DEBUG:root:('change_values idxlist:', ((45365, 87614, 1680, 5), 'West Town', (1680, 5)))
DEBUG:root:('change_values idxlist:', ((45500, 87623, 1685, 5), 'Near West Side', (1685, 5)))
DEBUG:root:('change_values idxlist:', ((45770, 87632, 1695, 5), 'Near West Side', (1695, 5)))
DEBUG:root:('change_values idxlist:', ((45797, 87633, 1696, 5), 'West Town', (1696, 5)))
DEBUG:root:('change_values idxlist:', ((45986, 87636, 1703, 5), 'Oakland', (1703, 5)))
DEBUG:root:('change_values idxlist:', ((46013, 87637, 1704, 5), 'Edgewater', (1704, 5)))
DEBUG:root:('change_values idxlist:', ((46067, 87639, 1706, 5), 'Mckinley Park', (1706, 5)))
DEBUG:root:('change_values idxlist:', ((46094, 87640, 1707, 5), 'Bridgeport', (1707, 5)))
DEBUG:root:('change_values idxlist:', ((46175, 87643, 1710, 5), 'Near West Side', (1710, 5)))
DEBUG:root:('change_values idxlist:', ((46244, 46244, 1712, 20), 2, (1712, 20)))
DEBUG:root:('change_values idxlist:', ((46337, 87653, 1716, 5), 'Near North Side', (1716, 5)))
DEBUG:root:('change_values idxlist:', ((46418, 87655, 1719, 5), 'West Town', (1719, 5)))
DEBUG:root:('change_values idxlist:', ((46472, 87658, 1721, 5), 'Humboldt Park', (1721, 5)))
DEBUG:root:('change_values idxlist:', ((46607, 87660, 1726, 5), 'North Center', (1726, 5)))
DEBUG:root:('change_values idxlist:', ((46634, 87661, 1727, 5), 'North Center', (1727, 5)))
DEBUG:root:('change_values idxlist:', ((46877, 87667, 1736, 5), 'Kenwood', (1736, 5)))
DEBUG:root:('change_values idxlist:', ((46985, 87671, 1740, 5), 'West Town', (1740, 5)))
DEBUG:root:('change_values idxlist:', ((47012, 87673, 1741, 5), 'West Town', (1741, 5)))
DEBUG:root:('change_values idxlist:', ((47093, 87675, 1744, 5), 'North Center', (1744, 5)))
DEBUG:root:('change_values idxlist:', ((47255, 87679, 1750, 5), 'West Town', (1750, 5)))
DEBUG:root:('change_values idxlist:', ((47282, 87680, 1751, 5), 'West Town', (1751, 5)))
DEBUG:root:('change_values idxlist:', ((47498, 87682, 1759, 5), 'West Ridge', (1759, 5)))
DEBUG:root:('change_values idxlist:', ((47525, 87683, 1760, 5), 'West Town', (1760, 5)))
DEBUG:root:('change_values idxlist:', ((47579, 87685, 1762, 5), 'Near West Side', (1762, 5)))
DEBUG:root:('change_values idxlist:', ((47687, 87686, 1766, 5), 'West Ridge', (1766, 5)))
DEBUG:root:('change_values idxlist:', ((47930, 87691, 1775, 5), 'Near North Side', (1775, 5)))
DEBUG:root:('change_values idxlist:', ((48281, 87695, 1788, 5), 'Calumet Heights', (1788, 5)))
DEBUG:root:('change_values idxlist:', ((48659, 87699, 1802, 5), 'East Garfield Park', (1802, 5)))
DEBUG:root:('change_values idxlist:', ((48821, 87702, 1808, 5), 'Near North Side', (1808, 5)))
DEBUG:root:('change_values idxlist:', ((49010, 87704, 1815, 5), 'West Town', (1815, 5)))
DEBUG:root:('change_values idxlist:', ((49037, 87705, 1816, 5), 'Near West Side', (1816, 5)))
DEBUG:root:('change_values idxlist:', ((49172, 87710, 1821, 5), 'Armour Square', (1821, 5)))
DEBUG:root:('change_values idxlist:', ((49388, 87718, 1829, 5), 'Near North Side', (1829, 5)))
DEBUG:root:('change_values idxlist:', ((49442, 87721, 1831, 5), 'Calumet Heights', (1831, 5)))
DEBUG:root:('change_values idxlist:', ((49523, 87722, 1834, 5), 'Near North Side', (1834, 5)))
DEBUG:root:('change_values idxlist:', ((49577, 87725, 1836, 5), 'Near North Side', (1836, 5)))
DEBUG:root:('change_values idxlist:', ((49712, 87726, 1841, 5), 'Near North Side', (1841, 5)))
DEBUG:root:('change_values idxlist:', ((49739, 87727, 1842, 5), 'West Town', (1842, 5)))
DEBUG:root:('change_values idxlist:', ((49793, 87728, 1844, 5), 'Near West Side', (1844, 5)))
DEBUG:root:('change_values idxlist:', ((49820, 87730, 1845, 5), 'Near West Side', (1845, 5)))
DEBUG:root:('change_values idxlist:', ((49955, 87731, 1850, 5), 'Auburn Gresham', (1850, 5)))
DEBUG:root:('change_values idxlist:', ((49982, 87733, 1851, 5), 'Near South Side', (1851, 5)))
DEBUG:root:('change_values idxlist:', ((50009, 87735, 1852, 5), 'West Town', (1852, 5)))
DEBUG:root:('change_values idxlist:', ((50036, 87736, 1853, 5), 'Near West Side', (1853, 5)))
DEBUG:root:('change_values idxlist:', ((50117, 87738, 1856, 5), 'Irving Park', (1856, 5)))
DEBUG:root:('change_values idxlist:', ((50144, 87739, 1857, 5), 'West Town', (1857, 5)))
DEBUG:root:('change_values idxlist:', ((50252, 87741, 1861, 5), 'Auburn Gresham', (1861, 5)))

DEBUG:root:('change_values idxlist:', ((50279, 87742, 1862, 5), 'Near West Side', (1862, 5)))
DEBUG:root:('change_values idxlist:', ((50576, 87748, 1873, 5), 'Near North Side', (1873, 5)))
DEBUG:root:('change_values idxlist:', ((50603, 87750, 1874, 5), 'Humboldt Park', (1874, 5)))
DEBUG:root:('change_values idxlist:', ((50738, 87754, 1879, 5), 'Near North Side', (1879, 5)))
DEBUG:root:('change_values idxlist:', ((50765, 87755, 1880, 5), 'Near North Side', (1880, 5)))
DEBUG:root:('change_values idxlist:', ((50954, 87757, 1887, 5), 'Near North Side', (1887, 5)))
DEBUG:root:('change_values idxlist:', ((51089, 87758, 1892, 5), 'North Lawndale', (1892, 5)))
DEBUG:root:('change_values idxlist:', ((51224, 87761, 1897, 5), 'Near North Side', (1897, 5)))
DEBUG:root:('change_values idxlist:', ((51386, 87767, 1903, 5), 'Near South Side', (1903, 5)))
DEBUG:root:('change_values idxlist:', ((51413, 87770, 1904, 5), 'Near South Side', (1904, 5)))
DEBUG:root:('change_values idxlist:', ((51548, 87771, 1909, 5), 'Near North Side', (1909, 5)))
DEBUG:root:('change_values idxlist:', ((51575, 87772, 1910, 5), 'Near North Side', (1910, 5)))
DEBUG:root:('change_values idxlist:', ((51629, 87773, 1912, 5), 'Irving Park', (1912, 5)))
DEBUG:root:('change_values idxlist:', ((51656, 87778, 1913, 5), 'Irving Park', (1913, 5)))
DEBUG:root:('change_values idxlist:', ((51872, 87786, 1921, 5), 'West Town', (1921, 5)))
DEBUG:root:('change_values idxlist:', ((52115, 87787, 1930, 5), 'Avondale', (1930, 5)))
DEBUG:root:('change_values idxlist:', ((52250, 87790, 1935, 5), 'Irving Park', (1935, 5)))
DEBUG:root:('change_values idxlist:', ((52601, 87801, 1948, 5), 'Avondale', (1948, 5)))
DEBUG:root:('change_values idxlist:', ((52979, 87810, 1962, 5), 'Near West Side', (1962, 5)))
DEBUG:root:('change_values idxlist:', ((53006, 87811, 1963, 5), 'Near West Side', (1963, 5)))
DEBUG:root:('change_values idxlist:', ((53195, 87812, 1970, 5), 'Armour Square', (1970, 5)))
DEBUG:root:('change_values idxlist:', ((53222, 87814, 1971, 5), 'Armour Square', (1971, 5)))
DEBUG:root:('change_values idxlist:', ((53303, 87815, 1974, 5), 'Armour Square', (1974, 5)))
DEBUG:root:('change_values idxlist:', ((53573, 87819, 1984, 5), 'Kenwood', (1984, 5)))
DEBUG:root:('change_values idxlist:', ((53600, 87820, 1985, 5), 'Irving Park', (1985, 5)))
DEBUG:root:('change_values idxlist:', ((53627, 87821, 1986, 5), 'Near North Side', (1986, 5)))
DEBUG:root:('change_values idxlist:', ((53654, 87822, 1987, 5), 'Near North Side', (1987, 5)))
DEBUG:root:('change_values idxlist:', ((53762, 87825, 1991, 5), 'Near North Side', (1991, 5)))
DEBUG:root:('change_values idxlist:', ((53924, 87832, 1997, 5), 'Edgewater', (1997, 5)))
DEBUG:root:('change_values idxlist:', ((53951, 87833, 1998, 5), 'Edgewater', (1998, 5)))
DEBUG:root:('change_values idxlist:', ((54113, 87836, 2004, 5), 'Irving Park', (2004, 5)))
DEBUG:root:('change_values idxlist:', ((54815, 87851, 2030, 5), 'Near West Side', (2030, 5)))
DEBUG:root:('change_values idxlist:', ((55247, 87857, 2046, 5), 'Near North Side', (2046, 5)))
DEBUG:root:('change_values idxlist:', ((55355, 87860, 2050, 5), 'Near North Side', (2050, 5)))
DEBUG:root:('change_values idxlist:', ((55478, 55478, 2054, 20), 2, (2054, 20)))
DEBUG:root:('change_values idxlist:', ((55733, 87872, 2064, 5), 'Near West Side', (2064, 5)))
DEBUG:root:('change_values idxlist:', ((55787, 87874, 2066, 5), 'West Town', (2066, 5)))
DEBUG:root:('change_values idxlist:', ((56138, 87888, 2079, 5), 'New City', (2079, 5)))
DEBUG:root:('change_values idxlist:', ((56246, 87893, 2083, 5), 'Near North Side', (2083, 5)))
DEBUG:root:('change_values idxlist:', ((56300, 87894, 2085, 5), 'Near North Side', (2085, 5)))
DEBUG:root:('change_values idxlist:', ((56327, 87900, 2086, 5), 'Near North Side', (2086, 5)))
DEBUG:root:('change_values idxlist:', ((56408, 87906, 2089, 5), 'Bridgeport', (2089, 5)))
DEBUG:root:('change_values idxlist:', ((56651, 87910, 2098, 5), 'Edgewater', (2098, 5)))
DEBUG:root:('change_values idxlist:', ((57191, 87920, 2118, 5), 'Near West Side', (2118, 5)))
DEBUG:root:('change_values idxlist:', ((57299, 87923, 2122, 5), 'Near North Side', (2122, 5)))
DEBUG:root:('change_values idxlist:', ((57326, 87924, 2123, 5), 'East Garfield Park', (2123, 5)))
DEBUG:root:('change_values idxlist:', ((57353, 87928, 2124, 5), 'Near North Side', (2124, 5)))
DEBUG:root:('change_values idxlist:', ((57461, 87934, 2128, 5), 'South Deering', (2128, 5)))
DEBUG:root:('change_values idxlist:', ((57515, 87937, 2130, 5), 'Near North Side', (2130, 5)))
DEBUG:root:('change_values idxlist:', ((57542, 87938, 2131, 5), 'Morgan Park', (2131, 5)))
DEBUG:root:('change_values idxlist:', ((57677, 87941, 2136, 5), 'Near North Side', (2136, 5)))
DEBUG:root:('change_values idxlist:', ((58163, 87951, 2154, 5), 'West Town', (2154, 5)))
DEBUG:root:('change_values idxlist:', ((58244, 87952, 2157, 5), 'Near West Side', (2157, 5)))
DEBUG:root:('change_values idxlist:', ((58271, 87953, 2158, 5), 'West Town', (2158, 5)))
DEBUG:root:('change_values idxlist:', ((58379, 87954, 2162, 5), 'Bridgeport', (2162, 5)))
DEBUG:root:('change_values idxlist:', ((58595, 87958, 2170, 5), 'Near West Side', (2170, 5)))
DEBUG:root:('change_values idxlist:', ((58919, 87966, 2182, 5), 'West Town', (2182, 5)))
DEBUG:root:('change_values idxlist:', ((59000, 87968, 2185, 5), 'North Center', (2185, 5)))
DEBUG:root:('change_values idxlist:', ((59135, 87969, 2190, 5), 'Kenwood', (2190, 5)))
DEBUG:root:('change_values idxlist:', ((59432, 87975, 2201, 5), 'Near West Side', (2201, 5)))
DEBUG:root:('change_values idxlist:', ((59459, 87976, 2202, 5), 'Near West Side', (2202, 5)))
DEBUG:root:('change_values idxlist:', ((59513, 87979, 2204, 5), 'North Lawndale', (2204, 5)))
DEBUG:root:('change_values idxlist:', ((59540, 87981, 2205, 5), 'North Center', (2205, 5)))
DEBUG:root:('change_values idxlist:', ((59567, 87983, 2206, 5), 'North Center', (2206, 5)))
DEBUG:root:('change_values idxlist:', ((59594, 87985, 2207, 5), 'Near North Side', (2207, 5)))
DEBUG:root:('change_values idxlist:', ((59621, 87986, 2208, 5), 'Washington Park', (2208, 5)))
DEBUG:root:('change_values idxlist:', ((59702, 87988, 2211, 5), 'East Garfield Park', (2211, 5)))
DEBUG:root:('change_values idxlist:', ((59837, 87990, 2216, 5), 'Irving Park', (2216, 5)))
DEBUG:root:('change_values idxlist:', ((59864, 87991, 2217, 5), 'Near North Side', (2217, 5)))
DEBUG:root:('change_values idxlist:', ((60080, 87995, 2225, 5), 'Near North Side', (2225, 5)))
DEBUG:root:('change_values idxlist:', ((60215, 87996, 2230, 5), 'Near North Side', (2230, 5)))
DEBUG:root:('change_values idxlist:', ((60404, 87999, 2237, 5), 'Near North Side', (2237, 5)))
DEBUG:root:('change_values idxlist:', ((60512, 88003, 2241, 5), 'Near West Side', (2241, 5)))
DEBUG:root:('change_values idxlist:', ((60620, 88004, 2245, 5), 'Dunning', (2245, 5)))
DEBUG:root:('change_values idxlist:', ((60917, 88015, 2256, 5), 'West Town', (2256, 5)))
DEBUG:root:('change_values idxlist:', ((60944, 88016, 2257, 5), 'Near North Side', (2257, 5)))
DEBUG:root:('change_values idxlist:', ((61214, 88018, 2267, 5), 'Near West Side', (2267, 5)))
DEBUG:root:('change_values idxlist:', ((61322, 88021, 2271, 5), 'Near North Side', (2271, 5)))
DEBUG:root:('change_values idxlist:', ((61457, 88028, 2276, 5), 'Near West Side', (2276, 5)))
DEBUG:root:('change_values idxlist:', ((61484, 88029, 2277, 5), 'Roseland', (2277, 5)))
DEBUG:root:('change_values idxlist:', ((61511, 88031, 2278, 5), 'Near West Side', (2278, 5)))
DEBUG:root:('change_values idxlist:', ((61538, 88032, 2279, 5), 'Near North Side', (2279, 5)))
DEBUG:root:('change_values idxlist:', ((61754, 88041, 2287, 5), 'Near North Side', (2287, 5)))
DEBUG:root:('change_values idxlist:', ((61835, 88043, 2290, 5), 'West Town', (2290, 5)))
DEBUG:root:('change_values idxlist:', ((61970, 88047, 2295, 5), 'Humboldt Park', (2295, 5)))
DEBUG:root:('change_values idxlist:', ((62051, 88049, 2298, 5), 'Near North Side', (2298, 5)))
DEBUG:root:('change_values idxlist:', ((62186, 88053, 2303, 5), 'Avondale', (2303, 5)))
DEBUG:root:('change_values idxlist:', ((62267, 88055, 2306, 5), 'Dunning', (2306, 5)))
DEBUG:root:('change_values idxlist:', ((62348, 88057, 2309, 5), 'North Center', (2309, 5)))

DEBUG:root:('change_values idxlist:', ((62429, 88060, 2312, 5), 'Near South Side', (2312, 5)))
DEBUG:root:('change_values idxlist:', ((62510, 88061, 2315, 5), 'Hermosa', (2315, 5)))
DEBUG:root:('change_values idxlist:', ((62672, 88065, 2321, 5), 'Edgewater', (2321, 5)))
DEBUG:root:('change_values idxlist:', ((62753, 88070, 2324, 5), 'Near North Side', (2324, 5)))
DEBUG:root:('change_values idxlist:', ((62888, 88073, 2329, 5), 'Near North Side', (2329, 5)))
DEBUG:root:('change_values idxlist:', ((62969, 88077, 2332, 5), 'Near North Side', (2332, 5)))
DEBUG:root:('change_values idxlist:', ((63212, 88084, 2341, 5), 'Near North Side', (2341, 5)))
DEBUG:root:('change_values idxlist:', ((63590, 88087, 2355, 5), 'Near West Side', (2355, 5)))
DEBUG:root:('change_values idxlist:', ((63671, 88089, 2358, 5), 'West Ridge', (2358, 5)))
DEBUG:root:('change_values idxlist:', ((63887, 88092, 2366, 5), 'Near North Side', (2366, 5)))
DEBUG:root:('change_values idxlist:', ((63941, 88095, 2368, 5), 'Humboldt Park', (2368, 5)))
DEBUG:root:('change_values idxlist:', ((64184, 88102, 2377, 5), 'Near West Side', (2377, 5)))
DEBUG:root:('change_values idxlist:', ((64454, 88112, 2387, 5), 'West Pullman', (2387, 5)))
DEBUG:root:('change_values idxlist:', ((64535, 88113, 2390, 5), 'Bridgeport', (2390, 5)))
DEBUG:root:('change_values idxlist:', ((64589, 88115, 2392, 5), 'West Ridge', (2392, 5)))
DEBUG:root:('change_values idxlist:', ((64886, 88123, 2403, 5), 'West Town', (2403, 5)))
DEBUG:root:('change_values idxlist:', ((64913, 88125, 2404, 5), 'West Town', (2404, 5)))
DEBUG:root:('change_values idxlist:', ((65048, 88132, 2409, 5), 'East Garfield Park', (2409, 5)))
DEBUG:root:('change_values idxlist:', ((65210, 88137, 2415, 5), 'North Center', (2415, 5)))
DEBUG:root:('change_values idxlist:', ((65345, 88142, 2420, 5), 'Near North Side', (2420, 5)))
DEBUG:root:('change_values idxlist:', ((65426, 88145, 2423, 5), 'West Town', (2423, 5)))
DEBUG:root:('change_values idxlist:', ((65534, 88149, 2427, 5), 'Near North Side', (2427, 5)))
DEBUG:root:('change_values idxlist:', ((65615, 88151, 2430, 5), 'Bridgeport', (2430, 5)))
DEBUG:root:('change_values idxlist:', ((65696, 88153, 2433, 5), 'Bridgeport', (2433, 5)))
DEBUG:root:('change_values idxlist:', ((65723, 88154, 2434, 5), 'Belmont Cragin', (2434, 5)))
DEBUG:root:('change_values idxlist:', ((65750, 88155, 2435, 5), 'Near North Side', (2435, 5)))
DEBUG:root:('change_values idxlist:', ((66101, 88163, 2448, 5), 'Near North Side', (2448, 5)))
DEBUG:root:('change_values idxlist:', ((66560, 88173, 2465, 5), 'Belmont Cragin', (2465, 5)))
DEBUG:root:('change_values idxlist:', ((66776, 88177, 2473, 5), 'North Lawndale', (2473, 5)))
DEBUG:root:('change_values idxlist:', ((66803, 88178, 2474, 5), 'West Town', (2474, 5)))
DEBUG:root:('change_values idxlist:', ((67019, 88181, 2482, 5), 'West Town', (2482, 5)))
DEBUG:root:('change_values idxlist:', ((67127, 88183, 2486, 5), 'East Garfield Park', (2486, 5)))
DEBUG:root:('change_values idxlist:', ((67181, 88185, 2488, 5), 'Near North Side', (2488, 5)))
DEBUG:root:('change_values idxlist:', ((67208, 88187, 2489, 5), 'Near North Side', (2489, 5)))
DEBUG:root:('change_values idxlist:', ((67262, 88189, 2491, 5), 'Near North Side', (2491, 5)))
DEBUG:root:('change_values idxlist:', ((67316, 88191, 2493, 5), 'West Town', (2493, 5)))
DEBUG:root:('change_values idxlist:', ((67559, 88199, 2502, 5), 'West Town', (2502, 5)))
DEBUG:root:('change_values idxlist:', ((67586, 88200, 2503, 5), 'East Garfield Park', (2503, 5)))
DEBUG:root:('change_values idxlist:', ((67613, 88201, 2504, 5), 'Roseland', (2504, 5)))
DEBUG:root:('change_values idxlist:', ((67667, 88204, 2506, 5), 'Irving Park', (2506, 5)))
DEBUG:root:('change_values idxlist:', ((67721, 88205, 2508, 5), 'Edgewater', (2508, 5)))
DEBUG:root:('change_values idxlist:', ((67802, 88206, 2511, 5), 'Near North Side', (2511, 5)))
DEBUG:root:('change_values idxlist:', ((67829, 88207, 2512, 5), 'Avondale', (2512, 5)))
DEBUG:root:('change_values idxlist:', ((67991, 88211, 2518, 5), 'Near North Side', (2518, 5)))
DEBUG:root:('change_values idxlist:', ((68018, 88213, 2519, 5), 'Near North Side', (2519, 5)))
DEBUG:root:('change_values idxlist:', ((68126, 88216, 2523, 5), 'West Town', (2523, 5)))
DEBUG:root:('change_values idxlist:', ((68288, 88219, 2529, 5), 'Near North Side', (2529, 5)))
DEBUG:root:('change_values idxlist:', ((68342, 88221, 2531, 5), 'Near West Side', (2531, 5)))
DEBUG:root:('change_values idxlist:', ((68504, 88224, 2537, 5), 'Near West Side', (2537, 5)))
DEBUG:root:('change_values idxlist:', ((68612, 88228, 2541, 5), 'Near North Side', (2541, 5)))
DEBUG:root:('change_values idxlist:', ((68747, 88231, 2546, 5), 'Humboldt Park', (2546, 5)))
DEBUG:root:('change_values idxlist:', ((68909, 88236, 2552, 5), 'West Town', (2552, 5)))
DEBUG:root:('change_values idxlist:', ((69071, 88240, 2558, 5), 'West Town', (2558, 5)))
DEBUG:root:('change_values idxlist:', ((69368, 88245, 2569, 5), 'Austin', (2569, 5)))
DEBUG:root:('change_values idxlist:', ((69395, 88246, 2570, 5), 'Beverly', (2570, 5)))
DEBUG:root:('change_values idxlist:', ((69476, 88247, 2573, 5), 'Humboldt Park', (2573, 5)))
DEBUG:root:('change_values idxlist:', ((69638, 88252, 2579, 5), 'Near South Side', (2579, 5)))
DEBUG:root:('change_values idxlist:', ((69692, 88254, 2581, 5), 'Near West Side', (2581, 5)))
DEBUG:root:('change_values idxlist:', ((69746, 88255, 2583, 5), 'Near West Side', (2583, 5)))
DEBUG:root:('change_values idxlist:', ((69773, 88256, 2584, 5), 'East Garfield Park', (2584, 5)))
DEBUG:root:('change_values idxlist:', ((70016, 88262, 2593, 5), 'Washington Park', (2593, 5)))
DEBUG:root:('change_values idxlist:', ((70151, 88265, 2598, 5), 'Near North Side', (2598, 5)))
DEBUG:root:('change_values idxlist:', ((70340, 88268, 2605, 5), 'Near North Side', (2605, 5)))
DEBUG:root:('change_values idxlist:', ((70367, 88269, 2606, 5), 'Near West Side', (2606, 5)))
DEBUG:root:('change_values idxlist:', ((70502, 88274, 2611, 5), 'East Side', (2611, 5)))
DEBUG:root:('change_values idxlist:', ((70691, 88276, 2618, 5), 'West Town', (2618, 5)))
DEBUG:root:('change_values idxlist:', ((70826, 88281, 2623, 5), 'East Garfield Park', (2623, 5)))
DEBUG:root:('change_values idxlist:', ((70853, 88283, 2624, 5), 'East Garfield Park', (2624, 5)))
DEBUG:root:('change_values idxlist:', ((71015, 88286, 2630, 5), 'West Town', (2630, 5)))
DEBUG:root:('change_values idxlist:', ((71096, 88289, 2633, 5), 'Near West Side', (2633, 5)))
DEBUG:root:('change_values idxlist:', ((71204, 88292, 2637, 5), 'Near West Side', (2637, 5)))
DEBUG:root:('change_values idxlist:', ((71393, 88298, 2644, 5), 'Near West Side', (2644, 5)))
DEBUG:root:('change_values idxlist:', ((71474, 88299, 2647, 5), 'Armour Square', (2647, 5)))
DEBUG:root:('change_values idxlist:', ((71582, 88301, 2651, 5), 'Mckinley Park', (2651, 5)))
DEBUG:root:('change_values idxlist:', ((71663, 88303, 2654, 5), 'Near North Side', (2654, 5)))
DEBUG:root:('change_values idxlist:', ((71690, 88304, 2655, 5), 'Near North Side', (2655, 5)))
DEBUG:root:('change_values idxlist:', ((71717, 88305, 2656, 5), 'Armour Square', (2656, 5)))
DEBUG:root:('change_values idxlist:', ((71744, 88307, 2657, 5), 'Armour Square', (2657, 5)))
DEBUG:root:('change_values idxlist:', ((72068, 88316, 2669, 5), 'Near North Side', (2669, 5)))
DEBUG:root:('change_values idxlist:', ((72122, 88317, 2671, 5), 'Near North Side', (2671, 5)))
DEBUG:root:('change_values idxlist:', ((72149, 88318, 2672, 5), 'Near North Side', (2672, 5)))
DEBUG:root:('change_values idxlist:', ((72203, 88320, 2674, 5), 'Near North Side', (2674, 5)))
DEBUG:root:('change_values idxlist:', ((72311, 88322, 2678, 5), 'Bridgeport', (2678, 5)))
DEBUG:root:('change_values idxlist:', ((72338, 88323, 2679, 5), 'Bridgeport', (2679, 5)))
DEBUG:root:('change_values idxlist:', ((72635, 88331, 2690, 5), 'Near West Side', (2690, 5)))
DEBUG:root:('change_values idxlist:', ((72743, 88334, 2694, 5), 'Near West Side', (2694, 5)))
DEBUG:root:('change_values idxlist:', ((72959, 88340, 2702, 5), 'Belmont Cragin', (2702, 5)))
DEBUG:root:('change_values idxlist:', ((73040, 88344, 2705, 5), 'West Town', (2705, 5)))
DEBUG:root:('change_values idxlist:', ((73067, 88346, 2706, 5), 'Bridgeport', (2706, 5)))

DEBUG:root:('change_values idxlist:', ((73121, 88348, 2708, 5), 'Irving Park', (2708, 5)))
DEBUG:root:('change_values idxlist:', ((73310, 88353, 2715, 5), 'Hermosa', (2715, 5)))
DEBUG:root:('change_values idxlist:', ((73364, 88355, 2717, 5), 'Mckinley Park', (2717, 5)))
DEBUG:root:('change_values idxlist:', ((73499, 88359, 2722, 5), 'Near West Side', (2722, 5)))
DEBUG:root:('change_values idxlist:', ((73580, 88360, 2725, 5), 'Near North Side', (2725, 5)))
DEBUG:root:('change_values idxlist:', ((73715, 88364, 2730, 5), 'Oakland', (2730, 5)))
DEBUG:root:('change_values idxlist:', ((73742, 88365, 2731, 5), 'Near West Side', (2731, 5)))
DEBUG:root:('change_values idxlist:', ((73796, 88368, 2733, 5), 'Bridgeport', (2733, 5)))
DEBUG:root:('change_values idxlist:', ((73823, 88369, 2734, 5), 'Bridgeport', (2734, 5)))
DEBUG:root:('change_values idxlist:', ((74066, 88375, 2743, 5), 'Irving Park', (2743, 5)))
DEBUG:root:('change_values idxlist:', ((74120, 88377, 2745, 5), 'North Center', (2745, 5)))
DEBUG:root:('change_values idxlist:', ((74147, 88378, 2746, 5), 'East Garfield Park', (2746, 5)))
DEBUG:root:('change_values idxlist:', ((74189, 74189, 2747, 20), 2, (2747, 20)))
DEBUG:root:('change_values idxlist:', ((74282, 88384, 2751, 5), 'Dunning', (2751, 5)))
DEBUG:root:('change_values idxlist:', ((74498, 88387, 2759, 5), 'Armour Square', (2759, 5)))
DEBUG:root:('change_values idxlist:', ((74687, 88391, 2766, 5), 'Near South Side', (2766, 5)))
DEBUG:root:('change_values idxlist:', ((74741, 88392, 2768, 5), 'West Ridge', (2768, 5)))
DEBUG:root:('change_values idxlist:', ((74768, 88393, 2769, 5), 'Near South Side', (2769, 5)))
DEBUG:root:('change_values idxlist:', ((74903, 88396, 2774, 5), 'Bridgeport', (2774, 5)))
DEBUG:root:('change_values idxlist:', ((74984, 88399, 2777, 5), 'West Town', (2777, 5)))
DEBUG:root:('change_values idxlist:', ((75119, 88403, 2782, 5), 'Armour Square', (2782, 5)))
DEBUG:root:('change_values idxlist:', ((75254, 88410, 2787, 5), 'Bridgeport', (2787, 5)))
DEBUG:root:('change_values idxlist:', ((75308, 88412, 2789, 5), 'Avondale', (2789, 5)))
DEBUG:root:('change_values idxlist:', ((76037, 88432, 2816, 5), 'East Garfield Park', (2816, 5)))
DEBUG:root:('change_values idxlist:', ((76145, 88436, 2820, 5), 'Near South Side', (2820, 5)))
DEBUG:root:('change_values idxlist:', ((76172, 88438, 2821, 5), 'Near South Side', (2821, 5)))
DEBUG:root:('change_values idxlist:', ((76226, 88440, 2823, 5), 'West Ridge', (2823, 5)))
DEBUG:root:('change_values idxlist:', ((76442, 88445, 2831, 5), 'New City', (2831, 5)))
DEBUG:root:('change_values idxlist:', ((76550, 88446, 2835, 5), 'Avondale', (2835, 5)))
DEBUG:root:('change_values idxlist:', ((76820, 88451, 2845, 5), 'West Town', (2845, 5)))
DEBUG:root:('change_values idxlist:', ((76928, 88453, 2849, 5), 'Near West Side', (2849, 5)))
DEBUG:root:('change_values idxlist:', ((77090, 88455, 2855, 5), 'Near North Side', (2855, 5)))
DEBUG:root:('change_values idxlist:', ((77171, 88458, 2858, 5), 'Near South Side', (2858, 5)))
DEBUG:root:('change_values idxlist:', ((77225, 88460, 2860, 5), 'Near North Side', (2860, 5)))
DEBUG:root:('change_values idxlist:', ((77360, 88465, 2865, 5), 'Near North Side', (2865, 5)))
DEBUG:root:('change_values idxlist:', ((77387, 88466, 2866, 5), 'Humboldt Park', (2866, 5)))
DEBUG:root:('change_values idxlist:', ((77414, 88468, 2867, 5), 'North Lawndale', (2867, 5)))
DEBUG:root:('change_values idxlist:', ((77576, 88472, 2873, 5), 'Edgewater', (2873, 5)))
DEBUG:root:('change_values idxlist:', ((77630, 88473, 2875, 5), 'Near South Side', (2875, 5)))
DEBUG:root:('change_values idxlist:', ((77819, 88477, 2882, 5), 'Near North Side', (2882, 5)))
DEBUG:root:('change_values idxlist:', ((77981, 88481, 2888, 5), 'East Garfield Park', (2888, 5)))
DEBUG:root:('change_values idxlist:', ((78116, 88484, 2893, 5), 'West Town', (2893, 5)))
DEBUG:root:('change_values idxlist:', ((78575, 88491, 2910, 5), 'Bridgeport', (2910, 5)))
DEBUG:root:('change_values idxlist:', ((78602, 88493, 2911, 5), 'Near South Side', (2911, 5)))
DEBUG:root:('change_values idxlist:', ((78656, 88496, 2913, 5), 'Edgewater', (2913, 5)))
DEBUG:root:('change_values idxlist:', ((78818, 88498, 2919, 5), 'Washington Park', (2919, 5)))
DEBUG:root:('change_values idxlist:', ((78899, 88501, 2922, 5), 'Near North Side', (2922, 5)))
DEBUG:root:('change_values idxlist:', ((78926, 88503, 2923, 5), 'Near South Side', (2923, 5)))
DEBUG:root:('change_values idxlist:', ((78953, 88504, 2924, 5), 'Near South Side', (2924, 5)))
DEBUG:root:('change_values idxlist:', ((78980, 88506, 2925, 5), 'Avondale', (2925, 5)))
DEBUG:root:('change_values idxlist:', ((79142, 88508, 2931, 5), 'Near South Side', (2931, 5)))
DEBUG:root:('change_values idxlist:', ((79196, 88510, 2933, 5), 'Near North Side', (2933, 5)))
DEBUG:root:('change_values idxlist:', ((79250, 88511, 2935, 5), 'Bridgeport', (2935, 5)))
DEBUG:root:('change_values idxlist:', ((79547, 88518, 2946, 5), 'West Town', (2946, 5)))
DEBUG:root:('change_values idxlist:', ((79628, 88523, 2949, 5), 'West Town', (2949, 5)))
DEBUG:root:('change_values idxlist:', ((79682, 88524, 2951, 5), 'Near South Side', (2951, 5)))
DEBUG:root:('change_values idxlist:', ((79763, 88528, 2954, 5), 'Humboldt Park', (2954, 5)))
DEBUG:root:('change_values idxlist:', ((79925, 88532, 2960, 5), 'Near West Side', (2960, 5)))
DEBUG:root:('change_values idxlist:', ((80006, 88534, 2963, 5), 'Near South Side', (2963, 5)))
DEBUG:root:('change_values idxlist:', ((80033, 88535, 2964, 5), 'Near South Side', (2964, 5)))
DEBUG:root:('change_values idxlist:', ((80087, 88538, 2966, 5), 'Irving Park', (2966, 5)))
DEBUG:root:('change_values idxlist:', ((80141, 88539, 2968, 5), 'Near West Side', (2968, 5)))
DEBUG:root:('change_values idxlist:', ((80168, 88541, 2969, 5), 'Near West Side', (2969, 5)))
DEBUG:root:('change_values idxlist:', ((80276, 88544, 2973, 5), 'South Deering', (2973, 5)))
DEBUG:root:('change_values idxlist:', ((80816, 88553, 2993, 5), 'West Town', (2993, 5)))
DEBUG:root:('change_values idxlist:', ((80858, 80858, 2994, 20), 2, (2994, 20)))
DEBUG:root:('change_values idxlist:', ((81221, 88565, 3008, 5), 'West Town', (3008, 5)))
DEBUG:root:('change_values idxlist:', ((81275, 88566, 3010, 5), 'Near West Side', (3010, 5)))
DEBUG:root:('change_values idxlist:', ((81398, 81398, 3014, 20), 2, (3014, 20)))
DEBUG:root:('change_values idxlist:', ((81734, 88573, 3027, 5), 'Near South Side', (3027, 5)))
DEBUG:root:('change_values idxlist:', ((81788, 88576, 3029, 5), 'Near North Side', (3029, 5)))
DEBUG:root:('change_values idxlist:', ((81977, 88582, 3036, 5), 'West Town', (3036, 5)))
DEBUG:root:('change_values idxlist:', ((82004, 88583, 3037, 5), 'Near South Side', (3037, 5)))
DEBUG:root:('change_values idxlist:', ((82274, 88589, 3047, 5), 'Irving Park', (3047, 5)))
DEBUG:root:('change_values idxlist:', ((82517, 88599, 3056, 5), 'West Town', (3056, 5)))
DEBUG:root:('change_values idxlist:', ((82625, 88602, 3060, 5), 'Bridgeport', (3060, 5)))
DEBUG:root:('change_values idxlist:', ((82733, 88603, 3064, 5), 'Near South Side', (3064, 5)))
DEBUG:root:('change_values idxlist:', ((82760, 88604, 3065, 5), 'Avondale', (3065, 5)))
DEBUG:root:('change_values idxlist:', ((82787, 88605, 3066, 5), 'Bridgeport', (3066, 5)))
DEBUG:root:('change_values idxlist:', ((82814, 88606, 3067, 5), 'South Chicago', (3067, 5)))
DEBUG:root:('change_values idxlist:', ((82976, 88610, 3073, 5), 'Bridgeport', (3073, 5)))
DEBUG:root:('change_values idxlist:', ((83192, 88615, 3081, 5), 'Near North Side', (3081, 5)))
DEBUG:root:('change_values idxlist:', ((83219, 88616, 3082, 5), 'Near North Side', (3082, 5)))
DEBUG:root:('change_values idxlist:', ((83327, 88620, 3086, 5), 'Near North Side', (3086, 5)))
DEBUG:root:('change_values idxlist:', ((83462, 88624, 3091, 5), 'West Town', (3091, 5)))
DEBUG:root:('change_values idxlist:', ((84164, 88643, 3117, 5), 'South Chicago', (3117, 5)))
DEBUG:root:('change_values idxlist:', ((84272, 88647, 3121, 5), 'Near South Side', (3121, 5)))
DEBUG:root:('change_values idxlist:', ((84353, 88649, 3124, 5), 'Austin', (3124, 5)))
DEBUG:root:('change_values idxlist:', ((84380, 88650, 3125, 5), 'Near North Side', (3125, 5)))
DEBUG:root:('change_values idxlist:', ((84461, 88653, 3128, 5), 'West Town', (3128, 5)))

DEBUG:root:('change_values idxlist:', ((84623, 88658, 3134, 5), 'Near West Side', (3134, 5)))
DEBUG:root:('change_values idxlist:', ((84692, 84692, 3136, 20), 2, (3136, 20)))
DEBUG:root:('change_values idxlist:', ((84920, 88669, 3145, 5), 'Near West Side', (3145, 5)))
DEBUG:root:('change_values idxlist:', ((85055, 88673, 3150, 5), 'West Town', (3150, 5)))
DEBUG:root:('change_values idxlist:', ((85136, 88675, 3153, 5), 'West Town', (3153, 5)))
DEBUG:root:('change_values idxlist:', ((85163, 88676, 3154, 5), 'Kenwood', (3154, 5)))
DEBUG:root:('change_values idxlist:', ((85190, 88679, 3155, 5), 'Kenwood', (3155, 5)))
DEBUG:root:('change_values idxlist:', ((85271, 88683, 3158, 5), 'South Chicago', (3158, 5)))
DEBUG:root:('change_values idxlist:', ((85460, 88689, 3165, 5), 'Near North Side', (3165, 5)))
DEBUG:root:('change_values idxlist:', ((85730, 88693, 3175, 5), 'Near West Side', (3175, 5)))
DEBUG:root:('change_values idxlist:', ((85757, 88694, 3176, 5), 'Near West Side', (3176, 5)))
DEBUG:root:('change_values idxlist:', ((85919, 88700, 3182, 5), 'Avondale', (3182, 5)))
DEBUG:root:('change_values idxlist:', ((85946, 88705, 3183, 5), 'Avondale', (3183, 5)))
DEBUG:root:('change_values idxlist:', ((86027, 88710, 3186, 5), 'West Town', (3186, 5)))
DEBUG:root:('change_values idxlist:', ((86243, 88712, 3194, 5), 'Near North Side', (3194, 5)))

True

In [67]:
workset_before = workset_after.copy()

In [68]:
check_pd = pd.DataFrame(dcm1.cell_values)
check_pd[check_pd[2]==2]

           0      1  2  3      4
88788  88788    721  2  1    721
88789  88789    748  2  1    748
88790  88790   1423  2  1   1423
88791  88791   1450  2  1   1450
88792  88792   1477  2  1   1477
...      ...    ... .. ..    ...
89137  89137  39871  2  1  39871
89138  89138  39979  2  1  39979
89139  89139  40006  2  1  40006
89140  89140  40033  2  1  40033
89141  89141  40087  2  1  40087

[354 rows x 5 columns]

# cleanup latitude and longitude
The latitude and longitude values in the dataset must fall within the range of -90 to +90 for latitude and -180 to +180 for longitude to ensure that they meet the criteria for analysis. We have provided a check number function to validate the latitude and longitude columns. Any values outside of these ranges should be cleaned to meet the criteria.

If you are unsure what to do with a value or if it is a null value, you can flag the row for deletion by setting latitude_flag or longitude_flag to 1 or 2, respectively.

In [69]:
def check_number(x,start=-90,end=90):
    try:
        temp_x = float(x)
        return (start <= temp_x <= end)
    except:
        return False

In [70]:
def clean_latitude(df):
    
    lat_check_pd = df[df.latitude_flag==0]
    lat_check_pd = lat_check_pd[lat_check_pd.latitude.apply(lambda x:check_number(x,-90,90))==False]
    wrong_lat_df=lat_check_pd[["id","latitude"]]
    lat_ind_ls=list(wrong_lat_df.index)
    
    lat_true = df[df.latitude_flag==0]
    lat_true = lat_true[lat_true.latitude.apply(lambda x:check_number(x,-90,90))==True]
    right_lati_ls=list(lat_true["latitude"])
    #print(right_lati_ls)
    avg_lati=sum([float(x) for x in right_lati_ls])/len(right_lati_ls)
    uni_period_loc=str(avg_lati).index(".")
    print(uni_period_loc)
    
    
    for lat_id in lat_ind_ls:
        pre_lati=df.loc[lat_id,"latitude"]
        if pd.isnull(pre_lati):
            df.loc[lat_id,"latitude_flag"]=2
        else:
            try:
                temp=[]
                period_loc=0
                for c in str(pre_lati):
                    # nikolaus fixed the isdigit calling function and added checking for "-" sign 
                    if c.isdigit:                    
                    #if c.isdigit() or c=="-":
                        temp.append(c)
                        # nikolaus fixed missplaced =+1 shoud be +=1 (for iteration)
                        period_loc=+1                        
                        #period_loc+=1
                    #print(uni_period_loc,period_loc)
                    if period_loc==uni_period_loc:
                        # nikolaus added implementation for "." (based on the intention)
                        temp.append(c)
                        #temp.append(".")
                #print(temp)
                revised=float("".join(temp))
                if check_number(revised)==True:
                    df.loc[lat_id,"latitude"]=revised
                else:
                    df.loc[lat_id,"latitude_flag"]=1
            except BaseException as ex:
                print(lat_id)
                #df.loc[lat_id,"latitude_flag"]=1
    return df

In [71]:
airbnb_pd.latitude.sort_values(ascending=False)

3171    42.01833
1767    42.01653
1759    42.01653
1502    42.01653
1766    42.01653
          ...
2543         NaN
2557         NaN
2657         NaN
3014         NaN
3136         NaN
Name: latitude, Length: 1715, dtype: object

In [72]:
# apply the clean_latitude function to the 'latitude' column
airbnb_pd = clean_latitude(airbnb_pd)
# airbnb_pd.loc[airbnb_pd['latitude_flag']==1, 'latitude']
#airbnb_pd.loc[airbnb_pd['latitude_flag']==1, 'latitude'] = airbnb_pd.loc[airbnb_pd['latitude_flag']==1, 'latitude'].apply(lambda x: clean_latitude_pls(x))

2

# Latitude checking

This query should return zero rows once you implement the cleaning process

In [73]:
lat_check_pd = airbnb_pd[airbnb_pd.latitude_flag==0]
lat_check_pd = lat_check_pd[lat_check_pd.latitude.apply(lambda x:check_number(x,-90,90))==False]
lat_check_pd[["id","latitude"]]

Empty DataFrame
Columns: [id, latitude]
Index: []

In [74]:
workset_before = workset_after.copy()

In [75]:
workset_after = assign_to_original(workset_after,airbnb_pd)

In [76]:
(workset_after.fillna("")!=workset_before.fillna("")).sum()

id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood_group                 0
neighbourhood                       0
latitude                            0
longitude                           0
room_type                           0
price                               0
minimum_nights                      0
number_of_reviews                   0
last_review                         0
reviews_per_month                   0
calculated_host_listings_count      0
availability_365                    0
number_of_reviews_ltm               0
license                             0
id_flag                             0
host_id_flag                        0
neighbourhood_flag                  0
latitude_flag                     106
longitude_flag                      0
minimum_nights_flag                 0
number_of_reviews_flag              0
last_review_flag                    0
room_type_flag                      0
dtype: int64

In [77]:
dcm1.change_df(workset_before,workset_after,"clean_latitude_c2","c2")

DEBUG:root:change values
DEBUG:root:('change_values pd_index:',                            0                        1   \
0                (0, 0, 0, 0)             (1, 1, 0, 1)
1              (27, 27, 1, 0)           (28, 28, 1, 1)
2              (54, 54, 2, 0)           (55, 55, 2, 1)
3              (81, 81, 3, 0)           (82, 82, 3, 1)
4            (108, 108, 4, 0)         (109, 109, 4, 1)
...                       ...                      ...
3196  (86292, 86292, 3196, 0)  (86293, 86293, 3196, 1)
3197  (86319, 86319, 3197, 0)  (86320, 86320, 3197, 1)
3198  (86346, 86346, 3198, 0)  (86347, 86347, 3198, 1)
3199  (86373, 86373, 3199, 0)  (86374, 86374, 3199, 1)
3200  (86400, 86400, 3200, 0)  (86401, 86401, 3200, 1)

                           2                        3   \
0                (2, 2, 0, 2)             (3, 3, 0, 3)
1              (29, 29, 1, 2)           (30, 30, 1, 3)
2              (56, 56, 2, 2)           (57, 57, 2, 3)
3              (83, 83, 3, 2)           (84, 84, 3, 3)
4            (110, 110, 4, 2)         (111, 111, 4, 3)
...                       ...                      ...
3196  (86294, 86294, 3196, 2)  (86295, 86295, 3196, 3)
3197  (86321, 86321, 3197, 2)  (86322, 86322, 3197, 3)
3198  (86348, 86348, 3198, 2)  (86349, 86349, 3198, 3)
3199  (86375, 86375, 3199, 2)  (86376, 86376, 3199, 3)
3200  (86402, 86402, 3200, 2)  (86403, 86403, 3200, 3)

                           4                        5   \
0                (4, 4, 0, 4)             (5, 5, 0, 5)
1              (31, 31, 1, 4)           (32, 32, 1, 5)
2              (58, 58, 2, 4)           (59, 59, 2, 5)
3              (85, 85, 3, 4)           (86, 86, 3, 5)
4            (112, 112, 4, 4)         (113, 113, 4, 5)
...                       ...                      ...
3196  (86296, 86296, 3196, 4)  (86297, 86297, 3196, 5)
3197  (86323, 86323, 3197, 4)  (86324, 86324, 3197, 5)
3198  (86350, 86350, 3198, 4)  (86351, 86351, 3198, 5)
3199  (86377, 86377, 3199, 4)  (86378, 86378, 3199, 5)
3200  (86404, 86404, 3200, 4)  (86405, 86405, 3200, 5)

                           6                        7   \
0                (6, 6, 0, 6)             (7, 7, 0, 7)
1              (33, 33, 1, 6)           (34, 34, 1, 7)
2              (60, 60, 2, 6)           (61, 61, 2, 7)
3              (87, 87, 3, 6)           (88, 88, 3, 7)
4            (114, 114, 4, 6)         (115, 115, 4, 7)
...                       ...                      ...
3196  (86298, 86298, 3196, 6)  (86299, 86299, 3196, 7)
3197  (86325, 86325, 3197, 6)  (86326, 86326, 3197, 7)
3198  (86352, 86352, 3198, 6)  (86353, 86353, 3198, 7)
3199  (86379, 86379, 3199, 6)  (86380, 86380, 3199, 7)
3200  (86406, 88717, 3200, 6)  (86407, 86407, 3200, 7)

                           8                        9   ...  \
0                (8, 8, 0, 8)             (9, 9, 0, 9)  ...
1              (35, 35, 1, 8)           (36, 36, 1, 9)  ...
2              (62, 62, 2, 8)           (63, 63, 2, 9)  ...
3           (89, 89638, 3, 8)           (90, 90, 3, 9)  ...
4            (116, 116, 4, 8)         (117, 117, 4, 9)  ...
...                       ...                      ...  ...
3196  (86300, 86300, 3196, 8)  (86301, 86301, 3196, 9)  ...
3197  (86327, 88715, 3197, 8)  (86328, 86328, 3197, 9)  ...
3198  (86354, 86354, 3198, 8)  (86355, 86355, 3198, 9)  ...
3199  (86381, 88716, 3199, 8)  (86382, 86382, 3199, 9)  ...
3200  (86408, 86408, 3200, 8)  (86409, 86409, 3200, 9)  ...

                            17                        18  \
0              (17, 17, 0, 17)           (18, 18, 0, 18)
1              (44, 44, 1, 17)           (45, 45, 1, 18)
2              (71, 71, 2, 17)           (72, 72, 2, 18)
3              (98, 98, 3, 17)           (99, 99, 3, 18)
4            (125, 125, 4, 17)         (126, 126, 4, 18)
...                        ...                       ...
3196  (86309, 86309, 3196, 17)  (86310, 86310, 3196, 18)
3197  (86336, 86336, 3197, 17)  (86337, 86337, 3197, 18)
3198  (86363, 86363, 3198, 17)  (86364, 86364, 3198, 18)
3199  (86390, 86390, 3199, 17)  (86391, 86391, 3199, 18)
3200  (86417, 86417, 3200, 17)  (86418, 86418, 3200, 18)

                            19                        20  \
0              (19, 19, 0, 19)           (20, 20, 0, 20)
1              (46, 46, 1, 19)           (47, 47, 1, 20)
2              (73, 73, 2, 19)           (74, 74, 2, 20)
3            (100, 100, 3, 19)         (101, 101, 3, 20)
4            (127, 127, 4, 19)         (128, 128, 4, 20)
...                        ...                       ...
3196  (86311, 86311, 3196, 19)  (86312, 86312, 3196, 20)
3197  (86338, 86338, 3197, 19)  (86339, 86339, 3197, 20)
3198  (86365, 86365, 3198, 19)  (86366, 86366, 3198, 20)
3199  (86392, 86392, 3199, 19)  (86393, 86393, 3199, 20)
3200  (86419, 86419, 3200, 19)  (86420, 86420, 3200, 20)

                            21                        22  \
0              (21, 21, 0, 21)           (22, 22, 0, 22)
1              (48, 48, 1, 21)           (49, 49, 1, 22)
2              (75, 75, 2, 21)           (76, 76, 2, 22)
3            (102, 102, 3, 21)         (103, 103, 3, 22)
4            (129, 129, 4, 21)         (130, 130, 4, 22)
...                        ...                       ...
3196  (86313, 86313, 3196, 21)  (86314, 86314, 3196, 22)
3197  (86340, 86340, 3197, 21)  (86341, 86341, 3197, 22)
3198  (86367, 86367, 3198, 21)  (86368, 86368, 3198, 22)
3199  (86394, 86394, 3199, 21)  (86395, 86395, 3199, 22)
3200  (86421, 86421, 3200, 21)  (86422, 86422, 3200, 22)

                            23                        24  \
0              (23, 23, 0, 23)           (24, 24, 0, 24)
1              (50, 50, 1, 23)           (51, 51, 1, 24)
2              (77, 77, 2, 23)           (78, 78, 2, 24)
3            (104, 104, 3, 23)         (105, 105, 3, 24)
4            (131, 131, 4, 23)         (132, 132, 4, 24)
...                        ...                       ...
3196  (86315, 86315, 3196, 23)  (86316, 86316, 3196, 24)
3197  (86342, 86342, 3197, 23)  (86343, 86343, 3197, 24)
3198  (86369, 86369, 3198, 23)  (86370, 86370, 3198, 24)
3199  (86396, 86396, 3199, 23)  (86397, 86397, 3199, 24)
3200  (86423, 86423, 3200, 23)  (86424, 86424, 3200, 24)

                            25                        26
0              (25, 25, 0, 25)           (26, 26, 0, 26)
1              (52, 52, 1, 25)           (53, 53, 1, 26)
2           (79, 89912, 2, 25)           (80, 80, 2, 26)
3            (106, 106, 3, 25)         (107, 107, 3, 26)
4            (133, 133, 4, 25)         (134, 134, 4, 26)
...                        ...                       ...
3196  (86317, 86317, 3196, 25)  (86318, 86318, 3196, 26)
3197  (86344, 86344, 3197, 25)  (86345, 86345, 3197, 26)
3198  (86371, 86371, 3198, 25)  (86372, 86372, 3198, 26)
3199  (86398, 86398, 3199, 25)  (86399, 86399, 3199, 26)
3200  (86425, 86425, 3200, 25)  (86426, 86426, 3200, 26)

[3201 rows x 27 columns], array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]]))
DEBUG:root:('idx:', array([(40170, 40170, 1487, 21), (40197, 40197, 1488, 21),
       (40440, 40440, 1497, 21), (40845, 40845, 1512, 21),
       (41655, 41655, 1542, 21), (41871, 41871, 1550, 21),
       (41979, 41979, 1554, 21), (42006, 42006, 1555, 21),
       (42573, 42573, 1576, 21), (43302, 43302, 1603, 21),
       (43869, 43869, 1624, 21), (43896, 43896, 1625, 21),
       (43977, 43977, 1628, 21), (44571, 44571, 1650, 21),
       (44598, 44598, 1651, 21), (44814, 44814, 1659, 21),
       (44841, 44841, 1660, 21), (44922, 44922, 1663, 21),
       (45246, 45246, 1675, 21), (45273, 45273, 1676, 21),
       (45408, 45408, 1681, 21), (45435, 45435, 1682, 21),
       (46866, 46866, 1735, 21), (47136, 47136, 1745, 21),
       (47946, 47946, 1775, 21), (48675, 48675, 1802, 21),
       (49134, 49134, 1819, 21), (50403, 50403, 1866, 21),
       (50511, 50511, 1870, 21), (50538, 50538, 1871, 21),
       (50619, 50619, 1874, 21), (50727, 50727, 1878, 21),
       (51321, 51321, 1900, 21), (51375, 51375, 1902, 21),
       (51402, 51402, 1903, 21), (54372, 54372, 2013, 21),
       (54588, 54588, 2021, 21), (55020, 55020, 2037, 21),
       (55965, 55965, 2072, 21), (55992, 55992, 2073, 21),
       (56019, 56019, 2074, 21), (56073, 56073, 2076, 21),
       (56235, 56235, 2082, 21), (57909, 57909, 2144, 21),
       (59367, 59367, 2198, 21), (59475, 59475, 2202, 21),
       (59637, 59637, 2208, 21), (60393, 60393, 2236, 21),
       (60879, 60879, 2254, 21), (60906, 60906, 2255, 21),
       (61635, 61635, 2282, 21), (61689, 61689, 2284, 21),
       (61743, 61743, 2286, 21), (62634, 62634, 2319, 21),
       (62715, 62715, 2322, 21), (62742, 62742, 2323, 21),
       (64200, 64200, 2377, 21), (65010, 65010, 2407, 21),
       (65604, 65604, 2429, 21), (66090, 66090, 2447, 21),
       (66225, 66225, 2452, 21), (67008, 67008, 2481, 21),
       (67656, 67656, 2505, 21), (68682, 68682, 2543, 21),
       (68898, 68898, 2551, 21), (69060, 69060, 2557, 21),
       (69357, 69357, 2568, 21), (71760, 71760, 2657, 21),
       (72813, 72813, 2696, 21), (72840, 72840, 2697, 21),
       (72867, 72867, 2698, 21), (73029, 73029, 2704, 21),
       (73164, 73164, 2709, 21), (73893, 73893, 2736, 21),
       (73974, 73974, 2739, 21), (74514, 74514, 2759, 21),
       (74946, 74946, 2775, 21), (75216, 75216, 2785, 21),
       (75567, 75567, 2798, 21), (75594, 75594, 2799, 21),
       (75918, 75918, 2811, 21), (76053, 76053, 2816, 21),
       (77349, 77349, 2864, 21), (79590, 79590, 2947, 21),
       (80049, 80049, 2964, 21), (80157, 80157, 2968, 21),
       (80184, 80184, 2969, 21), (80913, 80913, 2996, 21),
       (80967, 80967, 2998, 21), (81021, 81021, 3000, 21),
       (81210, 81210, 3007, 21), (81399, 81399, 3014, 21),
       (81804, 81804, 3029, 21), (81966, 81966, 3035, 21),
       (82506, 82506, 3055, 21), (83397, 83397, 3088, 21),
       (83424, 83424, 3089, 21), (83721, 83721, 3100, 21),
       (83910, 83910, 3107, 21), (84693, 84693, 3136, 21),
       (85098, 85098, 3151, 21), (85800, 85800, 3177, 21),
       (85908, 85908, 3181, 21), (85989, 85989, 3184, 21),
       (86205, 86205, 3192, 21), (86421, 86421, 3200, 21)], dtype=object), array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1,
       1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2,
       1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1], dtype=object))

DEBUG:root:('change_values idxlist:', [(40170, 40170, 1487, 21), (40197, 40197, 1488, 21), (40440, 40440, 1497, 21), (40845, 40845, 1512, 21), (41655, 41655, 1542, 21), (41871, 41871, 1550, 21), (41979, 41979, 1554, 21), (42006, 42006, 1555, 21), (42573, 42573, 1576, 21), (43302, 43302, 1603, 21), (43869, 43869, 1624, 21), (43896, 43896, 1625, 21), (43977, 43977, 1628, 21), (44571, 44571, 1650, 21), (44598, 44598, 1651, 21), (44814, 44814, 1659, 21), (44841, 44841, 1660, 21), (44922, 44922, 1663, 21), (45246, 45246, 1675, 21), (45273, 45273, 1676, 21), (45408, 45408, 1681, 21), (45435, 45435, 1682, 21), (46866, 46866, 1735, 21), (47136, 47136, 1745, 21), (47946, 47946, 1775, 21), (48675, 48675, 1802, 21), (49134, 49134, 1819, 21), (50403, 50403, 1866, 21), (50511, 50511, 1870, 21), (50538, 50538, 1871, 21), (50619, 50619, 1874, 21), (50727, 50727, 1878, 21), (51321, 51321, 1900, 21), (51375, 51375, 1902, 21), (51402, 51402, 1903, 21), (54372, 54372, 2013, 21), (54588, 54588, 2021, 21), (55020, 55020, 2037, 21), (55965, 55965, 2072, 21), (55992, 55992, 2073, 21), (56019, 56019, 2074, 21), (56073, 56073, 2076, 21), (56235, 56235, 2082, 21), (57909, 57909, 2144, 21), (59367, 59367, 2198, 21), (59475, 59475, 2202, 21), (59637, 59637, 2208, 21), (60393, 60393, 2236, 21), (60879, 60879, 2254, 21), (60906, 60906, 2255, 21), (61635, 61635, 2282, 21), (61689, 61689, 2284, 21), (61743, 61743, 2286, 21), (62634, 62634, 2319, 21), (62715, 62715, 2322, 21), (62742, 62742, 2323, 21), (64200, 64200, 2377, 21), (65010, 65010, 2407, 21), (65604, 65604, 2429, 21), (66090, 66090, 2447, 21), (66225, 66225, 2452, 21), (67008, 67008, 2481, 21), (67656, 67656, 2505, 21), (68682, 68682, 2543, 21), (68898, 68898, 2551, 21), (69060, 69060, 2557, 21), (69357, 69357, 2568, 21), (71760, 71760, 2657, 21), (72813, 72813, 2696, 21), (72840, 72840, 2697, 21), (72867, 72867, 2698, 21), (73029, 73029, 2704, 21), (73164, 73164, 2709, 21), (73893, 73893, 2736, 21), (73974, 73974, 2739, 21), (74514, 74514, 2759, 21), (74946, 74946, 2775, 21), (75216, 75216, 2785, 21), (75567, 75567, 2798, 21), (75594, 75594, 2799, 21), (75918, 75918, 2811, 21), (76053, 76053, 2816, 21), (77349, 77349, 2864, 21), (79590, 79590, 2947, 21), (80049, 80049, 2964, 21), (80157, 80157, 2968, 21), (80184, 80184, 2969, 21), (80913, 80913, 2996, 21), (80967, 80967, 2998, 21), (81021, 81021, 3000, 21), (81210, 81210, 3007, 21), (81399, 81399, 3014, 21), (81804, 81804, 3029, 21), (81966, 81966, 3035, 21), (82506, 82506, 3055, 21), (83397, 83397, 3088, 21), (83424, 83424, 3089, 21), (83721, 83721, 3100, 21), (83910, 83910, 3107, 21), (84693, 84693, 3136, 21), (85098, 85098, 3151, 21), (85800, 85800, 3177, 21), (85908, 85908, 3181, 21), (85989, 85989, 3184, 21), (86205, 86205, 3192, 21), (86421, 86421, 3200, 21)], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1])
DEBUG:root:('change_values idxlist:', ((40170, 40170, 1487, 21), 1, (1487, 21)))
DEBUG:root:('change_values idxlist:', ((40197, 40197, 1488, 21), 1, (1488, 21)))
DEBUG:root:('change_values idxlist:', ((40440, 40440, 1497, 21), 1, (1497, 21)))
DEBUG:root:('change_values idxlist:', ((40845, 40845, 1512, 21), 1, (1512, 21)))
DEBUG:root:('change_values idxlist:', ((41655, 41655, 1542, 21), 1, (1542, 21)))
DEBUG:root:('change_values idxlist:', ((41871, 41871, 1550, 21), 1, (1550, 21)))
DEBUG:root:('change_values idxlist:', ((41979, 41979, 1554, 21), 1, (1554, 21)))
DEBUG:root:('change_values idxlist:', ((42006, 42006, 1555, 21), 1, (1555, 21)))
DEBUG:root:('change_values idxlist:', ((42573, 42573, 1576, 21), 1, (1576, 21)))
DEBUG:root:('change_values idxlist:', ((43302, 43302, 1603, 21), 1, (1603, 21)))
DEBUG:root:('change_values idxlist:', ((43869, 43869, 1624, 21), 1, (1624, 21)))
DEBUG:root:('change_values idxlist:', ((43896, 43896, 1625, 21), 1, (1625, 21)))
DEBUG:root:('change_values idxlist:', ((43977, 43977, 1628, 21), 1, (1628, 21)))
DEBUG:root:('change_values idxlist:', ((44571, 44571, 1650, 21), 1, (1650, 21)))
DEBUG:root:('change_values idxlist:', ((44598, 44598, 1651, 21), 1, (1651, 21)))
DEBUG:root:('change_values idxlist:', ((44814, 44814, 1659, 21), 1, (1659, 21)))
DEBUG:root:('change_values idxlist:', ((44841, 44841, 1660, 21), 1, (1660, 21)))
DEBUG:root:('change_values idxlist:', ((44922, 44922, 1663, 21), 1, (1663, 21)))
DEBUG:root:('change_values idxlist:', ((45246, 45246, 1675, 21), 1, (1675, 21)))
DEBUG:root:('change_values idxlist:', ((45273, 45273, 1676, 21), 1, (1676, 21)))
DEBUG:root:('change_values idxlist:', ((45408, 45408, 1681, 21), 1, (1681, 21)))
DEBUG:root:('change_values idxlist:', ((45435, 45435, 1682, 21), 1, (1682, 21)))
DEBUG:root:('change_values idxlist:', ((46866, 46866, 1735, 21), 1, (1735, 21)))
DEBUG:root:('change_values idxlist:', ((47136, 47136, 1745, 21), 1, (1745, 21)))
DEBUG:root:('change_values idxlist:', ((47946, 47946, 1775, 21), 1, (1775, 21)))
DEBUG:root:('change_values idxlist:', ((48675, 48675, 1802, 21), 1, (1802, 21)))
DEBUG:root:('change_values idxlist:', ((49134, 49134, 1819, 21), 1, (1819, 21)))
DEBUG:root:('change_values idxlist:', ((50403, 50403, 1866, 21), 1, (1866, 21)))
DEBUG:root:('change_values idxlist:', ((50511, 50511, 1870, 21), 1, (1870, 21)))
DEBUG:root:('change_values idxlist:', ((50538, 50538, 1871, 21), 1, (1871, 21)))
DEBUG:root:('change_values idxlist:', ((50619, 50619, 1874, 21), 1, (1874, 21)))
DEBUG:root:('change_values idxlist:', ((50727, 50727, 1878, 21), 1, (1878, 21)))
DEBUG:root:('change_values idxlist:', ((51321, 51321, 1900, 21), 1, (1900, 21)))
DEBUG:root:('change_values idxlist:', ((51375, 51375, 1902, 21), 1, (1902, 21)))
DEBUG:root:('change_values idxlist:', ((51402, 51402, 1903, 21), 2, (1903, 21)))
DEBUG:root:('change_values idxlist:', ((54372, 54372, 2013, 21), 1, (2013, 21)))
DEBUG:root:('change_values idxlist:', ((54588, 54588, 2021, 21), 1, (2021, 21)))
DEBUG:root:('change_values idxlist:', ((55020, 55020, 2037, 21), 1, (2037, 21)))
DEBUG:root:('change_values idxlist:', ((55965, 55965, 2072, 21), 1, (2072, 21)))
DEBUG:root:('change_values idxlist:', ((55992, 55992, 2073, 21), 1, (2073, 21)))
DEBUG:root:('change_values idxlist:', ((56019, 56019, 2074, 21), 1, (2074, 21)))
DEBUG:root:('change_values idxlist:', ((56073, 56073, 2076, 21), 2, (2076, 21)))
DEBUG:root:('change_values idxlist:', ((56235, 56235, 2082, 21), 1, (2082, 21)))
DEBUG:root:('change_values idxlist:', ((57909, 57909, 2144, 21), 1, (2144, 21)))
DEBUG:root:('change_values idxlist:', ((59367, 59367, 2198, 21), 1, (2198, 21)))
DEBUG:root:('change_values idxlist:', ((59475, 59475, 2202, 21), 2, (2202, 21)))
DEBUG:root:('change_values idxlist:', ((59637, 59637, 2208, 21), 1, (2208, 21)))
DEBUG:root:('change_values idxlist:', ((60393, 60393, 2236, 21), 1, (2236, 21)))
DEBUG:root:('change_values idxlist:', ((60879, 60879, 2254, 21), 1, (2254, 21)))
DEBUG:root:('change_values idxlist:', ((60906, 60906, 2255, 21), 1, (2255, 21)))
DEBUG:root:('change_values idxlist:', ((61635, 61635, 2282, 21), 1, (2282, 21)))
DEBUG:root:('change_values idxlist:', ((61689, 61689, 2284, 21), 1, (2284, 21)))
DEBUG:root:('change_values idxlist:', ((61743, 61743, 2286, 21), 1, (2286, 21)))
DEBUG:root:('change_values idxlist:', ((62634, 62634, 2319, 21), 1, (2319, 21)))
DEBUG:root:('change_values idxlist:', ((62715, 62715, 2322, 21), 1, (2322, 21)))
DEBUG:root:('change_values idxlist:', ((62742, 62742, 2323, 21), 1, (2323, 21)))
DEBUG:root:('change_values idxlist:', ((64200, 64200, 2377, 21), 1, (2377, 21)))
DEBUG:root:('change_values idxlist:', ((65010, 65010, 2407, 21), 1, (2407, 21)))
DEBUG:root:('change_values idxlist:', ((65604, 65604, 2429, 21), 1, (2429, 21)))
DEBUG:root:('change_values idxlist:', ((66090, 66090, 2447, 21), 1, (2447, 21)))
DEBUG:root:('change_values idxlist:', ((66225, 66225, 2452, 21), 1, (2452, 21)))
DEBUG:root:('change_values idxlist:', ((67008, 67008, 2481, 21), 1, (2481, 21)))
DEBUG:root:('change_values idxlist:', ((67656, 67656, 2505, 21), 1, (2505, 21)))

DEBUG:root:('change_values idxlist:', ((68682, 68682, 2543, 21), 2, (2543, 21)))
DEBUG:root:('change_values idxlist:', ((68898, 68898, 2551, 21), 1, (2551, 21)))
DEBUG:root:('change_values idxlist:', ((69060, 69060, 2557, 21), 2, (2557, 21)))
DEBUG:root:('change_values idxlist:', ((69357, 69357, 2568, 21), 1, (2568, 21)))
DEBUG:root:('change_values idxlist:', ((71760, 71760, 2657, 21), 2, (2657, 21)))
DEBUG:root:('change_values idxlist:', ((72813, 72813, 2696, 21), 1, (2696, 21)))
DEBUG:root:('change_values idxlist:', ((72840, 72840, 2697, 21), 1, (2697, 21)))
DEBUG:root:('change_values idxlist:', ((72867, 72867, 2698, 21), 1, (2698, 21)))
DEBUG:root:('change_values idxlist:', ((73029, 73029, 2704, 21), 1, (2704, 21)))
DEBUG:root:('change_values idxlist:', ((73164, 73164, 2709, 21), 1, (2709, 21)))
DEBUG:root:('change_values idxlist:', ((73893, 73893, 2736, 21), 1, (2736, 21)))
DEBUG:root:('change_values idxlist:', ((73974, 73974, 2739, 21), 1, (2739, 21)))
DEBUG:root:('change_values idxlist:', ((74514, 74514, 2759, 21), 1, (2759, 21)))
DEBUG:root:('change_values idxlist:', ((74946, 74946, 2775, 21), 1, (2775, 21)))
DEBUG:root:('change_values idxlist:', ((75216, 75216, 2785, 21), 1, (2785, 21)))
DEBUG:root:('change_values idxlist:', ((75567, 75567, 2798, 21), 1, (2798, 21)))
DEBUG:root:('change_values idxlist:', ((75594, 75594, 2799, 21), 1, (2799, 21)))
DEBUG:root:('change_values idxlist:', ((75918, 75918, 2811, 21), 1, (2811, 21)))
DEBUG:root:('change_values idxlist:', ((76053, 76053, 2816, 21), 1, (2816, 21)))
DEBUG:root:('change_values idxlist:', ((77349, 77349, 2864, 21), 1, (2864, 21)))
DEBUG:root:('change_values idxlist:', ((79590, 79590, 2947, 21), 1, (2947, 21)))
DEBUG:root:('change_values idxlist:', ((80049, 80049, 2964, 21), 1, (2964, 21)))
DEBUG:root:('change_values idxlist:', ((80157, 80157, 2968, 21), 1, (2968, 21)))
DEBUG:root:('change_values idxlist:', ((80184, 80184, 2969, 21), 1, (2969, 21)))
DEBUG:root:('change_values idxlist:', ((80913, 80913, 2996, 21), 1, (2996, 21)))
DEBUG:root:('change_values idxlist:', ((80967, 80967, 2998, 21), 1, (2998, 21)))
DEBUG:root:('change_values idxlist:', ((81021, 81021, 3000, 21), 1, (3000, 21)))
DEBUG:root:('change_values idxlist:', ((81210, 81210, 3007, 21), 1, (3007, 21)))
DEBUG:root:('change_values idxlist:', ((81399, 81399, 3014, 21), 2, (3014, 21)))
DEBUG:root:('change_values idxlist:', ((81804, 81804, 3029, 21), 1, (3029, 21)))
DEBUG:root:('change_values idxlist:', ((81966, 81966, 3035, 21), 1, (3035, 21)))
DEBUG:root:('change_values idxlist:', ((82506, 82506, 3055, 21), 1, (3055, 21)))
DEBUG:root:('change_values idxlist:', ((83397, 83397, 3088, 21), 1, (3088, 21)))
DEBUG:root:('change_values idxlist:', ((83424, 83424, 3089, 21), 1, (3089, 21)))
DEBUG:root:('change_values idxlist:', ((83721, 83721, 3100, 21), 1, (3100, 21)))
DEBUG:root:('change_values idxlist:', ((83910, 83910, 3107, 21), 1, (3107, 21)))
DEBUG:root:('change_values idxlist:', ((84693, 84693, 3136, 21), 2, (3136, 21)))
DEBUG:root:('change_values idxlist:', ((85098, 85098, 3151, 21), 1, (3151, 21)))
DEBUG:root:('change_values idxlist:', ((85800, 85800, 3177, 21), 1, (3177, 21)))
DEBUG:root:('change_values idxlist:', ((85908, 85908, 3181, 21), 1, (3181, 21)))
DEBUG:root:('change_values idxlist:', ((85989, 85989, 3184, 21), 1, (3184, 21)))
DEBUG:root:('change_values idxlist:', ((86205, 86205, 3192, 21), 1, (3192, 21)))
DEBUG:root:('change_values idxlist:', ((86421, 86421, 3200, 21), 1, (3200, 21)))

True

In [78]:
dcm1.state_detail

[(-1, {'op': 'initial'}, 0, -2, None),
 (0, 'perturbed_dataset', 0, -1, 0),
 (1, 'clean_duplicate_id_c1', 1, 0, 1),
 (2, 'clean_inconsistent_host_id_c1', 2, 1, 1),
 (3, 'clean_neighbourhood_c1', 3, 2, 1),
 (4, 'clean_latitude_c1', 4, 3, 1),
 (5, 'clean_longitude_c1', 5, 4, 1),
 (6, 'clean_room_type_c1', 6, 5, 1),
 (7, 'clean_minimum_nights_c1', 7, 6, 1),
 (8, 'clean_number_of_reviews_c1', 8, 7, 1),
 (9, 'clean_last_review_c1', 9, 8, 1),
 (10, 'clean_duplicate_id_c2', 10, 0, 2),
 (11, 'clean_inconsistent_host_id_c2', 11, 10, 2),
 (12, 'clean_neighbourhood_c2', 12, 11, 2),
 (13, 'clean_latitude_c2', 13, 12, 2)]

In [79]:
workset_before = workset_after.copy()

In [80]:
check_pd = pd.DataFrame(dcm1.cell_values)
check_pd[check_pd[2]==3]

           0      1  2             3      4
89142  89142    167  3     Lake View  86429
89143  89143    248  3  Lincoln Park  86433
89144  89144    329  3  Lincoln Park  86435
89145  89145    356  3  Lincoln Park  86436
89146  89146    383  3  Logan Square  86438
...      ...    ... ..           ...    ...
89459  89459  39614  3          Loop  87472
89460  89460  39749  3     Lake View  87476
89461  89461  39884  3   South Shore  87479
89462  89462  39992  3          Loop  87481
89463  89463  40100  3  Lincoln Park  87482

[322 rows x 5 columns]

In [81]:
def clean_longitude(df):
    lon_check_pd = airbnb_pd[airbnb_pd.longitude_flag==0]
    lon_check_pd = lon_check_pd[lon_check_pd.longitude.apply(lambda x:check_number(x,-180,180))==False]
    wrong_long_df=lon_check_pd[["id","longitude"]]
    long_ind_ls=list(wrong_long_df.index)
    
    
    long_true = df[df.longitude_flag==0]
    long_true = long_true[long_true.longitude.apply(lambda x:check_number(x,-180,180))==True]
    right_long_ls=list(long_true["longitude"])
        
    avg_long=sum([float(x) for x in right_long_ls])/len(right_long_ls)
    uni_period_loc=str(avg_long).index(".")

    for long_id in long_ind_ls:
        pre_long=df.loc[long_id,"longitude"]
        if pre_long==np.nan:
            df.loc[long_id,"longitude_flag"]=2
        else:
            try:
                temp=[]
                period_loc=0
                for c in str(pre_long):
                    # nikolaus fixed the isdigit calling function and added checking for "-" sign 
                    if c.isdigit:
                    #if c.isdigit() or c=="-":
                        temp.append(c)
                        # nikolaus fixed missplaced =+1 shoud be +=1 (for iteration)
                        period_loc=+1
                        #period_loc+=1
                    if period_loc==uni_period_loc:
                        # nikolaus added implementation for "." (based on the intention)
                        temp.append(c)
                        #temp.append(".")
                #print(temp)
                revised=float("".join(temp))
                if check_number(revised,-180,180)==True:
                    df.loc[long_id,"longitude"]=revised
                else:
                    df.loc[long_id,"longitude_flag"]=1
        
            except:
                print(long_id)
                df.loc[long_id,"longitude_flag"]=1
        
    return df

In [82]:
airbnb_pd = clean_longitude(airbnb_pd)
airbnb_pd[airbnb_pd['longitude_flag']==1]['longitude']

1540      -8772881
1563      -8763383
1580      -8768732
1607      -8766189
1623      -8769208
           ...
3083    -876526915
3098      -8766632
3113      -8762559
3127      -8772144
3177      -8763165
Name: longitude, Length: 95, dtype: object

# Longitude checking

This query should return zero rows once you implement the cleaning process

In [83]:
lon_check_pd = airbnb_pd[airbnb_pd.longitude_flag==0]
lon_check_pd = lon_check_pd[lon_check_pd.longitude.apply(lambda x:check_number(x,-180,180))==False]
lon_check_pd[["id","longitude"]]

Empty DataFrame
Columns: [id, longitude]
Index: []

In [84]:
workset_after = assign_to_original(workset_after,airbnb_pd)

In [85]:
(workset_after.fillna("")!=workset_before.fillna("")).sum()

id                                 0
name                               0
host_id                            0
host_name                          0
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
number_of_reviews_ltm              0
license                            0
id_flag                            0
host_id_flag                       0
neighbourhood_flag                 0
latitude_flag                      0
longitude_flag                    95
minimum_nights_flag                0
number_of_reviews_flag             0
last_review_flag                   0
room_type_flag                     0
dtype: int64

In [86]:
dcm1.change_df(workset_before,workset_after,"clean_longitude_c2","c2")

DEBUG:root:change values
DEBUG:root:('change_values pd_index:',                            0                        1   \
0                (0, 0, 0, 0)             (1, 1, 0, 1)
1              (27, 27, 1, 0)           (28, 28, 1, 1)
2              (54, 54, 2, 0)           (55, 55, 2, 1)
3              (81, 81, 3, 0)           (82, 82, 3, 1)
4            (108, 108, 4, 0)         (109, 109, 4, 1)
...                       ...                      ...
3196  (86292, 86292, 3196, 0)  (86293, 86293, 3196, 1)
3197  (86319, 86319, 3197, 0)  (86320, 86320, 3197, 1)
3198  (86346, 86346, 3198, 0)  (86347, 86347, 3198, 1)
3199  (86373, 86373, 3199, 0)  (86374, 86374, 3199, 1)
3200  (86400, 86400, 3200, 0)  (86401, 86401, 3200, 1)

                           2                        3   \
0                (2, 2, 0, 2)             (3, 3, 0, 3)
1              (29, 29, 1, 2)           (30, 30, 1, 3)
2              (56, 56, 2, 2)           (57, 57, 2, 3)
3              (83, 83, 3, 2)           (84, 84, 3, 3)
4            (110, 110, 4, 2)         (111, 111, 4, 3)
...                       ...                      ...
3196  (86294, 86294, 3196, 2)  (86295, 86295, 3196, 3)
3197  (86321, 86321, 3197, 2)  (86322, 86322, 3197, 3)
3198  (86348, 86348, 3198, 2)  (86349, 86349, 3198, 3)
3199  (86375, 86375, 3199, 2)  (86376, 86376, 3199, 3)
3200  (86402, 86402, 3200, 2)  (86403, 86403, 3200, 3)

                           4                        5   \
0                (4, 4, 0, 4)             (5, 5, 0, 5)
1              (31, 31, 1, 4)           (32, 32, 1, 5)
2              (58, 58, 2, 4)           (59, 59, 2, 5)
3              (85, 85, 3, 4)           (86, 86, 3, 5)
4            (112, 112, 4, 4)         (113, 113, 4, 5)
...                       ...                      ...
3196  (86296, 86296, 3196, 4)  (86297, 86297, 3196, 5)
3197  (86323, 86323, 3197, 4)  (86324, 86324, 3197, 5)
3198  (86350, 86350, 3198, 4)  (86351, 86351, 3198, 5)
3199  (86377, 86377, 3199, 4)  (86378, 86378, 3199, 5)
3200  (86404, 86404, 3200, 4)  (86405, 86405, 3200, 5)

                           6                        7   \
0                (6, 6, 0, 6)             (7, 7, 0, 7)
1              (33, 33, 1, 6)           (34, 34, 1, 7)
2              (60, 60, 2, 6)           (61, 61, 2, 7)
3              (87, 87, 3, 6)           (88, 88, 3, 7)
4            (114, 114, 4, 6)         (115, 115, 4, 7)
...                       ...                      ...
3196  (86298, 86298, 3196, 6)  (86299, 86299, 3196, 7)
3197  (86325, 86325, 3197, 6)  (86326, 86326, 3197, 7)
3198  (86352, 86352, 3198, 6)  (86353, 86353, 3198, 7)
3199  (86379, 86379, 3199, 6)  (86380, 86380, 3199, 7)
3200  (86406, 88717, 3200, 6)  (86407, 86407, 3200, 7)

                           8                        9   ...  \
0                (8, 8, 0, 8)             (9, 9, 0, 9)  ...
1              (35, 35, 1, 8)           (36, 36, 1, 9)  ...
2              (62, 62, 2, 8)           (63, 63, 2, 9)  ...
3           (89, 89638, 3, 8)           (90, 90, 3, 9)  ...
4            (116, 116, 4, 8)         (117, 117, 4, 9)  ...
...                       ...                      ...  ...
3196  (86300, 86300, 3196, 8)  (86301, 86301, 3196, 9)  ...
3197  (86327, 88715, 3197, 8)  (86328, 86328, 3197, 9)  ...
3198  (86354, 86354, 3198, 8)  (86355, 86355, 3198, 9)  ...
3199  (86381, 88716, 3199, 8)  (86382, 86382, 3199, 9)  ...
3200  (86408, 86408, 3200, 8)  (86409, 86409, 3200, 9)  ...

                            17                        18  \
0              (17, 17, 0, 17)           (18, 18, 0, 18)
1              (44, 44, 1, 17)           (45, 45, 1, 18)
2              (71, 71, 2, 17)           (72, 72, 2, 18)
3              (98, 98, 3, 17)           (99, 99, 3, 18)
4            (125, 125, 4, 17)         (126, 126, 4, 18)
...                        ...                       ...
3196  (86309, 86309, 3196, 17)  (86310, 86310, 3196, 18)
3197  (86336, 86336, 3197, 17)  (86337, 86337, 3197, 18)
3198  (86363, 86363, 3198, 17)  (86364, 86364, 3198, 18)
3199  (86390, 86390, 3199, 17)  (86391, 86391, 3199, 18)
3200  (86417, 86417, 3200, 17)  (86418, 86418, 3200, 18)

                            19                        20  \
0              (19, 19, 0, 19)           (20, 20, 0, 20)
1              (46, 46, 1, 19)           (47, 47, 1, 20)
2              (73, 73, 2, 19)           (74, 74, 2, 20)
3            (100, 100, 3, 19)         (101, 101, 3, 20)
4            (127, 127, 4, 19)         (128, 128, 4, 20)
...                        ...                       ...
3196  (86311, 86311, 3196, 19)  (86312, 86312, 3196, 20)
3197  (86338, 86338, 3197, 19)  (86339, 86339, 3197, 20)
3198  (86365, 86365, 3198, 19)  (86366, 86366, 3198, 20)
3199  (86392, 86392, 3199, 19)  (86393, 86393, 3199, 20)
3200  (86419, 86419, 3200, 19)  (86420, 86420, 3200, 20)

                            21                        22  \
0              (21, 21, 0, 21)           (22, 22, 0, 22)
1              (48, 48, 1, 21)           (49, 49, 1, 22)
2              (75, 75, 2, 21)           (76, 76, 2, 22)
3            (102, 102, 3, 21)         (103, 103, 3, 22)
4            (129, 129, 4, 21)         (130, 130, 4, 22)
...                        ...                       ...
3196  (86313, 86313, 3196, 21)  (86314, 86314, 3196, 22)
3197  (86340, 86340, 3197, 21)  (86341, 86341, 3197, 22)
3198  (86367, 86367, 3198, 21)  (86368, 86368, 3198, 22)
3199  (86394, 86394, 3199, 21)  (86395, 86395, 3199, 22)
3200  (86421, 91086, 3200, 21)  (86422, 86422, 3200, 22)

                            23                        24  \
0              (23, 23, 0, 23)           (24, 24, 0, 24)
1              (50, 50, 1, 23)           (51, 51, 1, 24)
2              (77, 77, 2, 23)           (78, 78, 2, 24)
3            (104, 104, 3, 23)         (105, 105, 3, 24)
4            (131, 131, 4, 23)         (132, 132, 4, 24)
...                        ...                       ...
3196  (86315, 86315, 3196, 23)  (86316, 86316, 3196, 24)
3197  (86342, 86342, 3197, 23)  (86343, 86343, 3197, 24)
3198  (86369, 86369, 3198, 23)  (86370, 86370, 3198, 24)
3199  (86396, 86396, 3199, 23)  (86397, 86397, 3199, 24)
3200  (86423, 86423, 3200, 23)  (86424, 86424, 3200, 24)

                            25                        26
0              (25, 25, 0, 25)           (26, 26, 0, 26)
1              (52, 52, 1, 25)           (53, 53, 1, 26)
2           (79, 89912, 2, 25)           (80, 80, 2, 26)
3            (106, 106, 3, 25)         (107, 107, 3, 26)
4            (133, 133, 4, 25)         (134, 134, 4, 26)
...                        ...                       ...
3196  (86317, 86317, 3196, 25)  (86318, 86318, 3196, 26)
3197  (86344, 86344, 3197, 25)  (86345, 86345, 3197, 26)
3198  (86371, 86371, 3198, 25)  (86372, 86372, 3198, 26)
3199  (86398, 86398, 3199, 25)  (86399, 86399, 3199, 26)
3200  (86425, 86425, 3200, 25)  (86426, 86426, 3200, 26)

[3201 rows x 27 columns], array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]]))
DEBUG:root:('idx:', array([(41602, 41602, 1540, 22), (42223, 42223, 1563, 22),
       (42682, 42682, 1580, 22), (43411, 43411, 1607, 22),
       (43843, 43843, 1623, 22), (45652, 45652, 1690, 22),
       (45679, 45679, 1691, 22), (48028, 48028, 1778, 22),
       (49108, 49108, 1818, 22), (49189, 49189, 1821, 22),
       (50296, 50296, 1862, 22), (50593, 50593, 1873, 22),
       (51187, 51187, 1895, 22), (51322, 51322, 1900, 22),
       (51646, 51646, 1912, 22), (51673, 51673, 1913, 22),
       (52321, 52321, 1937, 22), (52348, 52348, 1938, 22),
       (53374, 53374, 1976, 22), (53752, 53752, 1990, 22),
       (53833, 53833, 1993, 22), (53860, 53860, 1994, 22),
       (54670, 54670, 2024, 22), (54697, 54697, 2025, 22),
       (54778, 54778, 2028, 22), (54805, 54805, 2029, 22),
       (55777, 55777, 2065, 22), (55939, 55939, 2071, 22),
       (56128, 56128, 2078, 22), (56398, 56398, 2088, 22),
       (57451, 57451, 2127, 22), (57505, 57505, 2129, 22),
       (57856, 57856, 2142, 22), (58666, 58666, 2172, 22),
       (58693, 58693, 2173, 22), (59557, 59557, 2205, 22),
       (59584, 59584, 2206, 22), (59800, 59800, 2214, 22),
       (60070, 60070, 2224, 22), (60421, 60421, 2237, 22),
       (60664, 60664, 2246, 22), (60718, 60718, 2248, 22),
       (61339, 61339, 2271, 22), (62527, 62527, 2315, 22),
       (63229, 63229, 2341, 22), (64282, 64282, 2380, 22),
       (64417, 64417, 2385, 22), (64579, 64579, 2391, 22),
       (64714, 64714, 2396, 22), (64984, 64984, 2406, 22),
       (65038, 65038, 2408, 22), (65362, 65362, 2420, 22),
       (67036, 67036, 2482, 22), (67360, 67360, 2494, 22),
       (68008, 68008, 2518, 22), (68035, 68035, 2519, 22),
       (68143, 68143, 2523, 22), (68548, 68548, 2538, 22),
       (68845, 68845, 2549, 22), (69061, 69061, 2557, 22),
       (69277, 69277, 2565, 22), (69304, 69304, 2566, 22),
       (69655, 69655, 2579, 22), (70330, 70330, 2604, 22),
       (71572, 71572, 2650, 22), (72220, 72220, 2674, 22),
       (72409, 72409, 2681, 22), (72490, 72490, 2684, 22),
       (72571, 72571, 2687, 22), (72679, 72679, 2691, 22),
       (73057, 73057, 2705, 22), (73246, 73246, 2712, 22),
       (73624, 73624, 2726, 22), (75136, 75136, 2782, 22),
       (75190, 75190, 2784, 22), (75352, 75352, 2790, 22),
       (76189, 76189, 2821, 22), (76270, 76270, 2824, 22),
       (77323, 77323, 2863, 22), (77431, 77431, 2867, 22),
       (77458, 77458, 2868, 22), (77674, 77674, 2876, 22),
       (78025, 78025, 2889, 22), (78484, 78484, 2906, 22),
       (78916, 78916, 2922, 22), (80050, 80050, 2964, 22),
       (80482, 80482, 2980, 22), (80698, 80698, 2988, 22),
       (82075, 82075, 3039, 22), (83182, 83182, 3080, 22),
       (83263, 83263, 3083, 22), (83668, 83668, 3098, 22),
       (84073, 84073, 3113, 22), (84451, 84451, 3127, 22),
       (85801, 85801, 3177, 22)], dtype=object), array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1], dtype=object))

DEBUG:root:('change_values idxlist:', [(41602, 41602, 1540, 22), (42223, 42223, 1563, 22), (42682, 42682, 1580, 22), (43411, 43411, 1607, 22), (43843, 43843, 1623, 22), (45652, 45652, 1690, 22), (45679, 45679, 1691, 22), (48028, 48028, 1778, 22), (49108, 49108, 1818, 22), (49189, 49189, 1821, 22), (50296, 50296, 1862, 22), (50593, 50593, 1873, 22), (51187, 51187, 1895, 22), (51322, 51322, 1900, 22), (51646, 51646, 1912, 22), (51673, 51673, 1913, 22), (52321, 52321, 1937, 22), (52348, 52348, 1938, 22), (53374, 53374, 1976, 22), (53752, 53752, 1990, 22), (53833, 53833, 1993, 22), (53860, 53860, 1994, 22), (54670, 54670, 2024, 22), (54697, 54697, 2025, 22), (54778, 54778, 2028, 22), (54805, 54805, 2029, 22), (55777, 55777, 2065, 22), (55939, 55939, 2071, 22), (56128, 56128, 2078, 22), (56398, 56398, 2088, 22), (57451, 57451, 2127, 22), (57505, 57505, 2129, 22), (57856, 57856, 2142, 22), (58666, 58666, 2172, 22), (58693, 58693, 2173, 22), (59557, 59557, 2205, 22), (59584, 59584, 2206, 22), (59800, 59800, 2214, 22), (60070, 60070, 2224, 22), (60421, 60421, 2237, 22), (60664, 60664, 2246, 22), (60718, 60718, 2248, 22), (61339, 61339, 2271, 22), (62527, 62527, 2315, 22), (63229, 63229, 2341, 22), (64282, 64282, 2380, 22), (64417, 64417, 2385, 22), (64579, 64579, 2391, 22), (64714, 64714, 2396, 22), (64984, 64984, 2406, 22), (65038, 65038, 2408, 22), (65362, 65362, 2420, 22), (67036, 67036, 2482, 22), (67360, 67360, 2494, 22), (68008, 68008, 2518, 22), (68035, 68035, 2519, 22), (68143, 68143, 2523, 22), (68548, 68548, 2538, 22), (68845, 68845, 2549, 22), (69061, 69061, 2557, 22), (69277, 69277, 2565, 22), (69304, 69304, 2566, 22), (69655, 69655, 2579, 22), (70330, 70330, 2604, 22), (71572, 71572, 2650, 22), (72220, 72220, 2674, 22), (72409, 72409, 2681, 22), (72490, 72490, 2684, 22), (72571, 72571, 2687, 22), (72679, 72679, 2691, 22), (73057, 73057, 2705, 22), (73246, 73246, 2712, 22), (73624, 73624, 2726, 22), (75136, 75136, 2782, 22), (75190, 75190, 2784, 22), (75352, 75352, 2790, 22), (76189, 76189, 2821, 22), (76270, 76270, 2824, 22), (77323, 77323, 2863, 22), (77431, 77431, 2867, 22), (77458, 77458, 2868, 22), (77674, 77674, 2876, 22), (78025, 78025, 2889, 22), (78484, 78484, 2906, 22), (78916, 78916, 2922, 22), (80050, 80050, 2964, 22), (80482, 80482, 2980, 22), (80698, 80698, 2988, 22), (82075, 82075, 3039, 22), (83182, 83182, 3080, 22), (83263, 83263, 3083, 22), (83668, 83668, 3098, 22), (84073, 84073, 3113, 22), (84451, 84451, 3127, 22), (85801, 85801, 3177, 22)], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
DEBUG:root:('change_values idxlist:', ((41602, 41602, 1540, 22), 1, (1540, 22)))
DEBUG:root:('change_values idxlist:', ((42223, 42223, 1563, 22), 1, (1563, 22)))
DEBUG:root:('change_values idxlist:', ((42682, 42682, 1580, 22), 1, (1580, 22)))
DEBUG:root:('change_values idxlist:', ((43411, 43411, 1607, 22), 1, (1607, 22)))
DEBUG:root:('change_values idxlist:', ((43843, 43843, 1623, 22), 1, (1623, 22)))
DEBUG:root:('change_values idxlist:', ((45652, 45652, 1690, 22), 1, (1690, 22)))
DEBUG:root:('change_values idxlist:', ((45679, 45679, 1691, 22), 1, (1691, 22)))
DEBUG:root:('change_values idxlist:', ((48028, 48028, 1778, 22), 1, (1778, 22)))
DEBUG:root:('change_values idxlist:', ((49108, 49108, 1818, 22), 1, (1818, 22)))
DEBUG:root:('change_values idxlist:', ((49189, 49189, 1821, 22), 1, (1821, 22)))
DEBUG:root:('change_values idxlist:', ((50296, 50296, 1862, 22), 1, (1862, 22)))
DEBUG:root:('change_values idxlist:', ((50593, 50593, 1873, 22), 1, (1873, 22)))
DEBUG:root:('change_values idxlist:', ((51187, 51187, 1895, 22), 1, (1895, 22)))
DEBUG:root:('change_values idxlist:', ((51322, 51322, 1900, 22), 1, (1900, 22)))
DEBUG:root:('change_values idxlist:', ((51646, 51646, 1912, 22), 1, (1912, 22)))
DEBUG:root:('change_values idxlist:', ((51673, 51673, 1913, 22), 1, (1913, 22)))
DEBUG:root:('change_values idxlist:', ((52321, 52321, 1937, 22), 1, (1937, 22)))
DEBUG:root:('change_values idxlist:', ((52348, 52348, 1938, 22), 1, (1938, 22)))
DEBUG:root:('change_values idxlist:', ((53374, 53374, 1976, 22), 1, (1976, 22)))
DEBUG:root:('change_values idxlist:', ((53752, 53752, 1990, 22), 1, (1990, 22)))
DEBUG:root:('change_values idxlist:', ((53833, 53833, 1993, 22), 1, (1993, 22)))
DEBUG:root:('change_values idxlist:', ((53860, 53860, 1994, 22), 1, (1994, 22)))
DEBUG:root:('change_values idxlist:', ((54670, 54670, 2024, 22), 1, (2024, 22)))
DEBUG:root:('change_values idxlist:', ((54697, 54697, 2025, 22), 1, (2025, 22)))
DEBUG:root:('change_values idxlist:', ((54778, 54778, 2028, 22), 1, (2028, 22)))
DEBUG:root:('change_values idxlist:', ((54805, 54805, 2029, 22), 1, (2029, 22)))
DEBUG:root:('change_values idxlist:', ((55777, 55777, 2065, 22), 1, (2065, 22)))
DEBUG:root:('change_values idxlist:', ((55939, 55939, 2071, 22), 1, (2071, 22)))
DEBUG:root:('change_values idxlist:', ((56128, 56128, 2078, 22), 1, (2078, 22)))
DEBUG:root:('change_values idxlist:', ((56398, 56398, 2088, 22), 1, (2088, 22)))
DEBUG:root:('change_values idxlist:', ((57451, 57451, 2127, 22), 1, (2127, 22)))
DEBUG:root:('change_values idxlist:', ((57505, 57505, 2129, 22), 1, (2129, 22)))
DEBUG:root:('change_values idxlist:', ((57856, 57856, 2142, 22), 1, (2142, 22)))
DEBUG:root:('change_values idxlist:', ((58666, 58666, 2172, 22), 1, (2172, 22)))
DEBUG:root:('change_values idxlist:', ((58693, 58693, 2173, 22), 1, (2173, 22)))
DEBUG:root:('change_values idxlist:', ((59557, 59557, 2205, 22), 1, (2205, 22)))
DEBUG:root:('change_values idxlist:', ((59584, 59584, 2206, 22), 1, (2206, 22)))
DEBUG:root:('change_values idxlist:', ((59800, 59800, 2214, 22), 1, (2214, 22)))
DEBUG:root:('change_values idxlist:', ((60070, 60070, 2224, 22), 1, (2224, 22)))
DEBUG:root:('change_values idxlist:', ((60421, 60421, 2237, 22), 1, (2237, 22)))
DEBUG:root:('change_values idxlist:', ((60664, 60664, 2246, 22), 1, (2246, 22)))
DEBUG:root:('change_values idxlist:', ((60718, 60718, 2248, 22), 1, (2248, 22)))
DEBUG:root:('change_values idxlist:', ((61339, 61339, 2271, 22), 1, (2271, 22)))
DEBUG:root:('change_values idxlist:', ((62527, 62527, 2315, 22), 1, (2315, 22)))
DEBUG:root:('change_values idxlist:', ((63229, 63229, 2341, 22), 1, (2341, 22)))
DEBUG:root:('change_values idxlist:', ((64282, 64282, 2380, 22), 1, (2380, 22)))
DEBUG:root:('change_values idxlist:', ((64417, 64417, 2385, 22), 1, (2385, 22)))
DEBUG:root:('change_values idxlist:', ((64579, 64579, 2391, 22), 1, (2391, 22)))
DEBUG:root:('change_values idxlist:', ((64714, 64714, 2396, 22), 1, (2396, 22)))
DEBUG:root:('change_values idxlist:', ((64984, 64984, 2406, 22), 1, (2406, 22)))
DEBUG:root:('change_values idxlist:', ((65038, 65038, 2408, 22), 1, (2408, 22)))
DEBUG:root:('change_values idxlist:', ((65362, 65362, 2420, 22), 1, (2420, 22)))
DEBUG:root:('change_values idxlist:', ((67036, 67036, 2482, 22), 1, (2482, 22)))
DEBUG:root:('change_values idxlist:', ((67360, 67360, 2494, 22), 1, (2494, 22)))
DEBUG:root:('change_values idxlist:', ((68008, 68008, 2518, 22), 1, (2518, 22)))
DEBUG:root:('change_values idxlist:', ((68035, 68035, 2519, 22), 1, (2519, 22)))
DEBUG:root:('change_values idxlist:', ((68143, 68143, 2523, 22), 1, (2523, 22)))
DEBUG:root:('change_values idxlist:', ((68548, 68548, 2538, 22), 1, (2538, 22)))
DEBUG:root:('change_values idxlist:', ((68845, 68845, 2549, 22), 1, (2549, 22)))
DEBUG:root:('change_values idxlist:', ((69061, 69061, 2557, 22), 1, (2557, 22)))
DEBUG:root:('change_values idxlist:', ((69277, 69277, 2565, 22), 1, (2565, 22)))
DEBUG:root:('change_values idxlist:', ((69304, 69304, 2566, 22), 1, (2566, 22)))
DEBUG:root:('change_values idxlist:', ((69655, 69655, 2579, 22), 1, (2579, 22)))
DEBUG:root:('change_values idxlist:', ((70330, 70330, 2604, 22), 1, (2604, 22)))
DEBUG:root:('change_values idxlist:', ((71572, 71572, 2650, 22), 1, (2650, 22)))
DEBUG:root:('change_values idxlist:', ((72220, 72220, 2674, 22), 1, (2674, 22)))
DEBUG:root:('change_values idxlist:', ((72409, 72409, 2681, 22), 1, (2681, 22)))

DEBUG:root:('change_values idxlist:', ((72490, 72490, 2684, 22), 1, (2684, 22)))
DEBUG:root:('change_values idxlist:', ((72571, 72571, 2687, 22), 1, (2687, 22)))
DEBUG:root:('change_values idxlist:', ((72679, 72679, 2691, 22), 1, (2691, 22)))
DEBUG:root:('change_values idxlist:', ((73057, 73057, 2705, 22), 1, (2705, 22)))
DEBUG:root:('change_values idxlist:', ((73246, 73246, 2712, 22), 1, (2712, 22)))
DEBUG:root:('change_values idxlist:', ((73624, 73624, 2726, 22), 1, (2726, 22)))
DEBUG:root:('change_values idxlist:', ((75136, 75136, 2782, 22), 1, (2782, 22)))
DEBUG:root:('change_values idxlist:', ((75190, 75190, 2784, 22), 1, (2784, 22)))
DEBUG:root:('change_values idxlist:', ((75352, 75352, 2790, 22), 1, (2790, 22)))
DEBUG:root:('change_values idxlist:', ((76189, 76189, 2821, 22), 1, (2821, 22)))
DEBUG:root:('change_values idxlist:', ((76270, 76270, 2824, 22), 1, (2824, 22)))
DEBUG:root:('change_values idxlist:', ((77323, 77323, 2863, 22), 1, (2863, 22)))
DEBUG:root:('change_values idxlist:', ((77431, 77431, 2867, 22), 1, (2867, 22)))
DEBUG:root:('change_values idxlist:', ((77458, 77458, 2868, 22), 1, (2868, 22)))
DEBUG:root:('change_values idxlist:', ((77674, 77674, 2876, 22), 1, (2876, 22)))
DEBUG:root:('change_values idxlist:', ((78025, 78025, 2889, 22), 1, (2889, 22)))
DEBUG:root:('change_values idxlist:', ((78484, 78484, 2906, 22), 1, (2906, 22)))
DEBUG:root:('change_values idxlist:', ((78916, 78916, 2922, 22), 1, (2922, 22)))
DEBUG:root:('change_values idxlist:', ((80050, 80050, 2964, 22), 1, (2964, 22)))
DEBUG:root:('change_values idxlist:', ((80482, 80482, 2980, 22), 1, (2980, 22)))
DEBUG:root:('change_values idxlist:', ((80698, 80698, 2988, 22), 1, (2988, 22)))
DEBUG:root:('change_values idxlist:', ((82075, 82075, 3039, 22), 1, (3039, 22)))
DEBUG:root:('change_values idxlist:', ((83182, 83182, 3080, 22), 1, (3080, 22)))
DEBUG:root:('change_values idxlist:', ((83263, 83263, 3083, 22), 1, (3083, 22)))
DEBUG:root:('change_values idxlist:', ((83668, 83668, 3098, 22), 1, (3098, 22)))
DEBUG:root:('change_values idxlist:', ((84073, 84073, 3113, 22), 1, (3113, 22)))
DEBUG:root:('change_values idxlist:', ((84451, 84451, 3127, 22), 1, (3127, 22)))
DEBUG:root:('change_values idxlist:', ((85801, 85801, 3177, 22), 1, (3177, 22)))

True

In [87]:
dcm1.state_detail

[(-1, {'op': 'initial'}, 0, -2, None),
 (0, 'perturbed_dataset', 0, -1, 0),
 (1, 'clean_duplicate_id_c1', 1, 0, 1),
 (2, 'clean_inconsistent_host_id_c1', 2, 1, 1),
 (3, 'clean_neighbourhood_c1', 3, 2, 1),
 (4, 'clean_latitude_c1', 4, 3, 1),
 (5, 'clean_longitude_c1', 5, 4, 1),
 (6, 'clean_room_type_c1', 6, 5, 1),
 (7, 'clean_minimum_nights_c1', 7, 6, 1),
 (8, 'clean_number_of_reviews_c1', 8, 7, 1),
 (9, 'clean_last_review_c1', 9, 8, 1),
 (10, 'clean_duplicate_id_c2', 10, 0, 2),
 (11, 'clean_inconsistent_host_id_c2', 11, 10, 2),
 (12, 'clean_neighbourhood_c2', 12, 11, 2),
 (13, 'clean_latitude_c2', 13, 12, 2),
 (14, 'clean_longitude_c2', 14, 13, 2)]

In [88]:
workset_before = workset_after.copy()

In [89]:
check_pd = pd.DataFrame(dcm1.cell_values)
check_pd[check_pd[2]==4]

           0      1  2          3      4
89464  89464   3624  4   41.92748  86509
89465  89465   5082  4   41.93203  86548
89466  89466   5163  4   41.93123  86551
89467  89467   6216  4   41.91334  86580
89468  89468   6243  4   41.69097  86582
...      ...    ... ..        ...    ...
89543  89543  37428  4  41.955908  87410
89544  89544  37455  4   42.00246  87411
89545  89545  37779  4  41.881121  87418
89546  89546  38049  4   41.84067  87430
89547  89547  40101  4  41.921959  87483

[84 rows x 5 columns]

# cleanup room type
The "room_type" column in the dataset should contain one of the values defined in the list of allowed_room_type provided by the authority: ['Entire home/apt', 'Private room', 'Shared room', 'Hotel room']. Any value outside of this list needs to be adjusted to one of the allowed values.

If you are unsure about how to adjust the value or cannot find a suitable value, you can flag the row for deletion by setting the value of room_type_flag to 1. If the "room_type" column has a null value and you cannot decide on an appropriate value, you can set the value of room_type_flag to 2.

In [90]:
allowed_room_type = ['Entire home/apt', 'Private room', 'Shared room', 'Hotel room']

In [91]:
def clean_room_type(df):
    room_type_pd = df[df.room_type_flag==0]
    room_type_pd = room_type_pd[room_type_pd.room_type.apply(lambda x: x not in allowed_room_type)]
    room_type_pd[["id","room_type"]]
    room_id_ls=list(room_type_pd[["id","room_type"]].index)
    
    for room_ind in room_id_ls:
        sus_room_ipt=df.loc[room_ind,"room_type"]

        try:
            temp_ls=[]
            for room in allowed_room_type:
                temp_ls.append(distance.sim(sus_room_ipt, room))
            if max(temp_ls)>0.5:
                df.loc[room_ind,"room_type"]=allowed_room_type[temp_ls.index(max(temp_ls))]
            else:
                df.loc[room_ind,"room_type_flag"]=1
        except:
            df.loc[room_ind,"room_type_flag"]=2
        
    return df

In [92]:
airbnb_pd = clean_room_type(airbnb_pd)

# room_type checking

This query should return zero rows once you implement the cleaning process

In [93]:
room_type_pd = airbnb_pd[airbnb_pd.room_type_flag==0]
room_type_pd = room_type_pd[room_type_pd.room_type.apply(lambda x: x not in allowed_room_type)]
room_type_pd[["id","room_type"]]

Empty DataFrame
Columns: [id, room_type]
Index: []

In [94]:
workset_after = assign_to_original(workset_after,airbnb_pd)

In [95]:
(workset_after.fillna("")!=workset_before.fillna("")).sum()

id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood_group                 0
neighbourhood                       0
latitude                            0
longitude                           0
room_type                           0
price                               0
minimum_nights                      0
number_of_reviews                   0
last_review                         0
reviews_per_month                   0
calculated_host_listings_count      0
availability_365                    0
number_of_reviews_ltm               0
license                             0
id_flag                             0
host_id_flag                        0
neighbourhood_flag                  0
latitude_flag                       0
longitude_flag                      0
minimum_nights_flag                 0
number_of_reviews_flag              0
last_review_flag                    0
room_type_flag                    220
dtype: int64

In [96]:
dcm1.change_df(workset_before,workset_after,"clean_room_type_c2","c2")

DEBUG:root:change values
DEBUG:root:('change_values pd_index:',                            0                        1   \
0                (0, 0, 0, 0)             (1, 1, 0, 1)
1              (27, 27, 1, 0)           (28, 28, 1, 1)
2              (54, 54, 2, 0)           (55, 55, 2, 1)
3              (81, 81, 3, 0)           (82, 82, 3, 1)
4            (108, 108, 4, 0)         (109, 109, 4, 1)
...                       ...                      ...
3196  (86292, 86292, 3196, 0)  (86293, 86293, 3196, 1)
3197  (86319, 86319, 3197, 0)  (86320, 86320, 3197, 1)
3198  (86346, 86346, 3198, 0)  (86347, 86347, 3198, 1)
3199  (86373, 86373, 3199, 0)  (86374, 86374, 3199, 1)
3200  (86400, 86400, 3200, 0)  (86401, 86401, 3200, 1)

                           2                        3   \
0                (2, 2, 0, 2)             (3, 3, 0, 3)
1              (29, 29, 1, 2)           (30, 30, 1, 3)
2              (56, 56, 2, 2)           (57, 57, 2, 3)
3              (83, 83, 3, 2)           (84, 84, 3, 3)
4            (110, 110, 4, 2)         (111, 111, 4, 3)
...                       ...                      ...
3196  (86294, 86294, 3196, 2)  (86295, 86295, 3196, 3)
3197  (86321, 86321, 3197, 2)  (86322, 86322, 3197, 3)
3198  (86348, 86348, 3198, 2)  (86349, 86349, 3198, 3)
3199  (86375, 86375, 3199, 2)  (86376, 86376, 3199, 3)
3200  (86402, 86402, 3200, 2)  (86403, 86403, 3200, 3)

                           4                        5   \
0                (4, 4, 0, 4)             (5, 5, 0, 5)
1              (31, 31, 1, 4)           (32, 32, 1, 5)
2              (58, 58, 2, 4)           (59, 59, 2, 5)
3              (85, 85, 3, 4)           (86, 86, 3, 5)
4            (112, 112, 4, 4)         (113, 113, 4, 5)
...                       ...                      ...
3196  (86296, 86296, 3196, 4)  (86297, 86297, 3196, 5)
3197  (86323, 86323, 3197, 4)  (86324, 86324, 3197, 5)
3198  (86350, 86350, 3198, 4)  (86351, 86351, 3198, 5)
3199  (86377, 86377, 3199, 4)  (86378, 86378, 3199, 5)
3200  (86404, 86404, 3200, 4)  (86405, 86405, 3200, 5)

                           6                        7   \
0                (6, 6, 0, 6)             (7, 7, 0, 7)
1              (33, 33, 1, 6)           (34, 34, 1, 7)
2              (60, 60, 2, 6)           (61, 61, 2, 7)
3              (87, 87, 3, 6)           (88, 88, 3, 7)
4            (114, 114, 4, 6)         (115, 115, 4, 7)
...                       ...                      ...
3196  (86298, 86298, 3196, 6)  (86299, 86299, 3196, 7)
3197  (86325, 86325, 3197, 6)  (86326, 86326, 3197, 7)
3198  (86352, 86352, 3198, 6)  (86353, 86353, 3198, 7)
3199  (86379, 86379, 3199, 6)  (86380, 86380, 3199, 7)
3200  (86406, 88717, 3200, 6)  (86407, 86407, 3200, 7)

                           8                        9   ...  \
0                (8, 8, 0, 8)             (9, 9, 0, 9)  ...
1              (35, 35, 1, 8)           (36, 36, 1, 9)  ...
2              (62, 62, 2, 8)           (63, 63, 2, 9)  ...
3           (89, 89638, 3, 8)           (90, 90, 3, 9)  ...
4            (116, 116, 4, 8)         (117, 117, 4, 9)  ...
...                       ...                      ...  ...
3196  (86300, 86300, 3196, 8)  (86301, 86301, 3196, 9)  ...
3197  (86327, 88715, 3197, 8)  (86328, 86328, 3197, 9)  ...
3198  (86354, 86354, 3198, 8)  (86355, 86355, 3198, 9)  ...
3199  (86381, 88716, 3199, 8)  (86382, 86382, 3199, 9)  ...
3200  (86408, 86408, 3200, 8)  (86409, 86409, 3200, 9)  ...

                            17                        18  \
0              (17, 17, 0, 17)           (18, 18, 0, 18)
1              (44, 44, 1, 17)           (45, 45, 1, 18)
2              (71, 71, 2, 17)           (72, 72, 2, 18)
3              (98, 98, 3, 17)           (99, 99, 3, 18)
4            (125, 125, 4, 17)         (126, 126, 4, 18)
...                        ...                       ...
3196  (86309, 86309, 3196, 17)  (86310, 86310, 3196, 18)
3197  (86336, 86336, 3197, 17)  (86337, 86337, 3197, 18)
3198  (86363, 86363, 3198, 17)  (86364, 86364, 3198, 18)
3199  (86390, 86390, 3199, 17)  (86391, 86391, 3199, 18)
3200  (86417, 86417, 3200, 17)  (86418, 86418, 3200, 18)

                            19                        20  \
0              (19, 19, 0, 19)           (20, 20, 0, 20)
1              (46, 46, 1, 19)           (47, 47, 1, 20)
2              (73, 73, 2, 19)           (74, 74, 2, 20)
3            (100, 100, 3, 19)         (101, 101, 3, 20)
4            (127, 127, 4, 19)         (128, 128, 4, 20)
...                        ...                       ...
3196  (86311, 86311, 3196, 19)  (86312, 86312, 3196, 20)
3197  (86338, 86338, 3197, 19)  (86339, 86339, 3197, 20)
3198  (86365, 86365, 3198, 19)  (86366, 86366, 3198, 20)
3199  (86392, 86392, 3199, 19)  (86393, 86393, 3199, 20)
3200  (86419, 86419, 3200, 19)  (86420, 86420, 3200, 20)

                            21                        22  \
0              (21, 21, 0, 21)           (22, 22, 0, 22)
1              (48, 48, 1, 21)           (49, 49, 1, 22)
2              (75, 75, 2, 21)           (76, 76, 2, 22)
3            (102, 102, 3, 21)         (103, 103, 3, 22)
4            (129, 129, 4, 21)         (130, 130, 4, 22)
...                        ...                       ...
3196  (86313, 86313, 3196, 21)  (86314, 86314, 3196, 22)
3197  (86340, 86340, 3197, 21)  (86341, 86341, 3197, 22)
3198  (86367, 86367, 3198, 21)  (86368, 86368, 3198, 22)
3199  (86394, 86394, 3199, 21)  (86395, 86395, 3199, 22)
3200  (86421, 91086, 3200, 21)  (86422, 86422, 3200, 22)

                            23                        24  \
0              (23, 23, 0, 23)           (24, 24, 0, 24)
1              (50, 50, 1, 23)           (51, 51, 1, 24)
2              (77, 77, 2, 23)           (78, 78, 2, 24)
3            (104, 104, 3, 23)         (105, 105, 3, 24)
4            (131, 131, 4, 23)         (132, 132, 4, 24)
...                        ...                       ...
3196  (86315, 86315, 3196, 23)  (86316, 86316, 3196, 24)
3197  (86342, 86342, 3197, 23)  (86343, 86343, 3197, 24)
3198  (86369, 86369, 3198, 23)  (86370, 86370, 3198, 24)
3199  (86396, 86396, 3199, 23)  (86397, 86397, 3199, 24)
3200  (86423, 86423, 3200, 23)  (86424, 86424, 3200, 24)

                            25                        26
0              (25, 25, 0, 25)           (26, 26, 0, 26)
1              (52, 52, 1, 25)           (53, 53, 1, 26)
2           (79, 89912, 2, 25)           (80, 80, 2, 26)
3            (106, 106, 3, 25)         (107, 107, 3, 26)
4            (133, 133, 4, 25)         (134, 134, 4, 26)
...                        ...                       ...
3196  (86317, 86317, 3196, 25)  (86318, 86318, 3196, 26)
3197  (86344, 86344, 3197, 25)  (86345, 86345, 3197, 26)
3198  (86371, 86371, 3198, 25)  (86372, 86372, 3198, 26)
3199  (86398, 86398, 3199, 25)  (86399, 86399, 3199, 26)
3200  (86425, 86425, 3200, 25)  (86426, 86426, 3200, 26)

[3201 rows x 27 columns], array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False,  True],
       [False, False, False, ..., False, False, False]]))
DEBUG:root:('idx:', array([(40769, 40769, 1509, 26), (40877, 40877, 1513, 26),
       (41093, 41093, 1521, 26), (41228, 41228, 1526, 26),
       (41633, 41633, 1541, 26), (41660, 41660, 1542, 26),
       (41822, 41822, 1548, 26), (42065, 42065, 1557, 26),
       (42983, 42983, 1591, 26), (43307, 43307, 1603, 26),
       (43712, 43712, 1618, 26), (43820, 43820, 1622, 26),
       (44036, 44036, 1630, 26), (44063, 44063, 1631, 26),
       (44522, 44522, 1648, 26), (44819, 44819, 1659, 26),
       (44846, 44846, 1660, 26), (45413, 45413, 1681, 26),
       (45521, 45521, 1685, 26), (46034, 46034, 1704, 26),
       (46142, 46142, 1708, 26), (46169, 46169, 1709, 26),
       (46196, 46196, 1710, 26), (46223, 46223, 1711, 26),
       (46250, 46250, 1712, 26), (46682, 46682, 1728, 26),
       (46709, 46709, 1729, 26), (46817, 46817, 1733, 26),
       (47006, 47006, 1740, 26), (47033, 47033, 1741, 26),
       (47546, 47546, 1760, 26), (47816, 47816, 1770, 26),
       (48734, 48734, 1804, 26), (49328, 49328, 1826, 26),
       (49409, 49409, 1829, 26), (49571, 49571, 1835, 26),
       (50084, 50084, 1854, 26), (51650, 51650, 1912, 26),
       (51677, 51677, 1913, 26), (51704, 51704, 1914, 26),
       (52514, 52514, 1944, 26), (52730, 52730, 1952, 26),
       (52784, 52784, 1954, 26), (52811, 52811, 1955, 26),
       (52946, 52946, 1960, 26), (52973, 52973, 1961, 26),
       (53729, 53729, 1989, 26), (53783, 53783, 1991, 26),
       (53810, 53810, 1992, 26), (54026, 54026, 2000, 26),
       (54161, 54161, 2005, 26), (54431, 54431, 2015, 26),
       (54458, 54458, 2016, 26), (54539, 54539, 2019, 26),
       (54782, 54782, 2028, 26), (54809, 54809, 2029, 26),
       (54863, 54863, 2031, 26), (55025, 55025, 2037, 26),
       (55268, 55268, 2046, 26), (55403, 55403, 2051, 26),
       (55484, 55484, 2054, 26), (55511, 55511, 2055, 26),
       (55835, 55835, 2067, 26), (55916, 55916, 2070, 26),
       (56078, 56078, 2076, 26), (56105, 56105, 2077, 26),
       (56240, 56240, 2082, 26), (56321, 56321, 2085, 26),
       (56348, 56348, 2086, 26), (57077, 57077, 2113, 26),
       (57212, 57212, 2118, 26), (57347, 57347, 2123, 26),
       (57374, 57374, 2124, 26), (57428, 57428, 2126, 26),
       (57455, 57455, 2127, 26), (57482, 57482, 2128, 26),
       (57644, 57644, 2134, 26), (57968, 57968, 2146, 26),
       (58022, 58022, 2148, 26), (58076, 58076, 2150, 26),
       (58400, 58400, 2162, 26), (58994, 58994, 2184, 26),
       (59237, 59237, 2193, 26), (59264, 59264, 2194, 26),
       (59480, 59480, 2202, 26), (59534, 59534, 2204, 26),
       (60479, 60479, 2239, 26), (60695, 60695, 2247, 26),
       (60803, 60803, 2251, 26), (60884, 60884, 2254, 26),
       (60911, 60911, 2255, 26), (61289, 61289, 2269, 26),
       (61613, 61613, 2281, 26), (61856, 61856, 2290, 26),
       (61937, 61937, 2293, 26), (62126, 62126, 2300, 26),
       (62153, 62153, 2301, 26), (62180, 62180, 2302, 26),
       (62396, 62396, 2310, 26), (62909, 62909, 2329, 26),
       (63017, 63017, 2333, 26), (63071, 63071, 2335, 26),
       (63989, 63989, 2369, 26), (64097, 64097, 2373, 26),
       (64124, 64124, 2374, 26), (64205, 64205, 2377, 26),
       (64340, 64340, 2382, 26), (64880, 64880, 2402, 26),
       (64907, 64907, 2403, 26), (64934, 64934, 2404, 26),
       (64961, 64961, 2405, 26), (65231, 65231, 2415, 26),
       (65258, 65258, 2416, 26), (65285, 65285, 2417, 26),
       (65690, 65690, 2432, 26), (65879, 65879, 2439, 26),
       (66284, 66284, 2454, 26), (66986, 66986, 2480, 26),
       (67310, 67310, 2492, 26), (67391, 67391, 2495, 26),
       (67499, 67499, 2499, 26), (68093, 68093, 2521, 26),
       (68282, 68282, 2528, 26), (68363, 68363, 2531, 26),
       (68498, 68498, 2536, 26), (68606, 68606, 2540, 26),
       (68795, 68795, 2547, 26), (69065, 69065, 2557, 26),
       (69119, 69119, 2559, 26), (69551, 69551, 2575, 26),
       (69632, 69632, 2578, 26), (69875, 69875, 2587, 26),
       (69929, 69929, 2589, 26), (69956, 69956, 2590, 26),
       (70037, 70037, 2593, 26), (70415, 70415, 2607, 26),
       (70496, 70496, 2610, 26), (70523, 70523, 2611, 26),
       (70901, 70901, 2625, 26), (70928, 70928, 2626, 26),
       (71063, 71063, 2631, 26), (71090, 71090, 2632, 26),
       (71252, 71252, 2638, 26), (71738, 71738, 2656, 26),
       (71765, 71765, 2657, 26), (71873, 71873, 2661, 26),
       (72494, 72494, 2684, 26), (72548, 72548, 2686, 26),
       (73007, 73007, 2703, 26), (73034, 73034, 2704, 26),
       (73115, 73115, 2707, 26), (73250, 73250, 2712, 26),
       (73412, 73412, 2718, 26), (73439, 73439, 2719, 26),
       (73466, 73466, 2720, 26), (73790, 73790, 2732, 26),
       (74006, 74006, 2740, 26), (74303, 74303, 2751, 26),
       (74816, 74816, 2770, 26), (74843, 74843, 2771, 26),
       (75248, 75248, 2786, 26), (75572, 75572, 2798, 26),
       (75734, 75734, 2804, 26), (75761, 75761, 2805, 26),
       (76004, 76004, 2814, 26), (76733, 76733, 2841, 26),
       (76787, 76787, 2843, 26), (77057, 77057, 2853, 26),
       (77273, 77273, 2861, 26), (77786, 77786, 2880, 26),
       (78272, 78272, 2898, 26), (78461, 78461, 2905, 26),
       (78650, 78650, 2912, 26), (78785, 78785, 2917, 26),
       (78866, 78866, 2920, 26), (79163, 79163, 2931, 26),
       (79406, 79406, 2940, 26), (79487, 79487, 2943, 26),
       (79514, 79514, 2944, 26), (79541, 79541, 2945, 26),
       (79811, 79811, 2955, 26), (79865, 79865, 2957, 26),
       (80000, 80000, 2962, 26), (80783, 80783, 2991, 26),
       (80945, 80945, 2997, 26), (81728, 81728, 3026, 26),
       (81917, 81917, 3033, 26), (81944, 81944, 3034, 26),
       (82025, 82025, 3037, 26), (82052, 82052, 3038, 26),
       (82214, 82214, 3044, 26), (82349, 82349, 3049, 26),
       (82403, 82403, 3051, 26), (82511, 82511, 3055, 26),
       (82619, 82619, 3059, 26), (82916, 82916, 3070, 26),
       (82970, 82970, 3072, 26), (83132, 83132, 3078, 26),
       (83159, 83159, 3079, 26), (83699, 83699, 3099, 26),
       (83942, 83942, 3108, 26), (84023, 84023, 3111, 26),
       (84050, 84050, 3112, 26), (84131, 84131, 3115, 26),
       (84455, 84455, 3127, 26), (84509, 84509, 3129, 26),
       (84779, 84779, 3139, 26), (84941, 84941, 3145, 26),
       (85184, 85184, 3154, 26), (85211, 85211, 3155, 26),
       (85400, 85400, 3162, 26), (85589, 85589, 3169, 26),
       (85832, 85832, 3178, 26), (85940, 85940, 3182, 26),
       (85967, 85967, 3183, 26), (85994, 85994, 3184, 26),
       (86264, 86264, 3194, 26), (86291, 86291, 3195, 26),
       (86345, 86345, 3197, 26), (86399, 86399, 3199, 26)], dtype=object), array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=object))

DEBUG:root:('change_values idxlist:', [(40769, 40769, 1509, 26), (40877, 40877, 1513, 26), (41093, 41093, 1521, 26), (41228, 41228, 1526, 26), (41633, 41633, 1541, 26), (41660, 41660, 1542, 26), (41822, 41822, 1548, 26), (42065, 42065, 1557, 26), (42983, 42983, 1591, 26), (43307, 43307, 1603, 26), (43712, 43712, 1618, 26), (43820, 43820, 1622, 26), (44036, 44036, 1630, 26), (44063, 44063, 1631, 26), (44522, 44522, 1648, 26), (44819, 44819, 1659, 26), (44846, 44846, 1660, 26), (45413, 45413, 1681, 26), (45521, 45521, 1685, 26), (46034, 46034, 1704, 26), (46142, 46142, 1708, 26), (46169, 46169, 1709, 26), (46196, 46196, 1710, 26), (46223, 46223, 1711, 26), (46250, 46250, 1712, 26), (46682, 46682, 1728, 26), (46709, 46709, 1729, 26), (46817, 46817, 1733, 26), (47006, 47006, 1740, 26), (47033, 47033, 1741, 26), (47546, 47546, 1760, 26), (47816, 47816, 1770, 26), (48734, 48734, 1804, 26), (49328, 49328, 1826, 26), (49409, 49409, 1829, 26), (49571, 49571, 1835, 26), (50084, 50084, 1854, 26), (51650, 51650, 1912, 26), (51677, 51677, 1913, 26), (51704, 51704, 1914, 26), (52514, 52514, 1944, 26), (52730, 52730, 1952, 26), (52784, 52784, 1954, 26), (52811, 52811, 1955, 26), (52946, 52946, 1960, 26), (52973, 52973, 1961, 26), (53729, 53729, 1989, 26), (53783, 53783, 1991, 26), (53810, 53810, 1992, 26), (54026, 54026, 2000, 26), (54161, 54161, 2005, 26), (54431, 54431, 2015, 26), (54458, 54458, 2016, 26), (54539, 54539, 2019, 26), (54782, 54782, 2028, 26), (54809, 54809, 2029, 26), (54863, 54863, 2031, 26), (55025, 55025, 2037, 26), (55268, 55268, 2046, 26), (55403, 55403, 2051, 26), (55484, 55484, 2054, 26), (55511, 55511, 2055, 26), (55835, 55835, 2067, 26), (55916, 55916, 2070, 26), (56078, 56078, 2076, 26), (56105, 56105, 2077, 26), (56240, 56240, 2082, 26), (56321, 56321, 2085, 26), (56348, 56348, 2086, 26), (57077, 57077, 2113, 26), (57212, 57212, 2118, 26), (57347, 57347, 2123, 26), (57374, 57374, 2124, 26), (57428, 57428, 2126, 26), (57455, 57455, 2127, 26), (57482, 57482, 2128, 26), (57644, 57644, 2134, 26), (57968, 57968, 2146, 26), (58022, 58022, 2148, 26), (58076, 58076, 2150, 26), (58400, 58400, 2162, 26), (58994, 58994, 2184, 26), (59237, 59237, 2193, 26), (59264, 59264, 2194, 26), (59480, 59480, 2202, 26), (59534, 59534, 2204, 26), (60479, 60479, 2239, 26), (60695, 60695, 2247, 26), (60803, 60803, 2251, 26), (60884, 60884, 2254, 26), (60911, 60911, 2255, 26), (61289, 61289, 2269, 26), (61613, 61613, 2281, 26), (61856, 61856, 2290, 26), (61937, 61937, 2293, 26), (62126, 62126, 2300, 26), (62153, 62153, 2301, 26), (62180, 62180, 2302, 26), (62396, 62396, 2310, 26), (62909, 62909, 2329, 26), (63017, 63017, 2333, 26), (63071, 63071, 2335, 26), (63989, 63989, 2369, 26), (64097, 64097, 2373, 26), (64124, 64124, 2374, 26), (64205, 64205, 2377, 26), (64340, 64340, 2382, 26), (64880, 64880, 2402, 26), (64907, 64907, 2403, 26), (64934, 64934, 2404, 26), (64961, 64961, 2405, 26), (65231, 65231, 2415, 26), (65258, 65258, 2416, 26), (65285, 65285, 2417, 26), (65690, 65690, 2432, 26), (65879, 65879, 2439, 26), (66284, 66284, 2454, 26), (66986, 66986, 2480, 26), (67310, 67310, 2492, 26), (67391, 67391, 2495, 26), (67499, 67499, 2499, 26), (68093, 68093, 2521, 26), (68282, 68282, 2528, 26), (68363, 68363, 2531, 26), (68498, 68498, 2536, 26), (68606, 68606, 2540, 26), (68795, 68795, 2547, 26), (69065, 69065, 2557, 26), (69119, 69119, 2559, 26), (69551, 69551, 2575, 26), (69632, 69632, 2578, 26), (69875, 69875, 2587, 26), (69929, 69929, 2589, 26), (69956, 69956, 2590, 26), (70037, 70037, 2593, 26), (70415, 70415, 2607, 26), (70496, 70496, 2610, 26), (70523, 70523, 2611, 26), (70901, 70901, 2625, 26), (70928, 70928, 2626, 26), (71063, 71063, 2631, 26), (71090, 71090, 2632, 26), (71252, 71252, 2638, 26), (71738, 71738, 2656, 26), (71765, 71765, 2657, 26), (71873, 71873, 2661, 26), (72494, 72494, 2684, 26), (72548, 72548, 2686, 26), (73007, 73007, 2703, 26), (73034, 73034, 2704, 26), (73115, 73115, 2707, 26), (73250, 73250, 2712, 26), (73412, 73412, 2718, 26), (73439, 73439, 2719, 26), (73466, 73466, 2720, 26), (73790, 73790, 2732, 26), (74006, 74006, 2740, 26), (74303, 74303, 2751, 26), (74816, 74816, 2770, 26), (74843, 74843, 2771, 26), (75248, 75248, 2786, 26), (75572, 75572, 2798, 26), (75734, 75734, 2804, 26), (75761, 75761, 2805, 26), (76004, 76004, 2814, 26), (76733, 76733, 2841, 26), (76787, 76787, 2843, 26), (77057, 77057, 2853, 26), (77273, 77273, 2861, 26), (77786, 77786, 2880, 26), (78272, 78272, 2898, 26), (78461, 78461, 2905, 26), (78650, 78650, 2912, 26), (78785, 78785, 2917, 26), (78866, 78866, 2920, 26), (79163, 79163, 2931, 26), (79406, 79406, 2940, 26), (79487, 79487, 2943, 26), (79514, 79514, 2944, 26), (79541, 79541, 2945, 26), (79811, 79811, 2955, 26), (79865, 79865, 2957, 26), (80000, 80000, 2962, 26), (80783, 80783, 2991, 26), (80945, 80945, 2997, 26), (81728, 81728, 3026, 26), (81917, 81917, 3033, 26), (81944, 81944, 3034, 26), (82025, 82025, 3037, 26), (82052, 82052, 3038, 26), (82214, 82214, 3044, 26), (82349, 82349, 3049, 26), (82403, 82403, 3051, 26), (82511, 82511, 3055, 26), (82619, 82619, 3059, 26), (82916, 82916, 3070, 26), (82970, 82970, 3072, 26), (83132, 83132, 3078, 26), (83159, 83159, 3079, 26), (83699, 83699, 3099, 26), (83942, 83942, 3108, 26), (84023, 84023, 3111, 26), (84050, 84050, 3112, 26), (84131, 84131, 3115, 26), (84455, 84455, 3127, 26), (84509, 84509, 3129, 26), (84779, 84779, 3139, 26), (84941, 84941, 3145, 26), (85184, 85184, 3154, 26), (85211, 85211, 3155, 26), (85400, 85400, 3162, 26), (85589, 85589, 3169, 26), (85832, 85832, 3178, 26), (85940, 85940, 3182, 26), (85967, 85967, 3183, 26), (85994, 85994, 3184, 26), (86264, 86264, 3194, 26), (86291, 86291, 3195, 26), (86345, 86345, 3197, 26), (86399, 86399, 3199, 26)], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
DEBUG:root:('change_values idxlist:', ((40769, 40769, 1509, 26), 1, (1509, 26)))
DEBUG:root:('change_values idxlist:', ((40877, 40877, 1513, 26), 1, (1513, 26)))
DEBUG:root:('change_values idxlist:', ((41093, 41093, 1521, 26), 1, (1521, 26)))
DEBUG:root:('change_values idxlist:', ((41228, 41228, 1526, 26), 1, (1526, 26)))
DEBUG:root:('change_values idxlist:', ((41633, 41633, 1541, 26), 1, (1541, 26)))
DEBUG:root:('change_values idxlist:', ((41660, 41660, 1542, 26), 1, (1542, 26)))
DEBUG:root:('change_values idxlist:', ((41822, 41822, 1548, 26), 1, (1548, 26)))
DEBUG:root:('change_values idxlist:', ((42065, 42065, 1557, 26), 1, (1557, 26)))
DEBUG:root:('change_values idxlist:', ((42983, 42983, 1591, 26), 1, (1591, 26)))
DEBUG:root:('change_values idxlist:', ((43307, 43307, 1603, 26), 1, (1603, 26)))
DEBUG:root:('change_values idxlist:', ((43712, 43712, 1618, 26), 1, (1618, 26)))
DEBUG:root:('change_values idxlist:', ((43820, 43820, 1622, 26), 1, (1622, 26)))
DEBUG:root:('change_values idxlist:', ((44036, 44036, 1630, 26), 1, (1630, 26)))
DEBUG:root:('change_values idxlist:', ((44063, 44063, 1631, 26), 1, (1631, 26)))
DEBUG:root:('change_values idxlist:', ((44522, 44522, 1648, 26), 1, (1648, 26)))
DEBUG:root:('change_values idxlist:', ((44819, 44819, 1659, 26), 1, (1659, 26)))
DEBUG:root:('change_values idxlist:', ((44846, 44846, 1660, 26), 1, (1660, 26)))
DEBUG:root:('change_values idxlist:', ((45413, 45413, 1681, 26), 2, (1681, 26)))
DEBUG:root:('change_values idxlist:', ((45521, 45521, 1685, 26), 1, (1685, 26)))
DEBUG:root:('change_values idxlist:', ((46034, 46034, 1704, 26), 1, (1704, 26)))
DEBUG:root:('change_values idxlist:', ((46142, 46142, 1708, 26), 1, (1708, 26)))
DEBUG:root:('change_values idxlist:', ((46169, 46169, 1709, 26), 1, (1709, 26)))

DEBUG:root:('change_values idxlist:', ((46196, 46196, 1710, 26), 1, (1710, 26)))
DEBUG:root:('change_values idxlist:', ((46223, 46223, 1711, 26), 1, (1711, 26)))
DEBUG:root:('change_values idxlist:', ((46250, 46250, 1712, 26), 1, (1712, 26)))
DEBUG:root:('change_values idxlist:', ((46682, 46682, 1728, 26), 1, (1728, 26)))
DEBUG:root:('change_values idxlist:', ((46709, 46709, 1729, 26), 1, (1729, 26)))
DEBUG:root:('change_values idxlist:', ((46817, 46817, 1733, 26), 1, (1733, 26)))
DEBUG:root:('change_values idxlist:', ((47006, 47006, 1740, 26), 1, (1740, 26)))
DEBUG:root:('change_values idxlist:', ((47033, 47033, 1741, 26), 1, (1741, 26)))
DEBUG:root:('change_values idxlist:', ((47546, 47546, 1760, 26), 1, (1760, 26)))
DEBUG:root:('change_values idxlist:', ((47816, 47816, 1770, 26), 1, (1770, 26)))
DEBUG:root:('change_values idxlist:', ((48734, 48734, 1804, 26), 1, (1804, 26)))
DEBUG:root:('change_values idxlist:', ((49328, 49328, 1826, 26), 1, (1826, 26)))
DEBUG:root:('change_values idxlist:', ((49409, 49409, 1829, 26), 1, (1829, 26)))
DEBUG:root:('change_values idxlist:', ((49571, 49571, 1835, 26), 1, (1835, 26)))
DEBUG:root:('change_values idxlist:', ((50084, 50084, 1854, 26), 1, (1854, 26)))
DEBUG:root:('change_values idxlist:', ((51650, 51650, 1912, 26), 1, (1912, 26)))
DEBUG:root:('change_values idxlist:', ((51677, 51677, 1913, 26), 1, (1913, 26)))
DEBUG:root:('change_values idxlist:', ((51704, 51704, 1914, 26), 1, (1914, 26)))
DEBUG:root:('change_values idxlist:', ((52514, 52514, 1944, 26), 1, (1944, 26)))
DEBUG:root:('change_values idxlist:', ((52730, 52730, 1952, 26), 1, (1952, 26)))
DEBUG:root:('change_values idxlist:', ((52784, 52784, 1954, 26), 1, (1954, 26)))
DEBUG:root:('change_values idxlist:', ((52811, 52811, 1955, 26), 1, (1955, 26)))
DEBUG:root:('change_values idxlist:', ((52946, 52946, 1960, 26), 1, (1960, 26)))
DEBUG:root:('change_values idxlist:', ((52973, 52973, 1961, 26), 1, (1961, 26)))
DEBUG:root:('change_values idxlist:', ((53729, 53729, 1989, 26), 1, (1989, 26)))
DEBUG:root:('change_values idxlist:', ((53783, 53783, 1991, 26), 1, (1991, 26)))
DEBUG:root:('change_values idxlist:', ((53810, 53810, 1992, 26), 1, (1992, 26)))
DEBUG:root:('change_values idxlist:', ((54026, 54026, 2000, 26), 1, (2000, 26)))
DEBUG:root:('change_values idxlist:', ((54161, 54161, 2005, 26), 1, (2005, 26)))
DEBUG:root:('change_values idxlist:', ((54431, 54431, 2015, 26), 1, (2015, 26)))
DEBUG:root:('change_values idxlist:', ((54458, 54458, 2016, 26), 1, (2016, 26)))
DEBUG:root:('change_values idxlist:', ((54539, 54539, 2019, 26), 1, (2019, 26)))
DEBUG:root:('change_values idxlist:', ((54782, 54782, 2028, 26), 1, (2028, 26)))
DEBUG:root:('change_values idxlist:', ((54809, 54809, 2029, 26), 1, (2029, 26)))
DEBUG:root:('change_values idxlist:', ((54863, 54863, 2031, 26), 1, (2031, 26)))
DEBUG:root:('change_values idxlist:', ((55025, 55025, 2037, 26), 1, (2037, 26)))
DEBUG:root:('change_values idxlist:', ((55268, 55268, 2046, 26), 1, (2046, 26)))
DEBUG:root:('change_values idxlist:', ((55403, 55403, 2051, 26), 1, (2051, 26)))
DEBUG:root:('change_values idxlist:', ((55484, 55484, 2054, 26), 1, (2054, 26)))
DEBUG:root:('change_values idxlist:', ((55511, 55511, 2055, 26), 1, (2055, 26)))
DEBUG:root:('change_values idxlist:', ((55835, 55835, 2067, 26), 1, (2067, 26)))
DEBUG:root:('change_values idxlist:', ((55916, 55916, 2070, 26), 1, (2070, 26)))
DEBUG:root:('change_values idxlist:', ((56078, 56078, 2076, 26), 1, (2076, 26)))
DEBUG:root:('change_values idxlist:', ((56105, 56105, 2077, 26), 1, (2077, 26)))
DEBUG:root:('change_values idxlist:', ((56240, 56240, 2082, 26), 1, (2082, 26)))
DEBUG:root:('change_values idxlist:', ((56321, 56321, 2085, 26), 1, (2085, 26)))
DEBUG:root:('change_values idxlist:', ((56348, 56348, 2086, 26), 1, (2086, 26)))
DEBUG:root:('change_values idxlist:', ((57077, 57077, 2113, 26), 2, (2113, 26)))
DEBUG:root:('change_values idxlist:', ((57212, 57212, 2118, 26), 1, (2118, 26)))
DEBUG:root:('change_values idxlist:', ((57347, 57347, 2123, 26), 1, (2123, 26)))
DEBUG:root:('change_values idxlist:', ((57374, 57374, 2124, 26), 1, (2124, 26)))
DEBUG:root:('change_values idxlist:', ((57428, 57428, 2126, 26), 1, (2126, 26)))
DEBUG:root:('change_values idxlist:', ((57455, 57455, 2127, 26), 1, (2127, 26)))
DEBUG:root:('change_values idxlist:', ((57482, 57482, 2128, 26), 1, (2128, 26)))
DEBUG:root:('change_values idxlist:', ((57644, 57644, 2134, 26), 1, (2134, 26)))
DEBUG:root:('change_values idxlist:', ((57968, 57968, 2146, 26), 1, (2146, 26)))
DEBUG:root:('change_values idxlist:', ((58022, 58022, 2148, 26), 1, (2148, 26)))
DEBUG:root:('change_values idxlist:', ((58076, 58076, 2150, 26), 1, (2150, 26)))
DEBUG:root:('change_values idxlist:', ((58400, 58400, 2162, 26), 1, (2162, 26)))
DEBUG:root:('change_values idxlist:', ((58994, 58994, 2184, 26), 1, (2184, 26)))
DEBUG:root:('change_values idxlist:', ((59237, 59237, 2193, 26), 1, (2193, 26)))
DEBUG:root:('change_values idxlist:', ((59264, 59264, 2194, 26), 1, (2194, 26)))
DEBUG:root:('change_values idxlist:', ((59480, 59480, 2202, 26), 2, (2202, 26)))
DEBUG:root:('change_values idxlist:', ((59534, 59534, 2204, 26), 1, (2204, 26)))
DEBUG:root:('change_values idxlist:', ((60479, 60479, 2239, 26), 1, (2239, 26)))
DEBUG:root:('change_values idxlist:', ((60695, 60695, 2247, 26), 1, (2247, 26)))
DEBUG:root:('change_values idxlist:', ((60803, 60803, 2251, 26), 1, (2251, 26)))
DEBUG:root:('change_values idxlist:', ((60884, 60884, 2254, 26), 1, (2254, 26)))
DEBUG:root:('change_values idxlist:', ((60911, 60911, 2255, 26), 1, (2255, 26)))
DEBUG:root:('change_values idxlist:', ((61289, 61289, 2269, 26), 1, (2269, 26)))
DEBUG:root:('change_values idxlist:', ((61613, 61613, 2281, 26), 1, (2281, 26)))
DEBUG:root:('change_values idxlist:', ((61856, 61856, 2290, 26), 1, (2290, 26)))
DEBUG:root:('change_values idxlist:', ((61937, 61937, 2293, 26), 1, (2293, 26)))
DEBUG:root:('change_values idxlist:', ((62126, 62126, 2300, 26), 1, (2300, 26)))
DEBUG:root:('change_values idxlist:', ((62153, 62153, 2301, 26), 1, (2301, 26)))
DEBUG:root:('change_values idxlist:', ((62180, 62180, 2302, 26), 1, (2302, 26)))
DEBUG:root:('change_values idxlist:', ((62396, 62396, 2310, 26), 1, (2310, 26)))
DEBUG:root:('change_values idxlist:', ((62909, 62909, 2329, 26), 1, (2329, 26)))
DEBUG:root:('change_values idxlist:', ((63017, 63017, 2333, 26), 1, (2333, 26)))
DEBUG:root:('change_values idxlist:', ((63071, 63071, 2335, 26), 1, (2335, 26)))
DEBUG:root:('change_values idxlist:', ((63989, 63989, 2369, 26), 1, (2369, 26)))
DEBUG:root:('change_values idxlist:', ((64097, 64097, 2373, 26), 1, (2373, 26)))
DEBUG:root:('change_values idxlist:', ((64124, 64124, 2374, 26), 1, (2374, 26)))
DEBUG:root:('change_values idxlist:', ((64205, 64205, 2377, 26), 1, (2377, 26)))
DEBUG:root:('change_values idxlist:', ((64340, 64340, 2382, 26), 1, (2382, 26)))
DEBUG:root:('change_values idxlist:', ((64880, 64880, 2402, 26), 1, (2402, 26)))
DEBUG:root:('change_values idxlist:', ((64907, 64907, 2403, 26), 1, (2403, 26)))
DEBUG:root:('change_values idxlist:', ((64934, 64934, 2404, 26), 1, (2404, 26)))
DEBUG:root:('change_values idxlist:', ((64961, 64961, 2405, 26), 1, (2405, 26)))
DEBUG:root:('change_values idxlist:', ((65231, 65231, 2415, 26), 1, (2415, 26)))
DEBUG:root:('change_values idxlist:', ((65258, 65258, 2416, 26), 1, (2416, 26)))
DEBUG:root:('change_values idxlist:', ((65285, 65285, 2417, 26), 1, (2417, 26)))
DEBUG:root:('change_values idxlist:', ((65690, 65690, 2432, 26), 1, (2432, 26)))
DEBUG:root:('change_values idxlist:', ((65879, 65879, 2439, 26), 2, (2439, 26)))
DEBUG:root:('change_values idxlist:', ((66284, 66284, 2454, 26), 1, (2454, 26)))
DEBUG:root:('change_values idxlist:', ((66986, 66986, 2480, 26), 1, (2480, 26)))
DEBUG:root:('change_values idxlist:', ((67310, 67310, 2492, 26), 1, (2492, 26)))
DEBUG:root:('change_values idxlist:', ((67391, 67391, 2495, 26), 1, (2495, 26)))
DEBUG:root:('change_values idxlist:', ((67499, 67499, 2499, 26), 2, (2499, 26)))
DEBUG:root:('change_values idxlist:', ((68093, 68093, 2521, 26), 1, (2521, 26)))
DEBUG:root:('change_values idxlist:', ((68282, 68282, 2528, 26), 1, (2528, 26)))
DEBUG:root:('change_values idxlist:', ((68363, 68363, 2531, 26), 1, (2531, 26)))

DEBUG:root:('change_values idxlist:', ((68498, 68498, 2536, 26), 1, (2536, 26)))
DEBUG:root:('change_values idxlist:', ((68606, 68606, 2540, 26), 1, (2540, 26)))
DEBUG:root:('change_values idxlist:', ((68795, 68795, 2547, 26), 1, (2547, 26)))
DEBUG:root:('change_values idxlist:', ((69065, 69065, 2557, 26), 2, (2557, 26)))
DEBUG:root:('change_values idxlist:', ((69119, 69119, 2559, 26), 1, (2559, 26)))
DEBUG:root:('change_values idxlist:', ((69551, 69551, 2575, 26), 1, (2575, 26)))
DEBUG:root:('change_values idxlist:', ((69632, 69632, 2578, 26), 1, (2578, 26)))
DEBUG:root:('change_values idxlist:', ((69875, 69875, 2587, 26), 1, (2587, 26)))
DEBUG:root:('change_values idxlist:', ((69929, 69929, 2589, 26), 1, (2589, 26)))
DEBUG:root:('change_values idxlist:', ((69956, 69956, 2590, 26), 1, (2590, 26)))
DEBUG:root:('change_values idxlist:', ((70037, 70037, 2593, 26), 1, (2593, 26)))
DEBUG:root:('change_values idxlist:', ((70415, 70415, 2607, 26), 1, (2607, 26)))
DEBUG:root:('change_values idxlist:', ((70496, 70496, 2610, 26), 1, (2610, 26)))
DEBUG:root:('change_values idxlist:', ((70523, 70523, 2611, 26), 1, (2611, 26)))
DEBUG:root:('change_values idxlist:', ((70901, 70901, 2625, 26), 1, (2625, 26)))
DEBUG:root:('change_values idxlist:', ((70928, 70928, 2626, 26), 1, (2626, 26)))
DEBUG:root:('change_values idxlist:', ((71063, 71063, 2631, 26), 1, (2631, 26)))
DEBUG:root:('change_values idxlist:', ((71090, 71090, 2632, 26), 1, (2632, 26)))
DEBUG:root:('change_values idxlist:', ((71252, 71252, 2638, 26), 1, (2638, 26)))
DEBUG:root:('change_values idxlist:', ((71738, 71738, 2656, 26), 1, (2656, 26)))
DEBUG:root:('change_values idxlist:', ((71765, 71765, 2657, 26), 1, (2657, 26)))
DEBUG:root:('change_values idxlist:', ((71873, 71873, 2661, 26), 1, (2661, 26)))
DEBUG:root:('change_values idxlist:', ((72494, 72494, 2684, 26), 1, (2684, 26)))
DEBUG:root:('change_values idxlist:', ((72548, 72548, 2686, 26), 1, (2686, 26)))
DEBUG:root:('change_values idxlist:', ((73007, 73007, 2703, 26), 1, (2703, 26)))
DEBUG:root:('change_values idxlist:', ((73034, 73034, 2704, 26), 1, (2704, 26)))
DEBUG:root:('change_values idxlist:', ((73115, 73115, 2707, 26), 1, (2707, 26)))
DEBUG:root:('change_values idxlist:', ((73250, 73250, 2712, 26), 1, (2712, 26)))
DEBUG:root:('change_values idxlist:', ((73412, 73412, 2718, 26), 1, (2718, 26)))
DEBUG:root:('change_values idxlist:', ((73439, 73439, 2719, 26), 1, (2719, 26)))
DEBUG:root:('change_values idxlist:', ((73466, 73466, 2720, 26), 1, (2720, 26)))
DEBUG:root:('change_values idxlist:', ((73790, 73790, 2732, 26), 1, (2732, 26)))
DEBUG:root:('change_values idxlist:', ((74006, 74006, 2740, 26), 1, (2740, 26)))
DEBUG:root:('change_values idxlist:', ((74303, 74303, 2751, 26), 1, (2751, 26)))
DEBUG:root:('change_values idxlist:', ((74816, 74816, 2770, 26), 1, (2770, 26)))
DEBUG:root:('change_values idxlist:', ((74843, 74843, 2771, 26), 1, (2771, 26)))
DEBUG:root:('change_values idxlist:', ((75248, 75248, 2786, 26), 1, (2786, 26)))
DEBUG:root:('change_values idxlist:', ((75572, 75572, 2798, 26), 2, (2798, 26)))
DEBUG:root:('change_values idxlist:', ((75734, 75734, 2804, 26), 1, (2804, 26)))
DEBUG:root:('change_values idxlist:', ((75761, 75761, 2805, 26), 1, (2805, 26)))
DEBUG:root:('change_values idxlist:', ((76004, 76004, 2814, 26), 1, (2814, 26)))
DEBUG:root:('change_values idxlist:', ((76733, 76733, 2841, 26), 1, (2841, 26)))
DEBUG:root:('change_values idxlist:', ((76787, 76787, 2843, 26), 1, (2843, 26)))
DEBUG:root:('change_values idxlist:', ((77057, 77057, 2853, 26), 1, (2853, 26)))
DEBUG:root:('change_values idxlist:', ((77273, 77273, 2861, 26), 1, (2861, 26)))
DEBUG:root:('change_values idxlist:', ((77786, 77786, 2880, 26), 1, (2880, 26)))
DEBUG:root:('change_values idxlist:', ((78272, 78272, 2898, 26), 1, (2898, 26)))
DEBUG:root:('change_values idxlist:', ((78461, 78461, 2905, 26), 1, (2905, 26)))
DEBUG:root:('change_values idxlist:', ((78650, 78650, 2912, 26), 1, (2912, 26)))
DEBUG:root:('change_values idxlist:', ((78785, 78785, 2917, 26), 1, (2917, 26)))
DEBUG:root:('change_values idxlist:', ((78866, 78866, 2920, 26), 1, (2920, 26)))
DEBUG:root:('change_values idxlist:', ((79163, 79163, 2931, 26), 1, (2931, 26)))
DEBUG:root:('change_values idxlist:', ((79406, 79406, 2940, 26), 1, (2940, 26)))
DEBUG:root:('change_values idxlist:', ((79487, 79487, 2943, 26), 1, (2943, 26)))
DEBUG:root:('change_values idxlist:', ((79514, 79514, 2944, 26), 1, (2944, 26)))
DEBUG:root:('change_values idxlist:', ((79541, 79541, 2945, 26), 1, (2945, 26)))
DEBUG:root:('change_values idxlist:', ((79811, 79811, 2955, 26), 1, (2955, 26)))
DEBUG:root:('change_values idxlist:', ((79865, 79865, 2957, 26), 1, (2957, 26)))
DEBUG:root:('change_values idxlist:', ((80000, 80000, 2962, 26), 1, (2962, 26)))
DEBUG:root:('change_values idxlist:', ((80783, 80783, 2991, 26), 1, (2991, 26)))
DEBUG:root:('change_values idxlist:', ((80945, 80945, 2997, 26), 1, (2997, 26)))
DEBUG:root:('change_values idxlist:', ((81728, 81728, 3026, 26), 1, (3026, 26)))
DEBUG:root:('change_values idxlist:', ((81917, 81917, 3033, 26), 1, (3033, 26)))
DEBUG:root:('change_values idxlist:', ((81944, 81944, 3034, 26), 1, (3034, 26)))
DEBUG:root:('change_values idxlist:', ((82025, 82025, 3037, 26), 1, (3037, 26)))
DEBUG:root:('change_values idxlist:', ((82052, 82052, 3038, 26), 1, (3038, 26)))
DEBUG:root:('change_values idxlist:', ((82214, 82214, 3044, 26), 1, (3044, 26)))
DEBUG:root:('change_values idxlist:', ((82349, 82349, 3049, 26), 1, (3049, 26)))
DEBUG:root:('change_values idxlist:', ((82403, 82403, 3051, 26), 1, (3051, 26)))
DEBUG:root:('change_values idxlist:', ((82511, 82511, 3055, 26), 1, (3055, 26)))
DEBUG:root:('change_values idxlist:', ((82619, 82619, 3059, 26), 1, (3059, 26)))
DEBUG:root:('change_values idxlist:', ((82916, 82916, 3070, 26), 1, (3070, 26)))
DEBUG:root:('change_values idxlist:', ((82970, 82970, 3072, 26), 1, (3072, 26)))
DEBUG:root:('change_values idxlist:', ((83132, 83132, 3078, 26), 1, (3078, 26)))
DEBUG:root:('change_values idxlist:', ((83159, 83159, 3079, 26), 1, (3079, 26)))
DEBUG:root:('change_values idxlist:', ((83699, 83699, 3099, 26), 1, (3099, 26)))
DEBUG:root:('change_values idxlist:', ((83942, 83942, 3108, 26), 1, (3108, 26)))
DEBUG:root:('change_values idxlist:', ((84023, 84023, 3111, 26), 1, (3111, 26)))
DEBUG:root:('change_values idxlist:', ((84050, 84050, 3112, 26), 1, (3112, 26)))
DEBUG:root:('change_values idxlist:', ((84131, 84131, 3115, 26), 1, (3115, 26)))
DEBUG:root:('change_values idxlist:', ((84455, 84455, 3127, 26), 1, (3127, 26)))
DEBUG:root:('change_values idxlist:', ((84509, 84509, 3129, 26), 1, (3129, 26)))
DEBUG:root:('change_values idxlist:', ((84779, 84779, 3139, 26), 1, (3139, 26)))
DEBUG:root:('change_values idxlist:', ((84941, 84941, 3145, 26), 1, (3145, 26)))
DEBUG:root:('change_values idxlist:', ((85184, 85184, 3154, 26), 1, (3154, 26)))
DEBUG:root:('change_values idxlist:', ((85211, 85211, 3155, 26), 1, (3155, 26)))
DEBUG:root:('change_values idxlist:', ((85400, 85400, 3162, 26), 1, (3162, 26)))
DEBUG:root:('change_values idxlist:', ((85589, 85589, 3169, 26), 1, (3169, 26)))
DEBUG:root:('change_values idxlist:', ((85832, 85832, 3178, 26), 1, (3178, 26)))
DEBUG:root:('change_values idxlist:', ((85940, 85940, 3182, 26), 1, (3182, 26)))
DEBUG:root:('change_values idxlist:', ((85967, 85967, 3183, 26), 1, (3183, 26)))
DEBUG:root:('change_values idxlist:', ((85994, 85994, 3184, 26), 1, (3184, 26)))
DEBUG:root:('change_values idxlist:', ((86264, 86264, 3194, 26), 1, (3194, 26)))
DEBUG:root:('change_values idxlist:', ((86291, 86291, 3195, 26), 1, (3195, 26)))
DEBUG:root:('change_values idxlist:', ((86345, 86345, 3197, 26), 1, (3197, 26)))
DEBUG:root:('change_values idxlist:', ((86399, 86399, 3199, 26), 1, (3199, 26)))

True

In [97]:
workset_before = workset_after.copy()

In [98]:
check_pd = pd.DataFrame(dcm1.cell_values)
check_pd[check_pd[2]==5]

           0      1  2          3      4
89548  89548    427  5          2    427
89549  89549   1654  5   -87.7005  86470
89550  89550   2086  5  -87.68878  86477
89551  89551   3436  5  -87.74887  86504
89552  89552   4099  5          2   4099
...      ...    ... ..        ...    ...
89633  89633  37645  5  -87.67212  87416
89634  89634  38401  5  -87.71057  87440
89635  89635  38941  5 -87.670747  87455
89636  89636  39589  5  -87.71622  87471
89637  89637  40102  5 -87.639993  87484

[90 rows x 5 columns]

# cleanup minimum_nights and number_of_reviews

The columns "minimum_nights" and "number_of_reviews" should both be integer values. "minimum_nights" should be a value between 1 and the number of days in a year (365), while "number_of_reviews" should be a value between 0 and 999999.

To check if these columns meet the criteria, we have provided a "check_integer" function. Any values that do not meet the criteria should be cleaned to meet the criteria for analysis.

If you are unsure what to do with a value or if it is a null value, you can flag the row for deletion by setting "minimum_nights_flag" or "number_of_reviews_flag" to 1 or 2, respectively.

In [99]:
def check_integer(x,start=0,end=365):
    try:
        temp_x = int(x)
        return (start <= temp_x <= end)
    except:
        return False

In [100]:
def clean_minimum_nights(df):
    min_check_pd = df[df.minimum_nights_flag==0]
    min_check_pd = min_check_pd[min_check_pd.minimum_nights.apply(lambda x:check_integer(x,0,365))==False]
    wrong_min_ng= min_check_pd[["id","minimum_nights"]]
    ng_ind_ls=list(wrong_min_ng.index)

    for ng_id in ng_ind_ls:
        pre_ng=df.loc[ng_id,"minimum_nights"]
        
        try:
            if pre_ng==np.nan or math.isnan(pre_ng):
                # print("here:" +str(ng_id))
                df.loc[ng_id,"minimum_nights_flag"]=2
        except:
            try:
                revised=int(''.join(c for c in pre_ng if c.isdigit()))
                if check_integer(revised)==True:
                    df.loc[ng_id,"minimum_nights"]=revised
                else:
                    df.loc[ng_id,"minimum_nights_flag"]=1
        
            except:
                print(ng_id)
        
    return df

In [101]:
airbnb_pd = clean_minimum_nights(airbnb_pd)

1681
1737
1913
2172
2499
2543
2623
2780
2798
2994

In [102]:
def clean_min_nights_pls(nights_string):
    nights_string = re.sub("[^0-9.]", "", nights_string)
    nights = int(nights_string)
    return nights

In [103]:
airbnb_pd.loc[airbnb_pd['minimum_nights_flag']==1, 'minimum_nights'] = airbnb_pd.loc[airbnb_pd['minimum_nights_flag']==1, 'minimum_nights'].apply(lambda x: clean_min_nights_pls(x))
airbnb_pd.loc[airbnb_pd['minimum_nights_flag']==1, 'minimum_nights']
# nikolaus change minimum_nights_flag 1 to 0
airbnb_pd.loc[airbnb_pd['minimum_nights_flag']==1, 'minimum_nights_flag'] = 0

# Minimum nights checking

This query should return zero rows once you implement the cleaning process

In [104]:
min_check_pd = airbnb_pd[airbnb_pd.minimum_nights_flag==0]
min_check_pd = min_check_pd[min_check_pd.minimum_nights.apply(lambda x:check_integer(x,0,365))==False]
min_check_pd[["id","minimum_nights"]]

                      id minimum_nights
1681            17832768            NaN
1737            21177789            NaN
1913            30537269            NaN
2168            42122343           1125
2172            42223307            NaN
2173            42234877           1125
2499            52562718            NaN
2543            53305594            NaN
2623  549067634085092385            NaN
2780  619441009319934273            NaN
2798  625839014233228931            NaN
2994  711841142491970819            NaN

In [105]:
workset_after = assign_to_original(workset_after,airbnb_pd)

In [106]:
(workset_after.fillna("")!=workset_before.fillna("")).sum()

id                                 0
name                               0
host_id                            0
host_name                          0
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                    34
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
number_of_reviews_ltm              0
license                            0
id_flag                            0
host_id_flag                       0
neighbourhood_flag                 0
latitude_flag                      0
longitude_flag                     0
minimum_nights_flag                0
number_of_reviews_flag             0
last_review_flag                   0
room_type_flag                     0
dtype: int64

In [107]:
dcm1.change_df(workset_before,workset_after,"clean_minimum_nights_c2","c2")

DEBUG:root:change values
DEBUG:root:('change_values pd_index:',                            0                        1   \
0                (0, 0, 0, 0)             (1, 1, 0, 1)
1              (27, 27, 1, 0)           (28, 28, 1, 1)
2              (54, 54, 2, 0)           (55, 55, 2, 1)
3              (81, 81, 3, 0)           (82, 82, 3, 1)
4            (108, 108, 4, 0)         (109, 109, 4, 1)
...                       ...                      ...
3196  (86292, 86292, 3196, 0)  (86293, 86293, 3196, 1)
3197  (86319, 86319, 3197, 0)  (86320, 86320, 3197, 1)
3198  (86346, 86346, 3198, 0)  (86347, 86347, 3198, 1)
3199  (86373, 86373, 3199, 0)  (86374, 86374, 3199, 1)
3200  (86400, 86400, 3200, 0)  (86401, 86401, 3200, 1)

                           2                        3   \
0                (2, 2, 0, 2)             (3, 3, 0, 3)
1              (29, 29, 1, 2)           (30, 30, 1, 3)
2              (56, 56, 2, 2)           (57, 57, 2, 3)
3              (83, 83, 3, 2)           (84, 84, 3, 3)
4            (110, 110, 4, 2)         (111, 111, 4, 3)
...                       ...                      ...
3196  (86294, 86294, 3196, 2)  (86295, 86295, 3196, 3)
3197  (86321, 86321, 3197, 2)  (86322, 86322, 3197, 3)
3198  (86348, 86348, 3198, 2)  (86349, 86349, 3198, 3)
3199  (86375, 86375, 3199, 2)  (86376, 86376, 3199, 3)
3200  (86402, 86402, 3200, 2)  (86403, 86403, 3200, 3)

                           4                        5   \
0                (4, 4, 0, 4)             (5, 5, 0, 5)
1              (31, 31, 1, 4)           (32, 32, 1, 5)
2              (58, 58, 2, 4)           (59, 59, 2, 5)
3              (85, 85, 3, 4)           (86, 86, 3, 5)
4            (112, 112, 4, 4)         (113, 113, 4, 5)
...                       ...                      ...
3196  (86296, 86296, 3196, 4)  (86297, 86297, 3196, 5)
3197  (86323, 86323, 3197, 4)  (86324, 86324, 3197, 5)
3198  (86350, 86350, 3198, 4)  (86351, 86351, 3198, 5)
3199  (86377, 86377, 3199, 4)  (86378, 86378, 3199, 5)
3200  (86404, 86404, 3200, 4)  (86405, 86405, 3200, 5)

                           6                        7   \
0                (6, 6, 0, 6)             (7, 7, 0, 7)
1              (33, 33, 1, 6)           (34, 34, 1, 7)
2              (60, 60, 2, 6)           (61, 61, 2, 7)
3              (87, 87, 3, 6)           (88, 88, 3, 7)
4            (114, 114, 4, 6)         (115, 115, 4, 7)
...                       ...                      ...
3196  (86298, 86298, 3196, 6)  (86299, 86299, 3196, 7)
3197  (86325, 86325, 3197, 6)  (86326, 86326, 3197, 7)
3198  (86352, 86352, 3198, 6)  (86353, 86353, 3198, 7)
3199  (86379, 86379, 3199, 6)  (86380, 86380, 3199, 7)
3200  (86406, 88717, 3200, 6)  (86407, 86407, 3200, 7)

                           8                        9   ...  \
0                (8, 8, 0, 8)             (9, 9, 0, 9)  ...
1              (35, 35, 1, 8)           (36, 36, 1, 9)  ...
2              (62, 62, 2, 8)           (63, 63, 2, 9)  ...
3           (89, 89638, 3, 8)           (90, 90, 3, 9)  ...
4            (116, 116, 4, 8)         (117, 117, 4, 9)  ...
...                       ...                      ...  ...
3196  (86300, 86300, 3196, 8)  (86301, 86301, 3196, 9)  ...
3197  (86327, 88715, 3197, 8)  (86328, 86328, 3197, 9)  ...
3198  (86354, 86354, 3198, 8)  (86355, 86355, 3198, 9)  ...
3199  (86381, 88716, 3199, 8)  (86382, 86382, 3199, 9)  ...
3200  (86408, 86408, 3200, 8)  (86409, 86409, 3200, 9)  ...

                            17                        18  \
0              (17, 17, 0, 17)           (18, 18, 0, 18)
1              (44, 44, 1, 17)           (45, 45, 1, 18)
2              (71, 71, 2, 17)           (72, 72, 2, 18)
3              (98, 98, 3, 17)           (99, 99, 3, 18)
4            (125, 125, 4, 17)         (126, 126, 4, 18)
...                        ...                       ...
3196  (86309, 86309, 3196, 17)  (86310, 86310, 3196, 18)
3197  (86336, 86336, 3197, 17)  (86337, 86337, 3197, 18)
3198  (86363, 86363, 3198, 17)  (86364, 86364, 3198, 18)
3199  (86390, 86390, 3199, 17)  (86391, 86391, 3199, 18)
3200  (86417, 86417, 3200, 17)  (86418, 86418, 3200, 18)

                            19                        20  \
0              (19, 19, 0, 19)           (20, 20, 0, 20)
1              (46, 46, 1, 19)           (47, 47, 1, 20)
2              (73, 73, 2, 19)           (74, 74, 2, 20)
3            (100, 100, 3, 19)         (101, 101, 3, 20)
4            (127, 127, 4, 19)         (128, 128, 4, 20)
...                        ...                       ...
3196  (86311, 86311, 3196, 19)  (86312, 86312, 3196, 20)
3197  (86338, 86338, 3197, 19)  (86339, 86339, 3197, 20)
3198  (86365, 86365, 3198, 19)  (86366, 86366, 3198, 20)
3199  (86392, 86392, 3199, 19)  (86393, 86393, 3199, 20)
3200  (86419, 86419, 3200, 19)  (86420, 86420, 3200, 20)

                            21                        22  \
0              (21, 21, 0, 21)           (22, 22, 0, 22)
1              (48, 48, 1, 21)           (49, 49, 1, 22)
2              (75, 75, 2, 21)           (76, 76, 2, 22)
3            (102, 102, 3, 21)         (103, 103, 3, 22)
4            (129, 129, 4, 21)         (130, 130, 4, 22)
...                        ...                       ...
3196  (86313, 86313, 3196, 21)  (86314, 86314, 3196, 22)
3197  (86340, 86340, 3197, 21)  (86341, 86341, 3197, 22)
3198  (86367, 86367, 3198, 21)  (86368, 86368, 3198, 22)
3199  (86394, 86394, 3199, 21)  (86395, 86395, 3199, 22)
3200  (86421, 91086, 3200, 21)  (86422, 86422, 3200, 22)

                            23                        24  \
0              (23, 23, 0, 23)           (24, 24, 0, 24)
1              (50, 50, 1, 23)           (51, 51, 1, 24)
2              (77, 77, 2, 23)           (78, 78, 2, 24)
3            (104, 104, 3, 23)         (105, 105, 3, 24)
4            (131, 131, 4, 23)         (132, 132, 4, 24)
...                        ...                       ...
3196  (86315, 86315, 3196, 23)  (86316, 86316, 3196, 24)
3197  (86342, 86342, 3197, 23)  (86343, 86343, 3197, 24)
3198  (86369, 86369, 3198, 23)  (86370, 86370, 3198, 24)
3199  (86396, 86396, 3199, 23)  (86397, 86397, 3199, 24)
3200  (86423, 86423, 3200, 23)  (86424, 86424, 3200, 24)

                            25                        26
0              (25, 25, 0, 25)           (26, 26, 0, 26)
1              (52, 52, 1, 25)           (53, 53, 1, 26)
2           (79, 89912, 2, 25)           (80, 80, 2, 26)
3            (106, 106, 3, 25)         (107, 107, 3, 26)
4            (133, 133, 4, 25)         (134, 134, 4, 26)
...                        ...                       ...
3196  (86317, 86317, 3196, 25)  (86318, 86318, 3196, 26)
3197  (86344, 86344, 3197, 25)  (86345, 91400, 3197, 26)
3198  (86371, 86371, 3198, 25)  (86372, 86372, 3198, 26)
3199  (86398, 86398, 3199, 25)  (86399, 91401, 3199, 26)
3200  (86425, 86425, 3200, 25)  (86426, 86426, 3200, 26)

[3201 rows x 27 columns], array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]]))
DEBUG:root:('idx:', array([(41590, 87519, 1540, 10), (41806, 87529, 1548, 10),
       (42373, 87545, 1569, 10), (43507, 87569, 1611, 10),
       (43534, 87570, 1612, 10), (47746, 87688, 1768, 10),
       (48313, 87696, 1789, 10), (48853, 87703, 1809, 10),
       (49258, 87714, 1824, 10), (50554, 87747, 1872, 10),
       (54172, 87838, 2006, 10), (56305, 87897, 2085, 10),
       (56332, 87902, 2086, 10), (57277, 87922, 2121, 10),
       (58546, 87957, 2168, 10), (58681, 58681, 2173, 10),
       (58789, 87963, 2177, 10), (59356, 87973, 2198, 10),
       (61489, 88030, 2277, 10), (62596, 88063, 2318, 10),
       (62839, 88072, 2327, 10), (62893, 88075, 2329, 10),
       (64378, 88108, 2384, 10), (64783, 88119, 2399, 10),
       (65215, 88139, 2415, 10), (65512, 88148, 2426, 10),
       (70075, 88264, 2595, 10), (70210, 88266, 2600, 10),
       (72181, 88319, 2673, 10), (72640, 88332, 2690, 10),
       (77905, 88480, 2885, 10), (79255, 88512, 2935, 10),
       (84655, 88660, 3135, 10), (85573, 88692, 3169, 10)], dtype=object), array([32, 32, 60, 32, 32, 32, 32, 32, 32, 32, 200, 32, 32, 32, 1125,
       1125, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32,
       32, 32, 32], dtype=object))

DEBUG:root:('change_values idxlist:', [(41590, 87519, 1540, 10), (41806, 87529, 1548, 10), (42373, 87545, 1569, 10), (43507, 87569, 1611, 10), (43534, 87570, 1612, 10), (47746, 87688, 1768, 10), (48313, 87696, 1789, 10), (48853, 87703, 1809, 10), (49258, 87714, 1824, 10), (50554, 87747, 1872, 10), (54172, 87838, 2006, 10), (56305, 87897, 2085, 10), (56332, 87902, 2086, 10), (57277, 87922, 2121, 10), (58546, 87957, 2168, 10), (58681, 58681, 2173, 10), (58789, 87963, 2177, 10), (59356, 87973, 2198, 10), (61489, 88030, 2277, 10), (62596, 88063, 2318, 10), (62839, 88072, 2327, 10), (62893, 88075, 2329, 10), (64378, 88108, 2384, 10), (64783, 88119, 2399, 10), (65215, 88139, 2415, 10), (65512, 88148, 2426, 10), (70075, 88264, 2595, 10), (70210, 88266, 2600, 10), (72181, 88319, 2673, 10), (72640, 88332, 2690, 10), (77905, 88480, 2885, 10), (79255, 88512, 2935, 10), (84655, 88660, 3135, 10), (85573, 88692, 3169, 10)], [32, 32, 60, 32, 32, 32, 32, 32, 32, 32, 200, 32, 32, 32, 1125, 1125, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32])
DEBUG:root:('change_values idxlist:', ((41590, 87519, 1540, 10), 32, (1540, 10)))
DEBUG:root:('change_values idxlist:', ((41806, 87529, 1548, 10), 32, (1548, 10)))
DEBUG:root:('change_values idxlist:', ((42373, 87545, 1569, 10), 60, (1569, 10)))
DEBUG:root:('change_values idxlist:', ((43507, 87569, 1611, 10), 32, (1611, 10)))
DEBUG:root:('change_values idxlist:', ((43534, 87570, 1612, 10), 32, (1612, 10)))
DEBUG:root:('change_values idxlist:', ((47746, 87688, 1768, 10), 32, (1768, 10)))
DEBUG:root:('change_values idxlist:', ((48313, 87696, 1789, 10), 32, (1789, 10)))
DEBUG:root:('change_values idxlist:', ((48853, 87703, 1809, 10), 32, (1809, 10)))
DEBUG:root:('change_values idxlist:', ((49258, 87714, 1824, 10), 32, (1824, 10)))
DEBUG:root:('change_values idxlist:', ((50554, 87747, 1872, 10), 32, (1872, 10)))
DEBUG:root:('change_values idxlist:', ((54172, 87838, 2006, 10), 200, (2006, 10)))
DEBUG:root:('change_values idxlist:', ((56305, 87897, 2085, 10), 32, (2085, 10)))
DEBUG:root:('change_values idxlist:', ((56332, 87902, 2086, 10), 32, (2086, 10)))
DEBUG:root:('change_values idxlist:', ((57277, 87922, 2121, 10), 32, (2121, 10)))
DEBUG:root:('change_values idxlist:', ((58546, 87957, 2168, 10), 1125, (2168, 10)))
DEBUG:root:('change_values idxlist:', ((58681, 58681, 2173, 10), 1125, (2173, 10)))
DEBUG:root:('change_values idxlist:', ((58789, 87963, 2177, 10), 32, (2177, 10)))
DEBUG:root:('change_values idxlist:', ((59356, 87973, 2198, 10), 32, (2198, 10)))
DEBUG:root:('change_values idxlist:', ((61489, 88030, 2277, 10), 32, (2277, 10)))
DEBUG:root:('change_values idxlist:', ((62596, 88063, 2318, 10), 32, (2318, 10)))
DEBUG:root:('change_values idxlist:', ((62839, 88072, 2327, 10), 32, (2327, 10)))
DEBUG:root:('change_values idxlist:', ((62893, 88075, 2329, 10), 32, (2329, 10)))
DEBUG:root:('change_values idxlist:', ((64378, 88108, 2384, 10), 32, (2384, 10)))
DEBUG:root:('change_values idxlist:', ((64783, 88119, 2399, 10), 32, (2399, 10)))
DEBUG:root:('change_values idxlist:', ((65215, 88139, 2415, 10), 32, (2415, 10)))
DEBUG:root:('change_values idxlist:', ((65512, 88148, 2426, 10), 32, (2426, 10)))
DEBUG:root:('change_values idxlist:', ((70075, 88264, 2595, 10), 32, (2595, 10)))
DEBUG:root:('change_values idxlist:', ((70210, 88266, 2600, 10), 32, (2600, 10)))
DEBUG:root:('change_values idxlist:', ((72181, 88319, 2673, 10), 32, (2673, 10)))
DEBUG:root:('change_values idxlist:', ((72640, 88332, 2690, 10), 32, (2690, 10)))
DEBUG:root:('change_values idxlist:', ((77905, 88480, 2885, 10), 32, (2885, 10)))
DEBUG:root:('change_values idxlist:', ((79255, 88512, 2935, 10), 32, (2935, 10)))
DEBUG:root:('change_values idxlist:', ((84655, 88660, 3135, 10), 32, (3135, 10)))
DEBUG:root:('change_values idxlist:', ((85573, 88692, 3169, 10), 32, (3169, 10)))

True

In [108]:
workset_before = workset_after.copy()

In [109]:
check_pd = pd.DataFrame(dcm1.cell_values)
check_pd[check_pd[2]==6]

           0      1  2                3      4
89638  89638     89  6  Entire home/apt  86428
89639  89639    170  6  Entire home/apt  86430
89640  89640    224  6  Entire home/apt  86431
89641  89641    359  6  Entire home/apt  86437
89642  89642    431  6                2    431
...      ...    ... ..              ...    ...
89831  89831  38510  6  Entire home/apt  87448
89832  89832  38780  6  Entire home/apt  87451
89833  89833  39104  6  Entire home/apt  87458
89834  89834  39455  6  Entire home/apt  87466
89835  89835  39968  6  Entire home/apt  87480

[198 rows x 5 columns]

In [110]:
def clean_number_of_reviews(df):
    min_check_pd = df[df.number_of_reviews_flag==0]
    min_check_pd = min_check_pd[min_check_pd.number_of_reviews.apply(lambda x:check_integer(x,0,999999))==False]
    wrong_min_nr=  min_check_pd[["id","number_of_reviews"]]
    nr_ind_ls=list(wrong_min_nr.index)

    for nr_id in nr_ind_ls:
        pre_nr=df.loc[nr_id,"number_of_reviews"]
        try:
            if pre_nr==np.nan or math.isnan(pre_nr):
                df.loc[nr_id,"number_of_reviews_flag"]=2
        except:
            try:
                revised=int(''.join(c for c in pre_nr if c.isdigit()))
                if check_integer(revised)==True:
                    df.loc[nr_id,"number_of_reviews"]=revised
                else:
                    df.loc[nr_id,"number_of_reviews_flag"]=1
        
            except:
                print(nr_id)
    return df

In [111]:
airbnb_pd = clean_number_of_reviews(airbnb_pd)

1712
1903
2085
2113
2657
3182

In [112]:
airbnb_pd[airbnb_pd['number_of_reviews_flag']==1]['number_of_reviews']

1486    47X5
1675    64r0
1676    64r0
Name: number_of_reviews, dtype: object

# Clean number of reviews checking

This query should return zero rows once you implement the cleaning process

In [113]:
min_check_pd = airbnb_pd[airbnb_pd.number_of_reviews_flag==0]
min_check_pd = min_check_pd[min_check_pd.number_of_reviews.apply(lambda x:check_integer(x,1,999999))==False]
min_check_pd[["id","number_of_reviews"]]

                      id number_of_reviews
1529             5185790                 0
1590            10634059                 0
1598            12136030                 0
1604            12444516                 0
1605            12448898                 0
...                  ...               ...
3196  782628636832878491                 0
3197  782643895516370805                 0
3198  784994899201350568                 0
3199  785423932330914663                 0
3200  785426440046865418                 0

[365 rows x 2 columns]

In [114]:
workset_after = assign_to_original(workset_after,airbnb_pd)

In [115]:
(workset_after.fillna("")!=workset_before.fillna("")).sum()

id                                 0
name                               0
host_id                            0
host_name                          0
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                 46
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
number_of_reviews_ltm              0
license                            0
id_flag                            0
host_id_flag                       0
neighbourhood_flag                 0
latitude_flag                      0
longitude_flag                     0
minimum_nights_flag                0
number_of_reviews_flag             3
last_review_flag                   0
room_type_flag                     0
dtype: int64

In [116]:
dcm1.change_df(workset_before,workset_after,"clean_number_of_reviews_c2","c2")

DEBUG:root:change values
DEBUG:root:('change_values pd_index:',                            0                        1   \
0                (0, 0, 0, 0)             (1, 1, 0, 1)
1              (27, 27, 1, 0)           (28, 28, 1, 1)
2              (54, 54, 2, 0)           (55, 55, 2, 1)
3              (81, 81, 3, 0)           (82, 82, 3, 1)
4            (108, 108, 4, 0)         (109, 109, 4, 1)
...                       ...                      ...
3196  (86292, 86292, 3196, 0)  (86293, 86293, 3196, 1)
3197  (86319, 86319, 3197, 0)  (86320, 86320, 3197, 1)
3198  (86346, 86346, 3198, 0)  (86347, 86347, 3198, 1)
3199  (86373, 86373, 3199, 0)  (86374, 86374, 3199, 1)
3200  (86400, 86400, 3200, 0)  (86401, 86401, 3200, 1)

                           2                        3   \
0                (2, 2, 0, 2)             (3, 3, 0, 3)
1              (29, 29, 1, 2)           (30, 30, 1, 3)
2              (56, 56, 2, 2)           (57, 57, 2, 3)
3              (83, 83, 3, 2)           (84, 84, 3, 3)
4            (110, 110, 4, 2)         (111, 111, 4, 3)
...                       ...                      ...
3196  (86294, 86294, 3196, 2)  (86295, 86295, 3196, 3)
3197  (86321, 86321, 3197, 2)  (86322, 86322, 3197, 3)
3198  (86348, 86348, 3198, 2)  (86349, 86349, 3198, 3)
3199  (86375, 86375, 3199, 2)  (86376, 86376, 3199, 3)
3200  (86402, 86402, 3200, 2)  (86403, 86403, 3200, 3)

                           4                        5   \
0                (4, 4, 0, 4)             (5, 5, 0, 5)
1              (31, 31, 1, 4)           (32, 32, 1, 5)
2              (58, 58, 2, 4)           (59, 59, 2, 5)
3              (85, 85, 3, 4)           (86, 86, 3, 5)
4            (112, 112, 4, 4)         (113, 113, 4, 5)
...                       ...                      ...
3196  (86296, 86296, 3196, 4)  (86297, 86297, 3196, 5)
3197  (86323, 86323, 3197, 4)  (86324, 86324, 3197, 5)
3198  (86350, 86350, 3198, 4)  (86351, 86351, 3198, 5)
3199  (86377, 86377, 3199, 4)  (86378, 86378, 3199, 5)
3200  (86404, 86404, 3200, 4)  (86405, 86405, 3200, 5)

                           6                        7   \
0                (6, 6, 0, 6)             (7, 7, 0, 7)
1              (33, 33, 1, 6)           (34, 34, 1, 7)
2              (60, 60, 2, 6)           (61, 61, 2, 7)
3              (87, 87, 3, 6)           (88, 88, 3, 7)
4            (114, 114, 4, 6)         (115, 115, 4, 7)
...                       ...                      ...
3196  (86298, 86298, 3196, 6)  (86299, 86299, 3196, 7)
3197  (86325, 86325, 3197, 6)  (86326, 86326, 3197, 7)
3198  (86352, 86352, 3198, 6)  (86353, 86353, 3198, 7)
3199  (86379, 86379, 3199, 6)  (86380, 86380, 3199, 7)
3200  (86406, 88717, 3200, 6)  (86407, 86407, 3200, 7)

                           8                        9   ...  \
0                (8, 8, 0, 8)             (9, 9, 0, 9)  ...
1              (35, 35, 1, 8)           (36, 36, 1, 9)  ...
2              (62, 62, 2, 8)           (63, 63, 2, 9)  ...
3           (89, 89638, 3, 8)           (90, 90, 3, 9)  ...
4            (116, 116, 4, 8)         (117, 117, 4, 9)  ...
...                       ...                      ...  ...
3196  (86300, 86300, 3196, 8)  (86301, 86301, 3196, 9)  ...
3197  (86327, 88715, 3197, 8)  (86328, 86328, 3197, 9)  ...
3198  (86354, 86354, 3198, 8)  (86355, 86355, 3198, 9)  ...
3199  (86381, 88716, 3199, 8)  (86382, 86382, 3199, 9)  ...
3200  (86408, 86408, 3200, 8)  (86409, 86409, 3200, 9)  ...

                            17                        18  \
0              (17, 17, 0, 17)           (18, 18, 0, 18)
1              (44, 44, 1, 17)           (45, 45, 1, 18)
2              (71, 71, 2, 17)           (72, 72, 2, 18)
3              (98, 98, 3, 17)           (99, 99, 3, 18)
4            (125, 125, 4, 17)         (126, 126, 4, 18)
...                        ...                       ...
3196  (86309, 86309, 3196, 17)  (86310, 86310, 3196, 18)
3197  (86336, 86336, 3197, 17)  (86337, 86337, 3197, 18)
3198  (86363, 86363, 3198, 17)  (86364, 86364, 3198, 18)
3199  (86390, 86390, 3199, 17)  (86391, 86391, 3199, 18)
3200  (86417, 86417, 3200, 17)  (86418, 86418, 3200, 18)

                            19                        20  \
0              (19, 19, 0, 19)           (20, 20, 0, 20)
1              (46, 46, 1, 19)           (47, 47, 1, 20)
2              (73, 73, 2, 19)           (74, 74, 2, 20)
3            (100, 100, 3, 19)         (101, 101, 3, 20)
4            (127, 127, 4, 19)         (128, 128, 4, 20)
...                        ...                       ...
3196  (86311, 86311, 3196, 19)  (86312, 86312, 3196, 20)
3197  (86338, 86338, 3197, 19)  (86339, 86339, 3197, 20)
3198  (86365, 86365, 3198, 19)  (86366, 86366, 3198, 20)
3199  (86392, 86392, 3199, 19)  (86393, 86393, 3199, 20)
3200  (86419, 86419, 3200, 19)  (86420, 86420, 3200, 20)

                            21                        22  \
0              (21, 21, 0, 21)           (22, 22, 0, 22)
1              (48, 48, 1, 21)           (49, 49, 1, 22)
2              (75, 75, 2, 21)           (76, 76, 2, 22)
3            (102, 102, 3, 21)         (103, 103, 3, 22)
4            (129, 129, 4, 21)         (130, 130, 4, 22)
...                        ...                       ...
3196  (86313, 86313, 3196, 21)  (86314, 86314, 3196, 22)
3197  (86340, 86340, 3197, 21)  (86341, 86341, 3197, 22)
3198  (86367, 86367, 3198, 21)  (86368, 86368, 3198, 22)
3199  (86394, 86394, 3199, 21)  (86395, 86395, 3199, 22)
3200  (86421, 91086, 3200, 21)  (86422, 86422, 3200, 22)

                            23                        24  \
0              (23, 23, 0, 23)           (24, 24, 0, 24)
1              (50, 50, 1, 23)           (51, 51, 1, 24)
2              (77, 77, 2, 23)           (78, 78, 2, 24)
3            (104, 104, 3, 23)         (105, 105, 3, 24)
4            (131, 131, 4, 23)         (132, 132, 4, 24)
...                        ...                       ...
3196  (86315, 86315, 3196, 23)  (86316, 86316, 3196, 24)
3197  (86342, 86342, 3197, 23)  (86343, 86343, 3197, 24)
3198  (86369, 86369, 3198, 23)  (86370, 86370, 3198, 24)
3199  (86396, 86396, 3199, 23)  (86397, 86397, 3199, 24)
3200  (86423, 86423, 3200, 23)  (86424, 86424, 3200, 24)

                            25                        26
0              (25, 25, 0, 25)           (26, 26, 0, 26)
1              (52, 52, 1, 25)           (53, 53, 1, 26)
2           (79, 89912, 2, 25)           (80, 80, 2, 26)
3            (106, 106, 3, 25)         (107, 107, 3, 26)
4            (133, 133, 4, 25)         (134, 134, 4, 26)
...                        ...                       ...
3196  (86317, 86317, 3196, 25)  (86318, 86318, 3196, 26)
3197  (86344, 86344, 3197, 25)  (86345, 91400, 3197, 26)
3198  (86371, 86371, 3198, 25)  (86372, 86372, 3198, 26)
3199  (86398, 86398, 3199, 25)  (86399, 91401, 3199, 26)
3200  (86425, 86425, 3200, 25)  (86426, 86426, 3200, 26)

[3201 rows x 27 columns], array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]]))
DEBUG:root:('idx:', array([(40146, 40146, 1486, 24), (40349, 87490, 1494, 11),
       (40619, 87496, 1504, 11), (41105, 87506, 1522, 11),
       (41240, 87512, 1527, 11), (41564, 87517, 1539, 11),
       (42212, 87541, 1563, 11), (42428, 87546, 1571, 11),
       (43022, 87557, 1593, 11), (43211, 87562, 1600, 11),
       (44102, 87586, 1633, 11), (44237, 87588, 1638, 11),
       (44453, 87592, 1646, 11), (45249, 45249, 1675, 24),
       (45276, 45276, 1676, 24), (45398, 87619, 1681, 11),
       (45425, 87622, 1682, 11), (45614, 87628, 1689, 11),
       (46451, 87656, 1720, 11), (47234, 87678, 1749, 11),
       (49421, 87720, 1830, 11), (51203, 87760, 1896, 11),
       (51284, 87763, 1899, 11), (52121, 87788, 1930, 11),
       (52931, 87807, 1960, 11), (52958, 87809, 1961, 11),
       (53876, 87831, 1995, 11), (54875, 87853, 2032, 11),
       (55118, 87856, 2041, 11), (55469, 87865, 2054, 11),
       (55496, 87867, 2055, 11), (56360, 87904, 2087, 11),
       (56441, 87907, 2090, 11), (57332, 87926, 2123, 11),
       (60059, 87994, 2224, 11), (61652, 88035, 2283, 11),
       (63785, 88091, 2362, 11), (64001, 88097, 2370, 11),
       (64136, 88101, 2375, 11), (65081, 88133, 2410, 11),
       (67619, 88202, 2504, 11), (69617, 88251, 2578, 11),
       (71237, 88294, 2638, 11), (74099, 88376, 2744, 11),
       (75125, 88405, 2782, 11), (76043, 88434, 2816, 11),
       (76151, 88437, 2820, 11), (79607, 88521, 2948, 11),
       (79850, 88531, 2957, 11)], dtype=object), array([1, 61, 192, 26, 46, 70, 256, 328, 198, 125, 105, 24, 140, 1, 1, 69,
       69, 16, 129, 196, 221, 149, 131, 28, 71, 71, 61, 37, 76, 52, 52,
       154, 114, 76, 79, 39, 56, 11, 23, 36, 28, 29, 12, 14, 20, 13, 16,
       14, 15], dtype=object))

DEBUG:root:('change_values idxlist:', [(40146, 40146, 1486, 24), (40349, 87490, 1494, 11), (40619, 87496, 1504, 11), (41105, 87506, 1522, 11), (41240, 87512, 1527, 11), (41564, 87517, 1539, 11), (42212, 87541, 1563, 11), (42428, 87546, 1571, 11), (43022, 87557, 1593, 11), (43211, 87562, 1600, 11), (44102, 87586, 1633, 11), (44237, 87588, 1638, 11), (44453, 87592, 1646, 11), (45249, 45249, 1675, 24), (45276, 45276, 1676, 24), (45398, 87619, 1681, 11), (45425, 87622, 1682, 11), (45614, 87628, 1689, 11), (46451, 87656, 1720, 11), (47234, 87678, 1749, 11), (49421, 87720, 1830, 11), (51203, 87760, 1896, 11), (51284, 87763, 1899, 11), (52121, 87788, 1930, 11), (52931, 87807, 1960, 11), (52958, 87809, 1961, 11), (53876, 87831, 1995, 11), (54875, 87853, 2032, 11), (55118, 87856, 2041, 11), (55469, 87865, 2054, 11), (55496, 87867, 2055, 11), (56360, 87904, 2087, 11), (56441, 87907, 2090, 11), (57332, 87926, 2123, 11), (60059, 87994, 2224, 11), (61652, 88035, 2283, 11), (63785, 88091, 2362, 11), (64001, 88097, 2370, 11), (64136, 88101, 2375, 11), (65081, 88133, 2410, 11), (67619, 88202, 2504, 11), (69617, 88251, 2578, 11), (71237, 88294, 2638, 11), (74099, 88376, 2744, 11), (75125, 88405, 2782, 11), (76043, 88434, 2816, 11), (76151, 88437, 2820, 11), (79607, 88521, 2948, 11), (79850, 88531, 2957, 11)], [1, 61, 192, 26, 46, 70, 256, 328, 198, 125, 105, 24, 140, 1, 1, 69, 69, 16, 129, 196, 221, 149, 131, 28, 71, 71, 61, 37, 76, 52, 52, 154, 114, 76, 79, 39, 56, 11, 23, 36, 28, 29, 12, 14, 20, 13, 16, 14, 15])
DEBUG:root:('change_values idxlist:', ((40146, 40146, 1486, 24), 1, (1486, 24)))
DEBUG:root:('change_values idxlist:', ((40349, 87490, 1494, 11), 61, (1494, 11)))
DEBUG:root:('change_values idxlist:', ((40619, 87496, 1504, 11), 192, (1504, 11)))
DEBUG:root:('change_values idxlist:', ((41105, 87506, 1522, 11), 26, (1522, 11)))
DEBUG:root:('change_values idxlist:', ((41240, 87512, 1527, 11), 46, (1527, 11)))
DEBUG:root:('change_values idxlist:', ((41564, 87517, 1539, 11), 70, (1539, 11)))
DEBUG:root:('change_values idxlist:', ((42212, 87541, 1563, 11), 256, (1563, 11)))
DEBUG:root:('change_values idxlist:', ((42428, 87546, 1571, 11), 328, (1571, 11)))
DEBUG:root:('change_values idxlist:', ((43022, 87557, 1593, 11), 198, (1593, 11)))
DEBUG:root:('change_values idxlist:', ((43211, 87562, 1600, 11), 125, (1600, 11)))
DEBUG:root:('change_values idxlist:', ((44102, 87586, 1633, 11), 105, (1633, 11)))
DEBUG:root:('change_values idxlist:', ((44237, 87588, 1638, 11), 24, (1638, 11)))
DEBUG:root:('change_values idxlist:', ((44453, 87592, 1646, 11), 140, (1646, 11)))
DEBUG:root:('change_values idxlist:', ((45249, 45249, 1675, 24), 1, (1675, 24)))
DEBUG:root:('change_values idxlist:', ((45276, 45276, 1676, 24), 1, (1676, 24)))
DEBUG:root:('change_values idxlist:', ((45398, 87619, 1681, 11), 69, (1681, 11)))
DEBUG:root:('change_values idxlist:', ((45425, 87622, 1682, 11), 69, (1682, 11)))
DEBUG:root:('change_values idxlist:', ((45614, 87628, 1689, 11), 16, (1689, 11)))
DEBUG:root:('change_values idxlist:', ((46451, 87656, 1720, 11), 129, (1720, 11)))
DEBUG:root:('change_values idxlist:', ((47234, 87678, 1749, 11), 196, (1749, 11)))
DEBUG:root:('change_values idxlist:', ((49421, 87720, 1830, 11), 221, (1830, 11)))
DEBUG:root:('change_values idxlist:', ((51203, 87760, 1896, 11), 149, (1896, 11)))
DEBUG:root:('change_values idxlist:', ((51284, 87763, 1899, 11), 131, (1899, 11)))
DEBUG:root:('change_values idxlist:', ((52121, 87788, 1930, 11), 28, (1930, 11)))
DEBUG:root:('change_values idxlist:', ((52931, 87807, 1960, 11), 71, (1960, 11)))
DEBUG:root:('change_values idxlist:', ((52958, 87809, 1961, 11), 71, (1961, 11)))
DEBUG:root:('change_values idxlist:', ((53876, 87831, 1995, 11), 61, (1995, 11)))
DEBUG:root:('change_values idxlist:', ((54875, 87853, 2032, 11), 37, (2032, 11)))
DEBUG:root:('change_values idxlist:', ((55118, 87856, 2041, 11), 76, (2041, 11)))
DEBUG:root:('change_values idxlist:', ((55469, 87865, 2054, 11), 52, (2054, 11)))
DEBUG:root:('change_values idxlist:', ((55496, 87867, 2055, 11), 52, (2055, 11)))
DEBUG:root:('change_values idxlist:', ((56360, 87904, 2087, 11), 154, (2087, 11)))
DEBUG:root:('change_values idxlist:', ((56441, 87907, 2090, 11), 114, (2090, 11)))
DEBUG:root:('change_values idxlist:', ((57332, 87926, 2123, 11), 76, (2123, 11)))
DEBUG:root:('change_values idxlist:', ((60059, 87994, 2224, 11), 79, (2224, 11)))
DEBUG:root:('change_values idxlist:', ((61652, 88035, 2283, 11), 39, (2283, 11)))
DEBUG:root:('change_values idxlist:', ((63785, 88091, 2362, 11), 56, (2362, 11)))
DEBUG:root:('change_values idxlist:', ((64001, 88097, 2370, 11), 11, (2370, 11)))
DEBUG:root:('change_values idxlist:', ((64136, 88101, 2375, 11), 23, (2375, 11)))
DEBUG:root:('change_values idxlist:', ((65081, 88133, 2410, 11), 36, (2410, 11)))
DEBUG:root:('change_values idxlist:', ((67619, 88202, 2504, 11), 28, (2504, 11)))
DEBUG:root:('change_values idxlist:', ((69617, 88251, 2578, 11), 29, (2578, 11)))
DEBUG:root:('change_values idxlist:', ((71237, 88294, 2638, 11), 12, (2638, 11)))
DEBUG:root:('change_values idxlist:', ((74099, 88376, 2744, 11), 14, (2744, 11)))
DEBUG:root:('change_values idxlist:', ((75125, 88405, 2782, 11), 20, (2782, 11)))
DEBUG:root:('change_values idxlist:', ((76043, 88434, 2816, 11), 13, (2816, 11)))
DEBUG:root:('change_values idxlist:', ((76151, 88437, 2820, 11), 16, (2820, 11)))
DEBUG:root:('change_values idxlist:', ((79607, 88521, 2948, 11), 14, (2948, 11)))
DEBUG:root:('change_values idxlist:', ((79850, 88531, 2957, 11), 15, (2957, 11)))

True

In [117]:
workset_before = workset_after.copy()

In [118]:
check_pd = pd.DataFrame(dcm1.cell_values)
check_pd[check_pd[2]==7]

           0      1  2    3      4
89836  89836   3277  7   32  86500
89837  89837   4100  7    2   4100
89838  89838   5734  7   32  86568
89839  89839   6220  7  120  86581
89840  89840   7300  7   32  86619
89841  89841  12214  7   32  86748
89842  89842  12862  7   32  86770
89843  89843  13321  7  500  13321
89844  89844  15346  7   32  86826
89845  89845  15697  7   32  86833
89846  89846  15940  7   32  86837
89847  89847  15994  7   32  86840
89848  89848  17209  7   32  86870
89849  89849  17384  7    2  17384
89850  89850  17614  7   32  86884
89851  89851  24202  7   32  87047
89852  89852  24418  7   32  87053
89853  89853  25147  7   32  87065
89854  89854  30128  7    2  30128
89855  89855  30655  7   32  87214
89856  89856  30790  7   32  87218
89857  89857  30817  7   32  87219
89858  89858  30992  7    2  30992
89859  89859  31762  7   32  87248
89860  89860  33166  7   32  87298
89861  89861  33976  7   32  87331
89862  89862  34300  7   32  87340
89863  89863  37864  7   32  87423

# cleanup last_review

The "last_review" column should be in the format of ISO-date (yyyy-mm-dd). We have provided a "check_date" function to verify the date format.

If a value is outside the date format or is null and you are unsure how to handle it, you can flag the row for deletion by setting the "last_review_flag" to 1 or 2.

In [119]:
from datetime import datetime
def check_date(x,fmt="%Y-%m-%d"):
    try:
        datetime.strptime(x,fmt)
        return True
    except:
        return False

In [120]:
import math
def clean_last_reviews(df):
    last_review_check_pd = df[df.last_review_flag==0]
    last_review_check_pd = last_review_check_pd[last_review_check_pd.last_review.apply(lambda x:check_date(x))==False]
    wrong_lr=last_review_check_pd[["id","last_review"]]
    lr_ind_ls=list(wrong_lr.index)
    
    for lr_id in lr_ind_ls:
        pre_lr=df.loc[lr_id,"last_review"]
        try:
            if pre_lr==np.nan or math.isnan(pre_lr) :
                df.loc[lr_id,"last_review_flag"]=2
        except:
            pre_lr=pre_lr.replace("/", " ")
            mon_ele=pre_lr.split()[0]
            date_ele=pre_lr.split()[1]
            year_ele=pre_lr.split()[2]
            revised_date="20"+year_ele+"-"+mon_ele+"-"+date_ele
            if check_date(revised_date)==True:
                df.loc[lr_id,"last_review"]=revised_date
            else:
                df.loc[lr_id,"last_review_flag"]=1
    return df

In [121]:
airbnb_pd = clean_last_reviews(airbnb_pd)

# Last Review checking

This query should return zero rows once you implement the cleaning process

In [122]:
last_review_check_pd = airbnb_pd[airbnb_pd.last_review_flag==0]
last_review_check_pd = last_review_check_pd[last_review_check_pd.last_review.apply(lambda x:check_date(x))==False]
last_review_check_pd[["id","last_review"]]

Empty DataFrame
Columns: [id, last_review]
Index: []

In [123]:
workset_after = assign_to_original(workset_after,airbnb_pd)

In [124]:
(workset_after.fillna("")!=workset_before.fillna("")).sum()

id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood_group                 0
neighbourhood                       0
latitude                            0
longitude                           0
room_type                           0
price                               0
minimum_nights                      0
number_of_reviews                   0
last_review                        72
reviews_per_month                   0
calculated_host_listings_count      0
availability_365                    0
number_of_reviews_ltm               0
license                             0
id_flag                             0
host_id_flag                        0
neighbourhood_flag                  0
latitude_flag                       0
longitude_flag                      0
minimum_nights_flag                 0
number_of_reviews_flag              0
last_review_flag                  365
room_type_flag                      0
dtype: int64

In [125]:
dcm1.change_df(workset_before,workset_after,"clean_last_review_c2","c2")

DEBUG:root:change values
DEBUG:root:('change_values pd_index:',                            0                        1   \
0                (0, 0, 0, 0)             (1, 1, 0, 1)
1              (27, 27, 1, 0)           (28, 28, 1, 1)
2              (54, 54, 2, 0)           (55, 55, 2, 1)
3              (81, 81, 3, 0)           (82, 82, 3, 1)
4            (108, 108, 4, 0)         (109, 109, 4, 1)
...                       ...                      ...
3196  (86292, 86292, 3196, 0)  (86293, 86293, 3196, 1)
3197  (86319, 86319, 3197, 0)  (86320, 86320, 3197, 1)
3198  (86346, 86346, 3198, 0)  (86347, 86347, 3198, 1)
3199  (86373, 86373, 3199, 0)  (86374, 86374, 3199, 1)
3200  (86400, 86400, 3200, 0)  (86401, 86401, 3200, 1)

                           2                        3   \
0                (2, 2, 0, 2)             (3, 3, 0, 3)
1              (29, 29, 1, 2)           (30, 30, 1, 3)
2              (56, 56, 2, 2)           (57, 57, 2, 3)
3              (83, 83, 3, 2)           (84, 84, 3, 3)
4            (110, 110, 4, 2)         (111, 111, 4, 3)
...                       ...                      ...
3196  (86294, 86294, 3196, 2)  (86295, 86295, 3196, 3)
3197  (86321, 86321, 3197, 2)  (86322, 86322, 3197, 3)
3198  (86348, 86348, 3198, 2)  (86349, 86349, 3198, 3)
3199  (86375, 86375, 3199, 2)  (86376, 86376, 3199, 3)
3200  (86402, 86402, 3200, 2)  (86403, 86403, 3200, 3)

                           4                        5   \
0                (4, 4, 0, 4)             (5, 5, 0, 5)
1              (31, 31, 1, 4)           (32, 32, 1, 5)
2              (58, 58, 2, 4)           (59, 59, 2, 5)
3              (85, 85, 3, 4)           (86, 86, 3, 5)
4            (112, 112, 4, 4)         (113, 113, 4, 5)
...                       ...                      ...
3196  (86296, 86296, 3196, 4)  (86297, 86297, 3196, 5)
3197  (86323, 86323, 3197, 4)  (86324, 86324, 3197, 5)
3198  (86350, 86350, 3198, 4)  (86351, 86351, 3198, 5)
3199  (86377, 86377, 3199, 4)  (86378, 86378, 3199, 5)
3200  (86404, 86404, 3200, 4)  (86405, 86405, 3200, 5)

                           6                        7   \
0                (6, 6, 0, 6)             (7, 7, 0, 7)
1              (33, 33, 1, 6)           (34, 34, 1, 7)
2              (60, 60, 2, 6)           (61, 61, 2, 7)
3              (87, 87, 3, 6)           (88, 88, 3, 7)
4            (114, 114, 4, 6)         (115, 115, 4, 7)
...                       ...                      ...
3196  (86298, 86298, 3196, 6)  (86299, 86299, 3196, 7)
3197  (86325, 86325, 3197, 6)  (86326, 86326, 3197, 7)
3198  (86352, 86352, 3198, 6)  (86353, 86353, 3198, 7)
3199  (86379, 86379, 3199, 6)  (86380, 86380, 3199, 7)
3200  (86406, 88717, 3200, 6)  (86407, 86407, 3200, 7)

                           8                        9   ...  \
0                (8, 8, 0, 8)             (9, 9, 0, 9)  ...
1              (35, 35, 1, 8)           (36, 36, 1, 9)  ...
2              (62, 62, 2, 8)           (63, 63, 2, 9)  ...
3           (89, 89638, 3, 8)           (90, 90, 3, 9)  ...
4            (116, 116, 4, 8)         (117, 117, 4, 9)  ...
...                       ...                      ...  ...
3196  (86300, 86300, 3196, 8)  (86301, 86301, 3196, 9)  ...
3197  (86327, 88715, 3197, 8)  (86328, 86328, 3197, 9)  ...
3198  (86354, 86354, 3198, 8)  (86355, 86355, 3198, 9)  ...
3199  (86381, 88716, 3199, 8)  (86382, 86382, 3199, 9)  ...
3200  (86408, 86408, 3200, 8)  (86409, 86409, 3200, 9)  ...

                            17                        18  \
0              (17, 17, 0, 17)           (18, 18, 0, 18)
1              (44, 44, 1, 17)           (45, 45, 1, 18)
2              (71, 71, 2, 17)           (72, 72, 2, 18)
3              (98, 98, 3, 17)           (99, 99, 3, 18)
4            (125, 125, 4, 17)         (126, 126, 4, 18)
...                        ...                       ...
3196  (86309, 86309, 3196, 17)  (86310, 86310, 3196, 18)
3197  (86336, 86336, 3197, 17)  (86337, 86337, 3197, 18)
3198  (86363, 86363, 3198, 17)  (86364, 86364, 3198, 18)
3199  (86390, 86390, 3199, 17)  (86391, 86391, 3199, 18)
3200  (86417, 86417, 3200, 17)  (86418, 86418, 3200, 18)

                            19                        20  \
0              (19, 19, 0, 19)           (20, 20, 0, 20)
1              (46, 46, 1, 19)           (47, 47, 1, 20)
2              (73, 73, 2, 19)           (74, 74, 2, 20)
3            (100, 100, 3, 19)         (101, 101, 3, 20)
4            (127, 127, 4, 19)         (128, 128, 4, 20)
...                        ...                       ...
3196  (86311, 86311, 3196, 19)  (86312, 86312, 3196, 20)
3197  (86338, 86338, 3197, 19)  (86339, 86339, 3197, 20)
3198  (86365, 86365, 3198, 19)  (86366, 86366, 3198, 20)
3199  (86392, 86392, 3199, 19)  (86393, 86393, 3199, 20)
3200  (86419, 86419, 3200, 19)  (86420, 86420, 3200, 20)

                            21                        22  \
0              (21, 21, 0, 21)           (22, 22, 0, 22)
1              (48, 48, 1, 21)           (49, 49, 1, 22)
2              (75, 75, 2, 21)           (76, 76, 2, 22)
3            (102, 102, 3, 21)         (103, 103, 3, 22)
4            (129, 129, 4, 21)         (130, 130, 4, 22)
...                        ...                       ...
3196  (86313, 86313, 3196, 21)  (86314, 86314, 3196, 22)
3197  (86340, 86340, 3197, 21)  (86341, 86341, 3197, 22)
3198  (86367, 86367, 3198, 21)  (86368, 86368, 3198, 22)
3199  (86394, 86394, 3199, 21)  (86395, 86395, 3199, 22)
3200  (86421, 91086, 3200, 21)  (86422, 86422, 3200, 22)

                            23                        24  \
0              (23, 23, 0, 23)           (24, 24, 0, 24)
1              (50, 50, 1, 23)           (51, 51, 1, 24)
2              (77, 77, 2, 23)           (78, 78, 2, 24)
3            (104, 104, 3, 23)         (105, 105, 3, 24)
4            (131, 131, 4, 23)         (132, 132, 4, 24)
...                        ...                       ...
3196  (86315, 86315, 3196, 23)  (86316, 86316, 3196, 24)
3197  (86342, 86342, 3197, 23)  (86343, 86343, 3197, 24)
3198  (86369, 86369, 3198, 23)  (86370, 86370, 3198, 24)
3199  (86396, 86396, 3199, 23)  (86397, 86397, 3199, 24)
3200  (86423, 86423, 3200, 23)  (86424, 86424, 3200, 24)

                            25                        26
0              (25, 25, 0, 25)           (26, 26, 0, 26)
1              (52, 52, 1, 25)           (53, 53, 1, 26)
2           (79, 89912, 2, 25)           (80, 80, 2, 26)
3            (106, 106, 3, 25)         (107, 107, 3, 26)
4            (133, 133, 4, 25)         (134, 134, 4, 26)
...                        ...                       ...
3196  (86317, 86317, 3196, 25)  (86318, 86318, 3196, 26)
3197  (86344, 86344, 3197, 25)  (86345, 91400, 3197, 26)
3198  (86371, 86371, 3198, 25)  (86372, 86372, 3198, 26)
3199  (86398, 86398, 3199, 25)  (86399, 91401, 3199, 26)
3200  (86425, 86425, 3200, 25)  (86426, 86426, 3200, 26)

[3201 rows x 27 columns], array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False,  True, False],
       [False, False, False, ..., False,  True, False],
       [False, False, False, ..., False,  True, False]]))
DEBUG:root:('idx:', array([(41133, 87507, 1523, 12), (41187, 87510, 1525, 12),
       (41308, 41308, 1529, 25), (41646, 87523, 1542, 12),
       (41916, 87532, 1552, 12), (42955, 42955, 1590, 25),
       (43171, 43171, 1598, 25), (43333, 43333, 1604, 25),
       (43360, 43360, 1605, 25), (43495, 43495, 1610, 25),
       (44400, 87591, 1644, 12), (44683, 44683, 1654, 25),
       (45115, 45115, 1670, 25), (45372, 87615, 1680, 12),
       (45412, 45412, 1681, 25), (45534, 87625, 1686, 12),
       (45588, 87627, 1688, 12), (45790, 45790, 1695, 25),
       (46249, 46249, 1712, 25), (46519, 46519, 1722, 25),
       (46843, 46843, 1734, 25), (47194, 47194, 1747, 25),
       (47343, 87681, 1753, 12), (47437, 47437, 1756, 25),
       (48099, 87694, 1781, 12), (48247, 48247, 1786, 25),
       (48423, 87697, 1793, 12), (48598, 48598, 1799, 25),
       (48679, 48679, 1802, 25), (49098, 87707, 1818, 12),
       (49368, 87716, 1828, 12), (49408, 49408, 1829, 25),
       (49962, 87732, 1850, 12), (50056, 50056, 1853, 25),
       (51325, 51325, 1900, 25), (51406, 51406, 1903, 25),
       (51433, 51433, 1904, 25), (51541, 51541, 1908, 25),
       (51622, 51622, 1911, 25), (52297, 52297, 1936, 25),
       (52365, 87793, 1939, 12), (52392, 87794, 1940, 12),
       (52500, 87797, 1944, 12), (53404, 53404, 1977, 25),
       (53566, 53566, 1983, 25), (53647, 53647, 1986, 25),
       (53674, 53674, 1987, 25), (53728, 53728, 1989, 25),
       (53769, 87827, 1991, 12), (54214, 54214, 2007, 25),
       (54444, 87842, 2016, 12), (54565, 54565, 2020, 25),
       (55078, 55078, 2039, 25), (55213, 55213, 2044, 25),
       (55348, 55348, 2049, 25), (55375, 55375, 2050, 25),
       (55632, 87870, 2060, 12), (55672, 55672, 2061, 25),
       (55726, 55726, 2063, 25), (55753, 55753, 2064, 25),
       (55861, 55861, 2068, 25), (55929, 87878, 2071, 12),
       (55969, 55969, 2072, 25), (55996, 55996, 2073, 25),
       (56077, 56077, 2076, 25), (56131, 56131, 2078, 25),
       (56199, 87890, 2081, 12), (56307, 87899, 2085, 12),
       (56334, 87903, 2086, 12), (56469, 87908, 2091, 12),
       (56901, 87914, 2107, 12), (56968, 56968, 2109, 25),
       (56982, 87915, 2110, 12), (57022, 57022, 2111, 25),
       (57076, 57076, 2113, 25), (57387, 87930, 2125, 12),
       (57427, 57427, 2126, 25), (57481, 57481, 2128, 25),
       (57508, 57508, 2129, 25), (57535, 57535, 2130, 25),
       (57832, 57832, 2141, 25), (57886, 57886, 2143, 25),
       (57913, 57913, 2144, 25), (57994, 57994, 2147, 25),
       (58237, 58237, 2156, 25), (58318, 58318, 2159, 25),
       (58372, 58372, 2161, 25), (58440, 87956, 2164, 12),
       (58561, 58561, 2168, 25), (58912, 58912, 2181, 25),
       (58966, 58966, 2183, 25), (59209, 59209, 2192, 25),
       (59317, 59317, 2196, 25), (59344, 59344, 2197, 25),
       (59452, 59452, 2201, 25), (59479, 59479, 2202, 25),
       (59506, 59506, 2203, 25), (59641, 59641, 2208, 25),
       (59722, 59722, 2211, 25), (59803, 59803, 2214, 25),
       (60249, 87997, 2231, 12), (60370, 60370, 2235, 25),
       (60397, 60397, 2236, 25), (60424, 60424, 2237, 25),
       (60829, 60829, 2252, 25), (61072, 61072, 2261, 25),
       (61329, 88023, 2271, 12), (61383, 88026, 2273, 12),
       (61437, 88027, 2275, 12), (61639, 61639, 2282, 25),
       (61801, 61801, 2288, 25), (61842, 88045, 2290, 12),
       (61909, 61909, 2292, 25), (61990, 61990, 2295, 25),
       (62044, 62044, 2297, 25), (62098, 62098, 2299, 25),
       (62152, 62152, 2301, 25), (62341, 62341, 2308, 25),
       (62449, 62449, 2312, 25), (62476, 62476, 2313, 25),
       (62638, 62638, 2319, 25), (62679, 88066, 2321, 12),
       (62908, 62908, 2329, 25), (62989, 62989, 2332, 25),
       (63030, 88080, 2334, 12), (63259, 63259, 2342, 25),
       (63286, 63286, 2343, 25), (63421, 63421, 2348, 25),
       (63583, 63583, 2354, 25), (63745, 63745, 2360, 25),
       (63826, 63826, 2363, 25), (63907, 63907, 2366, 25),
       (64069, 64069, 2372, 25), (64096, 64096, 2373, 25),
       (64272, 88106, 2380, 12), (64812, 88120, 2400, 12),
       (64960, 64960, 2405, 25), (65136, 88136, 2412, 12),
       (65203, 65203, 2414, 25), (65230, 65230, 2415, 25),
       (65311, 65311, 2418, 25), (65338, 65338, 2419, 25),
       (65365, 65365, 2420, 25), (65487, 88147, 2425, 12),
       (65527, 65527, 2426, 25), (65554, 65554, 2427, 25),
       (65608, 65608, 2429, 25), (65770, 65770, 2435, 25),
       (65797, 65797, 2436, 25), (65946, 88161, 2442, 12),
       (66094, 66094, 2447, 25), (66256, 66256, 2453, 25),
       (66634, 66634, 2467, 25), (66904, 66904, 2477, 25),
       (66931, 66931, 2478, 25), (66985, 66985, 2480, 25),
       (67066, 67066, 2483, 25), (67161, 88184, 2487, 12),
       (67255, 67255, 2490, 25), (67309, 67309, 2492, 25),
       (67363, 67363, 2494, 25), (67485, 88197, 2499, 12),
       (67512, 88198, 2500, 12), (67552, 67552, 2501, 25),
       (67660, 67660, 2505, 25), (67863, 88209, 2513, 12),
       (67984, 67984, 2517, 25), (68092, 68092, 2521, 25),
       (68281, 68281, 2528, 25), (68295, 88220, 2529, 12),
       (68362, 68362, 2531, 25), (68416, 68416, 2533, 25),
       (68497, 68497, 2536, 25), (68524, 68524, 2537, 25),
       (68578, 68578, 2539, 25), (68592, 88227, 2540, 12),
       (68632, 68632, 2541, 25), (68686, 68686, 2543, 25),
       (68713, 68713, 2544, 25), (68848, 68848, 2549, 25),
       (68875, 68875, 2550, 25), (69280, 69280, 2565, 25),
       (69577, 69577, 2576, 25), (69604, 69604, 2577, 25),
       (69658, 69658, 2579, 25), (69685, 69685, 2580, 25),
       (69712, 69712, 2581, 25), (69739, 69739, 2582, 25),
       (69820, 69820, 2585, 25), (69847, 69847, 2586, 25),
       (69901, 69901, 2588, 25), (69982, 69982, 2591, 25),
       (70009, 70009, 2592, 25), (70063, 70063, 2594, 25),
       (70090, 70090, 2595, 25), (70117, 70117, 2596, 25),
       (70171, 70171, 2598, 25), (70198, 70198, 2599, 25),
       (70225, 70225, 2600, 25), (70279, 70279, 2602, 25),
       (70306, 70306, 2603, 25), (70360, 70360, 2605, 25),
       (70576, 70576, 2613, 25), (70603, 70603, 2614, 25),
       (70725, 88277, 2619, 12), (70752, 88278, 2620, 12),
       (70954, 70954, 2627, 25), (71062, 71062, 2631, 25),
       (71089, 71089, 2632, 25), (71116, 71116, 2633, 25),
       (71184, 88291, 2636, 12), (71292, 88295, 2640, 12),
       (71373, 88296, 2643, 12), (71683, 71683, 2654, 25),
       (71710, 71710, 2655, 25), (71845, 71845, 2660, 25),
       (71872, 71872, 2661, 25), (71899, 71899, 2662, 25),
       (72007, 72007, 2666, 25), (72088, 72088, 2669, 25),
       (72142, 72142, 2671, 25), (72169, 72169, 2672, 25),
       (72196, 72196, 2673, 25), (72223, 72223, 2674, 25),
       (72547, 72547, 2686, 25), (72574, 72574, 2687, 25),
       (72655, 72655, 2690, 25), (72682, 72682, 2691, 25),
       (72709, 72709, 2692, 25), (72763, 72763, 2694, 25),
       (72804, 88336, 2696, 12), (72831, 88338, 2697, 12),
       (73033, 73033, 2704, 25), (73222, 73222, 2711, 25),
       (73276, 73276, 2713, 25), (73465, 73465, 2720, 25),
       (73695, 88363, 2729, 12), (73762, 73762, 2731, 25),
       (73897, 73897, 2736, 25), (74005, 74005, 2740, 25),
       (74181, 88382, 2747, 12), (74208, 88383, 2748, 12),
       (74275, 74275, 2750, 25), (74356, 74356, 2753, 25),
       (74464, 74464, 2757, 25), (74937, 88398, 2775, 12),
       (75004, 75004, 2777, 25), (75031, 75031, 2778, 25),
       (75058, 75058, 2779, 25), (75085, 75085, 2780, 25),
       (75193, 75193, 2784, 25), (75247, 75247, 2786, 25),
       (75463, 75463, 2794, 25), (75571, 75571, 2798, 25),
       (75598, 75598, 2799, 25), (75639, 88421, 2801, 12),
       (75895, 75895, 2810, 25), (75976, 75976, 2813, 25),
       (76300, 76300, 2825, 25), (76327, 76327, 2826, 25),
       (76462, 76462, 2831, 25), (76543, 76543, 2834, 25),
       (76597, 76597, 2836, 25), (76678, 76678, 2839, 25),
       (76867, 76867, 2846, 25), (76894, 76894, 2847, 25),
       (76948, 76948, 2849, 25), (76975, 76975, 2850, 25),
       (77002, 77002, 2851, 25), (77056, 77056, 2853, 25),
       (77124, 88456, 2856, 12), (77164, 77164, 2857, 25),
       (77394, 88467, 2866, 12), (77461, 77461, 2868, 25),
       (77596, 77596, 2873, 25), (77623, 77623, 2874, 25),
       (77920, 77920, 2885, 25), (78109, 78109, 2892, 25),
       (78190, 78190, 2895, 25), (78204, 88486, 2896, 12),
       (78352, 78352, 2901, 25), (78433, 78433, 2904, 25),
       (78514, 78514, 2907, 25), (78568, 78568, 2909, 25),
       (78730, 78730, 2915, 25), (78784, 78784, 2917, 25),
       (78811, 78811, 2918, 25), (78865, 78865, 2920, 25),
       (78879, 88500, 2921, 12), (78919, 78919, 2922, 25),
       (79027, 79027, 2926, 25), (79297, 79297, 2936, 25),
       (79459, 79459, 2942, 25), (79513, 79513, 2944, 25),
       (79581, 88520, 2947, 12), (79608, 88522, 2948, 12),
       (79675, 79675, 2950, 25), (79689, 88525, 2951, 12),
       (79837, 79837, 2956, 25), (79918, 79918, 2959, 25),
       (79972, 79972, 2961, 25), (80026, 80026, 2963, 25),
       (80107, 80107, 2966, 25), (80134, 80134, 2967, 25),
       (80161, 80161, 2968, 25), (80188, 80188, 2969, 25),
       (80269, 80269, 2972, 25), (80296, 80296, 2973, 25),
       (80310, 88545, 2974, 12), (80337, 88546, 2975, 12),
       (80377, 80377, 2976, 25), (80391, 88547, 2977, 12),
       (80431, 80431, 2978, 25), (80485, 80485, 2980, 25),
       (80539, 80539, 2982, 25), (80566, 80566, 2983, 25),
       (80593, 80593, 2984, 25), (80674, 80674, 2987, 25),
       (80701, 80701, 2988, 25), (80728, 80728, 2989, 25),
       (80755, 80755, 2990, 25), (80782, 80782, 2991, 25),
       (80809, 80809, 2992, 25), (80944, 80944, 2997, 25),
       (81079, 81079, 3002, 25), (81187, 81187, 3006, 25),
       (81295, 81295, 3010, 25), (81322, 81322, 3011, 25),
       (81376, 81376, 3013, 25), (81403, 81403, 3014, 25),
       (81430, 81430, 3015, 25), (81538, 81538, 3019, 25),
       (81565, 81565, 3020, 25), (81673, 81673, 3024, 25),
       (81700, 81700, 3025, 25), (81889, 81889, 3032, 25),
       (81997, 81997, 3036, 25), (82078, 82078, 3039, 25),
       (82105, 82105, 3040, 25), (82132, 82132, 3041, 25),
       (82159, 82159, 3042, 25), (82186, 82186, 3043, 25),
       (82213, 82213, 3044, 25), (82240, 82240, 3045, 25),
       (82308, 88590, 3048, 12), (82348, 82348, 3049, 25),
       (82429, 82429, 3052, 25), (82618, 82618, 3059, 25),
       (82753, 82753, 3064, 25), (82834, 82834, 3067, 25),
       (82861, 82861, 3068, 25), (82942, 82942, 3071, 25),
       (83104, 83104, 3077, 25), (83131, 83131, 3078, 25),
       (83158, 83158, 3079, 25), (83185, 83185, 3080, 25),
       (83212, 83212, 3081, 25), (83239, 83239, 3082, 25),
       (83266, 83266, 3083, 25), (83374, 83374, 3087, 25),
       (83428, 83428, 3089, 25), (83455, 83455, 3090, 25),
       (83482, 83482, 3091, 25), (83577, 88625, 3095, 12),
       (83617, 83617, 3096, 25), (83752, 83752, 3101, 25),
       (83806, 83806, 3103, 25), (83833, 83833, 3104, 25),
       (83914, 83914, 3107, 25), (83941, 83941, 3108, 25),
       (83995, 83995, 3110, 25), (84022, 84022, 3111, 25),
       (84103, 84103, 3114, 25), (84130, 84130, 3115, 25),
       (84211, 84211, 3118, 25), (84279, 88648, 3121, 12),
       (84319, 84319, 3122, 25), (84346, 84346, 3123, 25),
       (84373, 84373, 3124, 25), (84400, 84400, 3125, 25),
       (84427, 84427, 3126, 25), (84454, 84454, 3127, 25),
       (84481, 84481, 3128, 25), (84508, 84508, 3129, 25),
       (84535, 84535, 3130, 25), (84562, 84562, 3131, 25),
       (84670, 84670, 3135, 25), (84697, 84697, 3136, 25),
       (84724, 84724, 3137, 25), (84751, 84751, 3138, 25),
       (84805, 84805, 3140, 25), (84832, 84832, 3141, 25),
       (84940, 84940, 3145, 25), (84967, 84967, 3146, 25),
       (84994, 84994, 3147, 25), (85075, 85075, 3150, 25),
       (85102, 85102, 3151, 25), (85129, 85129, 3152, 25),
       (85156, 85156, 3153, 25), (85237, 85237, 3156, 25),
       (85291, 85291, 3158, 25), (85318, 85318, 3159, 25),
       (85345, 85345, 3160, 25), (85399, 85399, 3162, 25),
       (85480, 85480, 3165, 25), (85507, 85507, 3166, 25),
       (85534, 85534, 3167, 25), (85561, 85561, 3168, 25),
       (85588, 85588, 3169, 25), (85615, 85615, 3170, 25),
       (85642, 85642, 3171, 25), (85669, 85669, 3172, 25),
       (85696, 85696, 3173, 25), (85723, 85723, 3174, 25),
       (85750, 85750, 3175, 25), (85777, 85777, 3176, 25),
       (85804, 85804, 3177, 25), (85831, 85831, 3178, 25),
       (85885, 85885, 3180, 25), (85912, 85912, 3181, 25),
       (85993, 85993, 3184, 25), (86020, 86020, 3185, 25),
       (86047, 86047, 3186, 25), (86074, 86074, 3187, 25),
       (86101, 86101, 3188, 25), (86128, 86128, 3189, 25),
       (86155, 86155, 3190, 25), (86182, 86182, 3191, 25),
       (86209, 86209, 3192, 25), (86236, 86236, 3193, 25),

DEBUG:root:('change_values idxlist:', [(41133, 87507, 1523, 12), (41187, 87510, 1525, 12), (41308, 41308, 1529, 25), (41646, 87523, 1542, 12), (41916, 87532, 1552, 12), (42955, 42955, 1590, 25), (43171, 43171, 1598, 25), (43333, 43333, 1604, 25), (43360, 43360, 1605, 25), (43495, 43495, 1610, 25), (44400, 87591, 1644, 12), (44683, 44683, 1654, 25), (45115, 45115, 1670, 25), (45372, 87615, 1680, 12), (45412, 45412, 1681, 25), (45534, 87625, 1686, 12), (45588, 87627, 1688, 12), (45790, 45790, 1695, 25), (46249, 46249, 1712, 25), (46519, 46519, 1722, 25), (46843, 46843, 1734, 25), (47194, 47194, 1747, 25), (47343, 87681, 1753, 12), (47437, 47437, 1756, 25), (48099, 87694, 1781, 12), (48247, 48247, 1786, 25), (48423, 87697, 1793, 12), (48598, 48598, 1799, 25), (48679, 48679, 1802, 25), (49098, 87707, 1818, 12), (49368, 87716, 1828, 12), (49408, 49408, 1829, 25), (49962, 87732, 1850, 12), (50056, 50056, 1853, 25), (51325, 51325, 1900, 25), (51406, 51406, 1903, 25), (51433, 51433, 1904, 25), (51541, 51541, 1908, 25), (51622, 51622, 1911, 25), (52297, 52297, 1936, 25), (52365, 87793, 1939, 12), (52392, 87794, 1940, 12), (52500, 87797, 1944, 12), (53404, 53404, 1977, 25), (53566, 53566, 1983, 25), (53647, 53647, 1986, 25), (53674, 53674, 1987, 25), (53728, 53728, 1989, 25), (53769, 87827, 1991, 12), (54214, 54214, 2007, 25), (54444, 87842, 2016, 12), (54565, 54565, 2020, 25), (55078, 55078, 2039, 25), (55213, 55213, 2044, 25), (55348, 55348, 2049, 25), (55375, 55375, 2050, 25), (55632, 87870, 2060, 12), (55672, 55672, 2061, 25), (55726, 55726, 2063, 25), (55753, 55753, 2064, 25), (55861, 55861, 2068, 25), (55929, 87878, 2071, 12), (55969, 55969, 2072, 25), (55996, 55996, 2073, 25), (56077, 56077, 2076, 25), (56131, 56131, 2078, 25), (56199, 87890, 2081, 12), (56307, 87899, 2085, 12), (56334, 87903, 2086, 12), (56469, 87908, 2091, 12), (56901, 87914, 2107, 12), (56968, 56968, 2109, 25), (56982, 87915, 2110, 12), (57022, 57022, 2111, 25), (57076, 57076, 2113, 25), (57387, 87930, 2125, 12), (57427, 57427, 2126, 25), (57481, 57481, 2128, 25), (57508, 57508, 2129, 25), (57535, 57535, 2130, 25), (57832, 57832, 2141, 25), (57886, 57886, 2143, 25), (57913, 57913, 2144, 25), (57994, 57994, 2147, 25), (58237, 58237, 2156, 25), (58318, 58318, 2159, 25), (58372, 58372, 2161, 25), (58440, 87956, 2164, 12), (58561, 58561, 2168, 25), (58912, 58912, 2181, 25), (58966, 58966, 2183, 25), (59209, 59209, 2192, 25), (59317, 59317, 2196, 25), (59344, 59344, 2197, 25), (59452, 59452, 2201, 25), (59479, 59479, 2202, 25), (59506, 59506, 2203, 25), (59641, 59641, 2208, 25), (59722, 59722, 2211, 25), (59803, 59803, 2214, 25), (60249, 87997, 2231, 12), (60370, 60370, 2235, 25), (60397, 60397, 2236, 25), (60424, 60424, 2237, 25), (60829, 60829, 2252, 25), (61072, 61072, 2261, 25), (61329, 88023, 2271, 12), (61383, 88026, 2273, 12), (61437, 88027, 2275, 12), (61639, 61639, 2282, 25), (61801, 61801, 2288, 25), (61842, 88045, 2290, 12), (61909, 61909, 2292, 25), (61990, 61990, 2295, 25), (62044, 62044, 2297, 25), (62098, 62098, 2299, 25), (62152, 62152, 2301, 25), (62341, 62341, 2308, 25), (62449, 62449, 2312, 25), (62476, 62476, 2313, 25), (62638, 62638, 2319, 25), (62679, 88066, 2321, 12), (62908, 62908, 2329, 25), (62989, 62989, 2332, 25), (63030, 88080, 2334, 12), (63259, 63259, 2342, 25), (63286, 63286, 2343, 25), (63421, 63421, 2348, 25), (63583, 63583, 2354, 25), (63745, 63745, 2360, 25), (63826, 63826, 2363, 25), (63907, 63907, 2366, 25), (64069, 64069, 2372, 25), (64096, 64096, 2373, 25), (64272, 88106, 2380, 12), (64812, 88120, 2400, 12), (64960, 64960, 2405, 25), (65136, 88136, 2412, 12), (65203, 65203, 2414, 25), (65230, 65230, 2415, 25), (65311, 65311, 2418, 25), (65338, 65338, 2419, 25), (65365, 65365, 2420, 25), (65487, 88147, 2425, 12), (65527, 65527, 2426, 25), (65554, 65554, 2427, 25), (65608, 65608, 2429, 25), (65770, 65770, 2435, 25), (65797, 65797, 2436, 25), (65946, 88161, 2442, 12), (66094, 66094, 2447, 25), (66256, 66256, 2453, 25), (66634, 66634, 2467, 25), (66904, 66904, 2477, 25), (66931, 66931, 2478, 25), (66985, 66985, 2480, 25), (67066, 67066, 2483, 25), (67161, 88184, 2487, 12), (67255, 67255, 2490, 25), (67309, 67309, 2492, 25), (67363, 67363, 2494, 25), (67485, 88197, 2499, 12), (67512, 88198, 2500, 12), (67552, 67552, 2501, 25), (67660, 67660, 2505, 25), (67863, 88209, 2513, 12), (67984, 67984, 2517, 25), (68092, 68092, 2521, 25), (68281, 68281, 2528, 25), (68295, 88220, 2529, 12), (68362, 68362, 2531, 25), (68416, 68416, 2533, 25), (68497, 68497, 2536, 25), (68524, 68524, 2537, 25), (68578, 68578, 2539, 25), (68592, 88227, 2540, 12), (68632, 68632, 2541, 25), (68686, 68686, 2543, 25), (68713, 68713, 2544, 25), (68848, 68848, 2549, 25), (68875, 68875, 2550, 25), (69280, 69280, 2565, 25), (69577, 69577, 2576, 25), (69604, 69604, 2577, 25), (69658, 69658, 2579, 25), (69685, 69685, 2580, 25), (69712, 69712, 2581, 25), (69739, 69739, 2582, 25), (69820, 69820, 2585, 25), (69847, 69847, 2586, 25), (69901, 69901, 2588, 25), (69982, 69982, 2591, 25), (70009, 70009, 2592, 25), (70063, 70063, 2594, 25), (70090, 70090, 2595, 25), (70117, 70117, 2596, 25), (70171, 70171, 2598, 25), (70198, 70198, 2599, 25), (70225, 70225, 2600, 25), (70279, 70279, 2602, 25), (70306, 70306, 2603, 25), (70360, 70360, 2605, 25), (70576, 70576, 2613, 25), (70603, 70603, 2614, 25), (70725, 88277, 2619, 12), (70752, 88278, 2620, 12), (70954, 70954, 2627, 25), (71062, 71062, 2631, 25), (71089, 71089, 2632, 25), (71116, 71116, 2633, 25), (71184, 88291, 2636, 12), (71292, 88295, 2640, 12), (71373, 88296, 2643, 12), (71683, 71683, 2654, 25), (71710, 71710, 2655, 25), (71845, 71845, 2660, 25), (71872, 71872, 2661, 25), (71899, 71899, 2662, 25), (72007, 72007, 2666, 25), (72088, 72088, 2669, 25), (72142, 72142, 2671, 25), (72169, 72169, 2672, 25), (72196, 72196, 2673, 25), (72223, 72223, 2674, 25), (72547, 72547, 2686, 25), (72574, 72574, 2687, 25), (72655, 72655, 2690, 25), (72682, 72682, 2691, 25), (72709, 72709, 2692, 25), (72763, 72763, 2694, 25), (72804, 88336, 2696, 12), (72831, 88338, 2697, 12), (73033, 73033, 2704, 25), (73222, 73222, 2711, 25), (73276, 73276, 2713, 25), (73465, 73465, 2720, 25), (73695, 88363, 2729, 12), (73762, 73762, 2731, 25), (73897, 73897, 2736, 25), (74005, 74005, 2740, 25), (74181, 88382, 2747, 12), (74208, 88383, 2748, 12), (74275, 74275, 2750, 25), (74356, 74356, 2753, 25), (74464, 74464, 2757, 25), (74937, 88398, 2775, 12), (75004, 75004, 2777, 25), (75031, 75031, 2778, 25), (75058, 75058, 2779, 25), (75085, 75085, 2780, 25), (75193, 75193, 2784, 25), (75247, 75247, 2786, 25), (75463, 75463, 2794, 25), (75571, 75571, 2798, 25), (75598, 75598, 2799, 25), (75639, 88421, 2801, 12), (75895, 75895, 2810, 25), (75976, 75976, 2813, 25), (76300, 76300, 2825, 25), (76327, 76327, 2826, 25), (76462, 76462, 2831, 25), (76543, 76543, 2834, 25), (76597, 76597, 2836, 25), (76678, 76678, 2839, 25), (76867, 76867, 2846, 25), (76894, 76894, 2847, 25), (76948, 76948, 2849, 25), (76975, 76975, 2850, 25), (77002, 77002, 2851, 25), (77056, 77056, 2853, 25), (77124, 88456, 2856, 12), (77164, 77164, 2857, 25), (77394, 88467, 2866, 12), (77461, 77461, 2868, 25), (77596, 77596, 2873, 25), (77623, 77623, 2874, 25), (77920, 77920, 2885, 25), (78109, 78109, 2892, 25), (78190, 78190, 2895, 25), (78204, 88486, 2896, 12), (78352, 78352, 2901, 25), (78433, 78433, 2904, 25), (78514, 78514, 2907, 25), (78568, 78568, 2909, 25), (78730, 78730, 2915, 25), (78784, 78784, 2917, 25), (78811, 78811, 2918, 25), (78865, 78865, 2920, 25), (78879, 88500, 2921, 12), (78919, 78919, 2922, 25), (79027, 79027, 2926, 25), (79297, 79297, 2936, 25), (79459, 79459, 2942, 25), (79513, 79513, 2944, 25), (79581, 88520, 2947, 12), (79608, 88522, 2948, 12), (79675, 79675, 2950, 25), (79689, 88525, 2951, 12), (79837, 79837, 2956, 25), (79918, 79918, 2959, 25), (79972, 79972, 2961, 25), (80026, 80026, 2963, 25), (80107, 80107, 2966, 25), (80134, 80134, 2967, 25), (80161, 80161, 2968, 25), (80188, 80188, 2969, 25), (80269, 80269, 2972, 25), (80296, 80296, 2973, 25), (80310, 88545, 2974, 12), (80337, 88546, 2975, 12), (80377, 80377, 2976, 25), (80391, 88547, 2977, 12), (80431, 80431, 2978, 25), (80485, 80485, 2980, 25), (80539, 80539, 2982, 25), (80566, 80566, 2983, 25), (80593, 80593, 2984, 25), (80674, 80674, 2987, 25), (80701, 80701, 2988, 25), (80728, 80728, 2989, 25), (80755, 80755, 2990, 25), (80782, 80782, 2991, 25), (80809, 80809, 2992, 25), (80944, 80944, 2997, 25), (81079, 81079, 3002, 25), (81187, 81187, 3006, 25), (81295, 81295, 3010, 25), (81322, 81322, 3011, 25), (81376, 81376, 3013, 25), (81403, 81403, 3014, 25), (81430, 81430, 3015, 25), (81538, 81538, 3019, 25), (81565, 81565, 3020, 25), (81673, 81673, 3024, 25), (81700, 81700, 3025, 25), (81889, 81889, 3032, 25), (81997, 81997, 3036, 25), (82078, 82078, 3039, 25), (82105, 82105, 3040, 25), (82132, 82132, 3041, 25), (82159, 82159, 3042, 25), (82186, 82186, 3043, 25), (82213, 82213, 3044, 25), (82240, 82240, 3045, 25), (82308, 88590, 3048, 12), (82348, 82348, 3049, 25), (82429, 82429, 3052, 25), (82618, 82618, 3059, 25), (82753, 82753, 3064, 25), (82834, 82834, 3067, 25), (82861, 82861, 3068, 25), (82942, 82942, 3071, 25), (83104, 83104, 3077, 25), (83131, 83131, 3078, 25), (83158, 83158, 3079, 25), (83185, 83185, 3080, 25), (83212, 83212, 3081, 25), (83239, 83239, 3082, 25), (83266, 83266, 3083, 25), (83374, 83374, 3087, 25), (83428, 83428, 3089, 25), (83455, 83455, 3090, 25), (83482, 83482, 3091, 25), (83577, 88625, 3095, 12), (83617, 83617, 3096, 25), (83752, 83752, 3101, 25), (83806, 83806, 3103, 25), (83833, 83833, 3104, 25), (83914, 83914, 3107, 25), (83941, 83941, 3108, 25), (83995, 83995, 3110, 25), (84022, 84022, 3111, 25), (84103, 84103, 3114, 25), (84130, 84130, 3115, 25), (84211, 84211, 3118, 25), (84279, 88648, 3121, 12), (84319, 84319, 3122, 25), (84346, 84346, 3123, 25), (84373, 84373, 3124, 25), (84400, 84400, 3125, 25), (84427, 84427, 3126, 25), (84454, 84454, 3127, 25), (84481, 84481, 3128, 25), (84508, 84508, 3129, 25), (84535, 84535, 3130, 25), (84562, 84562, 3131, 25), (84670, 84670, 3135, 25), (84697, 84697, 3136, 25), (84724, 84724, 3137, 25), (84751, 84751, 3138, 25), (84805, 84805, 3140, 25), (84832, 84832, 3141, 25), (84940, 84940, 3145, 25), (84967, 84967, 3146, 25), (84994, 84994, 3147, 25), (85075, 85075, 3150, 25), (85102, 85102, 3151, 25), (85129, 85129, 3152, 25), (85156, 85156, 3153, 25), (85237, 85237, 3156, 25), (85291, 85291, 3158, 25), (85318, 85318, 3159, 25), (85345, 85345, 3160, 25), (85399, 85399, 3162, 25), (85480, 85480, 3165, 25), (85507, 85507, 3166, 25), (85534, 85534, 3167, 25), (85561, 85561, 3168, 25), (85588, 85588, 3169, 25), (85615, 85615, 3170, 25), (85642, 85642, 3171, 25), (85669, 85669, 3172, 25), (85696, 85696, 3173, 25), (85723, 85723, 3174, 25), (85750, 85750, 3175, 25), (85777, 85777, 3176, 25), (85804, 85804, 3177, 25), (85831, 85831, 3178, 25), (85885, 85885, 3180, 25), (85912, 85912, 3181, 25), (85993, 85993, 3184, 25), (86020, 86020, 3185, 25), (86047, 86047, 3186, 25), (86074, 86074, 3187, 25), (86101, 86101, 3188, 25), (86128, 86128, 3189, 25), (86155, 86155, 3190, 25), (86182, 86182, 3191, 25), (86209, 86209, 3192, 25), (86236, 86236, 3193, 25), (86263, 86263, 3194, 25), (86290, 86290, 3195, 25), (86317, 86317, 3196, 25), (86344, 86344, 3197, 25), (86371, 86371, 3198, 25), (86398, 86398, 3199, 25), (86425, 86425, 3200, 25)], ['2022-08-08', '2022-11-02', 2, '2022-06-15', '2022-12-04', 2, 2, 2, 2, 2, '2022-11-12', 2, 2, '2022-10-24', 2, '2022-12-01', '2022-12-04', 2, 2, 2, 2, 2, '2021-07-06', 2, '2022-11-26', 2, '2022-11-27', 2, 2, '2022-12-14', '2022-12-12', 2, '2019-10-20', 2, 2, 2, 2, 2, 2, 2, '2022-12-14', '2022-12-14', '2022-10-16', 2, 2, 2, 2, 2, '2022-12-03', 2, '2019-07-03', 2, 2, 2, 2, 2, '2020-01-06', 2, 2, 2, 2, '2022-03-23', 2, 2, 2, 2, '2022-11-13', '2021-10-12', '2021-10-12', '2021-09-26', '2022-06-28', 2, '2022-03-18', 2, 2, '2022-12-05', 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-01-02', 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, '2021-08-12', 2, 2, 2, 2, 2, '2022-02-10', '2022-10-10', '2022-11-27', 2, 2, '2022-10-15', 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-11-20', 2, 2, '2022-11-26', 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-12-12', '2022-12-05', 2, '2022-10-08', 2, 2, 2, 2, 2, '2022-12-12', 2, 2, 2, 2, 2, '2022-10-10', 2, 2, 2, 2, 2, 2, 2, '2022-11-27', 2, 2, 2, '2022-11-25', '2022-11-25', 2, 2, '2022-09-05', 2, 2, 2, '2022-08-23', 2, 2, 2, 2, 2, '2022-08-01', 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-11-19', '2022-11-19', 2, 2, 2, 2, '2022-11-28', '2022-11-13', '2022-10-31', 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-11-23', '2022-11-23', 2, 2, 2, 2, '2022-12-13', 2, 2, 2, '2022-12-05', '2022-12-05', 2, 2, 2, '2022-12-11', 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-11-13', 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-11-16', 2, '2022-10-16', 2, 2, 2, 2, 2, 2, '2022-11-27', 2, 2, 2, 2, 2, 2, 2, 2, '2022-10-27', 2, 2, 2, 2, 2, '2022-11-17', '2022-12-13', 2, '2022-10-14', 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-11-25', '2022-12-14', 2, '2022-11-27', 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-11-20', 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-11-13', 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, '2022-12-12', 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

DEBUG:root:('change_values idxlist:', ((41133, 87507, 1523, 12), '2022-08-08', (1523, 12)))
DEBUG:root:('change_values idxlist:', ((41187, 87510, 1525, 12), '2022-11-02', (1525, 12)))
DEBUG:root:('change_values idxlist:', ((41308, 41308, 1529, 25), 2, (1529, 25)))
DEBUG:root:('change_values idxlist:', ((41646, 87523, 1542, 12), '2022-06-15', (1542, 12)))
DEBUG:root:('change_values idxlist:', ((41916, 87532, 1552, 12), '2022-12-04', (1552, 12)))
DEBUG:root:('change_values idxlist:', ((42955, 42955, 1590, 25), 2, (1590, 25)))
DEBUG:root:('change_values idxlist:', ((43171, 43171, 1598, 25), 2, (1598, 25)))
DEBUG:root:('change_values idxlist:', ((43333, 43333, 1604, 25), 2, (1604, 25)))
DEBUG:root:('change_values idxlist:', ((43360, 43360, 1605, 25), 2, (1605, 25)))
DEBUG:root:('change_values idxlist:', ((43495, 43495, 1610, 25), 2, (1610, 25)))
DEBUG:root:('change_values idxlist:', ((44400, 87591, 1644, 12), '2022-11-12', (1644, 12)))
DEBUG:root:('change_values idxlist:', ((44683, 44683, 1654, 25), 2, (1654, 25)))
DEBUG:root:('change_values idxlist:', ((45115, 45115, 1670, 25), 2, (1670, 25)))
DEBUG:root:('change_values idxlist:', ((45372, 87615, 1680, 12), '2022-10-24', (1680, 12)))
DEBUG:root:('change_values idxlist:', ((45412, 45412, 1681, 25), 2, (1681, 25)))
DEBUG:root:('change_values idxlist:', ((45534, 87625, 1686, 12), '2022-12-01', (1686, 12)))
DEBUG:root:('change_values idxlist:', ((45588, 87627, 1688, 12), '2022-12-04', (1688, 12)))
DEBUG:root:('change_values idxlist:', ((45790, 45790, 1695, 25), 2, (1695, 25)))
DEBUG:root:('change_values idxlist:', ((46249, 46249, 1712, 25), 2, (1712, 25)))
DEBUG:root:('change_values idxlist:', ((46519, 46519, 1722, 25), 2, (1722, 25)))
DEBUG:root:('change_values idxlist:', ((46843, 46843, 1734, 25), 2, (1734, 25)))
DEBUG:root:('change_values idxlist:', ((47194, 47194, 1747, 25), 2, (1747, 25)))
DEBUG:root:('change_values idxlist:', ((47343, 87681, 1753, 12), '2021-07-06', (1753, 12)))
DEBUG:root:('change_values idxlist:', ((47437, 47437, 1756, 25), 2, (1756, 25)))
DEBUG:root:('change_values idxlist:', ((48099, 87694, 1781, 12), '2022-11-26', (1781, 12)))
DEBUG:root:('change_values idxlist:', ((48247, 48247, 1786, 25), 2, (1786, 25)))
DEBUG:root:('change_values idxlist:', ((48423, 87697, 1793, 12), '2022-11-27', (1793, 12)))
DEBUG:root:('change_values idxlist:', ((48598, 48598, 1799, 25), 2, (1799, 25)))
DEBUG:root:('change_values idxlist:', ((48679, 48679, 1802, 25), 2, (1802, 25)))
DEBUG:root:('change_values idxlist:', ((49098, 87707, 1818, 12), '2022-12-14', (1818, 12)))
DEBUG:root:('change_values idxlist:', ((49368, 87716, 1828, 12), '2022-12-12', (1828, 12)))
DEBUG:root:('change_values idxlist:', ((49408, 49408, 1829, 25), 2, (1829, 25)))
DEBUG:root:('change_values idxlist:', ((49962, 87732, 1850, 12), '2019-10-20', (1850, 12)))
DEBUG:root:('change_values idxlist:', ((50056, 50056, 1853, 25), 2, (1853, 25)))
DEBUG:root:('change_values idxlist:', ((51325, 51325, 1900, 25), 2, (1900, 25)))
DEBUG:root:('change_values idxlist:', ((51406, 51406, 1903, 25), 2, (1903, 25)))
DEBUG:root:('change_values idxlist:', ((51433, 51433, 1904, 25), 2, (1904, 25)))
DEBUG:root:('change_values idxlist:', ((51541, 51541, 1908, 25), 2, (1908, 25)))
DEBUG:root:('change_values idxlist:', ((51622, 51622, 1911, 25), 2, (1911, 25)))
DEBUG:root:('change_values idxlist:', ((52297, 52297, 1936, 25), 2, (1936, 25)))
DEBUG:root:('change_values idxlist:', ((52365, 87793, 1939, 12), '2022-12-14', (1939, 12)))
DEBUG:root:('change_values idxlist:', ((52392, 87794, 1940, 12), '2022-12-14', (1940, 12)))
DEBUG:root:('change_values idxlist:', ((52500, 87797, 1944, 12), '2022-10-16', (1944, 12)))
DEBUG:root:('change_values idxlist:', ((53404, 53404, 1977, 25), 2, (1977, 25)))
DEBUG:root:('change_values idxlist:', ((53566, 53566, 1983, 25), 2, (1983, 25)))
DEBUG:root:('change_values idxlist:', ((53647, 53647, 1986, 25), 2, (1986, 25)))
DEBUG:root:('change_values idxlist:', ((53674, 53674, 1987, 25), 2, (1987, 25)))
DEBUG:root:('change_values idxlist:', ((53728, 53728, 1989, 25), 2, (1989, 25)))
DEBUG:root:('change_values idxlist:', ((53769, 87827, 1991, 12), '2022-12-03', (1991, 12)))
DEBUG:root:('change_values idxlist:', ((54214, 54214, 2007, 25), 2, (2007, 25)))
DEBUG:root:('change_values idxlist:', ((54444, 87842, 2016, 12), '2019-07-03', (2016, 12)))
DEBUG:root:('change_values idxlist:', ((54565, 54565, 2020, 25), 2, (2020, 25)))
DEBUG:root:('change_values idxlist:', ((55078, 55078, 2039, 25), 2, (2039, 25)))
DEBUG:root:('change_values idxlist:', ((55213, 55213, 2044, 25), 2, (2044, 25)))
DEBUG:root:('change_values idxlist:', ((55348, 55348, 2049, 25), 2, (2049, 25)))
DEBUG:root:('change_values idxlist:', ((55375, 55375, 2050, 25), 2, (2050, 25)))
DEBUG:root:('change_values idxlist:', ((55632, 87870, 2060, 12), '2020-01-06', (2060, 12)))
DEBUG:root:('change_values idxlist:', ((55672, 55672, 2061, 25), 2, (2061, 25)))
DEBUG:root:('change_values idxlist:', ((55726, 55726, 2063, 25), 2, (2063, 25)))
DEBUG:root:('change_values idxlist:', ((55753, 55753, 2064, 25), 2, (2064, 25)))
DEBUG:root:('change_values idxlist:', ((55861, 55861, 2068, 25), 2, (2068, 25)))
DEBUG:root:('change_values idxlist:', ((55929, 87878, 2071, 12), '2022-03-23', (2071, 12)))
DEBUG:root:('change_values idxlist:', ((55969, 55969, 2072, 25), 2, (2072, 25)))
DEBUG:root:('change_values idxlist:', ((55996, 55996, 2073, 25), 2, (2073, 25)))
DEBUG:root:('change_values idxlist:', ((56077, 56077, 2076, 25), 2, (2076, 25)))
DEBUG:root:('change_values idxlist:', ((56131, 56131, 2078, 25), 2, (2078, 25)))
DEBUG:root:('change_values idxlist:', ((56199, 87890, 2081, 12), '2022-11-13', (2081, 12)))
DEBUG:root:('change_values idxlist:', ((56307, 87899, 2085, 12), '2021-10-12', (2085, 12)))
DEBUG:root:('change_values idxlist:', ((56334, 87903, 2086, 12), '2021-10-12', (2086, 12)))
DEBUG:root:('change_values idxlist:', ((56469, 87908, 2091, 12), '2021-09-26', (2091, 12)))
DEBUG:root:('change_values idxlist:', ((56901, 87914, 2107, 12), '2022-06-28', (2107, 12)))
DEBUG:root:('change_values idxlist:', ((56968, 56968, 2109, 25), 2, (2109, 25)))
DEBUG:root:('change_values idxlist:', ((56982, 87915, 2110, 12), '2022-03-18', (2110, 12)))
DEBUG:root:('change_values idxlist:', ((57022, 57022, 2111, 25), 2, (2111, 25)))
DEBUG:root:('change_values idxlist:', ((57076, 57076, 2113, 25), 2, (2113, 25)))
DEBUG:root:('change_values idxlist:', ((57387, 87930, 2125, 12), '2022-12-05', (2125, 12)))
DEBUG:root:('change_values idxlist:', ((57427, 57427, 2126, 25), 2, (2126, 25)))
DEBUG:root:('change_values idxlist:', ((57481, 57481, 2128, 25), 2, (2128, 25)))
DEBUG:root:('change_values idxlist:', ((57508, 57508, 2129, 25), 2, (2129, 25)))
DEBUG:root:('change_values idxlist:', ((57535, 57535, 2130, 25), 2, (2130, 25)))
DEBUG:root:('change_values idxlist:', ((57832, 57832, 2141, 25), 2, (2141, 25)))
DEBUG:root:('change_values idxlist:', ((57886, 57886, 2143, 25), 2, (2143, 25)))
DEBUG:root:('change_values idxlist:', ((57913, 57913, 2144, 25), 2, (2144, 25)))
DEBUG:root:('change_values idxlist:', ((57994, 57994, 2147, 25), 2, (2147, 25)))
DEBUG:root:('change_values idxlist:', ((58237, 58237, 2156, 25), 2, (2156, 25)))
DEBUG:root:('change_values idxlist:', ((58318, 58318, 2159, 25), 2, (2159, 25)))
DEBUG:root:('change_values idxlist:', ((58372, 58372, 2161, 25), 2, (2161, 25)))
DEBUG:root:('change_values idxlist:', ((58440, 87956, 2164, 12), '2022-01-02', (2164, 12)))
DEBUG:root:('change_values idxlist:', ((58561, 58561, 2168, 25), 2, (2168, 25)))
DEBUG:root:('change_values idxlist:', ((58912, 58912, 2181, 25), 2, (2181, 25)))
DEBUG:root:('change_values idxlist:', ((58966, 58966, 2183, 25), 2, (2183, 25)))
DEBUG:root:('change_values idxlist:', ((59209, 59209, 2192, 25), 2, (2192, 25)))
DEBUG:root:('change_values idxlist:', ((59317, 59317, 2196, 25), 2, (2196, 25)))
DEBUG:root:('change_values idxlist:', ((59344, 59344, 2197, 25), 2, (2197, 25)))
DEBUG:root:('change_values idxlist:', ((59452, 59452, 2201, 25), 2, (2201, 25)))
DEBUG:root:('change_values idxlist:', ((59479, 59479, 2202, 25), 2, (2202, 25)))
DEBUG:root:('change_values idxlist:', ((59506, 59506, 2203, 25), 2, (2203, 25)))
DEBUG:root:('change_values idxlist:', ((59641, 59641, 2208, 25), 2, (2208, 25)))

DEBUG:root:('change_values idxlist:', ((59722, 59722, 2211, 25), 2, (2211, 25)))
DEBUG:root:('change_values idxlist:', ((59803, 59803, 2214, 25), 2, (2214, 25)))
DEBUG:root:('change_values idxlist:', ((60249, 87997, 2231, 12), '2021-08-12', (2231, 12)))
DEBUG:root:('change_values idxlist:', ((60370, 60370, 2235, 25), 2, (2235, 25)))
DEBUG:root:('change_values idxlist:', ((60397, 60397, 2236, 25), 2, (2236, 25)))
DEBUG:root:('change_values idxlist:', ((60424, 60424, 2237, 25), 2, (2237, 25)))
DEBUG:root:('change_values idxlist:', ((60829, 60829, 2252, 25), 2, (2252, 25)))
DEBUG:root:('change_values idxlist:', ((61072, 61072, 2261, 25), 2, (2261, 25)))
DEBUG:root:('change_values idxlist:', ((61329, 88023, 2271, 12), '2022-02-10', (2271, 12)))
DEBUG:root:('change_values idxlist:', ((61383, 88026, 2273, 12), '2022-10-10', (2273, 12)))
DEBUG:root:('change_values idxlist:', ((61437, 88027, 2275, 12), '2022-11-27', (2275, 12)))
DEBUG:root:('change_values idxlist:', ((61639, 61639, 2282, 25), 2, (2282, 25)))
DEBUG:root:('change_values idxlist:', ((61801, 61801, 2288, 25), 2, (2288, 25)))
DEBUG:root:('change_values idxlist:', ((61842, 88045, 2290, 12), '2022-10-15', (2290, 12)))
DEBUG:root:('change_values idxlist:', ((61909, 61909, 2292, 25), 2, (2292, 25)))
DEBUG:root:('change_values idxlist:', ((61990, 61990, 2295, 25), 2, (2295, 25)))
DEBUG:root:('change_values idxlist:', ((62044, 62044, 2297, 25), 2, (2297, 25)))
DEBUG:root:('change_values idxlist:', ((62098, 62098, 2299, 25), 2, (2299, 25)))
DEBUG:root:('change_values idxlist:', ((62152, 62152, 2301, 25), 2, (2301, 25)))
DEBUG:root:('change_values idxlist:', ((62341, 62341, 2308, 25), 2, (2308, 25)))
DEBUG:root:('change_values idxlist:', ((62449, 62449, 2312, 25), 2, (2312, 25)))
DEBUG:root:('change_values idxlist:', ((62476, 62476, 2313, 25), 2, (2313, 25)))
DEBUG:root:('change_values idxlist:', ((62638, 62638, 2319, 25), 2, (2319, 25)))
DEBUG:root:('change_values idxlist:', ((62679, 88066, 2321, 12), '2022-11-20', (2321, 12)))
DEBUG:root:('change_values idxlist:', ((62908, 62908, 2329, 25), 2, (2329, 25)))
DEBUG:root:('change_values idxlist:', ((62989, 62989, 2332, 25), 2, (2332, 25)))
DEBUG:root:('change_values idxlist:', ((63030, 88080, 2334, 12), '2022-11-26', (2334, 12)))
DEBUG:root:('change_values idxlist:', ((63259, 63259, 2342, 25), 2, (2342, 25)))
DEBUG:root:('change_values idxlist:', ((63286, 63286, 2343, 25), 2, (2343, 25)))
DEBUG:root:('change_values idxlist:', ((63421, 63421, 2348, 25), 2, (2348, 25)))
DEBUG:root:('change_values idxlist:', ((63583, 63583, 2354, 25), 2, (2354, 25)))
DEBUG:root:('change_values idxlist:', ((63745, 63745, 2360, 25), 2, (2360, 25)))
DEBUG:root:('change_values idxlist:', ((63826, 63826, 2363, 25), 2, (2363, 25)))
DEBUG:root:('change_values idxlist:', ((63907, 63907, 2366, 25), 2, (2366, 25)))
DEBUG:root:('change_values idxlist:', ((64069, 64069, 2372, 25), 2, (2372, 25)))
DEBUG:root:('change_values idxlist:', ((64096, 64096, 2373, 25), 2, (2373, 25)))
DEBUG:root:('change_values idxlist:', ((64272, 88106, 2380, 12), '2022-12-12', (2380, 12)))
DEBUG:root:('change_values idxlist:', ((64812, 88120, 2400, 12), '2022-12-05', (2400, 12)))
DEBUG:root:('change_values idxlist:', ((64960, 64960, 2405, 25), 2, (2405, 25)))
DEBUG:root:('change_values idxlist:', ((65136, 88136, 2412, 12), '2022-10-08', (2412, 12)))
DEBUG:root:('change_values idxlist:', ((65203, 65203, 2414, 25), 2, (2414, 25)))
DEBUG:root:('change_values idxlist:', ((65230, 65230, 2415, 25), 2, (2415, 25)))
DEBUG:root:('change_values idxlist:', ((65311, 65311, 2418, 25), 2, (2418, 25)))
DEBUG:root:('change_values idxlist:', ((65338, 65338, 2419, 25), 2, (2419, 25)))
DEBUG:root:('change_values idxlist:', ((65365, 65365, 2420, 25), 2, (2420, 25)))
DEBUG:root:('change_values idxlist:', ((65487, 88147, 2425, 12), '2022-12-12', (2425, 12)))
DEBUG:root:('change_values idxlist:', ((65527, 65527, 2426, 25), 2, (2426, 25)))
DEBUG:root:('change_values idxlist:', ((65554, 65554, 2427, 25), 2, (2427, 25)))
DEBUG:root:('change_values idxlist:', ((65608, 65608, 2429, 25), 2, (2429, 25)))
DEBUG:root:('change_values idxlist:', ((65770, 65770, 2435, 25), 2, (2435, 25)))
DEBUG:root:('change_values idxlist:', ((65797, 65797, 2436, 25), 2, (2436, 25)))
DEBUG:root:('change_values idxlist:', ((65946, 88161, 2442, 12), '2022-10-10', (2442, 12)))
DEBUG:root:('change_values idxlist:', ((66094, 66094, 2447, 25), 2, (2447, 25)))
DEBUG:root:('change_values idxlist:', ((66256, 66256, 2453, 25), 2, (2453, 25)))
DEBUG:root:('change_values idxlist:', ((66634, 66634, 2467, 25), 2, (2467, 25)))
DEBUG:root:('change_values idxlist:', ((66904, 66904, 2477, 25), 2, (2477, 25)))
DEBUG:root:('change_values idxlist:', ((66931, 66931, 2478, 25), 2, (2478, 25)))
DEBUG:root:('change_values idxlist:', ((66985, 66985, 2480, 25), 2, (2480, 25)))
DEBUG:root:('change_values idxlist:', ((67066, 67066, 2483, 25), 2, (2483, 25)))
DEBUG:root:('change_values idxlist:', ((67161, 88184, 2487, 12), '2022-11-27', (2487, 12)))
DEBUG:root:('change_values idxlist:', ((67255, 67255, 2490, 25), 2, (2490, 25)))
DEBUG:root:('change_values idxlist:', ((67309, 67309, 2492, 25), 2, (2492, 25)))
DEBUG:root:('change_values idxlist:', ((67363, 67363, 2494, 25), 2, (2494, 25)))
DEBUG:root:('change_values idxlist:', ((67485, 88197, 2499, 12), '2022-11-25', (2499, 12)))
DEBUG:root:('change_values idxlist:', ((67512, 88198, 2500, 12), '2022-11-25', (2500, 12)))
DEBUG:root:('change_values idxlist:', ((67552, 67552, 2501, 25), 2, (2501, 25)))
DEBUG:root:('change_values idxlist:', ((67660, 67660, 2505, 25), 2, (2505, 25)))
DEBUG:root:('change_values idxlist:', ((67863, 88209, 2513, 12), '2022-09-05', (2513, 12)))
DEBUG:root:('change_values idxlist:', ((67984, 67984, 2517, 25), 2, (2517, 25)))
DEBUG:root:('change_values idxlist:', ((68092, 68092, 2521, 25), 2, (2521, 25)))
DEBUG:root:('change_values idxlist:', ((68281, 68281, 2528, 25), 2, (2528, 25)))
DEBUG:root:('change_values idxlist:', ((68295, 88220, 2529, 12), '2022-08-23', (2529, 12)))
DEBUG:root:('change_values idxlist:', ((68362, 68362, 2531, 25), 2, (2531, 25)))
DEBUG:root:('change_values idxlist:', ((68416, 68416, 2533, 25), 2, (2533, 25)))
DEBUG:root:('change_values idxlist:', ((68497, 68497, 2536, 25), 2, (2536, 25)))
DEBUG:root:('change_values idxlist:', ((68524, 68524, 2537, 25), 2, (2537, 25)))
DEBUG:root:('change_values idxlist:', ((68578, 68578, 2539, 25), 2, (2539, 25)))
DEBUG:root:('change_values idxlist:', ((68592, 88227, 2540, 12), '2022-08-01', (2540, 12)))
DEBUG:root:('change_values idxlist:', ((68632, 68632, 2541, 25), 2, (2541, 25)))
DEBUG:root:('change_values idxlist:', ((68686, 68686, 2543, 25), 2, (2543, 25)))
DEBUG:root:('change_values idxlist:', ((68713, 68713, 2544, 25), 2, (2544, 25)))
DEBUG:root:('change_values idxlist:', ((68848, 68848, 2549, 25), 2, (2549, 25)))
DEBUG:root:('change_values idxlist:', ((68875, 68875, 2550, 25), 2, (2550, 25)))
DEBUG:root:('change_values idxlist:', ((69280, 69280, 2565, 25), 2, (2565, 25)))
DEBUG:root:('change_values idxlist:', ((69577, 69577, 2576, 25), 2, (2576, 25)))
DEBUG:root:('change_values idxlist:', ((69604, 69604, 2577, 25), 2, (2577, 25)))
DEBUG:root:('change_values idxlist:', ((69658, 69658, 2579, 25), 2, (2579, 25)))
DEBUG:root:('change_values idxlist:', ((69685, 69685, 2580, 25), 2, (2580, 25)))
DEBUG:root:('change_values idxlist:', ((69712, 69712, 2581, 25), 2, (2581, 25)))
DEBUG:root:('change_values idxlist:', ((69739, 69739, 2582, 25), 2, (2582, 25)))
DEBUG:root:('change_values idxlist:', ((69820, 69820, 2585, 25), 2, (2585, 25)))
DEBUG:root:('change_values idxlist:', ((69847, 69847, 2586, 25), 2, (2586, 25)))
DEBUG:root:('change_values idxlist:', ((69901, 69901, 2588, 25), 2, (2588, 25)))
DEBUG:root:('change_values idxlist:', ((69982, 69982, 2591, 25), 2, (2591, 25)))
DEBUG:root:('change_values idxlist:', ((70009, 70009, 2592, 25), 2, (2592, 25)))
DEBUG:root:('change_values idxlist:', ((70063, 70063, 2594, 25), 2, (2594, 25)))
DEBUG:root:('change_values idxlist:', ((70090, 70090, 2595, 25), 2, (2595, 25)))
DEBUG:root:('change_values idxlist:', ((70117, 70117, 2596, 25), 2, (2596, 25)))
DEBUG:root:('change_values idxlist:', ((70171, 70171, 2598, 25), 2, (2598, 25)))

DEBUG:root:('change_values idxlist:', ((70198, 70198, 2599, 25), 2, (2599, 25)))
DEBUG:root:('change_values idxlist:', ((70225, 70225, 2600, 25), 2, (2600, 25)))
DEBUG:root:('change_values idxlist:', ((70279, 70279, 2602, 25), 2, (2602, 25)))
DEBUG:root:('change_values idxlist:', ((70306, 70306, 2603, 25), 2, (2603, 25)))
DEBUG:root:('change_values idxlist:', ((70360, 70360, 2605, 25), 2, (2605, 25)))
DEBUG:root:('change_values idxlist:', ((70576, 70576, 2613, 25), 2, (2613, 25)))
DEBUG:root:('change_values idxlist:', ((70603, 70603, 2614, 25), 2, (2614, 25)))
DEBUG:root:('change_values idxlist:', ((70725, 88277, 2619, 12), '2022-11-19', (2619, 12)))
DEBUG:root:('change_values idxlist:', ((70752, 88278, 2620, 12), '2022-11-19', (2620, 12)))
DEBUG:root:('change_values idxlist:', ((70954, 70954, 2627, 25), 2, (2627, 25)))
DEBUG:root:('change_values idxlist:', ((71062, 71062, 2631, 25), 2, (2631, 25)))
DEBUG:root:('change_values idxlist:', ((71089, 71089, 2632, 25), 2, (2632, 25)))
DEBUG:root:('change_values idxlist:', ((71116, 71116, 2633, 25), 2, (2633, 25)))
DEBUG:root:('change_values idxlist:', ((71184, 88291, 2636, 12), '2022-11-28', (2636, 12)))
DEBUG:root:('change_values idxlist:', ((71292, 88295, 2640, 12), '2022-11-13', (2640, 12)))
DEBUG:root:('change_values idxlist:', ((71373, 88296, 2643, 12), '2022-10-31', (2643, 12)))
DEBUG:root:('change_values idxlist:', ((71683, 71683, 2654, 25), 2, (2654, 25)))
DEBUG:root:('change_values idxlist:', ((71710, 71710, 2655, 25), 2, (2655, 25)))
DEBUG:root:('change_values idxlist:', ((71845, 71845, 2660, 25), 2, (2660, 25)))
DEBUG:root:('change_values idxlist:', ((71872, 71872, 2661, 25), 2, (2661, 25)))
DEBUG:root:('change_values idxlist:', ((71899, 71899, 2662, 25), 2, (2662, 25)))
DEBUG:root:('change_values idxlist:', ((72007, 72007, 2666, 25), 2, (2666, 25)))
DEBUG:root:('change_values idxlist:', ((72088, 72088, 2669, 25), 2, (2669, 25)))
DEBUG:root:('change_values idxlist:', ((72142, 72142, 2671, 25), 2, (2671, 25)))
DEBUG:root:('change_values idxlist:', ((72169, 72169, 2672, 25), 2, (2672, 25)))
DEBUG:root:('change_values idxlist:', ((72196, 72196, 2673, 25), 2, (2673, 25)))
DEBUG:root:('change_values idxlist:', ((72223, 72223, 2674, 25), 2, (2674, 25)))
DEBUG:root:('change_values idxlist:', ((72547, 72547, 2686, 25), 2, (2686, 25)))
DEBUG:root:('change_values idxlist:', ((72574, 72574, 2687, 25), 2, (2687, 25)))
DEBUG:root:('change_values idxlist:', ((72655, 72655, 2690, 25), 2, (2690, 25)))
DEBUG:root:('change_values idxlist:', ((72682, 72682, 2691, 25), 2, (2691, 25)))
DEBUG:root:('change_values idxlist:', ((72709, 72709, 2692, 25), 2, (2692, 25)))
DEBUG:root:('change_values idxlist:', ((72763, 72763, 2694, 25), 2, (2694, 25)))
DEBUG:root:('change_values idxlist:', ((72804, 88336, 2696, 12), '2022-11-23', (2696, 12)))
DEBUG:root:('change_values idxlist:', ((72831, 88338, 2697, 12), '2022-11-23', (2697, 12)))
DEBUG:root:('change_values idxlist:', ((73033, 73033, 2704, 25), 2, (2704, 25)))
DEBUG:root:('change_values idxlist:', ((73222, 73222, 2711, 25), 2, (2711, 25)))
DEBUG:root:('change_values idxlist:', ((73276, 73276, 2713, 25), 2, (2713, 25)))
DEBUG:root:('change_values idxlist:', ((73465, 73465, 2720, 25), 2, (2720, 25)))
DEBUG:root:('change_values idxlist:', ((73695, 88363, 2729, 12), '2022-12-13', (2729, 12)))
DEBUG:root:('change_values idxlist:', ((73762, 73762, 2731, 25), 2, (2731, 25)))
DEBUG:root:('change_values idxlist:', ((73897, 73897, 2736, 25), 2, (2736, 25)))
DEBUG:root:('change_values idxlist:', ((74005, 74005, 2740, 25), 2, (2740, 25)))
DEBUG:root:('change_values idxlist:', ((74181, 88382, 2747, 12), '2022-12-05', (2747, 12)))
DEBUG:root:('change_values idxlist:', ((74208, 88383, 2748, 12), '2022-12-05', (2748, 12)))
DEBUG:root:('change_values idxlist:', ((74275, 74275, 2750, 25), 2, (2750, 25)))
DEBUG:root:('change_values idxlist:', ((74356, 74356, 2753, 25), 2, (2753, 25)))
DEBUG:root:('change_values idxlist:', ((74464, 74464, 2757, 25), 2, (2757, 25)))
DEBUG:root:('change_values idxlist:', ((74937, 88398, 2775, 12), '2022-12-11', (2775, 12)))
DEBUG:root:('change_values idxlist:', ((75004, 75004, 2777, 25), 2, (2777, 25)))
DEBUG:root:('change_values idxlist:', ((75031, 75031, 2778, 25), 2, (2778, 25)))
DEBUG:root:('change_values idxlist:', ((75058, 75058, 2779, 25), 2, (2779, 25)))
DEBUG:root:('change_values idxlist:', ((75085, 75085, 2780, 25), 2, (2780, 25)))
DEBUG:root:('change_values idxlist:', ((75193, 75193, 2784, 25), 2, (2784, 25)))
DEBUG:root:('change_values idxlist:', ((75247, 75247, 2786, 25), 2, (2786, 25)))
DEBUG:root:('change_values idxlist:', ((75463, 75463, 2794, 25), 2, (2794, 25)))
DEBUG:root:('change_values idxlist:', ((75571, 75571, 2798, 25), 2, (2798, 25)))
DEBUG:root:('change_values idxlist:', ((75598, 75598, 2799, 25), 2, (2799, 25)))
DEBUG:root:('change_values idxlist:', ((75639, 88421, 2801, 12), '2022-11-13', (2801, 12)))
DEBUG:root:('change_values idxlist:', ((75895, 75895, 2810, 25), 2, (2810, 25)))
DEBUG:root:('change_values idxlist:', ((75976, 75976, 2813, 25), 2, (2813, 25)))
DEBUG:root:('change_values idxlist:', ((76300, 76300, 2825, 25), 2, (2825, 25)))
DEBUG:root:('change_values idxlist:', ((76327, 76327, 2826, 25), 2, (2826, 25)))
DEBUG:root:('change_values idxlist:', ((76462, 76462, 2831, 25), 2, (2831, 25)))
DEBUG:root:('change_values idxlist:', ((76543, 76543, 2834, 25), 2, (2834, 25)))
DEBUG:root:('change_values idxlist:', ((76597, 76597, 2836, 25), 2, (2836, 25)))
DEBUG:root:('change_values idxlist:', ((76678, 76678, 2839, 25), 2, (2839, 25)))
DEBUG:root:('change_values idxlist:', ((76867, 76867, 2846, 25), 2, (2846, 25)))
DEBUG:root:('change_values idxlist:', ((76894, 76894, 2847, 25), 2, (2847, 25)))
DEBUG:root:('change_values idxlist:', ((76948, 76948, 2849, 25), 2, (2849, 25)))
DEBUG:root:('change_values idxlist:', ((76975, 76975, 2850, 25), 2, (2850, 25)))
DEBUG:root:('change_values idxlist:', ((77002, 77002, 2851, 25), 2, (2851, 25)))
DEBUG:root:('change_values idxlist:', ((77056, 77056, 2853, 25), 2, (2853, 25)))
DEBUG:root:('change_values idxlist:', ((77124, 88456, 2856, 12), '2022-11-16', (2856, 12)))
DEBUG:root:('change_values idxlist:', ((77164, 77164, 2857, 25), 2, (2857, 25)))
DEBUG:root:('change_values idxlist:', ((77394, 88467, 2866, 12), '2022-10-16', (2866, 12)))
DEBUG:root:('change_values idxlist:', ((77461, 77461, 2868, 25), 2, (2868, 25)))
DEBUG:root:('change_values idxlist:', ((77596, 77596, 2873, 25), 2, (2873, 25)))
DEBUG:root:('change_values idxlist:', ((77623, 77623, 2874, 25), 2, (2874, 25)))
DEBUG:root:('change_values idxlist:', ((77920, 77920, 2885, 25), 2, (2885, 25)))
DEBUG:root:('change_values idxlist:', ((78109, 78109, 2892, 25), 2, (2892, 25)))
DEBUG:root:('change_values idxlist:', ((78190, 78190, 2895, 25), 2, (2895, 25)))
DEBUG:root:('change_values idxlist:', ((78204, 88486, 2896, 12), '2022-11-27', (2896, 12)))
DEBUG:root:('change_values idxlist:', ((78352, 78352, 2901, 25), 2, (2901, 25)))
DEBUG:root:('change_values idxlist:', ((78433, 78433, 2904, 25), 2, (2904, 25)))
DEBUG:root:('change_values idxlist:', ((78514, 78514, 2907, 25), 2, (2907, 25)))
DEBUG:root:('change_values idxlist:', ((78568, 78568, 2909, 25), 2, (2909, 25)))
DEBUG:root:('change_values idxlist:', ((78730, 78730, 2915, 25), 2, (2915, 25)))
DEBUG:root:('change_values idxlist:', ((78784, 78784, 2917, 25), 2, (2917, 25)))
DEBUG:root:('change_values idxlist:', ((78811, 78811, 2918, 25), 2, (2918, 25)))
DEBUG:root:('change_values idxlist:', ((78865, 78865, 2920, 25), 2, (2920, 25)))
DEBUG:root:('change_values idxlist:', ((78879, 88500, 2921, 12), '2022-10-27', (2921, 12)))
DEBUG:root:('change_values idxlist:', ((78919, 78919, 2922, 25), 2, (2922, 25)))
DEBUG:root:('change_values idxlist:', ((79027, 79027, 2926, 25), 2, (2926, 25)))
DEBUG:root:('change_values idxlist:', ((79297, 79297, 2936, 25), 2, (2936, 25)))
DEBUG:root:('change_values idxlist:', ((79459, 79459, 2942, 25), 2, (2942, 25)))
DEBUG:root:('change_values idxlist:', ((79513, 79513, 2944, 25), 2, (2944, 25)))
DEBUG:root:('change_values idxlist:', ((79581, 88520, 2947, 12), '2022-11-17', (2947, 12)))
DEBUG:root:('change_values idxlist:', ((79608, 88522, 2948, 12), '2022-12-13', (2948, 12)))

DEBUG:root:('change_values idxlist:', ((79675, 79675, 2950, 25), 2, (2950, 25)))
DEBUG:root:('change_values idxlist:', ((79689, 88525, 2951, 12), '2022-10-14', (2951, 12)))
DEBUG:root:('change_values idxlist:', ((79837, 79837, 2956, 25), 2, (2956, 25)))
DEBUG:root:('change_values idxlist:', ((79918, 79918, 2959, 25), 2, (2959, 25)))
DEBUG:root:('change_values idxlist:', ((79972, 79972, 2961, 25), 2, (2961, 25)))
DEBUG:root:('change_values idxlist:', ((80026, 80026, 2963, 25), 2, (2963, 25)))
DEBUG:root:('change_values idxlist:', ((80107, 80107, 2966, 25), 2, (2966, 25)))
DEBUG:root:('change_values idxlist:', ((80134, 80134, 2967, 25), 2, (2967, 25)))
DEBUG:root:('change_values idxlist:', ((80161, 80161, 2968, 25), 2, (2968, 25)))
DEBUG:root:('change_values idxlist:', ((80188, 80188, 2969, 25), 2, (2969, 25)))
DEBUG:root:('change_values idxlist:', ((80269, 80269, 2972, 25), 2, (2972, 25)))
DEBUG:root:('change_values idxlist:', ((80296, 80296, 2973, 25), 2, (2973, 25)))
DEBUG:root:('change_values idxlist:', ((80310, 88545, 2974, 12), '2022-11-25', (2974, 12)))
DEBUG:root:('change_values idxlist:', ((80337, 88546, 2975, 12), '2022-12-14', (2975, 12)))
DEBUG:root:('change_values idxlist:', ((80377, 80377, 2976, 25), 2, (2976, 25)))
DEBUG:root:('change_values idxlist:', ((80391, 88547, 2977, 12), '2022-11-27', (2977, 12)))
DEBUG:root:('change_values idxlist:', ((80431, 80431, 2978, 25), 2, (2978, 25)))
DEBUG:root:('change_values idxlist:', ((80485, 80485, 2980, 25), 2, (2980, 25)))
DEBUG:root:('change_values idxlist:', ((80539, 80539, 2982, 25), 2, (2982, 25)))
DEBUG:root:('change_values idxlist:', ((80566, 80566, 2983, 25), 2, (2983, 25)))
DEBUG:root:('change_values idxlist:', ((80593, 80593, 2984, 25), 2, (2984, 25)))
DEBUG:root:('change_values idxlist:', ((80674, 80674, 2987, 25), 2, (2987, 25)))
DEBUG:root:('change_values idxlist:', ((80701, 80701, 2988, 25), 2, (2988, 25)))
DEBUG:root:('change_values idxlist:', ((80728, 80728, 2989, 25), 2, (2989, 25)))
DEBUG:root:('change_values idxlist:', ((80755, 80755, 2990, 25), 2, (2990, 25)))
DEBUG:root:('change_values idxlist:', ((80782, 80782, 2991, 25), 2, (2991, 25)))
DEBUG:root:('change_values idxlist:', ((80809, 80809, 2992, 25), 2, (2992, 25)))
DEBUG:root:('change_values idxlist:', ((80944, 80944, 2997, 25), 2, (2997, 25)))
DEBUG:root:('change_values idxlist:', ((81079, 81079, 3002, 25), 2, (3002, 25)))
DEBUG:root:('change_values idxlist:', ((81187, 81187, 3006, 25), 2, (3006, 25)))
DEBUG:root:('change_values idxlist:', ((81295, 81295, 3010, 25), 2, (3010, 25)))
DEBUG:root:('change_values idxlist:', ((81322, 81322, 3011, 25), 2, (3011, 25)))
DEBUG:root:('change_values idxlist:', ((81376, 81376, 3013, 25), 2, (3013, 25)))
DEBUG:root:('change_values idxlist:', ((81403, 81403, 3014, 25), 2, (3014, 25)))
DEBUG:root:('change_values idxlist:', ((81430, 81430, 3015, 25), 2, (3015, 25)))
DEBUG:root:('change_values idxlist:', ((81538, 81538, 3019, 25), 2, (3019, 25)))
DEBUG:root:('change_values idxlist:', ((81565, 81565, 3020, 25), 2, (3020, 25)))
DEBUG:root:('change_values idxlist:', ((81673, 81673, 3024, 25), 2, (3024, 25)))
DEBUG:root:('change_values idxlist:', ((81700, 81700, 3025, 25), 2, (3025, 25)))
DEBUG:root:('change_values idxlist:', ((81889, 81889, 3032, 25), 2, (3032, 25)))
DEBUG:root:('change_values idxlist:', ((81997, 81997, 3036, 25), 2, (3036, 25)))
DEBUG:root:('change_values idxlist:', ((82078, 82078, 3039, 25), 2, (3039, 25)))
DEBUG:root:('change_values idxlist:', ((82105, 82105, 3040, 25), 2, (3040, 25)))
DEBUG:root:('change_values idxlist:', ((82132, 82132, 3041, 25), 2, (3041, 25)))
DEBUG:root:('change_values idxlist:', ((82159, 82159, 3042, 25), 2, (3042, 25)))
DEBUG:root:('change_values idxlist:', ((82186, 82186, 3043, 25), 2, (3043, 25)))
DEBUG:root:('change_values idxlist:', ((82213, 82213, 3044, 25), 2, (3044, 25)))
DEBUG:root:('change_values idxlist:', ((82240, 82240, 3045, 25), 2, (3045, 25)))
DEBUG:root:('change_values idxlist:', ((82308, 88590, 3048, 12), '2022-11-20', (3048, 12)))
DEBUG:root:('change_values idxlist:', ((82348, 82348, 3049, 25), 2, (3049, 25)))
DEBUG:root:('change_values idxlist:', ((82429, 82429, 3052, 25), 2, (3052, 25)))
DEBUG:root:('change_values idxlist:', ((82618, 82618, 3059, 25), 2, (3059, 25)))
DEBUG:root:('change_values idxlist:', ((82753, 82753, 3064, 25), 2, (3064, 25)))
DEBUG:root:('change_values idxlist:', ((82834, 82834, 3067, 25), 2, (3067, 25)))
DEBUG:root:('change_values idxlist:', ((82861, 82861, 3068, 25), 2, (3068, 25)))
DEBUG:root:('change_values idxlist:', ((82942, 82942, 3071, 25), 2, (3071, 25)))
DEBUG:root:('change_values idxlist:', ((83104, 83104, 3077, 25), 2, (3077, 25)))
DEBUG:root:('change_values idxlist:', ((83131, 83131, 3078, 25), 2, (3078, 25)))
DEBUG:root:('change_values idxlist:', ((83158, 83158, 3079, 25), 2, (3079, 25)))
DEBUG:root:('change_values idxlist:', ((83185, 83185, 3080, 25), 2, (3080, 25)))
DEBUG:root:('change_values idxlist:', ((83212, 83212, 3081, 25), 2, (3081, 25)))
DEBUG:root:('change_values idxlist:', ((83239, 83239, 3082, 25), 2, (3082, 25)))
DEBUG:root:('change_values idxlist:', ((83266, 83266, 3083, 25), 2, (3083, 25)))
DEBUG:root:('change_values idxlist:', ((83374, 83374, 3087, 25), 2, (3087, 25)))
DEBUG:root:('change_values idxlist:', ((83428, 83428, 3089, 25), 2, (3089, 25)))
DEBUG:root:('change_values idxlist:', ((83455, 83455, 3090, 25), 2, (3090, 25)))
DEBUG:root:('change_values idxlist:', ((83482, 83482, 3091, 25), 2, (3091, 25)))
DEBUG:root:('change_values idxlist:', ((83577, 88625, 3095, 12), '2022-11-13', (3095, 12)))
DEBUG:root:('change_values idxlist:', ((83617, 83617, 3096, 25), 2, (3096, 25)))
DEBUG:root:('change_values idxlist:', ((83752, 83752, 3101, 25), 2, (3101, 25)))
DEBUG:root:('change_values idxlist:', ((83806, 83806, 3103, 25), 2, (3103, 25)))
DEBUG:root:('change_values idxlist:', ((83833, 83833, 3104, 25), 2, (3104, 25)))
DEBUG:root:('change_values idxlist:', ((83914, 83914, 3107, 25), 2, (3107, 25)))
DEBUG:root:('change_values idxlist:', ((83941, 83941, 3108, 25), 2, (3108, 25)))
DEBUG:root:('change_values idxlist:', ((83995, 83995, 3110, 25), 2, (3110, 25)))
DEBUG:root:('change_values idxlist:', ((84022, 84022, 3111, 25), 2, (3111, 25)))
DEBUG:root:('change_values idxlist:', ((84103, 84103, 3114, 25), 2, (3114, 25)))
DEBUG:root:('change_values idxlist:', ((84130, 84130, 3115, 25), 2, (3115, 25)))
DEBUG:root:('change_values idxlist:', ((84211, 84211, 3118, 25), 2, (3118, 25)))
DEBUG:root:('change_values idxlist:', ((84279, 88648, 3121, 12), '2022-12-12', (3121, 12)))
DEBUG:root:('change_values idxlist:', ((84319, 84319, 3122, 25), 2, (3122, 25)))
DEBUG:root:('change_values idxlist:', ((84346, 84346, 3123, 25), 2, (3123, 25)))
DEBUG:root:('change_values idxlist:', ((84373, 84373, 3124, 25), 2, (3124, 25)))
DEBUG:root:('change_values idxlist:', ((84400, 84400, 3125, 25), 2, (3125, 25)))
DEBUG:root:('change_values idxlist:', ((84427, 84427, 3126, 25), 2, (3126, 25)))
DEBUG:root:('change_values idxlist:', ((84454, 84454, 3127, 25), 2, (3127, 25)))
DEBUG:root:('change_values idxlist:', ((84481, 84481, 3128, 25), 2, (3128, 25)))
DEBUG:root:('change_values idxlist:', ((84508, 84508, 3129, 25), 2, (3129, 25)))
DEBUG:root:('change_values idxlist:', ((84535, 84535, 3130, 25), 2, (3130, 25)))
DEBUG:root:('change_values idxlist:', ((84562, 84562, 3131, 25), 2, (3131, 25)))
DEBUG:root:('change_values idxlist:', ((84670, 84670, 3135, 25), 2, (3135, 25)))
DEBUG:root:('change_values idxlist:', ((84697, 84697, 3136, 25), 2, (3136, 25)))
DEBUG:root:('change_values idxlist:', ((84724, 84724, 3137, 25), 2, (3137, 25)))
DEBUG:root:('change_values idxlist:', ((84751, 84751, 3138, 25), 2, (3138, 25)))
DEBUG:root:('change_values idxlist:', ((84805, 84805, 3140, 25), 2, (3140, 25)))
DEBUG:root:('change_values idxlist:', ((84832, 84832, 3141, 25), 2, (3141, 25)))
DEBUG:root:('change_values idxlist:', ((84940, 84940, 3145, 25), 2, (3145, 25)))
DEBUG:root:('change_values idxlist:', ((84967, 84967, 3146, 25), 2, (3146, 25)))
DEBUG:root:('change_values idxlist:', ((84994, 84994, 3147, 25), 2, (3147, 25)))
DEBUG:root:('change_values idxlist:', ((85075, 85075, 3150, 25), 2, (3150, 25)))
DEBUG:root:('change_values idxlist:', ((85102, 85102, 3151, 25), 2, (3151, 25)))

DEBUG:root:('change_values idxlist:', ((85129, 85129, 3152, 25), 2, (3152, 25)))
DEBUG:root:('change_values idxlist:', ((85156, 85156, 3153, 25), 2, (3153, 25)))
DEBUG:root:('change_values idxlist:', ((85237, 85237, 3156, 25), 2, (3156, 25)))
DEBUG:root:('change_values idxlist:', ((85291, 85291, 3158, 25), 2, (3158, 25)))
DEBUG:root:('change_values idxlist:', ((85318, 85318, 3159, 25), 2, (3159, 25)))
DEBUG:root:('change_values idxlist:', ((85345, 85345, 3160, 25), 2, (3160, 25)))
DEBUG:root:('change_values idxlist:', ((85399, 85399, 3162, 25), 2, (3162, 25)))
DEBUG:root:('change_values idxlist:', ((85480, 85480, 3165, 25), 2, (3165, 25)))
DEBUG:root:('change_values idxlist:', ((85507, 85507, 3166, 25), 2, (3166, 25)))
DEBUG:root:('change_values idxlist:', ((85534, 85534, 3167, 25), 2, (3167, 25)))
DEBUG:root:('change_values idxlist:', ((85561, 85561, 3168, 25), 2, (3168, 25)))
DEBUG:root:('change_values idxlist:', ((85588, 85588, 3169, 25), 2, (3169, 25)))
DEBUG:root:('change_values idxlist:', ((85615, 85615, 3170, 25), 2, (3170, 25)))
DEBUG:root:('change_values idxlist:', ((85642, 85642, 3171, 25), 2, (3171, 25)))
DEBUG:root:('change_values idxlist:', ((85669, 85669, 3172, 25), 2, (3172, 25)))
DEBUG:root:('change_values idxlist:', ((85696, 85696, 3173, 25), 2, (3173, 25)))
DEBUG:root:('change_values idxlist:', ((85723, 85723, 3174, 25), 2, (3174, 25)))
DEBUG:root:('change_values idxlist:', ((85750, 85750, 3175, 25), 2, (3175, 25)))
DEBUG:root:('change_values idxlist:', ((85777, 85777, 3176, 25), 2, (3176, 25)))
DEBUG:root:('change_values idxlist:', ((85804, 85804, 3177, 25), 2, (3177, 25)))
DEBUG:root:('change_values idxlist:', ((85831, 85831, 3178, 25), 2, (3178, 25)))
DEBUG:root:('change_values idxlist:', ((85885, 85885, 3180, 25), 2, (3180, 25)))
DEBUG:root:('change_values idxlist:', ((85912, 85912, 3181, 25), 2, (3181, 25)))
DEBUG:root:('change_values idxlist:', ((85993, 85993, 3184, 25), 2, (3184, 25)))
DEBUG:root:('change_values idxlist:', ((86020, 86020, 3185, 25), 2, (3185, 25)))
DEBUG:root:('change_values idxlist:', ((86047, 86047, 3186, 25), 2, (3186, 25)))
DEBUG:root:('change_values idxlist:', ((86074, 86074, 3187, 25), 2, (3187, 25)))
DEBUG:root:('change_values idxlist:', ((86101, 86101, 3188, 25), 2, (3188, 25)))
DEBUG:root:('change_values idxlist:', ((86128, 86128, 3189, 25), 2, (3189, 25)))
DEBUG:root:('change_values idxlist:', ((86155, 86155, 3190, 25), 2, (3190, 25)))
DEBUG:root:('change_values idxlist:', ((86182, 86182, 3191, 25), 2, (3191, 25)))
DEBUG:root:('change_values idxlist:', ((86209, 86209, 3192, 25), 2, (3192, 25)))
DEBUG:root:('change_values idxlist:', ((86236, 86236, 3193, 25), 2, (3193, 25)))
DEBUG:root:('change_values idxlist:', ((86263, 86263, 3194, 25), 2, (3194, 25)))
DEBUG:root:('change_values idxlist:', ((86290, 86290, 3195, 25), 2, (3195, 25)))
DEBUG:root:('change_values idxlist:', ((86317, 86317, 3196, 25), 2, (3196, 25)))
DEBUG:root:('change_values idxlist:', ((86344, 86344, 3197, 25), 2, (3197, 25)))
DEBUG:root:('change_values idxlist:', ((86371, 86371, 3198, 25), 2, (3198, 25)))
DEBUG:root:('change_values idxlist:', ((86398, 86398, 3199, 25), 2, (3199, 25)))
DEBUG:root:('change_values idxlist:', ((86425, 86425, 3200, 25), 2, (3200, 25)))

True

In [126]:
workset_before = workset_after.copy()

In [127]:
check_pd = pd.DataFrame(dcm1.cell_values)
check_pd.groupby(2).count()

         0      1      3      4
2
-1   86427  86427  86427  86427
 0    2291   2291   2291   2291
 1      70     70     70     70
 2     354    354    354    354
 3     322    322    322    322
 4      84     84     84     84
 5      90     90     90     90
 6     198    198    198    198
 7      28     28     28     28
 8      47     47     47     47
 9     414    414    414    414
 10     69     69     69     69
 11    214    214    214    214
 12    373    373    373    373
 13    106    106    106    106
 14     95     95     95     95
 15    220    220    220    220
 16     34     34     34     34
 17     49     49     49     49
 18    437    437    437    437

In [128]:
pd.DataFrame(dcm1.column_position)

     0   1  2                               3   4  5
0    0   0 -1                              id  -1 -1
1    1   1 -1                            name   0 -1
2    2   2 -1                         host_id   1 -1
3    3   3 -1                       host_name   2 -1
4    4   4 -1             neighbourhood_group   3 -1
5    5   5 -1                   neighbourhood   4 -1
6    6   6 -1                        latitude   5 -1
7    7   7 -1                       longitude   6 -1
8    8   8 -1                       room_type   7 -1
9    9   9 -1                           price   8 -1
10  10  10 -1                  minimum_nights   9 -1
11  11  11 -1               number_of_reviews  10 -1
12  12  12 -1                     last_review  11 -1
13  13  13 -1               reviews_per_month  12 -1
14  14  14 -1  calculated_host_listings_count  13 -1
15  15  15 -1                availability_365  14 -1
16  16  16 -1           number_of_reviews_ltm  15 -1
17  17  17 -1                         license  16 -1
18  18  18 -1                         id_flag  17 -1
19  19  19 -1                    host_id_flag  18 -1
20  20  20 -1              neighbourhood_flag  19 -1
21  21  21 -1                   latitude_flag  20 -1
22  22  22 -1                  longitude_flag  21 -1
23  23  23 -1             minimum_nights_flag  22 -1
24  24  24 -1          number_of_reviews_flag  23 -1
25  25  25 -1                last_review_flag  24 -1
26  26  26 -1                  room_type_flag  25 -1

In [129]:
dcm1.state_detail[0] = (0, {'op': 'initial'}, -1, -1, None)

In [130]:
pd.DataFrame(dcm1.state_detail)

     0                              1   2   3    4
0    0              {'op': 'initial'}  -1  -1  NaN
1    0              perturbed_dataset   0  -1  0.0
2    1          clean_duplicate_id_c1   1   0  1.0
3    2  clean_inconsistent_host_id_c1   2   1  1.0
4    3         clean_neighbourhood_c1   3   2  1.0
5    4              clean_latitude_c1   4   3  1.0
6    5             clean_longitude_c1   5   4  1.0
7    6             clean_room_type_c1   6   5  1.0
8    7        clean_minimum_nights_c1   7   6  1.0
9    8     clean_number_of_reviews_c1   8   7  1.0
10   9           clean_last_review_c1   9   8  1.0
11  10          clean_duplicate_id_c2  10   0  2.0
12  11  clean_inconsistent_host_id_c2  11  10  2.0
13  12         clean_neighbourhood_c2  12  11  2.0
14  13              clean_latitude_c2  13  12  2.0
15  14             clean_longitude_c2  14  13  2.0
16  15             clean_room_type_c2  15  14  2.0
17  16        clean_minimum_nights_c2  16  15  2.0
18  17     clean_number_of_reviews_c2  17  16  2.0
19  18           clean_last_review_c2  18  17  2.0

In [131]:
cv = pd.DataFrame(dcm1.cell_values)
cv[cv[2]==9]

           0      1  2           3      4
89911  89911     66  9  2022-11-28  86427
89912  89912     79  9           0     79
89913  89913    430  9           2    430
89914  89914    741  9  2022-11-27  86448
89915  89915    754  9           0    754
...      ...    ... ..         ...    ...
90320  90320  40012  9           2  40012
90321  90321  40039  9           2  40039
90322  90322  40066  9           2  40066
90323  90323  40093  9           2  40093
90324  90324  40120  9           2  40120

[414 rows x 5 columns]

In [132]:
pd.DataFrame(dcm1.state)

     0   1
0   -1  -2
1    0  -1
2    1   0
3    2   1
4    3   2
5    4   3
6    5   4
7    6   5
8    7   6
9    8   7
10   9   8
11  10   0
12  11  10
13  12  11
14  13  12
15  14  13
16  15  14
17  16  15
18  17  16
19  18  17

In [133]:
pd.DataFrame(dcm1.cell_values).merge(pd.DataFrame(dcm1.cell),left_on=1,right_on=0,suffixes=["_x","_y"]).\
merge(pd.DataFrame(dcm1.column_position),left_on="1_y",right_on=1,suffixes=["_xx","_z"]).\
merge(pd.DataFrame(dcm1.state_detail),left_on="2_x",right_on=0,suffixes=["_zz","_k"])

,1_xx,0_x,1_x,2_x,3_xx,4_xx,0_y,1_y,2_y,0_zz,1_z,2_zz,3_z,4_z,5,0_k,1,2_k,3,4
0,4699,86536,4699,0,,4699,4699,1,174,1,1,-1,name,0,-1,0,{'op': 'initial'},-1,-1,NaN
1,4699,86536,4699,0,,4699,4699,1,174,1,1,-1,name,0,-1,0,perturbed_dataset,0,-1,0.0
2,5563,86558,5563,0,,5563,5563,1,206,1,1,-1,name,0,-1,0,{'op': 'initial'},-1,-1,NaN
3,5563,86558,5563,0,,5563,5563,1,206,1,1,-1,name,0,-1,0,perturbed_dataset,0,-1,0.0
4,6913,86607,6913,0,,6913,6913,1,256,1,1,-1,name,0,-1,0,{'op': 'initial'},-1,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7781,85994,91397,85994,15,1,85994,85994,26,3184,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7782,86264,91398,86264,15,1,86264,86264,26,3194,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7783,86291,91399,86291,15,1,86291,86291,26,3195,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7784,86345,91400,86345,15,1,86345,86345,26,3197,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7785,86399,91401,86399,15,1,86399,86399,26,3199,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0

In [134]:
check_pd = pd.DataFrame(dcm1.cell_values).merge(pd.DataFrame(dcm1.cell),left_on=1,right_on=0,suffixes=["_x","_y"]). \
    merge(pd.DataFrame(dcm1.column_position),left_on="1_y",right_on=1,suffixes=["_xx","_z"]). \
    merge(pd.DataFrame(dcm1.state_detail),left_on="2_x",right_on=0,suffixes=["_zz","_k"]) #.drop_duplicates()

In [135]:
check_pd[check_pd["3_xx"].isna()==False]

,1_xx,0_x,1_x,2_x,3_xx,4_xx,0_y,1_y,2_y,0_zz,1_z,2_zz,3_z,4_z,5,0_k,1,2_k,3,4
0,4699,86536,4699,0,,4699,4699,1,174,1,1,-1,name,0,-1,0,{'op': 'initial'},-1,-1,NaN
1,4699,86536,4699,0,,4699,4699,1,174,1,1,-1,name,0,-1,0,perturbed_dataset,0,-1,0.0
2,5563,86558,5563,0,,5563,5563,1,206,1,1,-1,name,0,-1,0,{'op': 'initial'},-1,-1,NaN
3,5563,86558,5563,0,,5563,5563,1,206,1,1,-1,name,0,-1,0,perturbed_dataset,0,-1,0.0
4,6913,86607,6913,0,,6913,6913,1,256,1,1,-1,name,0,-1,0,{'op': 'initial'},-1,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7781,85994,91397,85994,15,1,85994,85994,26,3184,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7782,86264,91398,86264,15,1,86264,86264,26,3194,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7783,86291,91399,86291,15,1,86291,86291,26,3195,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7784,86345,91400,86345,15,1,86345,86345,26,3197,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7785,86399,91401,86399,15,1,86399,86399,26,3199,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0

In [136]:
cv

,0,1,2,3,4
0,0,0,-1,25879,-1
1,1,1,-1,2/1 One Block to Fullerton L Red Line Deck & ...,-1
2,2,2,-1,101521,-1
3,3,3,-1,Red,-1
4,4,4,-1,,-1
...,...,...,...,...,...
91917,91917,86317,18,2,86317
91918,91918,86344,18,2,86344
91919,91919,86371,18,2,86371
91920,91920,86398,18,2,86398
91921,91921,86425,18,2,86425

In [137]:
cv = pd.DataFrame(dcm1.cell_values)
cellv = pd.DataFrame(dcm1.cell)
cv[cv[2]==0].merge(cellv[cellv[1]==6],left_on=1,right_on=0)
#test_cv = cv[cv[2]==4].merge(cv[cv[2]==-1],left_on=1,right_on=1)
#test_cv[test_cv["3_x"].apply(lambda x:float(x))==test_cv["3_y"].apply(lambda x:float(x))]

         1    0_x    1_x  2_x           3      4    0_y  1_y   2_y
0     3624  86509   3624    0  E41.9A2748   3624   3624    6   134
1     5082  86548   5082    0  4L1.9320u3   5082   5082    6   188
2     5163  86551   5163    0  41.9vB3123   5163   5163    6   191
3     6216  86580   6216    0  E41.91 334   6216   6216    6   230
4     6243  86582   6243    0  4N1C.69097   6243   6243    6   231
..     ...    ...    ...  ...         ...    ...    ...  ...   ...
189  85785  88695  85785    0      418167  85785  85785    6  3177
190  85893  88699  85893    0   418945286  85893  85893    6  3181
191  85974  88708  85974    0     4190362  85974  85974    6  3184
192  86190  88711  86190    0     4190271  86190  86190    6  3192
193  86406  88717  86406    0   418945286  86406  86406    6  3200

[194 rows x 9 columns]

In [138]:
cv[cv[2].isin([-1])].merge(cv[cv[2].isin([0])],left_on=1,right_on=1).merge(cellv[cellv[1]==13],left_on=1,right_on=0)

,1,0_x,1_x,2_x,3_x,4_x,0_y,2_y,3_y,4_y,0,1_y,2
0,283,283,283,-1,0.60,-1,86434,0,0.6,283,283,13,10
1,472,472,472,-1,1.50,-1,86443,0,1.5,472,472,13,17
2,985,985,985,-1,0.50,-1,86453,0,0.5,985,985,13,36
3,1012,1012,1012,-1,1.20,-1,86454,0,1.2,1012,1012,13,37
4,1066,1066,1066,-1,1.10,-1,86456,0,1.1,1066,1066,13,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,85414,85414,85414,-1,1,-1,88687,0,1.0,85414,85414,13,3163
292,85441,85441,85441,-1,2,-1,88688,0,2.0,85441,85441,13,3164
293,85846,85846,85846,-1,1,-1,88698,0,1.0,85846,85846,13,3179
294,85927,85927,85927,-1,1,-1,88704,0,1.0,85927,85927,13,3182
295,85954,85954,85954,-1,1,-1,88707,0,1.0,85954,85954,13,3183

In [139]:
cellv[cellv[0]==3624]

         0  1    2
3624  3624  6  134

In [140]:
test_cv = cv[cv[2]==0]
test_cv[test_cv[1]==3624]
test_cv[test_cv[0]==89348]
cv[cv[1]==3624]

           0     1  2           3      4
3624    3624  3624 -1    41.92748     -1
86509  86509  3624  0  E41.9A2748   3624
89464  89464  3624  4    41.92748  86509

In [141]:
cellv[cellv[1]==6].shape

(3201, 3)

In [142]:
pd.DataFrame(dcm1.column_position)
cellv[cellv[1]==6]

           0  1     2
6          6  6     0
33        33  6     1
60        60  6     2
87        87  6     3
114      114  6     4
...      ... ..   ...
86298  86298  6  3196
86325  86325  6  3197
86352  86352  6  3198
86379  86379  6  3199
86406  86406  6  3200

[3201 rows x 3 columns]

In [143]:
super_ori_pd

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag,room_type_flag
0,25879,2/1 One Block to Fullerton L Red Line Deck & ...,101521,Red,,Lincoln Park,41.92693,-87.65753,Entire home/apt,94,...,City registration pending,0,0,0,0,0,0,0,0,0
1,37738,Andersonville - Perfect location!,162364,Mat And Randy,,Uptown,41.9729,-87.66538,Private room,110,...,R20000059426,0,0,0,0,0,0,0,0,0
2,189821,"Best in Chicago, private, amazing garden space",899757,Meighan,,Logan Square,41.92918,-87.70219,Entire home/apt,236,...,R21000062936,0,0,0,0,0,0,0,0,0
3,207218,Historic Pullman Artist Flat - Artists & Explo...,1019125,Jb,,Pullman,41.6883,-87.60892,Entire home/apt,100,...,R21000073121,0,0,0,0,0,0,0,0,0
4,220333,Pullman School House Apartment - monthly rental,1019125,Jb,,Pullman,41.68815,-87.60918,Entire home/apt,100,...,,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,782628636832878491,"Steps to Shop, Eat, Train | Easy Access | Zencity",47172572,Zencity,,West Town,41.8955,-87.66124,Entire home/apt,50,...,R19000043484,0,0,0,0,0,0,0,0,0
3197,782643895516370805,Old Town Oasis,169297663,William,,Near North Side,41.90105,-87.63716,Entire home/apt,120,...,R22000093645,0,0,0,0,0,0,0,0,0
3198,784994899201350568,Lovely 1 bed Apt in River North,52827024,Yakir,,Near West Side,41.88822006416301,-87.64145321718578,Entire home/apt,84,...,,0,0,0,0,0,0,0,0,0
3199,785423932330914663,"River North 1br w/ gym, pool & roof, nr Riverwalk",107434423,Blueground,,Near North Side,41.890516,-87.635955,Entire home/apt,169,...,,0,0,0,0,0,0,0,0,0
3200,785426440046865418,"River North 1br w/ gym, lounge & roof nr River...",107434423,Blueground,,Near North Side,41.8945286,-87.63340520000003,Entire home/apt,115,...,,0,0,0,0,0,0,0,0,0

In [144]:
duplicated_index = list(super_ori_pd[super_ori_pd.duplicated(["id"])].index)

In [145]:
cv = pd.DataFrame(dcm1.cell_values)
test_cv = cv[cv[2]==4].merge(cv[cv[2]==-1],left_on=1,right_on=1)
test_cv[test_cv["3_x"].apply(lambda x:float(x))==test_cv["3_y"].apply(lambda x:float(x))]

      0_x      1  2_x        3_x    4_x    0_y  2_y                3_y  4_y
0   89464   3624    4   41.92748  86509   3624   -1           41.92748   -1
1   89465   5082    4   41.93203  86548   5082   -1           41.93203   -1
2   89466   5163    4   41.93123  86551   5163   -1           41.93123   -1
3   89467   6216    4   41.91334  86580   6216   -1           41.91334   -1
4   89468   6243    4   41.69097  86582   6243   -1           41.69097   -1
..    ...    ...  ...        ...    ...    ...  ...                ...  ...
79  89543  37428    4  41.955908  87410  37428   -1         41.9559085   -1
80  89544  37455    4   42.00246  87411  37455   -1           42.00246   -1
81  89545  37779    4  41.881121  87418  37779   -1         41.8811213   -1
82  89546  38049    4   41.84067  87430  38049   -1           41.84067   -1
83  89547  40101    4  41.921959  87483  40101   -1  41.92195931688447   -1

[83 rows x 9 columns]

In [146]:
test_cv[test_cv["3_x"].apply(lambda x:float(x))!=test_cv["3_y"].apply(lambda x:float(x))]

      0_x      1  2_x 3_x    4_x    0_y  2_y 3_y  4_y
32  89496  14493    4   2  14493  14493   -1   0   -1

In [147]:
check_pd

,1_xx,0_x,1_x,2_x,3_xx,4_xx,0_y,1_y,2_y,0_zz,1_z,2_zz,3_z,4_z,5,0_k,1,2_k,3,4
0,4699,86536,4699,0,,4699,4699,1,174,1,1,-1,name,0,-1,0,{'op': 'initial'},-1,-1,NaN
1,4699,86536,4699,0,,4699,4699,1,174,1,1,-1,name,0,-1,0,perturbed_dataset,0,-1,0.0
2,5563,86558,5563,0,,5563,5563,1,206,1,1,-1,name,0,-1,0,{'op': 'initial'},-1,-1,NaN
3,5563,86558,5563,0,,5563,5563,1,206,1,1,-1,name,0,-1,0,perturbed_dataset,0,-1,0.0
4,6913,86607,6913,0,,6913,6913,1,256,1,1,-1,name,0,-1,0,{'op': 'initial'},-1,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7781,85994,91397,85994,15,1,85994,85994,26,3184,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7782,86264,91398,86264,15,1,86264,86264,26,3194,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7783,86291,91399,86291,15,1,86291,86291,26,3195,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7784,86345,91400,86345,15,1,86345,86345,26,3197,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7785,86399,91401,86399,15,1,86399,86399,26,3199,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0

In [148]:
check_pd = check_pd[check_pd["2_y"].apply(lambda x:x not in duplicated_index)]
check_pd = check_pd[check_pd["3_xx"]!=""]
check_pd = check_pd[check_pd["3_xx"]!=""]

In [149]:
check_pd[check_pd[4].isin([0,1,2])].drop_duplicates().groupby([4,1,"3_z"]).count()[["1_xx"]] #.to_csv("test.csv")

                                                          1_xx
4   1                             3_z
0.0 perturbed_dataset             host_name                149
                                  last_review              126
                                  latitude                 161
                                  longitude                160
                                  minimum_nights            53
                                  neighbourhood            636
                                  number_of_reviews         84
                                  reviews_per_month        285
                                  room_type                370
1.0 clean_inconsistent_host_id_c1 host_id_flag             337
    clean_last_review_c1          last_review               60
                                  last_review_flag         332
    clean_latitude_c1             latitude                  73
                                  latitude_flag              1
    clean_longitude_c1            longitude                 74
                                  longitude_flag             6
    clean_minimum_nights_c1       minimum_nights            23
                                  minimum_nights_flag        3
    clean_neighbourhood_c1        neighbourhood            295
                                  neighbourhood_flag         3
    clean_number_of_reviews_c1    number_of_reviews         39
    clean_room_type_c1            room_type                178
                                  room_type_flag             3
2.0 clean_duplicate_id_c2         id_flag                    7
    clean_inconsistent_host_id_c2 host_id_flag             201
    clean_last_review_c2          last_review               66
                                  last_review_flag         349
    clean_latitude_c2             latitude_flag             89
    clean_longitude_c2            longitude_flag            86
    clean_minimum_nights_c2       minimum_nights            32
    clean_neighbourhood_c2        neighbourhood            341
                                  neighbourhood_flag         4
    clean_number_of_reviews_c2    number_of_reviews         43
                                  number_of_reviews_flag     2
    clean_room_type_c2            room_type_flag           196

In [230]:
per_test = check_pd[check_pd[4].isin([0,1,2])]
per_test[(per_test["3_z"]=="room_type")&(per_test[1]=="perturbed_dataset")&(per_test["2_y"]<1486)].shape

(178, 20)

In [231]:
per_test = check_pd[check_pd[4].isin([0,1,2])]
per_test[(per_test["3_z"]=="room_type")&(per_test[1]=="perturbed_dataset")&(per_test["2_y"]>=1486)].shape

(192, 20)

In [232]:
per_test[(per_test["3_z"]=="room_type")&(per_test[1]=="perturbed_dataset")].\
    merge(per_test[(per_test[1]=="clean_room_type_c1")],left_on="2_y",right_on="2_y").groupby("3_z_y").count()

,1_xx_x,0_x_x,1_x_x,2_x_x,3_xx_x,4_xx_x,0_y_x,1_y_x,2_y,0_zz_x,...,0_zz_y,1_z_y,2_zz_y,4_z_y,5_y,0_k_y,1_y,2_k_y,3_y,4_y
3_z_y,,,,,,,,,,,,,,,,,,,,,
room_type,178,178,178,178,178,178,178,178,178,178,...,178,178,178,178,178,178,178,178,178,178

In [233]:
per_test[(per_test["3_z"]=="room_type")&(per_test[1]=="perturbed_dataset")].\
    merge(per_test[(per_test[1]=="clean_room_type_c2")],left_on="2_y",right_on="2_y").groupby("3_z_y").count()

,1_xx_x,0_x_x,1_x_x,2_x_x,3_xx_x,4_xx_x,0_y_x,1_y_x,2_y,0_zz_x,...,0_zz_y,1_z_y,2_zz_y,4_z_y,5_y,0_k_y,1_y,2_k_y,3_y,4_y
3_z_y,,,,,,,,,,,,,,,,,,,,,
room_type_flag,192,192,192,192,192,192,192,192,192,192,...,192,192,192,192,192,192,192,192,192,192

In [215]:
tper = per_test[(per_test["3_z"]=="latitude")&(per_test["2_y"]>=1486)]
tper[~tper["2_y"].isin(per_test[per_test[1]=="clean_latitude_c2"]["2_y"].values)]

,1_xx,0_x,1_x,2_x,3_xx,4_xx,0_y,1_y,2_y,0_zz,1_z,2_zz,3_z,4_z,5,0_k,1,2_k,3,4
1947,45879,87634,45879,0,41.91298675537109,45879,45879,6,1699,6,6,-1,latitude,5,-1,0,perturbed_dataset,0,-1,0.0
2071,76335,88444,76335,0,41.71286010742188,76335,76335,6,2827,6,6,-1,latitude,5,-1,0,perturbed_dataset,0,-1,0.0
2111,85326,88684,85326,0,41.82881576674946,85326,85326,6,3160,6,6,-1,latitude,5,-1,0,perturbed_dataset,0,-1,0.0

In [201]:
per_test[(per_test["3_z"]=="latitude")&(per_test[1]=="perturbed_dataset")].\
    merge(per_test[(per_test[1]!="perturbed_dataset")],left_on="2_y",right_on="2_y").groupby(["3_z_y","1_y"]).count()

                                                      1_xx_x  0_x_x  1_x_x  \
3_z_y                  1_y
host_id_flag           clean_inconsistent_host_id_c1      22     22     22
                       clean_inconsistent_host_id_c2      13     13     13
id_flag                clean_duplicate_id_c2               1      1      1
last_review            clean_last_review_c1                4      4      4
                       clean_last_review_c2                4      4      4
last_review_flag       clean_last_review_c1               19     19     19
                       clean_last_review_c2               26     26     26
latitude               clean_latitude_c1                  73     73     73
latitude_flag          clean_latitude_c2                  85     85     85
longitude              clean_longitude_c1                  8      8      8
longitude_flag         clean_longitude_c1                  3      3      3
                       clean_longitude_c2                  3      3      3
minimum_nights         clean_minimum_nights_c1             1      1      1
                       clean_minimum_nights_c2             1      1      1
minimum_nights_flag    clean_minimum_nights_c1             1      1      1
neighbourhood          clean_neighbourhood_c1             15     15     15
                       clean_neighbourhood_c2             15     15     15
neighbourhood_flag     clean_neighbourhood_c1              1      1      1
number_of_reviews      clean_number_of_reviews_c2          2      2      2
number_of_reviews_flag clean_number_of_reviews_c2          1      1      1
room_type              clean_room_type_c1                  7      7      7
room_type_flag         clean_room_type_c2                 12     12     12

                                                      2_x_x  3_xx_x  4_xx_x  \
3_z_y                  1_y
host_id_flag           clean_inconsistent_host_id_c1     22      22      22
                       clean_inconsistent_host_id_c2     13      13      13
id_flag                clean_duplicate_id_c2              1       1       1
last_review            clean_last_review_c1               4       4       4
                       clean_last_review_c2               4       4       4
last_review_flag       clean_last_review_c1              19      19      19
                       clean_last_review_c2              26      26      26
latitude               clean_latitude_c1                 73      73      73
latitude_flag          clean_latitude_c2                 85      85      85
longitude              clean_longitude_c1                 8       8       8
longitude_flag         clean_longitude_c1                 3       3       3
                       clean_longitude_c2                 3       3       3
minimum_nights         clean_minimum_nights_c1            1       1       1
                       clean_minimum_nights_c2            1       1       1
minimum_nights_flag    clean_minimum_nights_c1            1       1       1
neighbourhood          clean_neighbourhood_c1            15      15      15
                       clean_neighbourhood_c2            15      15      15
neighbourhood_flag     clean_neighbourhood_c1             1       1       1
number_of_reviews      clean_number_of_reviews_c2         2       2       2
number_of_reviews_flag clean_number_of_reviews_c2         1       1       1
room_type              clean_room_type_c1                 7       7       7
room_type_flag         clean_room_type_c2                12      12      12

                                                      0_y_x  1_y_x  2_y  \
3_z_y                  1_y
host_id_flag           clean_inconsistent_host_id_c1     22     22   22
                       clean_inconsistent_host_id_c2     13     13   13
id_flag                clean_duplicate_id_c2              1      1    1
last_review            clean_last_review_c1               4      4    4
                       clean_last_review_c2               4      4    4
last_review_flag       clean_last_review_c1              19     19   19
                       clean_last_review_c2              26     26   26
latitude               clean_latitude_c1                 73     73   73
latitude_flag          clean_latitude_c2                 85     85   85
longitude              clean_longitude_c1                 8      8    8
longitude_flag         clean_longitude_c1                 3      3    3
                       clean_longitude_c2                 3      3    3
minimum_nights         clean_minimum_nights_c1            1      1    1
                       clean_minimum_nights_c2            1      1    1
minimum_nights_flag    clean_minimum_nights_c1            1      1    1
neighbourhood          clean_neighbourhood_c1            15     15   15
                       clean_neighbourhood_c2            15     15   15
neighbourhood_flag     clean_neighbourhood_c1             1      1    1
number_of_reviews      clean_number_of_reviews_c2         2      2    2
number_of_reviews_flag clean_number_of_reviews_c2         1      1    1
room_type              clean_room_type_c1                 7      7    7
room_type_flag         clean_room_type_c2                12     12   12

                                                      0_zz_x  ...  1_y_y  \
3_z_y                  1_y                                    ...
host_id_flag           clean_inconsistent_host_id_c1      22  ...     22
                       clean_inconsistent_host_id_c2      13  ...     13
id_flag                clean_duplicate_id_c2               1  ...      1
last_review            clean_last_review_c1                4  ...      4
                       clean_last_review_c2                4  ...      4
last_review_flag       clean_last_review_c1               19  ...     19
                       clean_last_review_c2               26  ...     26
latitude               clean_latitude_c1                  73  ...     73
latitude_flag          clean_latitude_c2                  85  ...     85
longitude              clean_longitude_c1                  8  ...      8
longitude_flag         clean_longitude_c1                  3  ...      3
                       clean_longitude_c2                  3  ...      3
minimum_nights         clean_minimum_nights_c1             1  ...      1
                       clean_minimum_nights_c2             1  ...      1
minimum_nights_flag    clean_minimum_nights_c1             1  ...      1
neighbourhood          clean_neighbourhood_c1             15  ...     15
                       clean_neighbourhood_c2             15  ...     15
neighbourhood_flag     clean_neighbourhood_c1              1  ...      1
number_of_reviews      clean_number_of_reviews_c2          2  ...      2
number_of_reviews_flag clean_number_of_reviews_c2          1  ...      1
room_type              clean_room_type_c1                  7  ...      7
room_type_flag         clean_room_type_c2                 12  ...     12

                                                      0_zz_y  1_z_y  2_zz_y  \
3_z_y                  1_y
host_id_flag           clean_inconsistent_host_id_c1      22     22      22
                       clean_inconsistent_host_id_c2      13     13      13
id_flag                clean_duplicate_id_c2               1      1       1
last_review            clean_last_review_c1                4      4       4
                       clean_last_review_c2                4      4       4
last_review_flag       clean_last_review_c1               19     19      19
                       clean_last_review_c2               26     26      26
latitude               clean_latitude_c1                  73     73      73
latitude_flag          clean_latitude_c2                  85     85      85
longitude              clean_longitude_c1                  8      8       8
longitude_flag         clean_longitude_c1                  3      3       3
                       clean_longitude_c2                  3      3       3
minimum_nights         clean_minimum_nights_c1             1      1       1
                       clean_minimum_nights_c2             1      1       1
minimum_nights_flag    clean_minimum_nights_c1             1      1       1
neighbourhood          clean_neighbourhood_c1             15     15      15
                       clean_neighbourhood_c2             15     15      15
neighbourhood_flag     clean_neighbourhood_c1              1      1       1
number_of_reviews      clean_number_of_reviews_c2          2      2       2
number_of_reviews_flag clean_number_of_reviews_c2          1      1       1
room_type              clean_room_type_c1                  7      7       7
room_type_flag         clean_room_type_c2                 12     12      12

                                                      4_z_y  5_y  0_k_y  \
3_z_y                  1_y
host_id_flag           clean_inconsistent_host_id_c1     22   22     22
                       clean_inconsistent_host_id_c2     13   13     13
id_flag                clean_duplicate_id_c2              1    1      1
last_review            clean_last_review_c1               4    4      4
                       clean_last_review_c2               4    4      4
last_review_flag       clean_last_review_c1              19   19     19
                       clean_last_review_c2              26   26     26
latitude               clean_latitude_c1                 73   73     73
latitude_flag          clean_latitude_c2                 85   85     85
longitude              clean_longitude_c1                 8    8      8
longitude_flag         clean_longitude_c1                 3    3      3
                       clean_longitude_c2                 3    3      3
minimum_nights         clean_minimum_nights_c1            1    1      1
                       clean_minimum_nights_c2            1    1      1
minimum_nights_flag    clean_minimum_nights_c1            1    1      1
neighbourhood          clean_neighbourhood_c1            15   15     15
                       clean_neighbourhood_c2            15   15     15
neighbourhood_flag     clean_neighbourhood_c1             1    1      1
number_of_reviews      clean_number_of_reviews_c2         2    2      2
number_of_reviews_flag clean_number_of_reviews_c2         1    1      1
room_type              clean_room_type_c1                 7    7      7
room_type_flag         clean_room_type_c2                12   12     12

                                                      2_k_y  3_y  4_y
3_z_y                  1_y
host_id_flag           clean_inconsistent_host_id_c1     22   22   22
                       clean_inconsistent_host_id_c2     13   13   13
id_flag                clean_duplicate_id_c2              1    1    1
last_review            clean_last_review_c1               4    4    4
                       clean_last_review_c2               4    4    4
last_review_flag       clean_last_review_c1              19   19   19
                       clean_last_review_c2              26   26   26
latitude               clean_latitude_c1                 73   73   73
latitude_flag          clean_latitude_c2                 85   85   85
longitude              clean_longitude_c1                 8    8    8
longitude_flag         clean_longitude_c1                 3    3    3
                       clean_longitude_c2                 3    3    3
minimum_nights         clean_minimum_nights_c1            1    1    1
                       clean_minimum_nights_c2            1    1    1
minimum_nights_flag    clean_minimum_nights_c1            1    1    1
neighbourhood          clean_neighbourhood_c1            15   15   15
                       clean_neighbourhood_c2            15   15   15
neighbourhood_flag     clean_neighbourhood_c1             1    1    1
number_of_reviews      clean_number_of_reviews_c2         2    2    2
number_of_reviews_flag clean_number_of_reviews_c2         1    1    1
room_type              clean_room_type_c1                 7    7    7
room_type_flag         clean_room_type_c2                12   12   12

[22 rows x 37 columns]

In [170]:
per_test = check_pd[check_pd[4].isin([0,1,2])]
per_test[(per_test["3_z"]=="neighbourhood_flag")&(per_test[1]=="clean_neighbourhood_c1")]

,1_xx,0_x,1_x,2_x,3_xx,4_xx,0_y,1_y,2_y,0_zz,1_z,2_zz,3_z,4_z,5,0_k,1,2_k,3,4
4900,11144,89233,11144,3,2,11144,11144,20,412,20,20,-1,neighbourhood_flag,19,-1,3,clean_neighbourhood_c1,3,2,1.0
4901,16112,89268,16112,3,2,16112,16112,20,596,20,20,-1,neighbourhood_flag,19,-1,3,clean_neighbourhood_c1,3,2,1.0
4902,17381,89279,17381,3,2,17381,17381,20,643,20,20,-1,neighbourhood_flag,19,-1,3,clean_neighbourhood_c1,3,2,1.0

In [192]:
per_test = check_pd[check_pd[4].isin([0,1,2])]
per_test[(per_test["3_z"]=="latitude_flag")&(per_test[1]=="clean_latitude_c2")]

,1_xx,0_x,1_x,2_x,3_xx,4_xx,0_y,1_y,2_y,0_zz,1_z,2_zz,3_z,4_z,5,0_k,1,2_k,3,4
7365,40170,90981,40170,13,1,40170,40170,21,1487,21,21,-1,latitude_flag,20,-1,13,clean_latitude_c2,13,12,2.0
7367,40440,90983,40440,13,1,40440,40440,21,1497,21,21,-1,latitude_flag,20,-1,13,clean_latitude_c2,13,12,2.0
7368,40845,90984,40845,13,1,40845,40845,21,1512,21,21,-1,latitude_flag,20,-1,13,clean_latitude_c2,13,12,2.0
7369,41655,90985,41655,13,1,41655,41655,21,1542,21,21,-1,latitude_flag,20,-1,13,clean_latitude_c2,13,12,2.0
7370,41871,90986,41871,13,1,41871,41871,21,1550,21,21,-1,latitude_flag,20,-1,13,clean_latitude_c2,13,12,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7466,85800,91082,85800,13,1,85800,85800,21,3177,21,21,-1,latitude_flag,20,-1,13,clean_latitude_c2,13,12,2.0
7467,85908,91083,85908,13,1,85908,85908,21,3181,21,21,-1,latitude_flag,20,-1,13,clean_latitude_c2,13,12,2.0
7468,85989,91084,85989,13,1,85989,85989,21,3184,21,21,-1,latitude_flag,20,-1,13,clean_latitude_c2,13,12,2.0
7469,86205,91085,86205,13,1,86205,86205,21,3192,21,21,-1,latitude_flag,20,-1,13,clean_latitude_c2,13,12,2.0
7470,86421,91086,86421,13,1,86421,86421,21,3200,21,21,-1,latitude_flag,20,-1,13,clean_latitude_c2,13,12,2.0

In [161]:
per_test[(per_test["3_z"]=="neighbourhood")&(per_test["1"]==1)]

Empty DataFrame
Columns: [1_xx, 0_x, 1_x, 2_x, 3_xx, 4_xx, 0_y, 1_y, 2_y, 0_zz, 1_z, 2_zz, 3_z, 4_z, 5, 0_k, 1, 2_k, 3, 4]
Index: []

In [150]:
check_pd

,1_xx,0_x,1_x,2_x,3_xx,4_xx,0_y,1_y,2_y,0_zz,1_z,2_zz,3_z,4_z,5,0_k,1,2_k,3,4
36,732,86446,732,0,WrYpigOley IHostel,732,732,3,27,3,3,-1,host_name,2,-1,0,{'op': 'initial'},-1,-1,NaN
37,732,86446,732,0,WrYpigOley IHostel,732,732,3,27,3,3,-1,host_name,2,-1,0,perturbed_dataset,0,-1,0.0
38,1407,86462,1407,0,DXevlia,1407,1407,3,52,3,3,-1,host_name,2,-1,0,{'op': 'initial'},-1,-1,NaN
39,1407,86462,1407,0,DXevlia,1407,1407,3,52,3,3,-1,host_name,2,-1,0,perturbed_dataset,0,-1,0.0
40,1434,86464,1434,0,Atw IHome Ijnn,1434,1434,3,53,3,3,-1,host_name,2,-1,0,{'op': 'initial'},-1,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7781,85994,91397,85994,15,1,85994,85994,26,3184,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7782,86264,91398,86264,15,1,86264,86264,26,3194,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7783,86291,91399,86291,15,1,86291,86291,26,3195,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7784,86345,91400,86345,15,1,86345,86345,26,3197,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0
7785,86399,91401,86399,15,1,86399,86399,26,3199,26,26,-1,room_type_flag,25,-1,15,clean_room_type_c2,15,14,2.0

In [151]:
dcm1.col_id

27

In [152]:
# write datalog facts
with open("dcm_2.pl","w") as file:
    for x in set(dcm1.column):
        file.write('column("{}").\n'.format('","'.join([str(y) for y in x])))
    for x in set(dcm1.row):
        file.write('row("{}").\n'.format('","'.join([str(y) for y in x])))   
    for x in dcm1.cell:
        file.write('cell("{}").\n'.format('","'.join([str(y) for y in x])))
    for x in dcm1.cell_values:
        file.write('cell_values("{}").\n'.format('","'.join([str(y) for y in x])))
    for x in dcm1.col_dependency:
        file.write('col_dependency("{}").\n'.format('","'.join([str(y) for y in x])))
    for x in dcm1.value_derived_from:
        file.write('value_derived_from("{}").\n'.format('","'.join([str(y) for y in x])))
    for x in dcm1.column_position:
        file.write('column_position("{}").\n'.format('","'.join([str(y) for y in x])))

In [153]:
#save dcmx in pickle
import pickle
with open("dcm_collab_c1_c2.pickle","wb") as file:
    pickle.dump(dcm1,file)