In [1]:
import pandas as pd
import numpy as np

In [2]:
airbnb_pd = pd.read_csv("airbnb_sample2_a.csv")

In [3]:
airbnb_pd.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,1.634000e+03,1.634000e+03,0.0,1634.000000,1634.000000,1634.000000,1634.000000,1634.000000,1289.000000,1634.000000,1634.000000,1634.000000
mean,2.285254e+17,1.579021e+08,NaN,41.889795,-87.663178,179.105875,16.083231,42.801102,1.841629,70.511016,220.847613,12.640759
std,3.208353e+17,1.462295e+08,NaN,0.053082,0.038946,292.635842,45.323419,76.070754,1.852694,186.566633,132.402500,18.129326
min,7.126000e+03,2.153000e+03,NaN,41.658030,-87.830400,15.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000
25%,3.077110e+07,3.541158e+07,NaN,41.872318,-87.686728,75.000000,2.000000,1.000000,0.530000,1.000000,89.000000,0.000000
50%,4.887275e+07,1.074344e+08,NaN,41.894977,-87.660098,125.000000,2.000000,12.000000,1.490000,4.000000,262.000000,4.000000
75%,6.172411e+17,2.487604e+08,NaN,41.908615,-87.632870,189.000000,32.000000,49.000000,2.780000,18.000000,350.000000,20.000000
max,7.854264e+17,4.909504e+08,NaN,42.018330,-87.534250,5562.000000,1125.000000,640.000000,34.040000,639.000000,365.000000,240.000000

# columns will be used for analysis:
id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,price

In [4]:
columns_used = ["id","name","host_id","host_name",
                         "neighbourhood","latitude","longitude",
                         "room_type","minimum_nights","number_of_reviews","last_review","price"]
#airbnb_pd = airbnb_pd[["id","name","host_id","host_name",
#                        "neighbourhood","latitude","longitude",
#                         "room_type","minimum_nights","number_of_reviews","last_review","price"]]

In [5]:
airbnb_pd

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.902890,-87.681820,Entire home/apt,85,2,475,2022-12-05,2.90,1,325,45,R21000075737
1,1185749,3 Bdrm Vintage Hideaway Little Italy/ UIC,1664593,Matt & Christy,NaN,Near West Side,41.870860,-87.683050,Entire home/apt,214,32,342,2022-10-11,2.94,1,0,20,R22000081568
2,1195259,Wicker Park - Garden At The Heart of It All,2899484,Jason,NaN,West Town,41.910950,-87.677830,Entire home/apt,120,6,205,2022-11-18,1.76,2,363,11,R19000037818
3,1304049,Private room near UIC Medical Dist.,7089017,Sharon,NaN,Near West Side,41.871900,-87.684860,Private room,103,1,118,2022-10-15,1.04,1,363,8,R17000015307
4,84042,The Explorer Room,334241,Michael And Veronica,NaN,West Town,41.896150,-87.679340,Private room,75,3,123,2022-10-24,0.87,2,83,29,R17000013986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629,769796183313187675,Renovated apt in River North,9387345,Mathew,NaN,Near North Side,41.891560,-87.635800,Entire home/apt,68,89,0,NaN,NaN,1,134,0,NaN
1630,771838717940576502,Contemporary Cragin 1BR Apartment,488113016,Alexis,NaN,Belmont Cragin,41.930808,-87.758663,Entire home/apt,46,1,0,NaN,NaN,8,71,0,R22000093816
1631,771860062577897747,Comfy & Artistic 2BR Home in Francisco Ave,488113016,Alexis,NaN,West Ridge,41.996700,-87.701700,Entire home/apt,72,1,0,NaN,NaN,8,63,0,R21000062411
1632,771880753874742770,Spacious 2BR Stylish Apartment in Francisco Ave,488113016,Alexis,NaN,West Ridge,41.995330,-87.701640,Entire home/apt,66,1,0,NaN,NaN,8,70,0,R18000023286
1633,779992322133479260,Apartment in Gold Coast,490950442,Oguzhan,NaN,Near North Side,41.904600,-87.631030,Entire home/apt,33,60,0,NaN,NaN,1,109,0,NaN

In [6]:
airbnb_ad = airbnb_pd.copy()

In [7]:
# 5% of duplicate and inconsistent IDS
import random
random.seed(77)

airbnb_id = airbnb_pd.id.values.tolist()
duplicate_id_prob = .05
duplicate_id = random.sample(airbnb_id,int(duplicate_id_prob*len(airbnb_id)))
print("sample duplicate id",len(duplicate_id))

# 30 % of duplicates have inconsistencies
inconsistent_id_prob = .3
inconsistent_id = random.sample(duplicate_id,int(inconsistent_id_prob*len(duplicate_id)))
print("sample inconsistent_id",len(inconsistent_id))

sample duplicate id 81
sample inconsistent_id 24

In [8]:
airbnb_id_group = airbnb_pd.groupby(["id"])
for d in duplicate_id:
    d_row = airbnb_id_group.get_group(d).copy()
    #print(d_row)
    if d in inconsistent_id:
        # randomize delete some columns to make the data inconsistent
        #column_set = set(d_row.columns) - {"id","host_id","host_name"}
        column_set = set(columns_used) - {"id","host_id","host_name"}
        column_r = random.sample(list(column_set),3)
        #print(column_r)
        for cr in column_r:
            d_row[cr] = ""
        #print(d_row)
        #break
    airbnb_ad = pd.concat([airbnb_ad,d_row])
    #break

In [9]:
airbnb_ad["id_flag"] = 0

In [10]:
len(duplicate_id)

81

In [11]:
airbnb_ad.shape

(1715, 19)

In [12]:
# add noise on text based on prob
def add_noise_text(text,prob=.3,replace=True,seed=None):
    len_text = len(text)
    if prob < 1:
        len_noise = round(prob*len_text)
    else:
        len_noise = prob
    chars = [chr(c) for c in range(ord('a'),ord('z'))]
    chars += [chr(c) for c in range(ord('A'),ord('Z'))]
    chars += [" "]
    list_text = list(text)
    for x in range(len_noise):
        pos = random.sample(range(len_text),1)[0]
        if replace:
            list_text[pos] = random.sample(chars,1)[0]
        else:
            list_text.insert(pos,random.sample(chars,1)[0])
    #print(list_text)
    return "".join(list_text)

#test_char = add_noise_text("hello world")

In [13]:
#"".join(list("hello world"))

In [14]:
# host_id has functional dependency with host name
# add 5% of inconsistent host_id and host_name

inconsistent_host_name_prob = .05

airbnb_group_host = airbnb_pd.groupby(["host_id","host_name"])
airbnb_host_count = airbnb_group_host.count()[["id"]].sort_values("id",ascending=False).reset_index()
airbnb_host_count[airbnb_host_count.id>1][["host_id","host_name"]]

inconsistent_host = random.sample(airbnb_host_count[airbnb_host_count.id>1][["host_id","host_name"]].values.tolist(),int(inconsistent_host_name_prob*len(airbnb_id)))

In [15]:
for ih in inconsistent_host:
    ghost = airbnb_group_host.get_group(tuple(ih))
    #print(ghost)
    # get one sample
    isample = random.sample(list(ghost.index),1)
    or_name = airbnb_ad.iloc[isample]["host_name"].values[0]
    #airbnb_ad.loc[isample,"host_name"] = or_name + or_name
    airbnb_ad.loc[isample,"host_name"] = add_noise_text(or_name)
    #print(or_name)
    #break

In [16]:
airbnb_ad["host_id_flag"] = 0

In [17]:
#airbnb_ad[airbnb_ad.host_id==33004]

In [18]:
# add noise on neighbourhood

In [19]:
# random sample neighbourhood
import numpy as np

neighbour_prob = .2
num_row = airbnb_ad.shape[0]
neighbour_noise = random.sample(list(airbnb_ad.index),round(neighbour_prob*num_row))

for ih in neighbour_noise:
    rep_val = airbnb_ad.loc[ih,["neighbourhood"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"neighbourhood"] = add_noise_text(rep_val,prob=3,replace=False)
    #print(or_name)
    #break

In [20]:
airbnb_ad["neighbourhood_flag"] = 0

In [21]:
# add noise on text based on prob
def add_noise_removed_period(text,replace=True,seed=None):
    return text.replace(".","")

#test_char = add_noise_text("hello world")

In [22]:
inconsistent_lat_prob = .05

num_row = airbnb_ad.shape[0]
lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_lat_prob*num_row))

"""
for ih in lat_noise:
    rep_val = airbnb_ad.loc[ih,["latitude"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"latitude"] = add_noise_text(str(rep_val),prob=3,replace=False)
"""

inconsistent_lat_prob = .05
lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_lat_prob*num_row))
for ih in lat_noise:
    rep_val = airbnb_ad.loc[ih,["latitude"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"latitude"] = add_noise_removed_period(str(rep_val),replace=False)

In [23]:
airbnb_ad["latitude_flag"] = 0

In [24]:
inconsistent_lat_prob = .05

num_row = airbnb_ad.shape[0]
lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_lat_prob*num_row))

"""
for ih in lat_noise:
    rep_val = airbnb_ad.loc[ih,["longitude"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"longitude"] = add_noise_text(str(rep_val),replace=False)
"""
    
inconsistent_lat_prob = .05
lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_lat_prob*num_row))
for ih in lat_noise:
    rep_val = airbnb_ad.loc[ih,["longitude"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"longitude"] = add_noise_removed_period(str(rep_val),replace=False)

In [25]:
airbnb_ad["longitude_flag"] = 0

In [26]:
airbnb_ad.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag
0,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,85,...,2.90,1,325,45,R21000075737,0,0,0,0,0
1,1185749,3 Bdrm Vintage Hideaway Little Italy/ UIC,1664593,Matt & Christy,NaN,Near West Side,41.87086,-87.68305,Entire home/apt,214,...,2.94,1,0,20,R22000081568,0,0,0,0,0
2,1195259,Wicker Park - Garden At The Heart of It All,2899484,Jason,NaN,Wbiest TEown,41.91095,-87.67783,Entire home/apt,120,...,1.76,2,363,11,R19000037818,0,0,0,0,0
3,1304049,Private room near UIC Medical Dist.,7089017,Sharon,NaN,Near West Side,41.8719,-87.68486,Private room,103,...,1.04,1,363,8,R17000015307,0,0,0,0,0
4,84042,The Explorer Room,334241,Michael And Veronica,NaN,West Town,4189615,-87.67934,Private room,75,...,0.87,2,83,29,R17000013986,0,0,0,0,0
5,145659,Trendy Roscoe Village 3BR/2BR walk to shops,683529,Joe,NaN,North Center,41.94342,-87.68121,Entire home/apt,205,...,0.65,22,357,13,2209272,0,0,0,0,0
6,3590692,"Modern, Super-CLEAN, Garden Level Bedroom 3",12955486,Luke & Ligia,NaN,Edgewater,41.99041,-87.66022,Private room,39,...,0.42,3,182,5,R18000034100,0,0,0,0,0
7,1461451,02b. Twin bed in Coed Space,2907254,Joe,NaN,West Ridge,42.01653,-87.68788,Shared room,19,...,1.56,17,164,12,R21000075752,0,0,0,0,0
8,3666681,NEW ULTRA LUXURY CONDO RIVER-NORTH Roof-Top Pool,3965428,Rob,NaN,Near North Side,41.88975,-87.63425,Entire home/apt,170,...,0.14,71,365,0,City registration pending,0,0,0,0,0
9,264547,Steps From the Best Chicago Offers,1387948,Dominic,NaN,Near West Side,41.88467,-87.64487,Entire home/apt,204,...,0.52,1,362,0,City registration pending,0,0,0,0,0

In [27]:
#airbnb_ad.iloc[10945,"latitude"]

#airbnb_ad.loc[5,["longitude"]].values[0][0]

In [28]:
inconsistent_nights_prob = .05

num_row = airbnb_ad.shape[0]
lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_nights_prob*num_row))

for ih in lat_noise:
    rep_val = airbnb_ad.loc[ih,["minimum_nights"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"minimum_nights"] = add_noise_text(str(rep_val),replace=False)

In [29]:
airbnb_ad["minimum_nights_flag"] = 0

In [30]:
inconsistent_reviews_prob = .05

num_row = airbnb_ad.shape[0]
lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_reviews_prob*num_row))

for ih in lat_noise:
    rep_val = airbnb_ad.loc[ih,["number_of_reviews"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"number_of_reviews"] = add_noise_text(str(rep_val),replace=False)

In [31]:
airbnb_ad["number_of_reviews_flag"] = 0

In [32]:
airbnb_ad

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,availability_365,number_of_reviews_ltm,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag
0,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,85,...,325,45,R21000075737,0,0,0,0,0,0,0
1,1185749,3 Bdrm Vintage Hideaway Little Italy/ UIC,1664593,Matt & Christy,NaN,Near West Side,41.87086,-87.68305,Entire home/apt,214,...,0,20,R22000081568,0,0,0,0,0,0,0
2,1195259,Wicker Park - Garden At The Heart of It All,2899484,Jason,NaN,Wbiest TEown,41.91095,-87.67783,Entire home/apt,120,...,363,11,R19000037818,0,0,0,0,0,0,0
3,1304049,Private room near UIC Medical Dist.,7089017,Sharon,NaN,Near West Side,41.8719,-87.68486,Private room,103,...,363,8,R17000015307,0,0,0,0,0,0,0
4,84042,The Explorer Room,334241,Michael And Veronica,NaN,West Town,4189615,-87.67934,Private room,75,...,83,29,R17000013986,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240,619441009319934273,,137310905,Fabio,NaN,Austin,41.91429,-87.79149,Entire home/apt,105,...,247,25,R22000081792,0,0,0,0,0,0,0
1087,554151972559945666,W. Loop 2BR w/ Gym & Pool in heart of Greektown,107434423,Blueground,NaN,Near West Side,41.876791,-87.64762,Entire home/apt,117,...,365,0,NaN,0,0,0,0,0,0,0
507,35931987,River N. 1BR w/ Gym & W/D nr Mag Mile,107434423,Blueground,NaN,Near North Side,41.896218,-87625711,Entire home/apt,162,...,289,0,32+ Days Listing,0,0,0,0,0,0,0
448,33169538,芝加哥，Chicago Chinatown UIC McCormik,249026086,Yong,NaN,Mckinley Park,41.83122,-87.66948,Entire home/apt,85,...,0,11,R19000039943,0,0,0,0,0,0,0
1172,604136671933317555,,47172572,Zencity,NaN,,41.90278,-87.69213,Entire home/apt,,...,357,9,R18000031772,0,0,0,0,0,0,0

In [33]:
airbnb_ad.minimum_nights.unique()

array([2, 32, 6, 1, 3, 20, '1', 90, 7, 30, 60, 120, 5, '3M2', '6F0',
       '3E2', 31, '4', 160, '2', 29, 'e32', 14, 28, 365, 4, 180, '3S2',
       '3J2', 'C32', '3', '3s2', 150, 'j32', 40, 179, 21, '20p0', 10,
       '3e2', '3a2', '11 25', '3G2', 1125, 'o32', 25, 'w32', 9, '3g2',
       '3v2', 'k32', '3U2', 8, 33, 'h32', '3K2', 'n32', 'T32', '3q2',
       'Q32', 35, 240, 'M32', 'Y32', 26, 89, ''], dtype=object)

In [34]:
airbnb_ad.latitude.unique()

array([41.90289, 41.87086, 41.91095, ..., 41.99533, 41.9046, ''],
      dtype=object)

# augmenting last_review

In [35]:
from datetime import datetime

# add noise on text based on prob
def add_noise_change_date(text,target_date,source_date="%Y-%m-%d",replace=True,seed=None):
    try:
        temp_date = datetime.strptime(str(text),source_date)
        return datetime.strftime(temp_date,target_date)
    except BaseException as ex:
        #print(ex)
        return text

#test_char = add_noise_text("hello world")
#airbnb_ad.last_review.apply(lambda x: datetime.strptime(x,"%m/%d/%y") if (type(x)==str)&(len(str(x))>0) else x)

In [36]:
inconsistent_date_prob = .05

num_row = airbnb_ad.shape[0]
review_noise = random.sample(list(airbnb_ad.index),round(inconsistent_date_prob*num_row))

"""
for ih in review_noise:
    rep_val = airbnb_ad.loc[ih,["last_review"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"last_review"] = add_noise_change_date(rep_val,target_date="%B %d, %Y")
"""

inconsistent_date_prob = .05
review_noise = random.sample(list(airbnb_ad.index),round(inconsistent_date_prob*num_row))

for ih in review_noise:
    rep_val = airbnb_ad.loc[ih,["last_review"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"last_review"] = add_noise_change_date(rep_val,target_date="%m/%d/%y")

In [37]:
airbnb_ad["last_review_flag"] = 0

In [38]:
airbnb_ad.loc[ih,"last_review"]

nan

In [39]:
airbnb_ad.last_review.unique()

array(['2022-12-05', '2022-10-11', '2022-11-18', '2022-10-15',
       '2022-10-24', '2022-11-28', '2022-10-01', '2022-11-16',
       '2019-09-11', '2021-10-17', '2022-11-21', '2020-03-17',
       '2022-12-11', '2022-11-27', '2022-10-29', '2022-11-29',
       '2022-09-11', '2022-12-17', '2022-11-26', '2022-11-22',
       '2022-07-25', '2022-12-01', '2022-08-20', '08/08/22', '2021-12-05',
       '2018-06-02', '2021-09-05', '11/02/22', '2015-06-24', '2022-07-31',
       '2022-11-30', '2022-10-06', '2016-12-02', '2022-07-11',
       '2022-09-03', '2018-07-07', '2022-10-23', '2022-11-10', nan,
       '2021-03-10', '2022-09-01', '2019-10-21', '2019-10-14',
       '2022-12-18', '12/04/22', '2019-05-05', '2019-10-22', '2019-12-16',
       '2020-03-16', '2016-08-01', '2022-11-06', '2017-10-14',
       '2022-11-19', '06/15/22', '2018-10-29', '2022-11-24', '2022-10-31',
       '2022-12-03', '2022-12-12', '2022-10-28', '2022-08-13',
       '2022-08-09', '2022-12-07', '2016-11-02', '2022-11-13',
       '2016-02-23', '2022-08-28', '2022-09-18', '2019-03-31',
       '2022-11-14', '2022-06-20', '2021-12-24', '2019-10-31',
       '2022-09-02', '2021-11-14', '2022-06-30', '2022-10-16',
       '2022-12-04', '2022-07-01', '2022-12-13', '2022-11-05',
       '2018-08-20', '2022-11-23', '2020-08-15', '2019-07-28',
       '2022-10-12', '2021-08-10', '2020-11-03', '2022-09-30',
       '2019-11-24', '2022-03-23', '2017-05-23', '2022-11-04',
       '2022-12-02', '2019-10-17', '2020-02-23', '2017-07-07',
       '2021-09-25', '11/12/22', '2016-06-02', '2016-11-18', '2022-11-20',
       '2022-12-16', '2022-11-07', '2022-10-25', '2020-03-15',
       '2019-08-04', '2022-05-07', '2017-09-24', '2022-10-10',
       '2017-05-27', '2016-10-24', '2022-07-13', '2017-03-19',
       '2022-09-23', '2022-11-25', '2022-08-31', '2021-06-13',
       '2022-12-09', '2022-10-26', '2022-10-17', '2019-10-24', '10/24/22',
       '2017-04-04', '2017-10-11', '2019-09-15', '2022-11-12',
       '2022-09-19', '2019-03-04', '12/01/22', '2020-02-16', '2018-09-22',
       '2022-04-21', '2022-11-15', '2021-01-10', '2017-10-09',
       '2021-10-22', '2022-08-07', '2022-01-13', '2019-12-19',
       '2022-10-09', '2022-12-10', '07/06/21', '2018-08-23', '2022-04-24',
       '2019-10-20', '2019-05-28', '2018-02-15', '2022-09-13',
       '2022-11-02', '2022-09-29', '2018-09-26', '2021-10-31',
       '2018-03-11', '2022-06-11', '2021-10-15', '2022-09-26',
       '2018-11-25', '2019-10-09', '2022-10-13', '11/27/22', '2019-11-04',
       '2022-10-18', '2019-08-24', '2022-11-08', '2022-07-05',
       '2018-04-08', '2022-03-28', '2022-07-22', '11/26/22', '2021-11-21',
       '2019-07-21', '2021-07-26', '2022-06-21', '12/12/22', '12/14/22',
       '2020-11-01', '2018-12-25', '2018-11-03', '2022-07-24',
       '2022-10-04', '2022-10-20', '2022-07-04', '10/20/19', '2021-04-04',
       '2019-10-23', '2019-09-30', '2018-11-16', '2022-12-15',
       '2022-07-17', '2019-12-21', '2022-09-27', '2021-04-01',
       '2020-02-15', '2018-11-21', '2022-03-22', '2020-09-27',
       '2021-08-01', '2022-11-17', '2018-10-12', '2019-10-15',
       '2019-04-10', '2019-04-05', '2021-01-31', '2019-06-20',
       '2022-10-02', '2022-12-14', '2022-09-05', '10/16/22', '2022-10-14',
       '2020-11-25', '2020-01-22', '2019-06-30', '2019-03-10',
       '2021-05-12', '2022-07-28', '2021-07-31', '2022-11-09',
       '2021-07-19', '2022-03-14', '2022-07-10', '2022-12-08',
       '2019-10-04', '2022-08-18', '2022-08-05', '2021-10-10',
       '2019-08-25', '2022-12-19', '2022-07-19', '07/03/19', '12/03/22',
       '2022-10-22', '2022-08-12', '2022-10-21', '2022-09-14',
       '2022-10-27', '2022-08-23', '2020-03-18', '2021-04-23',
       '2020-07-12', '2022-05-23', '2022-08-21', '2019-11-14',
       '2021-07-08', '2022-01-02', '2020-10-06', '2021-08-02', '03/23/22',
       '2020-03-13', '01/06/20', '2022-08-27', '11/13/22', '09/26/21',
       '2020-10-27', '10/12/21', '2022-10-07', '2022-04-11', '2022-03-05',
       '2022-06-25', '2022-04-10', '2020-04-30', '2022-09-16', '06/28/22',
       '2022-03-03', '03/18/22', '2020-01-06', '2019-12-30', '2022-04-25',
       '2022-02-06', '2021-01-17', '2022-07-29', '2021-06-15', '12/05/22',
       '2022-07-26', '2020-07-05', '2021-01-25', '2020-06-01',
       '2022-09-24', '2022-09-04', '2021-12-17', '01/02/22', '2022-05-21',
       '2021-03-12', '2022-01-01', '2021-04-17', '2021-05-07',
       '2021-02-14', '2021-09-10', '2021-10-18', '2021-08-27',
       '2021-09-13', '2021-09-27', '2021-04-03', '2021-08-14',
       '2021-09-12', '2021-06-05', '2021-07-17', '08/12/21', '2022-11-11',
       '2022-07-15', '2021-10-23', '2021-11-07', '2020-11-17',
       '2022-03-31', '02/10/22', '2022-07-09', '10/10/22', '2021-09-16',
       '2022-06-13', '2022-05-06', '2021-03-14', '2021-08-16',
       '2021-04-18', '10/15/22', '2021-05-16', '2022-02-10', '2022-01-31',
       '2022-05-30', '2022-08-11', '11/20/22', '2022-06-05', '2022-06-12',
       '2021-04-25', '2022-01-20', '2022-12-06', '2022-04-22',
       '2021-10-14', '2022-03-30', '2022-10-30', '2021-12-29',
       '2022-08-15', '2022-04-02', '2021-08-07', '2022-06-27',
       '2022-08-24', '2021-11-28', '2022-02-28', '2022-03-01',
       '2021-12-01', '2022-09-25', '2021-11-20', '10/08/22', '2021-12-22',
       '2021-09-30', '2022-09-15', '2022-07-18', '2022-08-26',
       '2022-04-16', '2022-11-03', '11/25/22', '2021-11-15', '08/23/22',
       '2022-03-15', '09/05/22', '2022-01-30', '08/01/22', '2022-07-30',
       '2022-10-03', '11/19/22', '2022-08-30', '2022-03-16', '11/28/22',
       '2022-08-03', '2022-11-01', '10/31/22', '2022-09-28', '2022-09-22',
       '2022-06-02', '2022-05-29', '2022-10-19', '2022-04-27', '11/23/22',
       '2022-05-14', '12/13/22', '2022-08-01', '2022-08-14', '12/11/22',
       '2022-07-02', '11/16/22', '2022-08-10', '10/27/22', '11/17/22',
       '10/14/22', ''], dtype=object)

In [40]:
airbnb_ad

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,number_of_reviews_ltm,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag
0,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,85,...,45,R21000075737,0,0,0,0,0,0,0,0
1,1185749,3 Bdrm Vintage Hideaway Little Italy/ UIC,1664593,Matt & Christy,NaN,Near West Side,41.87086,-87.68305,Entire home/apt,214,...,20,R22000081568,0,0,0,0,0,0,0,0
2,1195259,Wicker Park - Garden At The Heart of It All,2899484,Jason,NaN,Wbiest TEown,41.91095,-87.67783,Entire home/apt,120,...,11,R19000037818,0,0,0,0,0,0,0,0
3,1304049,Private room near UIC Medical Dist.,7089017,Sharon,NaN,Near West Side,41.8719,-87.68486,Private room,103,...,8,R17000015307,0,0,0,0,0,0,0,0
4,84042,The Explorer Room,334241,Michael And Veronica,NaN,West Town,4189615,-87.67934,Private room,75,...,29,R17000013986,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240,619441009319934273,,137310905,Fabio,NaN,Austin,41.91429,-87.79149,Entire home/apt,105,...,25,R22000081792,0,0,0,0,0,0,0,0
1087,554151972559945666,W. Loop 2BR w/ Gym & Pool in heart of Greektown,107434423,Blueground,NaN,Near West Side,41.876791,-87.64762,Entire home/apt,117,...,0,NaN,0,0,0,0,0,0,0,0
507,35931987,River N. 1BR w/ Gym & W/D nr Mag Mile,107434423,Blueground,NaN,Near North Side,41.896218,-87625711,Entire home/apt,162,...,0,32+ Days Listing,0,0,0,0,0,0,0,0
448,33169538,芝加哥，Chicago Chinatown UIC McCormik,249026086,Yong,NaN,Mckinley Park,41.83122,-87.66948,Entire home/apt,85,...,11,R19000039943,0,0,0,0,0,0,0,0
1172,604136671933317555,,47172572,Zencity,NaN,,41.90278,-87.69213,Entire home/apt,,...,9,R18000031772,0,0,0,0,0,0,0,0

In [41]:
airbnb_ad.room_type.unique()

array(['Entire home/apt', 'Private room', 'Shared room', 'Hotel room', ''],
      dtype=object)

In [42]:
room_type_noise = .15

#noise_room_type = ["Entire home","Apartment"]
noise_room_type = ["Apartment"]

home_pd = airbnb_ad[airbnb_ad.room_type=="Entire home/apt"]

num_row = home_pd.shape[0]
room_type_noise = random.sample(list(home_pd.index),round(room_type_noise*num_row))

for ih in room_type_noise:
    rep_val = airbnb_ad.loc[ih,["room_type"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"room_type"] = random.sample(noise_room_type,1)[0]

In [43]:
airbnb_ad["room_type_flag"] = 0

In [44]:
airbnb_ad.loc[ih,"room_type"]

'Apartment'

In [45]:
airbnb_ad.room_type

0       Entire home/apt
1       Entire home/apt
2       Entire home/apt
3          Private room
4          Private room
             ...
1240    Entire home/apt
1087          Apartment
507           Apartment
448           Apartment
1172    Entire home/apt
Name: room_type, Length: 1715, dtype: object

In [46]:
airbnb_ad.groupby("room_type").count()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,...,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag,room_type_flag
room_type,,,,,,,,,,,,,,,,,,,,,
,7,7,7,7,0,7,7,7,7,7,...,6,7,7,7,7,7,7,7,7,7
Apartment,213,213,213,213,0,213,213,213,213,213,...,175,213,213,213,213,213,213,213,213,213
Entire home/apt,1067,1067,1067,1067,0,1067,1067,1067,1067,1067,...,871,1067,1067,1067,1067,1067,1067,1067,1067,1067
Hotel room,19,19,19,19,0,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
Private room,391,391,391,391,0,391,391,391,391,391,...,370,391,391,391,391,391,391,391,391,391
Shared room,18,18,18,18,0,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18

In [47]:
airbnb_ad.sort_values(["id"]).to_csv("chicago_vert_2_a.csv",index=False)

In [48]:
airbnb_ad.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license', 'id_flag',
       'host_id_flag', 'neighbourhood_flag', 'latitude_flag', 'longitude_flag',
       'minimum_nights_flag', 'number_of_reviews_flag', 'last_review_flag',
       'room_type_flag'],
      dtype='object')