In [1]:
import pandas as pd
import numpy as np

In [2]:
airbnb_pd = pd.read_csv("airbnb_sample1_a.csv")

In [3]:
airbnb_pd

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,3434136,Beautiful West Lakeview location,17217012,Janet,NaN,Lake View,41.94020,-87.65133,Private room,75,2,171,2022-10-02,1.67,1,319,17,R17000013279
1,25879,2/1 One Block to Fullerton L Red Line Deck & ...,101521,Red,NaN,Lincoln Park,41.92693,-87.65753,Entire home/apt,94,32,50,2022-11-13,0.33,3,289,2,City registration pending
2,1321332,Lincoln Park Single Family Home,946954,Jeff,NaN,Lincoln Park,41.92913,-87.66921,Entire home/apt,570,2,107,2022-10-16,0.96,1,332,13,2262746
3,37738,Andersonville - Perfect location!,162364,Mat And Randy,NaN,Uptown,41.97290,-87.66538,Private room,110,3,250,2020-03-15,1.65,2,0,0,R20000059426
4,1356190,Logan Square Vintage Deluxe Private Suite & Bath,3069675,Gabrielle,NaN,Logan Square,41.92083,-87.68896,Private room,93,3,384,2022-11-20,3.41,1,310,49,R17000015398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,767436110216472981,Beautiful studio apartment,104849970,Sean,NaN,Lincoln Park,41.92725,-87.64614,Entire home/apt,72,1,0,NaN,NaN,1,365,0,R22000093846
1412,768181481417991009,"Comfortable 2-Bedroom, 1-Bathroom Rogers Park Apt",480338513,Lane,NaN,Rogers Park,42.01449,-87.66483,Entire home/apt,52,1,1,2022-12-04,1.00,11,81,1,R22000094683
1413,768679457151700568,Logan Square Glass House,2918510,Monica,NaN,Logan Square,41.92223,-87.71622,Entire home/apt,230,2,0,NaN,NaN,2,171,0,R17000015078
1414,770973493232809347,Cityscape Condo w/ Bowling Alley,485494558,Ayo,NaN,Loop,41.87293,-87.63391,Entire home/apt,269,2,1,2022-12-12,1.00,1,175,1,R22000091517
1415,771066706846175423,Rustic 2BR Apartment in Lakeview,488113016,Alexis,NaN,Lake View,41.93799,-87.65091,Entire home/apt,87,1,0,NaN,NaN,8,84,0,R21000062397

In [4]:
#!wc -l *airbnb_sample*.csv

In [5]:
#test_data = pd.read_csv("../../collab-use-case/integration/test_remove_all_noise.csv")
#test_data = test_data.append(pd.read_csv("../../collab-use-case/integration/val_remove_all_noise.csv"))

In [6]:
#train_all = pd.read_csv("../../collab-use-case/integration/train_all.csv")

In [7]:
#airbnb_pd[airbnb_pd.id.apply(lambda x: x  in train_all.id.values)].to_csv("train_airbnb_sample2.csv",index=False)

In [8]:
#test_data

In [9]:
#airbnb_pd[airbnb_pd.id==38131350]

In [10]:
#airbnb_pd[airbnb_pd["id"].apply(lambda x: x in train_all.id.values)]

In [11]:
#airbnb_pd.shape

# columns will be used for analysis:
id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,price

In [12]:
columns_used = ["id","name","host_id","host_name",
                         "neighbourhood","latitude","longitude",
                         "room_type","minimum_nights","number_of_reviews","last_review","price"]
#airbnb_pd = airbnb_pd[["id","name","host_id","host_name",
#                        "neighbourhood","latitude","longitude",
#                         "room_type","minimum_nights","number_of_reviews","last_review","price"]]

In [13]:
airbnb_pd

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,3434136,Beautiful West Lakeview location,17217012,Janet,NaN,Lake View,41.94020,-87.65133,Private room,75,2,171,2022-10-02,1.67,1,319,17,R17000013279
1,25879,2/1 One Block to Fullerton L Red Line Deck & ...,101521,Red,NaN,Lincoln Park,41.92693,-87.65753,Entire home/apt,94,32,50,2022-11-13,0.33,3,289,2,City registration pending
2,1321332,Lincoln Park Single Family Home,946954,Jeff,NaN,Lincoln Park,41.92913,-87.66921,Entire home/apt,570,2,107,2022-10-16,0.96,1,332,13,2262746
3,37738,Andersonville - Perfect location!,162364,Mat And Randy,NaN,Uptown,41.97290,-87.66538,Private room,110,3,250,2020-03-15,1.65,2,0,0,R20000059426
4,1356190,Logan Square Vintage Deluxe Private Suite & Bath,3069675,Gabrielle,NaN,Logan Square,41.92083,-87.68896,Private room,93,3,384,2022-11-20,3.41,1,310,49,R17000015398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,767436110216472981,Beautiful studio apartment,104849970,Sean,NaN,Lincoln Park,41.92725,-87.64614,Entire home/apt,72,1,0,NaN,NaN,1,365,0,R22000093846
1412,768181481417991009,"Comfortable 2-Bedroom, 1-Bathroom Rogers Park Apt",480338513,Lane,NaN,Rogers Park,42.01449,-87.66483,Entire home/apt,52,1,1,2022-12-04,1.00,11,81,1,R22000094683
1413,768679457151700568,Logan Square Glass House,2918510,Monica,NaN,Logan Square,41.92223,-87.71622,Entire home/apt,230,2,0,NaN,NaN,2,171,0,R17000015078
1414,770973493232809347,Cityscape Condo w/ Bowling Alley,485494558,Ayo,NaN,Loop,41.87293,-87.63391,Entire home/apt,269,2,1,2022-12-12,1.00,1,175,1,R22000091517
1415,771066706846175423,Rustic 2BR Apartment in Lakeview,488113016,Alexis,NaN,Lake View,41.93799,-87.65091,Entire home/apt,87,1,0,NaN,NaN,8,84,0,R21000062397

In [14]:
airbnb_ad = airbnb_pd.copy()

In [15]:
# 5% of duplicate and inconsistent IDS
import random
random.seed(77)

airbnb_id = airbnb_pd.id.values.tolist()
duplicate_id_prob = .05
duplicate_id = random.sample(airbnb_id,int(duplicate_id_prob*len(airbnb_id)))
print("sample duplicate id",len(duplicate_id))

# 30 % of duplicates have inconsistencies
inconsistent_id_prob = .3
inconsistent_id = random.sample(duplicate_id,int(inconsistent_id_prob*len(duplicate_id)))
print("sample inconsistent_id",len(inconsistent_id))

sample duplicate id 70
sample inconsistent_id 21

In [16]:
airbnb_id_group = airbnb_pd.groupby(["id"])
for d in duplicate_id:
    d_row = airbnb_id_group.get_group(d).copy()
    #print(d_row)
    if d in inconsistent_id:
        # randomize delete some columns to make the data inconsistent
        #column_set = set(d_row.columns) - {"id","host_id","host_name"}
        column_set = set(columns_used) - {"id","host_id","host_name"}
        column_r = random.sample(list(column_set),3)
        #print(column_r)
        for cr in column_r:
            d_row[cr] = ""
        #print(d_row)
        #break
    airbnb_ad = pd.concat([airbnb_ad,d_row])
    #break

In [17]:
airbnb_ad["id_flag"] = 0

In [18]:
len(duplicate_id)

70

In [19]:
airbnb_ad.shape

(1486, 19)

In [20]:
# add noise on text based on prob
def add_noise_text(text,prob=.3,replace=True,seed=None):
    len_text = len(text)
    if prob < 1:
        len_noise = round(prob*len_text)
    else:
        len_noise = prob
    chars = [chr(c) for c in range(ord('a'),ord('z'))]
    chars += [chr(c) for c in range(ord('A'),ord('Z'))]
    chars += [" "]
    list_text = list(text)
    for x in range(len_noise):
        pos = random.sample(range(len_text),1)[0]
        if replace:
            list_text[pos] = random.sample(chars,1)[0]
        else:
            list_text.insert(pos,random.sample(chars,1)[0])
    #print(list_text)
    return "".join(list_text)

#test_char = add_noise_text("hello world")

In [21]:
#"".join(list("hello world"))

In [22]:
# host_id has functional dependency with host name
# add 5% of inconsistent host_id and host_name

inconsistent_host_name_prob = .05

airbnb_group_host = airbnb_pd.groupby(["host_id","host_name"])
airbnb_host_count = airbnb_group_host.count()[["id"]].sort_values("id",ascending=False).reset_index()
airbnb_host_count[airbnb_host_count.id>1][["host_id","host_name"]]

inconsistent_host = random.sample(airbnb_host_count[airbnb_host_count.id>1][["host_id","host_name"]].values.tolist(),int(inconsistent_host_name_prob*len(airbnb_id)))

In [23]:
for ih in inconsistent_host:
    ghost = airbnb_group_host.get_group(tuple(ih))
    #print(ghost)
    # get one sample
    isample = random.sample(list(ghost.index),1)
    or_name = airbnb_ad.iloc[isample]["host_name"].values[0]
    #airbnb_ad.loc[isample,"host_name"] = or_name + or_name
    airbnb_ad.loc[isample,"host_name"] = add_noise_text(or_name,prob=.3,replace=False)
    #print(or_name)
    #break

In [24]:
airbnb_ad["host_id_flag"] = 0

In [25]:
#airbnb_ad[airbnb_ad.host_id==33004]

In [26]:
# add noise on neighbourhood

In [27]:
# random sample neighbourhood
import numpy as np

neighbour_prob = .2
num_row = airbnb_ad.shape[0]
neighbour_noise = random.sample(list(airbnb_ad.index),round(neighbour_prob*num_row))

for ih in neighbour_noise:
    rep_val = airbnb_ad.loc[ih,["neighbourhood"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"neighbourhood"] = add_noise_text(rep_val,prob=.3,replace=True)
    #print(or_name)
    #break

In [28]:
airbnb_ad["neighbourhood_flag"] = 0

In [29]:
# add noise on text based on prob
def add_noise_removed_period(text,replace=True,seed=None):
    return text.replace(".","")

#test_char = add_noise_text("hello world")

In [30]:
inconsistent_lat_prob = .05

num_row = airbnb_ad.shape[0]
lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_lat_prob*num_row))

for ih in lat_noise:
    rep_val = airbnb_ad.loc[ih,["latitude"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"latitude"] = add_noise_text(str(rep_val),replace=False)

#inconsistent_lat_prob = .05
#lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_lat_prob*num_row))
#for ih in lat_noise:
#    rep_val = airbnb_ad.loc[ih,["latitude"]].values[0]
#    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
#    airbnb_ad.loc[ih,"latitude"] = add_noise_removed_period(str(rep_val),replace=False)

In [31]:
airbnb_ad["latitude_flag"] = 0

In [32]:
inconsistent_lat_prob = .05

num_row = airbnb_ad.shape[0]
lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_lat_prob*num_row))

for ih in lat_noise:
    rep_val = airbnb_ad.loc[ih,["longitude"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"longitude"] = add_noise_text(str(rep_val),replace=False)

    
#inconsistent_lat_prob = .05
#lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_lat_prob*num_row))
#for ih in lat_noise:
#    rep_val = airbnb_ad.loc[ih,["longitude"]].values[0]
#    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
#    airbnb_ad.loc[ih,"longitude"] = add_noise_removed_period(str(rep_val),replace=False)

In [33]:
airbnb_ad["longitude_flag"] = 0

In [34]:
airbnb_ad.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag
0,3434136,Beautiful West Lakeview location,17217012,Janet,NaN,Lake View,41.9402,-87.65133,Private room,75,...,1.67,1,319,17,R17000013279,0,0,0,0,0
1,25879,2/1 One Block to Fullerton L Red Line Deck & ...,101521,Red,NaN,Lincoln Park,41.92693,-87.65753,Entire home/apt,94,...,0.33,3,289,2,City registration pending,0,0,0,0,0
2,1321332,Lincoln Park Single Family Home,946954,Jeff,NaN,Linikln dlrk,41.92913,-87.66921,Entire home/apt,570,...,0.96,1,332,13,2262746,0,0,0,0,0
3,37738,Andersonville - Perfect location!,162364,Mat And Randy,NaN,Uptown,41.9729,-87.66538,Private room,110,...,1.65,2,0,0,R20000059426,0,0,0,0,0
4,1356190,Logan Square Vintage Deluxe Private Suite & Bath,3069675,Gabrielle,NaN,poban Sfuaro,41.92083,-87.68896,Private room,93,...,3.41,1,310,49,R17000015398,0,0,0,0,0
5,1392594,"Bright open house, garden & deck",7528098,Eileen,NaN,Uptown,41.96952,-87.67239,Entire home/apt,175,...,0.24,1,166,3,R22000079042,0,0,0,0,0
6,3570616,1 Bedroom Victorian Beauty at Logan Square!,3920450,Vas,NaN,Logan Square,41.92925,-87.71824,Entire home/apt,60,...,1.49,4,304,5,NaN,0,0,0,0,0
7,189821,"Best in Chicago, private, amazing garden space",899757,Meighan,NaN,Logan Square,41.92918,-87.70219,Entire home/apt,236,...,4.34,1,253,28,R21000062936,0,0,0,0,0
8,207218,Historic Pullman Artist Flat - Artists & Explo...,1019125,Jb,NaN,Pullman,41.6883,-87.60892,Entire home/apt,100,...,2.17,3,364,21,R21000073121,0,0,0,0,0
9,220333,Pullman School House Apartment - monthly rental,1019125,Jb,NaN,Pullman,41.68815,-87.60918,Entire home/apt,100,...,0.01,3,364,1,NaN,0,0,0,0,0

In [35]:
#airbnb_ad.iloc[10945,"latitude"]

#airbnb_ad.loc[5,["longitude"]].values[0][0]

In [36]:
inconsistent_nights_prob = .05

num_row = airbnb_ad.shape[0]
lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_nights_prob*num_row))

for ih in lat_noise:
    rep_val = airbnb_ad.loc[ih,["minimum_nights"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"minimum_nights"] = add_noise_text(str(rep_val),replace=False)

In [37]:
airbnb_ad["minimum_nights_flag"] = 0

In [38]:
inconsistent_reviews_prob = .05

num_row = airbnb_ad.shape[0]
lat_noise = random.sample(list(airbnb_ad.index),round(inconsistent_reviews_prob*num_row))

for ih in lat_noise:
    rep_val = airbnb_ad.loc[ih,["number_of_reviews"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"number_of_reviews"] = add_noise_text(str(rep_val),replace=False)

In [39]:
airbnb_ad["number_of_reviews_flag"] = 0

In [40]:
airbnb_ad

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,availability_365,number_of_reviews_ltm,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag
0,3434136,Beautiful West Lakeview location,17217012,Janet,NaN,Lake View,41.9402,-87.65133,Private room,75,...,319,17,R17000013279,0,0,0,0,0,0,0
1,25879,2/1 One Block to Fullerton L Red Line Deck & ...,101521,Red,NaN,Lincoln Park,41.92693,-87.65753,Entire home/apt,94,...,289,2,City registration pending,0,0,0,0,0,0,0
2,1321332,Lincoln Park Single Family Home,946954,Jeff,NaN,Linikln dlrk,41.92913,-87.66921,Entire home/apt,570,...,332,13,2262746,0,0,0,0,0,0,0
3,37738,Andersonville - Perfect location!,162364,Mat And Randy,NaN,Uptown,41.9729,-87.66538,Private room,110,...,0,0,R20000059426,0,0,0,0,0,0,0
4,1356190,Logan Square Vintage Deluxe Private Suite & Bath,3069675,Gabrielle,NaN,poban Sfuaro,41.92083,-87.68896,Private room,93,...,310,49,R17000015398,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,628435018118317455,Fantastic Home in Wicker Park,23090887,Lisa,NaN,Logan Square,41.91472,-87.67355,Entire home/apt,524,...,136,25,R22000080568,0,0,0,0,0,0,0
507,40532205,Cozy 2BD/1BA in Charming Logan Square,12011216,Mark,NaN,Logan Square,L41L.92657,-87.7029,Entire home/apt,107,...,351,38,R19000051605,0,0,0,0,0,0,0
448,38088637,Steps to DePaul Campus | Walkup + W&D | Zencity,47172572,Zencity,NaN,Lincoln Park,41.92934,-87.66118,Entire home/apt,119,...,358,23,R20000052413,0,0,0,0,0,0,0
1172,684663898541540791,Woodlawn~Luxury Apt~ 5 Mins To UNIV. Of Chicago,327131692,David,NaN,Woodlawn,41.78454,-87.61K3AV76,Entire home/apt,169,...,334,7,R22000087677,0,0,0,0,0,0,0
967,560158488294195889,Spectacular Corner 3BR in the Loop | City Views,126179580,Staywell,NaN,LooC,4O1.8b7661,-87.62807,Entire home/apt,236,...,195,55,R22000077401,0,0,0,0,0,0,0

In [41]:
airbnb_ad.minimum_nights.unique()

array([2, 32, 3, 4, 1, 7, 14, '1', 30, 21, 360, 5, 60, 365, 10, 28, 'e32',
       6, '5', 'n32', 75, '1L20', '2', 33, 'W32', 20, 140, 22, '3B2',
       'd32', 500, 15, '3', '7', 29, 'F32', '3m2', '3H2', 'G32', 's32',
       'g32', '3S2', 'o32', '3J2', '4', 50, 120, 'A32', '3I2', '3n2',
       'J32', 36, 'O32', 'b32', '3k2', ''], dtype=object)

In [42]:
airbnb_ad.latitude.unique()

array([41.9402, 41.92693, 41.92913, ..., 41.87293, 41.93799, ''],
      dtype=object)

# augmenting last_review

In [43]:
from datetime import datetime

# add noise on text based on prob
def add_noise_change_date(text,target_date,source_date="%Y-%m-%d",replace=True,seed=None):
    try:
        temp_date = datetime.strptime(str(text),source_date)
        return datetime.strftime(temp_date,target_date)
    except BaseException as ex:
        #print(ex)
        return text

#test_char = add_noise_text("hello world")
#airbnb_ad.last_review.apply(lambda x: datetime.strptime(x,"%m/%d/%y") if (type(x)==str)&(len(str(x))>0) else x)

In [44]:
inconsistent_date_prob = .05

num_row = airbnb_ad.shape[0]
review_noise = random.sample(list(airbnb_ad.index),round(inconsistent_date_prob*num_row))

for ih in review_noise:
    rep_val = airbnb_ad.loc[ih,["last_review"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"last_review"] = add_noise_change_date(rep_val,target_date="%B %d, %Y")
    
#inconsistent_date_prob = .05
#review_noise = random.sample(list(airbnb_ad.index),round(inconsistent_date_prob*num_row))

#for ih in review_noise:
#    rep_val = airbnb_ad.loc[ih,["last_review"]].values[0]
#    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
#    airbnb_ad.loc[ih,"last_review"] = add_noise_change_date(rep_val,target_date="%m/%d/%y")

In [45]:
airbnb_ad["last_review_flag"] = 0

In [46]:
airbnb_ad.loc[ih,"last_review"]

'December 05, 2022'

In [47]:
airbnb_ad.last_review.unique()

array(['2022-10-02', '2022-11-13', '2022-10-16', '2020-03-15',
       '2022-11-20', '2022-10-10', '2022-10-30', 'November 28, 2022',
       '2022-08-13', 'August 17, 2022', '2022-11-24', '2022-11-26',
       '2022-12-17', '2022-12-12', '2022-09-14', '2021-06-13',
       '2022-08-21', '2022-09-04', '2022-09-12', '2022-10-25',
       '2022-11-27', '2022-11-23', '2022-11-06', '2022-10-31',
       '2022-11-12', '2022-06-26', '2022-03-20', 'November 27, 2022',
       '2022-08-16', '2022-01-21', '2022-09-01', '2022-08-22',
       '2022-11-30', '2022-11-07', '2022-09-19', '2022-05-28',
       '2022-10-03', '2022-12-03', '2022-08-27', '2018-06-12',
       '2018-07-17', '2020-03-07', '2022-10-11', '2022-11-18',
       '2021-08-12', '2022-09-25', '2022-12-16', '2022-12-04',
       '2015-07-20', '2019-03-17', '2019-12-20', '2022-09-05',
       '2021-11-21', '2022-03-13', '2017-08-20', '2022-12-01', nan,
       '2021-09-19', '2022-12-05', '2020-11-01', '2022-12-10',
       '2016-06-14', '2019-08-26', '2020-02-16', '2021-04-18',
       '2022-11-08', '2022-12-19', '2017-10-17', '2019-09-03',
       '2018-07-05', '2022-07-05', '2022-08-04', '2018-10-03',
       '2016-10-16', '2017-04-16', '2021-10-19', '2018-03-19',
       '2020-04-25', '2019-11-11', '2022-02-01', 'May 01, 2022',
       '2022-09-23', '2022-12-06', '2019-10-20', '2020-08-02',
       '2022-01-04', '2021-12-12', '2017-09-26', '2022-10-18',
       '2019-09-13', '2021-09-20', '2022-10-09', '2022-10-24',
       '2022-09-20', '2022-08-26', '2022-11-02', '2022-11-21',
       '2018-08-19', '2022-11-25', '2022-08-19', '2022-11-04',
       '2022-12-09', '2022-12-08', '2021-11-14', '2022-12-11',
       '2022-11-15', '2022-08-31', 'October 24, 2022', '2022-10-29',
       '2022-09-11', '2022-11-28', '2021-05-31', '2022-08-08',
       'December 11, 2022', '2019-08-12', '2022-09-18', '2022-11-14',
       '2021-09-23', '2019-09-10', '2022-06-24', '2019-06-20',
       '2022-01-02', '2018-06-26', '2017-11-19', '2019-10-15',
       'October 02, 2022', 'December 09, 2022', '2020-09-14',
       '2022-07-19', 'October 28, 2019', '2017-12-26', '2022-09-17',
       '2022-06-05', '2018-01-01', '2022-10-23', '2019-10-14',
       '2021-12-23', '2018-05-29', '2021-09-06', '2022-03-19',
       '2017-11-11', '2020-01-02', 'October 27, 2022', 'June 08, 2022',
       '2019-10-22', '2022-11-01', '2020-02-17', '2021-11-30',
       '2020-07-26', '2022-12-13', '2022-12-14', '2021-08-08',
       '2020-03-21', '2022-10-14', '2018-05-28', '2022-11-10',
       '2020-03-16', 'August 29, 2022', '2022-12-07', 'December 18, 2022',
       '2021-09-15', '2022-11-17', '2022-07-03', '2022-10-08',
       '2022-05-25', '2022-08-14', '2022-09-26', '2019-10-23',
       'December 28, 2019', '2020-03-09', '2021-10-03', '2018-09-16',
       '2022-08-09', '2022-06-07', '2019-11-22', '2022-06-19',
       '2022-01-31', '2022-07-09', '2022-06-27', '2022-05-08',
       '2021-07-12', '2022-10-28', '2022-01-03', '2018-10-12',
       '2022-08-15', '2022-05-10', '2022-11-05', '2022-12-18',
       '2020-06-28', '2022-08-28', '2022-11-16', 'December 06, 2022',
       '2019-07-01', '2019-04-07', '2020-03-10', '2019-10-02',
       '2019-09-23', '2022-10-27', '2022-12-15', '2019-09-20',
       '2022-10-12', 'November 21, 2022', '2020-08-10', '2021-08-29',
       '2021-12-18', '2022-06-04', '2019-06-30', '2021-08-09',
       'November 15, 2021', '2022-12-02', 'June 12, 2022', '2019-06-09',
       '2019-11-08', '2022-10-17', '2022-10-05', '2022-06-30',
       '2019-11-16', '2022-04-30', '2022-04-24', 'December 05, 2022',
       '2022-07-13', '2022-04-12', '2021-11-28', 'November 25, 2022',
       '2021-02-19', 'October 17, 2022', '2019-09-15', '2022-11-22',
       '2022-11-03', '2022-08-06', '2021-08-22', '2022-11-09',
       '2020-04-26', '2022-11-19', '2021-10-04', '2022-06-11',
       '2022-07-26', '2020-08-04', '2022-07-17', '2022-04-22',
       '2021-05-27', '2022-10-13', '2021-07-18', '2020-02-29',
       '2022-09-10', '2022-03-07', '2021-03-28', '2020-07-12',
       '2020-09-06', '2020-01-14', '2021-08-16', '2020-09-19',
       '2021-09-17', '2022-01-14', '2021-01-06', '2020-11-30',
       '2021-11-24', '2021-04-30', '2021-12-31', 'July 30, 2022',
       '2021-07-27', '2020-06-10', '2021-04-02', '2020-10-26',
       'June 26, 2022', '2022-05-29', '2021-04-25', '2022-05-15',
       '2022-04-05', '2022-05-12', '2022-06-20', '2022-05-16',
       '2021-10-10', 'October 10, 2022', '2022-09-27', '2021-03-31',
       '2022-01-29', '2022-10-07', '2022-01-01', '2021-01-09',
       '2022-08-20', '2022-03-22', '2021-10-17', 'August 01, 2022',
       '2022-10-01', '2021-08-23', '2021-09-21', 'December 08, 2022',
       'May 25, 2022', '2022-10-04', '2022-11-29', '2021-08-30',
       '2022-07-31', '2021-07-11', '2022-08-01', '2022-08-02',
       '2022-04-15', '2022-03-23', '2022-10-15', '2022-04-23',
       '2021-10-31', '2021-07-23', '2022-08-12', '2022-04-03',
       '2022-10-19', '2022-02-15', '2022-09-16', '2021-12-19',
       '2022-06-15', '2022-10-22', 'September 27, 2022', '2022-02-05',
       '2021-11-16', '2022-01-07', '2022-09-30', '2022-03-11',
       'November 16, 2022', '2022-09-24', '2022-08-25', '2022-05-30',
       '2022-09-03', 'August 22, 2022', '2022-07-29', '2022-10-26',
       'December 04, 2022', '2022-11-11', 'July 31, 2022',
       'December 16, 2022', 'December 12, 2022', 'November 10, 2022',
       'November 12, 2022', 'October 25, 2022', 'December 10, 2022',
       'December 17, 2022', 'December 01, 2022', ''], dtype=object)

In [48]:
airbnb_ad

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,number_of_reviews_ltm,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag
0,3434136,Beautiful West Lakeview location,17217012,Janet,NaN,Lake View,41.9402,-87.65133,Private room,75,...,17,R17000013279,0,0,0,0,0,0,0,0
1,25879,2/1 One Block to Fullerton L Red Line Deck & ...,101521,Red,NaN,Lincoln Park,41.92693,-87.65753,Entire home/apt,94,...,2,City registration pending,0,0,0,0,0,0,0,0
2,1321332,Lincoln Park Single Family Home,946954,Jeff,NaN,Linikln dlrk,41.92913,-87.66921,Entire home/apt,570,...,13,2262746,0,0,0,0,0,0,0,0
3,37738,Andersonville - Perfect location!,162364,Mat And Randy,NaN,Uptown,41.9729,-87.66538,Private room,110,...,0,R20000059426,0,0,0,0,0,0,0,0
4,1356190,Logan Square Vintage Deluxe Private Suite & Bath,3069675,Gabrielle,NaN,poban Sfuaro,41.92083,-87.68896,Private room,93,...,49,R17000015398,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,628435018118317455,Fantastic Home in Wicker Park,23090887,Lisa,NaN,Logan Square,41.91472,-87.67355,Entire home/apt,524,...,25,R22000080568,0,0,0,0,0,0,0,0
507,40532205,Cozy 2BD/1BA in Charming Logan Square,12011216,Mark,NaN,Logan Square,L41L.92657,-87.7029,Entire home/apt,107,...,38,R19000051605,0,0,0,0,0,0,0,0
448,38088637,Steps to DePaul Campus | Walkup + W&D | Zencity,47172572,Zencity,NaN,Lincoln Park,41.92934,-87.66118,Entire home/apt,119,...,23,R20000052413,0,0,0,0,0,0,0,0
1172,684663898541540791,Woodlawn~Luxury Apt~ 5 Mins To UNIV. Of Chicago,327131692,David,NaN,Woodlawn,41.78454,-87.61K3AV76,Entire home/apt,169,...,7,R22000087677,0,0,0,0,0,0,0,0
967,560158488294195889,Spectacular Corner 3BR in the Loop | City Views,126179580,Staywell,NaN,LooC,4O1.8b7661,-87.62807,Entire home/apt,236,...,55,R22000077401,0,0,0,0,0,0,0,0

In [49]:
airbnb_ad.room_type.unique()

array(['Private room', 'Entire home/apt', 'Shared room', 'Hotel room', ''],
      dtype=object)

In [50]:
room_type_noise = .15

#noise_room_type = ["Entire home","Apartment"]
noise_room_type = ["Entire home"]

home_pd = airbnb_ad[airbnb_ad.room_type=="Entire home/apt"]

num_row = home_pd.shape[0]
room_type_noise = random.sample(list(home_pd.index),round(room_type_noise*num_row))

for ih in room_type_noise:
    rep_val = airbnb_ad.loc[ih,["room_type"]].values[0]
    rep_val = rep_val[0] if type(rep_val) == np.ndarray else rep_val
    airbnb_ad.loc[ih,"room_type"] = random.sample(noise_room_type,1)[0]

In [51]:
airbnb_ad["room_type_flag"] = 0

In [52]:
airbnb_ad.loc[ih,"room_type"]

'Entire home'

In [53]:
airbnb_ad.room_type

0          Private room
1       Entire home/apt
2           Entire home
3          Private room
4          Private room
             ...
1087        Entire home
507         Entire home
448     Entire home/apt
1172    Entire home/apt
967     Entire home/apt
Name: room_type, Length: 1486, dtype: object

In [54]:
airbnb_ad.groupby("room_type").count()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,...,license,id_flag,host_id_flag,neighbourhood_flag,latitude_flag,longitude_flag,minimum_nights_flag,number_of_reviews_flag,last_review_flag,room_type_flag
room_type,,,,,,,,,,,,,,,,,,,,,
,9,9,9,9,0,9,9,9,9,9,...,7,9,9,9,9,9,9,9,9,9
Entire home,189,189,189,189,0,189,189,189,189,189,...,153,189,189,189,189,189,189,189,189,189
Entire home/apt,996,996,996,996,0,996,996,996,996,996,...,862,996,996,996,996,996,996,996,996,996
Hotel room,3,3,3,3,0,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
Private room,271,271,271,271,0,271,271,271,271,271,...,243,271,271,271,271,271,271,271,271,271
Shared room,18,18,18,18,0,18,18,18,18,18,...,16,18,18,18,18,18,18,18,18,18

In [55]:
airbnb_ad.sort_values(["id"]).to_csv("chicago_vert_1_a.csv",index=False)

In [59]:
list(filter(lambda x:x.endswith("flag"),airbnb_ad.columns))

['id_flag',
 'host_id_flag',
 'neighbourhood_flag',
 'latitude_flag',
 'longitude_flag',
 'minimum_nights_flag',
 'number_of_reviews_flag',
 'last_review_flag',
 'room_type_flag']